[2016-03-14 21:24] IAmJulianAcosta opened #5610 "localhost:4200/tests generates blank page"
I'm running ember cli in Ubuntu 14LTS, and when I visit /tests, I get only a blank screen. No HTML, no console errors, just _nada_.

Here is my `bower.json`

[code]

And `package.json`
[code]

`ember -v`:

[code]

[2016-03-14 21:35] IAmJulianAcosta commented on #5610
NVM, index.html in `tests` was empty

[2016-03-14 21:35] #5610 closed

[2016-03-15 13:53] zackarychapple opened #5613 "Profiling for the CLI itself"
As version bumps are made and dependencies are updated when tests are run against the CLI itself it would be good to know if the updates are making the CLI faster or slower (within a margin of error).  Any thoughts on this?

[2016-03-15 14:21] Turbo87 commented on #5613
that would be nice, yes. would you want to work on that?

[2016-03-15 14:54] stefanpenner commented on #5613
Performance tests really can't be run as part of CI, the variability i too high.

Before release we do try to run against our stress app: https://github.com/ember-cli/stress-app

[2016-03-15 14:54] #5613 closed

[2016-03-15 15:43] gvsro commented on #5357
I still have the same problem even after updating.
I even removed node and npm and used nvm.

[2016-03-15 16:49] zackarychapple commented on #5613
@Turbo87 would love to chat on it.  I was looking into it earlier this morning.  Do you have a slack channel I can hop on or a hangout?

[2016-03-15 17:19] Turbo87 commented on #5613
@zackarychapple https://ember-community-slackin.herokuapp.com/

I generally agree with @stefanpenner though

[2016-03-15 19:18] toranb commented on #4005
@Ricar7o thanks for taking the time to make a comment here. It's always the obvious errors like a duplicate attribute that I seem to overlook!

If only someone had blogged about the dangers of invalid markup ... maybe I would have known better.

http://toranbillups.com/blog/archive/2014/02/16/Beware-invalid-html-in-your-emberjs-app/

[2016-03-16 15:43] laureanoarcanio commented on #4716
Hi, thanks for the workaround. Any ideas on how this can be workaround when running from phantomjs ?

[2016-03-16 20:05] topaxi commented on #5522
I just started a minimal app with plain CSS. I noticed 404 errors in my console when I save my `app.css` which imports `fonts.css` in the same folder.

`app/styles/app.css`
`app/styles/fonts.css`

Saving `app/styles/app.css` results in a request to `http://localhost:4200/fonts.css`.

Repo here: https://github.com/topaxi/open-pizza-creator/tree/e0a7948

Styles which change get applied though.
Somet

[2016-03-16 21:53] ro0gr commented on #5082
I use `npm3` on a regular basis for last few months. It has few advantages over `npm2` like incremental installations and better windows support.
So currently I have to pass `--skip-npm` flag when I run `ember-cli` commands to avoid usage of bundled `npm2`.

So the question is **what happens if we remove dependency on `npm` from a `package.json`** and just use something like `spawn` for package ma

[2016-03-17 01:06] iheanyi opened #5620 "Prompts are messed up (arrow keys not working, highlighting working, checkbox busted)."
Prompts are busted, choices are supposed to be highlighted when you enter a number, arrow keys aren't being read properly, and multiple choice types aren't working.

Arrow Key being pressed.
![image](https://cloud.githubusercontent.com/assets/956631/13833255/7b1417d0-ebba-11e5-9b69-3cea0061c9b6.png)

Nothing being highlighted.
![image](https://cloud.githubusercontent.com/assets/956631/13833279/b11

[2016-03-17 07:25] Soliah commented on #5602
Not sure if this is related, but we're also getting failed serve on CircleCI with 2.4.2. Here's a demo repo https://circleci.com/gh/Soliah/ember-docker-test/2

[code]

2.3.0 has been fine: https://circleci.com/gh/Soliah/ember-docker-test23/2

[2016-03-17 15:21] Gaurav0 opened #5623 "Provide a simple way to exclude a file in public directory like .DS_Store from build."
Right now this seems to be only possible by using the trees option to disable automatically including public and then including it via funnel. There should be a simpler way that doesn't require knowledge of broccoli.

[2016-03-17 15:27] rwjblue commented on #5623
The easiest solution is to delete the file (you can generally use 'git clean -dfx' to delete files that aren't tracked by git).

The goal of public is to copy all files into dist, if you need to filter you should use normal broccoli filtering (generally via broccoli-filter).  You could always create an addon to provide this functionality if needed, but I don't see a reason to add more public API i

[2016-03-17 16:01] #5620 closed

[2016-03-17 16:10] stefanpenner commented on #5602
2.3 has an older version of port finder i believe, we are pending a port-finder release now.

[2016-03-17 16:11] stefanpenner opened #5625 "travis issue"
https://github.com/ember-cli/ember-cli/commit/ac46b8da953b6d2259b6ae0c3508c6daa888b1eb

[2016-03-17 16:40] Turbo87 opened #5626 "Deprecate `ember help <something> --json`"
As mentioned in https://github.com/EmberTown/ember-hearth/issues/97 `ember help --json` already contains all the necessary information needed to derive the other ones which makes it pointless to use any specialized version of it. This is different from `ember help` vs `ember help generate` because `ember help --json` *does* contain information about the available blueprints and their options alrea

[2016-03-17 16:42] kellyselden commented on #5626
@Turbo87 https://github.com/felixrieseberg/vsc-ember-cli also uses it to scrape blueprints

[2016-03-17 16:44] Turbo87 commented on #5626
indeed... (https://github.com/felixrieseberg/vsc-ember-cli/blob/b4903fa0fe34116ae83e459f5ac617aa3553b21b/src/ember-ops.ts#L154)

@felixrieseberg can you comment on why you're using the "specialized" form?

[2016-03-17 17:16] felixrieseberg commented on #5626
There's no need for the specialized form on my end, I can switch.

[2016-03-17 17:38] lazybensch opened #5628 "inconsistent `ember help <something> --json` output"
when i do `ember help --json` the output is:

[code]

i abbreviated most of the output but note how the release command is nested its `ember-cli-release` addon in the `addons` list. However if i do `ember help release --json`

[code]

it is now listed under the `commands` list and the `addon` list is empty.

(be aware of #5626 though)

[2016-03-17 17:41] lazybensch opened #5629 "inconsistent `ember help <something> --json` output"
when i do `ember help --json` the output is:

[code]

i abbreviated most of the output but note how the release command is nested in its `ember-cli-release` addon in the `addons` list. However if i do `ember help release --json`

[code]

it is now listed under the `commands` list and the `addon` list is empty.

third party consumers might get confused when using both ways to fetch data so we shoul

[2016-03-17 18:12] lazybensch commented on #5628
Double opened this due to bad connection in subway

[2016-03-17 18:12] #5628 closed

[2016-03-17 21:06] Turbo87 commented on #5629
that is exactly one of the reasons why I opened #5626

the output of the JSON help is/was too closely bundled to the original help output which caused such inconsistencies

[2016-03-17 21:17] Turbo87 opened #5630 "Cache `ember help --json` output"
For consuming applications (ember-hearth, vsc-ember-cli, intellij-ember) of `ember help --json` it can make sense to cache the output to make it faster and to simplify reading it because the application would only need to read a JSON file instead of shelling out.

Something similar was already proposed in #4709 and the result of this issue should be reused in the PR.

This cached file obviously wo

[2016-03-17 21:21] lazybensch commented on #5630
i have prepared a branch that implements exactly this, will publish it tomorrow

[2016-03-17 21:23] lazybensch commented on #5629
so in case we deprecate/remove the special case, should we still fix this issue for the current version or do we ignore this since not many seem to use this feature atm anyway?

[2016-03-17 21:33] Turbo87 commented on #5629
IMHO we should leave it as it is

[2016-03-17 21:44] Turbo87 opened #5631 "Add "ember-cli-legacy-blueprints" dependency"
Now that https://github.com/ember-cli/ember-cli-legacy-blueprints/pull/4 was merged we should add `ember-cli-legacy-blueprints` as a dependency and remove blueprints and tests that are covered by it.

[2016-03-18 01:17] Soliah commented on #5602
@stefanpenner Anyway we can workaround this in the meantime?

[2016-03-18 01:38] tsteuwer commented on #4782
Im getting this a lot too. Mainly when editing SASS files. However, I have gotten it when saving a template.

{code}
// bower.json
{
  "name": "front-end",
  "dependencies": {
    "ember": "1.13.7",
    "ember-cli-shims": "ember-cli/ember-cli-shims#0.0.3",
    "ember-cli-test-loader": "ember-cli-test-loader#0.1.3",
    "ember-data": "1.13.8",
    "ember-load-initializers": "ember-cli/ember-load-in

[2016-03-18 04:21] mhdayyoob commented on #4814
@zoltan-nz thankyou buddy

[2016-03-18 07:56] #5625 closed

[2016-03-18 08:00] Turbo87 opened #5634 "Clean up logging in "UI" class"
It seems that we are currently logging errors to `stderr` and warnings, info and debug messages to `stdout`. Normal application output like `ember --help` is also written to `stdout`. Is there a reason for logging to `stdout` instead of writing everything (except for actual output like `ember --help`) to `stdout` instead of `stderr`?

I would like to propose changing the output stream to `stderr`

[2016-03-18 10:51] BenjaminHorn opened #5636 "The Broccoli Plugin: [BroccoliMergeTrees: addonPreprocessTree(template)] failed with"
I try to update Ember CLI from 2.4.0 to 2.4.2
After clearing the folders
`rm -rf node_modules bower_components dist tmp`

I updated my package.json

[code]
then
` npm install && bower install`

I went trough file by file  the

 questions after `ember init`.
Now I am getting:

[2016-03-18 13:37] kellyselden commented on #5626
@Turbo87 see https://github.com/ember-cli/ember-cli/pull/5622#issuecomment-198360045. No need for the extra work of deprecation, Feel free to just gut it out. We can do our best to notify the consumers, but other than that, it should be considered experimental while we stabilize the interface.

[2016-03-18 13:42] kellyselden commented on #5629
https://github.com/ember-cli/ember-cli/pull/5622#issuecomment-198360045 Just here to confirm the API can change as we see fit. No need to worry about backwards compatibility.

[2016-03-18 13:46] rwjblue commented on #5636
I made a mistake in a refactor that landed in 2.4.2. The issue is that an apps templates will not override an addons templates.

There is an open pull request fixing, but I need to add some tests to ensure no regressions happen in the future.

[2016-03-18 13:47] kellyselden commented on #5602
cc @eriktrom

[2016-03-18 13:57] eriktrom commented on #5602
sorry I didn't see this - @kellyselden - sure - i froze portfinder at the sha where this was fixed(current master) - and wrapped the failing windows only test in an if block with a comment - if we merge #5391 this will be fixed (and close)

[2016-03-18 14:03] eriktrom commented on #5602
fwiw - this is the exact upstream error that has been fixed, fyi

[2016-03-18 14:21] Turbo87 commented on #5626
@kellyselden still I wouldn't want to break vs-ember-cli so I think deprecating it until @felixrieseberg has adjusted the code makes sense

[2016-03-18 18:29] jkuri opened #5637 "npm task problem on Windows"
We are having problems with using https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/npm-task.js on Windows systems. I currently not have a log about it but the problem is about `cannot find module npm`. We found a fix about it `npm link npm`, but still using our own npm task.

[2016-03-18 19:02] stefanpenner commented on #5637
please follow the instructions outline [here](https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md) for submitting an issue. This was the big yellow banner you saw when submitted. Information asked for in the doc, can help us debug an diagnose.

[2016-03-18 20:17] blaher opened #5638 "Module import path error on Linux in production build."
My issue seems pretty similar to issue [#5542](https://github.com/ember-cli/ember-cli/issues/5542), but I'm running in to the same issue on a linux instance. Tried building it through Jenkins on Amazon Linux AMI release 2015.09, got the error and then tried again manually with my own machine with Ubuntu 14.04.3 LTS and got the same thing.

I originally upgraded from 1.13.13 to 2.0.0 when it starte

[2016-03-18 20:19] marcemira commented on #5636
@rwjblue sorry for the ping >_< . I got stuck on a deploy with this same issue. Is there any update? can you refer me to that pull request? Thanks :+1:

[2016-03-18 21:08] Turbo87 commented on #5634
@stefanpenner @kellyselden @rwjblue any opinions about this?

[2016-03-18 21:31] rwjblue commented on #5634
Errors should go to stderr. Standard output goes to stdout. This seems to be what we are doing, and is in sync with the majority of other CLI utilities that I am aware of.

[2016-03-18 21:32] rwjblue commented on #5634
We already have a way to suppress needless output (--silent), maybe --json should infer --silent?

[2016-03-18 21:38] Turbo87 commented on #5634
@rwjblue one of the reasons for my proposal is showing deprecation messages in `ember help --json`. the JSON output should obviously be written to `stdout`, but the deprecation message should probably be on `stderr` to not mess with the output. deprecation messages however are warnings and warnings are written to `stdout`.

what do you consider "standard output"?

[2016-03-18 21:40] supersabillon opened #5639 "Switch version of phantomjs"
How can I change the version of phantomjs my app uses?

`phantomjs -v`
`2.1.1`

If I run `ember test` it instead uses PhantomJS 1.9.

I'm using version 2.4.2 of ember-cli.

[2016-03-18 21:59] awaer commented on #5638
Confirmed – I'm also seeing the same error when building for production. No errors when running `ember serve`.

Could there be some build dependency that just updated and is now breaking builds?

[2016-03-18 22:04] abercrave commented on #5638
+1

Only `ember s` and `ember b` build a working site.

[code]

[2016-03-18 22:10] rwjblue commented on #5634
All "non exceptional" output is standard in my mind. If the program isn't exiting non-zero (or auto recovering from what would have been non-zero exit code), it should go to stdout.

--silent should squelch all but actual errors though.

[2016-03-18 22:27] kellyselden commented on #5082
@ro0gr One of the reasons for bundling was eliminating a lot of bugs that were the result of unstable npm versions. Everyone using the same point release of npm eliminates that variable when triaging bug reports. It might be that npm is stable enough now to not be concerned with its bugs...

[2016-03-18 23:23] chadhietala commented on #5638
I believe this is actually an issue with Ember Data and was resolved in https://github.com/emberjs/data/pull/4214.

[2016-03-19 05:34] stefanpenner commented on #5082
@ro0gr working correctly with any random version of NPM has proved impossible, It is very unlikely we will return to that world.

If anything, we should bundle a newer version.

[2016-03-19 19:59] DonGiulio commented on #5542
I'm having the same problem on tophost web server (www.tophost.it) I'm not sure what OS that is, but the project works on my local mac

`% ember -v
version: 2.4.2
node: 5.8.0
os: darwin x64`

here's the error I got:

`vendor-c7862e3….js:formatted:36Uncaught Error: Could not find module `-private/system/references/record` imported from `ember-data/-private/system/references`n @ vendor-c7862e3….js:f

[2016-03-19 20:12] #5542 closed

[2016-03-19 20:12] stefanpenner commented on #5542
@DonGiulio different issue then what was reported here

[2016-03-19 20:12] #5639 closed

[2016-03-19 20:12] stefanpenner commented on #5639
https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md suggests Q/A is better suited for Stackoverflow/discourse.

[2016-03-19 20:40] stefanpenner commented on #5637
Will reopen if the above request is fulfilled.

CI tests and runs windows installations, and I did a test on my windows machine all appears well. I suspect something went sideways with your initial NPM installation.

[2016-03-19 20:40] #5637 closed

[2016-03-19 20:41] stefanpenner commented on #5636
https://github.com/ember-cli/ember-cli/pull/5591

[2016-03-19 20:42] #5630 closed

[2016-03-19 20:42] stefanpenner commented on #5630
this isn't really an issue, future proposals like this should be RFC's.

[2016-03-20 00:26] #5638 closed

[2016-03-20 09:04] Turbo87 commented on #5634
hmm, I tend to slightly disagree. I think it makes more sense to use stderr for most of the output and use stdout only when output it explicitly requested (e.g. `ember help` or maybe `ember test`)

any idea how to implement the deprecation message if we keep using stdout for it?

[2016-03-20 13:01] kellyselden commented on #5634
I agree with @rwjblue on that philosophy, even though it makes it harder for us to solve deprecations with json output. This problem will be multiplied once we stabilize the json api and need to make changes.

[2016-03-20 13:33] rwjblue commented on #5634
Yes, we have a couple options (either or both seem good to me):

* make --json infer --silent
* add a section to the JSON output to include warnings, deprecations, log outputs. This would require an additional UI subclass (similar to the one in tests) for JSONUI or some such.

[2016-03-20 15:59] stefanpenner commented on #5634
interesting, i guess it does sorta make sense that the consumers of the JSON (like an UI) would want to also display this information)

[2016-03-20 16:26] cs3b commented on #3499
Just got in to this ticket when doing research (I will leave here a link that might help in implementing this)

https://github.com/novocaine/sourcemapped-stacktrace

[2016-03-20 16:28] stefanpenner commented on #3499
@cs3b i would recommend continuing discussion on the QUnit repo

[2016-03-20 20:32] ro0gr commented on #5082
@kellyselden from my experience it still has few undesirable bugs. But now install works much more reliable. I've completely forgot when I cleaned my `node_modules` last time(maybe I'm doing something wrong :smile: ).

@stefanpenner I totally understand your concern about installations consistency but the current approach seems too limiting for me. It would be great if developer had an option to c

[2016-03-20 20:45] stefanpenner commented on #5082
sure, this depends on npm improving.

0. being stable
1. also introducing a stable programmatic API

[2016-03-20 21:51] jkuri commented on #5637
Hi Stefan!
Sorry I posted this issue a bit too soon, but there was some Windows users complaining about `require('npm')` part some time ago. I guess there was some issues about `npm` itself. I prepared demo for this issue and tested on Windows machine and I found out that is nothing wrong with the task itself. So, just ignore this please.

[2016-03-20 22:18] stefanpenner commented on #5637
No prob. Feel free to open if something does turn up

Usually we see issues with old and buggy versions of npm, often resulting in what you described

[2016-03-21 02:06] rohansp commented on #5571
I was getting the same error while setting up a github project using ember server.I got the same error.
I tried steps provided by john-griffin. But, it doesn't work for me

[2016-03-21 07:05] stefanpenner commented on #3329
I think we accomplished our goals, without need to drop 0.10.x. my work and some of our consumers (like ghost still need it) So we will keep it around for some time yet..

[2016-03-21 07:05] #3329 closed

[2016-03-21 07:06] #3879 closed

[2016-03-21 07:06] stefanpenner commented on #3879
These now live in ember-data

[2016-03-21 07:07] stefanpenner commented on #4293
it has landed!!!

[2016-03-21 07:07] #4293 closed

[2016-03-21 07:07] #4339 closed

[2016-03-21 07:07] #5102 closed

[2016-03-21 07:08] stefanpenner commented on #5082
will fix: https://github.com/ember-cli/ember-cli/issues/4372

[2016-03-21 07:08] #5182 closed

[2016-03-21 07:09] stefanpenner commented on #5022
will reopen if reproduction is provided

[2016-03-21 07:09] #5022 closed

[2016-03-21 07:09] #5041 closed

[2016-03-21 07:09] #5123 closed

[2016-03-21 07:10] #5227 closed

[2016-03-21 07:10] #5343 closed

[2016-03-21 07:10] #5552 closed

[2016-03-21 07:11] #5573 closed

[2016-03-21 07:12] stefanpenner commented on #5608
seems awesome, but likely a https://github.com/ember-cli/ember-cli-qunit or qunit or similar issue.

[2016-03-21 07:12] #5608 closed

[2016-03-21 07:12] #5569 closed

[2016-03-21 07:12] #5623 closed

[2016-03-21 07:14] stefanpenner commented on #5397
as per: https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md

* Q/A is for Stackoverflow discourse
* new features are to be requested via the RFC process
* this tracker is specificlly for bugs

[2016-03-21 07:14] #5397 closed

[2016-03-21 07:15] #5249 closed

[2016-03-21 07:16] stefanpenner commented on #5163
this seems to have gone stale, RFC seems most appropriate.

An issue like this can remain open if an active champion is present.

[2016-03-21 07:16] #5163 closed

[2016-03-21 07:17] #5103 closed

[2016-03-21 07:17] #5100 closed

[2016-03-21 07:17] stefanpenner commented on #5333
pods will be revisited once they are formalized and stabilized.

[2016-03-21 07:17] #5333 closed

[2016-03-21 18:43] JoelDapello opened #5657 "Wit.ai with Ember-cli local server"
I'm having an issue using wit.ai from a local ember-cli server.

Wit uses websockets to connect to a service that returns speech to text with parsed entities, intents, etc -- [wit.ai example docs](https://wit.ai/docs/web/0.7.0).

For some reason I can't seem to figure out, I cannot connect to wit from any page being served by ember-cli. There are no errors thrown, the service just never connects.

[2016-03-21 18:43] JoelDapello commented on #5657
oops, my mistake, I'll post this to stack instead.

[2016-03-21 18:43] #5657 closed

[2016-03-21 19:41] JoelDapello commented on #5657
[linked here](http://stackoverflow.com/questions/36139409/local-ember-cli-server-with-wit-ai)

[2016-03-21 20:06] mm2ha opened #5658 "Resources in outputPaths.app.html do not get fingerprinted if the file extension is not .html"
I just ran into an issue when I was trying to build our application into the production environment with:
`ember build --environment=production`

This is what I have in `ember-cli-build.js`:
[code]

When building in development environment everything works fine. However, when I try to build to production, the filenames for resources get fingerprinted (good) but the resource links generated into `D

[2016-03-21 20:21] #5629 closed

[2016-03-21 21:11] hhff opened #5660 "Super Strange SVG Fingerprinting Bug"
Hi Team!~

@zbergson and I have a strange fingerprinting bug that's unlikely we can replicate in an example repo.

[code]

We have 2 SVGs named `/public/images/check-white.svg` & `public/images/trophy-white.svg`.

We're referencing them in our SCSS like so:
[code]

The compiled output is:

[code]

--> **Note the leading forward slash for the `check-white.svg` file** <--
This is causing the browser

[2016-03-21 23:41] stefanpenner commented on #5660
most likely a bug here:

* https://github.com/rickharrison/broccoli-asset-rev
* https://github.com/rickharrison/broccoli-asset-rewrite

[2016-03-22 00:07] baron1405 opened #5663 "Home page still shows version 0.0.0"
Using Chrome 49 on Mac OSX 10.10.5, the Ember CLI home page shows the current version of Ember CLI as 0.0.0. I had opened this issue previously and thought it was fixed but I think that was transient.

[2016-03-22 00:10] stefanpenner commented on #5663
its most likely a latency thing

@leo any ideas?

[2016-03-22 00:39] baron1405 opened #5664 "Cannot see Overview on Home page"
Using Chrome 49 on Mac OSX 10.10.5, cannot see the overview page/pane when clicking on the Overview button. Click on Overview and nothing happens. Scroll the page and you see some of the Overview but it is covered over by the home page.

[2016-03-22 00:47] kellyselden commented on #5664
I just noticed this too. I don't know what happened. Would you mind posting this on the website repo? https://github.com/ember-cli/ember-cli.github.io

[2016-03-22 00:47] #5664 closed

[2016-03-22 00:55] baron1405 commented on #5664
Done

[2016-03-22 01:08] kellyselden commented on #5664
Thanks!

[2016-03-22 11:24] Turbo87 commented on #5660
@hhff I'm not sure there's much we can do without being able to reproduce this problem. could you try to extract from your codebase?

[2016-03-22 11:26] Turbo87 opened #5665 "FileInfo prompt broken"
it seems that #5621 broke the prompt in `models/file-info.js`.

this can be quickly tested by inserting the following code into `cli/index.js`:

[code]

[code]

[2016-03-22 13:17] leo commented on #5663
@baron1405 I've moved this issue over to https://github.com/ember-cli/ember-cli.github.io/issues/66.
@stefanpenner or @Turbo87 Please close this one!

[2016-03-22 13:42] #5663 closed

[2016-03-22 14:30] EWhite613 opened #5667 "Broken caching of addon JS files"
I don't think the caching of addon javascript files works as intended added here @rwjblue https://github.com/rwjblue/ember-cli/blame/17619b8f949a200122df62b7a14c66ea7e68f932/lib/models/addon.js#L684 . I have the an instance of the issue illustrated here: https://github.com/ciena-frost/ember-frost-icons/issues/26

Using this code:
[code]

The logs come out as this:
[code]

So when the caching takes

[2016-03-22 15:18] #5665 closed

[2016-03-22 21:54] bennycwong opened #5669 "Cannot npm install -g ember-cli due to left-pad dependecy update"
https://registry.npmjs.org/left-pad

Left-pad updated to version 1.0.0 as of 3/22/2016. Due to this issue, npm install -g ember-cli errors out with the following error message:

npm ERR! No compatible version found: left-pad@0.0.3
npm ERR! Valid install targets:
npm ERR! 1.0.0
npm ERR!
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <https://github.com/npm/npm/issues

[2016-03-22 22:00] artych commented on #5669
https://github.com/azer/left-pad/issues/4

[2016-03-22 22:02] #5669 closed

[2016-03-23 13:00] JackieChiles commented on #3718
This is also an issue for one of my team's projects. We are on npm 2.x and need to reference [ember-intl](https://github.com/yahoo/ember-intl) in an addon, which fails due to this issue, even using `peerDependencies`. It seems we will have to find a workaround for now.

[2016-03-23 13:31] rwjblue commented on #3718
If you need to call included of your own deps, you can iterate them and call them manually ("this.eachAddonInvoke('included', [app])").

[2016-03-23 13:34] JackieChiles commented on #3718
@rwjblue We've been able to do that successfully, but haven't gotten it working with a 3rd party addon.

[2016-03-23 18:11] robbytx opened #5671 "Cannot disable rebuilding artifacts when running with ember serve"
I'm often running a local integration test suite where I start an instance of Ember (using `ember serve --live-reload false --output-path dist.test --port 4210`) and my application server, and I allow the suite to run in the background for several minutes while I proceed to possibly make additional changes.

What I've noticed is that `--live-reload false` will correctly prevent my integration suit

[2016-03-23 20:27] stefanpenner commented on #5671
This seems to be working as expected, live-reload and rebuilding are two different things.

[2016-03-23 21:26] lpaluszk commented on #5518
I've looked into this a bit more. The issue is still present on 2.4.2.
``
These 3 lines are responsible:
https://github.com/ember-cli/ember-cli/blob/master/blueprints/component-test/index.js#L45-L47

If component-test is generated alongside the component, options.path is defined but empty, but if component-test blueprint is executed on its own, component.path is undefined and the if statement stil

[2016-03-23 21:27] robbytx commented on #5671
So, are you proposing that I need to file a feature request for this?

Because what I want is for the server to build once and serve the same artifacts and not rebuild / restart the server when some source file changes.

[2016-03-23 22:00] stefanpenner commented on #5671
Im merely saying this is working as expected, and the scenario you describe appears quite niche.

Maybe a feature request via RFC is appropriate, to see if there is sufficient interest, if it turns out we can explore an additional flag. But a non-rebuilding `ember s` has not yet been considered.

[2016-03-23 22:00] #5671 closed

[2016-03-23 22:42] Sixen opened #5675 "Destroying Nested Route Doesn't Remove Folder"
As the title says, destroying a nested ember route does not delete the folder created for nesting. For example:

[code]

The 'something' folder still exists, even though it's empty. Perhaps the CLI should check if the folder is empty, if so delete the folder, if not, leave the folder.

[2016-03-23 23:28] stefanpenner commented on #5675
likely an RFC, as details such as which folders to delete and which not it requires further information.

[2016-03-23 23:28] #5675 closed

[2016-03-24 01:23] vlascik commented on #5571
Same here, same config (w10, cli 2.4.2), but with `ember-network` addon.

[2016-03-24 11:52] #5518 closed

[2016-03-24 12:09] fiftoine commented on #5573
Thanks for your answer, is there a way then to install another addon when installing an addon? Like addBowerPackagesToProject but for ember cli addon?

[2016-03-24 16:10] robbytx commented on #5671
Ok. that's fair enough.  I suppose it would be a more faithful integration test for me to build the artifacts and serve them via nginx (instead of ember serve), so I'll pursue that option instead.

[2016-03-24 16:56] nathanhammond commented on #5658
@mm2ha Can you create a reduced reproduction as a GitHub repo we can check out and run? That would make it much easier for us to get started on this bug hunt. :)

[2016-03-24 17:05] nathanhammond commented on #5634
I think @rwjblue hit the nail on the head with this proposal:

@Turbo87: we can discuss in today's meeting if we wish, but I feel like we're doing the right thing with `stdout` and `stderr` right now. @rwjblue's proposal neatly sidesteps the logging issue. I'm moving this to "ready for PR" with that proposal and we can revisit that decision if necessary.

[2016-03-24 21:42] felixrieseberg commented on #5626
Quick update: I just got around to fixing it. VSCode is now cool with deprecating the command.

[2016-03-24 22:33] GavinJoyce opened #5680 "Strip `Ember.assert` calls from production output"
According to [the docs](http://emberjs.com/api/#method_assert), `Ember.assert` calls should be removed from the production build output. This doesn't seem to be the case.

Here's some discussion: https://embercommunity.slack.com/archives/ember-cli/p1458857451000785

<img width="927" alt="screen shot 2016-03-24 at 15 32 58" src="https://cloud.githubusercontent.com/assets/2526/14033201/bd23d05e-f1d5

[2016-03-24 23:16] GavinJoyce commented on #5680
There are lots of `Ember.asserts` in the production ember data output too:

<img width="1215" alt="screen shot 2016-03-24 at 16 12 27" src="https://cloud.githubusercontent.com/assets/2526/14033889/4d4efc76-f1db-11e5-9f7e-c342475f526e.png">

[2016-03-24 23:24] Turbo87 commented on #5626
@felixrieseberg awesome, thanks for the feedback!

[2016-03-25 00:46] GCheung55 commented on #2551
@stefanpenner @chadhietala andy progress/update on this?

[2016-03-25 03:09] stefanpenner commented on #5680
This isn't an ember cli issue. Likely an ember-data one

[2016-03-25 03:58] GavinJoyce commented on #5680
@stefanpenner It isn't just ember-data, `Ember.assert` calls in ember-cli applications are present in production builds.

[2016-03-25 05:27] stefanpenner commented on #5680
@GavinJoyce that isn't a feature ember-cli ships with though, which is expected IMHO.

http://emberjs.com/api/#method_assert I suspect refers to embers own build tools

[2016-03-25 05:39] GavinJoyce commented on #5680
@stefanpenner thanks, I'll create a PR to update the docs and create an addon to do the stripping

[2016-03-25 06:17] stefanpenner commented on #5680
@GavinJoyce sweet, i do think it may be reasonable to actually bundle this stripping by defaul \w all apps and addonst. I believe the best solution would be for it to be part of the existing babel transform, merely as a plugin.

[2016-03-25 16:20] slindberg commented on #3185
Updated link: http://ember-cli.com/extending/#link-to-addon-while-developing

[2016-03-25 19:12] Itagiba commented on #5571
I am getting the same problem. Trying to get ember to work with sass. The error gives me nothing  and build fails. I managed to install watchman properly in case it was related but I am still getting:

The Broccoli Plugin: [object Object] failed with:
undefined

The broccoli plugin was instantiated at:
undefined

[2016-03-25 23:57] smithjason opened #5684 "Build Times Extremely Slow - ember-cli 1.13.1"
MacBook Air Early 2015
npm version: 3.8.1
node version: 5.9.0

** initial build (cold) **
[code]

** build on change time **
[code]

**size of files in /app **
[code]
** number of files in /bower_components/* **
[code]

** number of files in app/* **
[code]

** size of files in /bower_components/* **
[code]
**package.json**
[code]

**Brocfile.js**
[code]

**bower.json**
[code]

[2016-03-26 00:59] hone opened #5685 "watchman/nodewatcher on `ember build`"
Hello,

I get this warning message when running `ember build`.

[code]

I understand this is needed for `ember serve`, but ideally this message should be shown lazily when a watchman is created. Thanks!

[2016-03-26 02:26] rwjblue commented on #5685
I agree, though I vaguely recall that @stefanpenner was in favor of showing it for all commands.

@stefanpenner - Is that recollection correct?

[2016-03-26 04:35] stefanpenner commented on #5685
I didn't really want it to run for all commands, and originally I detected it on-demand, unfortunately detecting in on-demand but asynchronously (node 0.10.x doesn't support sync exec without native extension or mega mega hacks) exposed a broccoli <-> watcher race-condition I wasn't able to track down. To work around this, I had to move (without more aggressive refactoring) the watchman check way

[2016-03-26 05:19] rwjblue commented on #5685
I think doing the detection every time might be fine, but we could move the console output to be based on command? Basically, have the detection set a flag that is used when we actually create a watcher.

Just an idea...

[2016-03-26 05:38] stefanpenner commented on #5685
this suggestion then?

[2016-03-26 05:40] stefanpenner commented on #5684
1.13.1 is old, please upgrade and be sure to follow the [Perf Guide](https://github.com/ember-cli/ember-cli/blob/master/PERF_GUIDE.md) closed.

[2016-03-26 05:40] #5684 closed

[2016-03-26 05:44] stefanpenner commented on #5684
i've added a reference to the perf guide from the [CONTRIBUTING.md] [here](https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md#slow-builds)

[2016-03-26 20:33] rwjblue opened #5687 "Fix `ember g template` when in an addon."
We are currently generating the following structure:

[code]

But this makes it impossible for the template compiler in an app to override the addon template in an app.

An error like the following is thrown:

[code]

Steps to reproduce the error (using ember-cli 2.4.2 + changes from #5591):

[code]

---

We can either change the way the generator works, or we can fix broccoli-persistent-filter (a

[2016-03-27 17:14] trabus commented on #5687
So regarding the generator, we have a way to "blacklist" blueprints from generating the addon-import. Currently we use [this array](https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/generate-from-blueprint.js#L17) to determine if a blueprint shouldn't generate an addon import, and we could simply add `template` to this array and it would fix this.

However, I've been wanting to change t

[2016-03-27 19:42] nathanhammond opened #5691 "The release process is manual."
In order to move toward a more consistent release process we need to automate much or all of the [release process](https://github.com/ember-cli/ember-cli/blob/master/RELEASE.md). The first iteration can be simplistic shell scripts, but we should use it as a stepping stone to achieve a solid end state:

- [ ] Enforce commit tagging.
- [ ] All of the tasks should be split into separate bite-size ide

[2016-03-27 20:00] chadhietala commented on #5691
@nathanhammond I think the PR templates could help with the first item. To really enforce it we could we could have a script that basically does a `git log -1 --pretty=%B` and then checks the first line for one of the commit tags. If it doesn't match then the build should return 1.

[2016-03-27 20:01] chadhietala commented on #5691
I've used [Release It](https://www.npmjs.com/package/release-it) to stream line tag, push, publish.

[2016-03-27 22:02] msalahz commented on #2959
Any updates about this ?

[2016-03-27 22:48] kellyselden commented on #5691
For the first one, we might also be able to rely on github labels, then load them from github api during our changelog gen.

[2016-03-27 22:58] kellyselden commented on #5691
Some ideas are
* When a core member uses a branch in the ember-cli repo instead of a fork, it labels the user as "ember-cli". Instead of advising against this, which could be annoying (also I think @stefanpenner can't because his repo is a redirect), we could use the github api to replace it with the real committer.
* use a tag or label on PRs you don't want to show up in the log (changes which ha

[2016-03-27 23:07] kellyselden commented on #5691
Official twitter account?

[2016-03-28 00:41] #5631 closed

[2016-03-28 15:26] leo opened #5692 "Convert into a Yeoman generator"
I'm not sure why this hasn't been done yet, but if you ask me, we should convert the whole CLI into a simple [Yeoman](http://yeoman.io) generator.

![yeoman](https://cloud.githubusercontent.com/assets/6170607/14081778/9c4e9064-f50c-11e5-9d42-69167b5b258a.png)

The biggest reasons:

- We could use all of Yeoman's methods to [generate blueprints](http://yeoman.io/authoring/file-system.html) and exec

[2016-03-28 16:50] devlo commented on #5571
Same here. But it builds on development branch.

version: 2.4.2
Build failed.
File: assets/vendor.js (64148:8)
The Broccoli Plugin: [object Object] failed with:
Error
    at new JS_Parse_Error (eval at <anonymous> (C:\application\node_modules\ember-cli-uglify\node_modules\broccoli-uglify-sourcemap\node_modules\uglify-js\tools\node.js:1:0), <anonymous>:1508:18)
    at js_error (eval at <anonymous>

[2016-03-28 17:45] smithjason commented on #5684
Sweet, thanks for the link!  I followed it to 1.13.13 and got build times down to within 5000ms.

[2016-03-28 17:48] stefanpenner commented on #5684
Still likely much higher then expected, please follow the guide in debugging it further and ideally providing a reproduction so the culprit can be isolated

[2016-03-28 17:49] stefanpenner commented on #5571
This is telling you, that there is invalid syntax attempting to be uglified. This is unlikely to be an issue with ember-cli, rather an issue with the code in the project.

[2016-03-28 17:50] stefanpenner commented on #5571
@Itagiba please provide a reproduction if you can.

[2016-03-28 19:28] Turbo87 commented on #5692
are you aware that `ember-cli` is capable of doing **much** more than just generating blueprints?! I don't think stripping away all that functionality and replacing it with yeoman will have any advantages...

[2016-03-28 19:44] stefanpenner commented on #5692
These sorts of topics are best raised as RFCs, but transitioning to another tech just "because" is unlikely to gain traction. Before proposing this as an RFC be sure to dig into the exact differences and transition required, as the devil is in the details. (And why we choose our own path, rather then yeoman at the starT)

[2016-03-28 20:00] nathanhammond commented on #5692
Hey @leo! We (@trabus) have done a lot of work recently to extract blueprints themselves outside of ember-cli core. As a tool ember-cli handles everything from builds to http-proxies to testing to linting and more. We agree that we still have some work to do on making blueprints more flexible and are actively investigating how generation itself can be extended but we're early in the process.

We'r

[2016-03-28 20:00] #5692 closed

[2016-03-28 20:36] iezer opened #5700 "Asset Size Printer model should extend from Model, not Task"
https://github.com/ember-cli/ember-cli/blob/master/lib/models/asset-size-printer.js#L8

[2016-03-28 21:10] bantic opened #5702 "ADDON_HOOKS.md links to outdated source code"
The links to source code lines in the addon hooks file all link to the tag `v0.1.15`. They should be updated to the latest tag (`v2.4.3`) and be updated to still point to the correct line numbers.

[This commit](https://github.com/ember-cli/ember-cli/commit/da26e13a2a40cbd75540d8de252c732daa59d565) appears to be the last time the links were mass-updated.

[2016-03-28 21:16] devlo commented on #5571
@stefanpenner

Indeed, thx. I've traced this error to ember-electron.

https://github.com/felixrieseberg/ember-electron/issues/50

[2016-03-28 22:37] stefanpenner commented on #5571
looks fixed ? https://github.com/felixrieseberg/ember-electron/issues/50#issuecomment-202591430

Will reopen if i mistunderstood

[2016-03-28 22:37] #5571 closed

[2016-03-29 05:13] rwjblue commented on #5700
Thanks for reporting! We noticed this during the contributor workshop today.

[2016-03-29 10:35] arcwhite commented on #5539
Not sure if this is helpful, but I think this might count as a 'bug' for some users. Following the guide at https://guides.emberjs.com/v2.4.0/getting-started/quick-start/ I installed the v4.4.1 LTS version of nodejs.

After installing ember, `ember serve` would spike my CPU usage to 100%, and serve nothing.

This was remedied by upgrading to v5.9.1 stable of nodejs and uninstalling and reinstallin

[2016-03-29 12:07] rwjblue commented on #5539
Hmm.

 @arcwhite - What makes it seem like that is related to this issue? I'm not really seeing a connection...

Also, in general we run tests in CI on node 0.10, 0.12, 4.x, and 5.x so it should work...

[2016-03-29 13:10] Turbo87 opened #5703 "Use different port if 4200 is in use"
Unless I specifically specify `--port 4200` I would expect `ember-cli` to use a different port if 4200 is already in use instead of failing with `Could not serve on http://localhost:4200. It is either in use or you do not have permission.`.

[2016-03-29 13:15] rwjblue commented on #5703
I definitely agree. I believe portfinder can do this for us...

[2016-03-29 14:51] stefanpenner commented on #5703
This needs an rfc

[2016-03-29 14:56] blaher commented on #5638
Was this resolved in Ember Data 2.4.3+a3e2521f85? I'm still having this problem.

[2016-03-29 14:56] Turbo87 commented on #5703
@stefanpenner  I was under the impression that RFCs were only needed for larger or breaking changes. is there any disadvantage to using portfinder starting at port 4200 by default unless `--port` is specified explicitly?

[2016-03-29 15:03] kellyselden commented on #5703
@Turbo87 I think RFC comes down to whether it affects the user or not. That said, this almost could be considered a bugfix? Like we did when changing what `ember i` does.

[2016-03-29 15:18] stefanpenner commented on #5703
This is a small breaking change. We also need to improve the UX of the port is unpredictable. Maybe every rebuild needs to show the url.

I'm also worried that doing this automatically will result in people confusingly using existing/stale sessions or letting sessions pile up.

I'm pretty sure the number of times I have a collision and wanted an automatic port is on paar with the amount of times I

[2016-03-29 15:28] Turbo87 commented on #5703
that makes sense, thanks!

[2016-03-29 16:24] blaher opened #5704 "Production still fails to build, but only in one project"
I wasn't sure if I should open a new issue, since the last issue related to this was closed and supposedly resolved in a new release. This issue goes back to #5638. This may actually be a separate issue and I'll explain why. The one thing I noticed different this time around is that before 'ember b' and 'ember s' worked before (which is no longer the case), and that's how I got around building it

[2016-03-29 22:54] nathanhammond commented on #5691
/cc @hbrysiewicz

[2016-03-30 13:33] MiguelMadero commented on #4461
@trentmwillis all of the above, which is probably the simplest.... Let me expand

* I think the structure of an in-repo-addon should be identical to the structure used by regular addons, including tests and a dummy app (which could be ignored). My main goal with this is separation of concerns. I don't want the app/in-repo-addon coupled at all with the app. That extends to test-helpers. Others expr

[2016-03-30 14:40] MiguelMadero commented on #4461
@trentmwillis another idea is to run all the tests from the *in-repo-addon* folder if we want isolation.

[code]

Doing that works today already, except for the new commands.

[2016-03-30 18:35] sivakumar-kailasam opened #5705 "changing the default behavior of ember install command"
Most ember devs have ember-cli installed globally and when they clone an existing ember-cli project, they'd still have to run `npm install` and `bower install`. While everyone has shortcut aliases to achieve this, it would be nice to follow the same behavior as `npm install` command.

So `ember install` with an argument should install an addon, but calling it without an argument should invoke `npm

[2016-03-30 20:22] trabus commented on #4461
@MiguelMadero I definitely think this deserves an RFC, though I think you have much of it fleshed out here. I like the idea of a command flag to identify test context, we can work out the details and naming in the RFC.

[2016-03-30 20:31] MiguelMadero commented on #4461
Sounds good! I'll add it to my list of RFCs to write.

[2016-03-30 20:45] trabus commented on #4461
I absolutely agree with this. Though having a dummy app for each addon might be a bit much.

We can absolutely setup the blueprints to be able to handle this. Much of the blueprints will be handled by just changing the default.

I think that we'll need to provide some fine grained control for this, and probably don't want to run all tests by default. I think having an opt in flag like `--all` woul

[2016-03-30 21:01] MiguelMadero commented on #4461
I think that is already optional... and we also have a `--dummy` flag for generators. So we not sure if `--ir my-addon --dummy` makes sense.

It depends on how we build things. Today, the test tree for in-repo addons doesn't end up in the testTree... Maybe someone thought about it, but likely is just the same behavior as for external addons. This has pros and cons. It provides the isolation I was

[2016-03-30 21:14] trabus commented on #4461
@MiguelMadero are you at Emberconf right now? If so come find me later, we can chat about it!

[2016-03-30 21:17] MiguelMadero commented on #4461
Unfortunately, I couldn't make it this year :(

[2016-03-31 10:02] Turbo87 opened #5711 "Cryptic error message when running "ember serve" in project without "npm install" first"
I've just cloned an Ember project of a coworker, forgot `npm install && bower install` and went straight to `ember serve` which resulted in the following cryptic error message:

[code]

Shouldn't our dependency checker catch this instead of showing the error?

[2016-03-31 13:56] stefanpenner commented on #5711
if the dep checker isn't installed it can't.

We can very likely re-think how `ember` executable loads, and if it can't load itself from node_modules, maybe it falls back to the global one to provide:

* ember install
* better error messages

[2016-03-31 14:01] stefanpenner commented on #5705
as per our contributing.md this needs to be an RFC or RFC/issue

[2016-03-31 14:01] #5705 closed

[2016-03-31 14:01] Turbo87 commented on #5711
If I understand https://github.com/ember-cli/ember-cli/blob/master/bin/ember#L15-L19 correctly we are doing that already. Is the dependency checker something that the project needs to install? I expected it to be installed by the global `ember-cli` package as a dependency.

[2016-03-31 14:03] stefanpenner commented on #5711
currently it is only a app/addon dependency. dep checker can be bit of a chicken + egg thing, especially id we want to correctly enable `ember install` in cases where the app/addon doesn't satisfy the dep checker.

[2016-03-31 14:05] stefanpenner commented on #4461
i like this idea, but lets get an RFC fleshed out and continue discussion on it.

[2016-03-31 14:05] #4461 closed

[2016-03-31 14:21] stefanpenner commented on #5711
related: https://github.com/ember-cli/ember-cli/issues/5705

[2016-03-31 14:37] MiguelMadero commented on #4461
Yes, I'll work on it this weekend or early next week.

[2016-03-31 23:59] chbonser opened #5716 "301 redirect when proxying to a Rails/Puma stack using SSL (ember-cli versions 2.4.2 and 2.4.3)"
When attempting to upgrade an existing project I discovered that ember-cli@2.4.2 and 2.4.3 cause proxied requests to our rails/puma stack to respond with a 301 redirect.  This issue does not occur with ember-cli@2.4.1 or earlier.

I’ve reproduced the issue using two brand new repositories that can be used to reproduce the issue.
- Rails 4.2.6 repo: https://github.com/chbonser/basic-rails-app

- Em

[2016-04-01 09:08] Turbo87 commented on #5716
this might be related to https://github.com/ember-cli/ember-cli/pull/5524?

[2016-04-01 13:02] taylon opened #5719 "Async operation in the contentFor addon hook"
Hey guys,

I didn't dive into it deep enough, so let me know if what I'm saying doesn't make any sense.

I was trying to build a Ember-cli addon that would add content to the index file using the contentFor hook.  But I need to make an http request to determine what that content would be.

Since the contentFor hook expect a string as a return and the http request will be async, I couldn't figure o

[2016-04-01 13:35] stefanpenner commented on #5719
So on every build you need to issue a request to populate some data value? Seems somewhat unexpected or am I not understanding?

[2016-04-01 15:47] Fallenstedt commented on #3163
I agree! This should be added.

[2016-04-01 16:00] Turbo87 opened #5720 "Update "npm" to v2.15.1"
It might make sense to update our bundled `npm` dependency to v2.15.1 after http://blog.npmjs.org/post/142036323955/fixing-a-bearer-token-vulnerability came out yesterday

[2016-04-01 16:12] kellyselden commented on #3163
@Fallenstedt It's in the works.

[2016-04-01 16:51] rwjblue commented on #5680
Reopening after discussion in ember-cli core team meeting today.

[2016-04-01 16:53] stefanpenner commented on #5680
@rwjblue I would prefer to transition this to an RFC, as it needs fleshing out.

[2016-04-01 17:50] taylon commented on #5719
In my case it should happen only on production builds. But that is exactly why I'm asking before doing anything because it may be a very specific use case that doesn't really make sense for ember-cli as a whole...

[2016-04-01 17:59] stefanpenner commented on #5719
@taylon is this while serving in production, or while building in production?

[2016-04-01 18:32] taylon commented on #5719
Building for production

[2016-04-01 20:39] stefanpenner commented on #5719
Ah ok, this sounds reasonable to explore. The next steps would be to flesh this out as an https://github.com/ember-cli/rfcs

[2016-04-01 20:39] #5719 closed

[2016-04-02 03:44] snwfog opened #5726 "Getting a _this declared at the top of the file after transpiling for model only"
[code]

After transpiling I see the output in Chrome as
[code]

The `_this` leads to wrong context. Anyone know why?
This doesnt seems to happen in routes, controllers, etc.

Latest ember-cli 2.4.3

[2016-04-02 03:52] rwjblue commented on #5726
You are using an arrow function incorrectly (the context when the arrow function for the computed property is the module scope not the instance of the as yet undefined model class).

[2016-04-02 03:52] rwjblue commented on #5726
You should be using a normal function (not arrow function) in this scenario.

[2016-04-02 03:52] #5726 closed

[2016-04-02 19:00] #5720 closed

[2016-04-02 23:58] rwjblue commented on #5680
@stefanpenner - I agree.

@GavinJoyce - I think that we (ember-cli core) are all on board and want this feature, but it needs to go through an RFC process first.  If you have some time, I'd love to setup some time to review the various parts of the RFC and make a plan for implementation (which I suspect is fairly straightforward actually).

[2016-04-03 02:14] adamgedney commented on #5085
`npm cache clear` did the trick for me too. I was trying to install ember-browserify and hit the same error. Install worked after cache clearing.

[2016-04-03 05:47] sheriffderek commented on #5040
Just for the record - and for people upgrading or still hitting this:  Recently upgraded an app from 2.0 to 2.4. Ran into this error. testem.js already had the `integrity=""` though. There was an SHA-256 string in the `/assets/my-app.js` `integrity ='asdfsa'` though... and when I removed the string the app would load.

[2016-04-03 09:41] GavinJoyce commented on #5680
@rwjblue sure, let's do that.

[2016-04-03 15:02] sheriffderek opened #5735 "Model blueprint has some trailing spaces that arent"
`disallowTrailingWhitespace: Illegal trailing whitespace at models/xxx.js`

[2016-04-03 15:04] sheriffderek opened #5736 "Model blueprint has some trailing spaces that aren't "Suave""
Model blueprint has some trailing spaces that aren't "Suave"

`disallowTrailingWhitespace: Illegal trailing whitespace at models/xxx.js`

I don't know if it would be any different, but I generated a `resource` and a `model` and they were the same

Removing the spaces or the line would do the trick.

[2016-04-03 21:41] GavinJoyce commented on #5680
I had a quick chat with @rwjblue, I'll submit an RFC within the next few days

[2016-04-03 22:51] nathanhammond commented on #5366
[https://github.com/ember-cli/changelog-generator](Repo created.)

[2016-04-03 23:03] runspired commented on #5366
I've been working on a nice OS one that (at least theoretically) also works for ember and ember-cli

https://github.com/runspired/ember-cli-changelog

[2016-04-03 23:04] runspired commented on #5366
It needs a little love (I've been using it for a number of my addons, but there are unhandled edge cases and a better config story would be nice), but I've been busy.  There was talk at EmberConf from several people I met of wanting to take up the reigns on it.

[2016-04-03 23:13] kellyselden commented on #5366
@runspired I think we could switch if it has what we need. You say it works outside ember addon space?

[2016-04-03 23:15] twokul commented on #5366
@runspired @kellyselden working on extracting it into a separate module and writing tests as well

[2016-04-03 23:18] runspired commented on #5366
@kellyselden it has what is needed, I can fix known bugs and add tests / patch behaviors until we get complete parity.

[2016-04-03 23:18] runspired commented on #5366
It comes with a lot more features than what ember-cli has now for generating better links etc.

[2016-04-04 00:01] stefanpenner commented on #5680
Sweet. Im going to close this issue then, we can revisit as an RFC, flesh it out, then transition to the implementation plan.

[2016-04-04 00:01] #5680 closed

[2016-04-04 00:01] stefanpenner commented on #5366
@runspired :+1:

[2016-04-04 00:26] nathanhammond commented on #5366
We could then integrate it into `ember-cli-release` and call it done.

[2016-04-04 01:22] twokul commented on #5366
@kellyselden @stefanpenner @nathanhammond what's the best course of action then?

[2016-04-04 02:08] stefanpenner commented on #5366
seems like:

1. extract to module
2. use in approriate user-facing modules such as ember-cli-release

@runspired what are your thoughts?

[2016-04-04 03:46] #5736 closed

[2016-04-04 03:47] stefanpenner commented on #5736
those blueprints are provided by ember-data

[2016-04-04 03:47] #5703 closed

[2016-04-04 03:47] stefanpenner commented on #5703
closing in-favor of RFC

[2016-04-04 05:15] runspired commented on #5366
@stefanpenner ember-cli-changelog already comes with an ember-cli-release integration, and a deeper integration is already in the works.  Mostly I just need to find some cycles or find someone else with some cycles to clean up a few edge cases I've bumped into to make this more widely usable.

[2016-04-04 12:28] optikalefx commented on #4647
Just to add to this (see below). I'll have to not use stylus on my next project due to this.  The time savings I get by using stylus is not worth the time loss of having to deal with 15s builds.  Is there anything I can do to help diagnose / fix the problem? Can you point me in the right direction?

[code]

[2016-04-04 12:38] optikalefx commented on #4647
Commenting out `@import 'nib'` saves 7 seconds.

[code]

[2016-04-04 20:13] twify93 commented on #4044
+1 for this one.
I am beginner in EmberJS, but models to be generated in the pods directory looks very strange...

[2016-04-05 00:33] locks commented on #4570
Example of a loading screen http://angularjs.blogspot.pt/2016/03/angular-material-2-alpha-preview.html

[2016-04-05 00:37] nathanhammond commented on #4570
I'm opposed to this unless provided by some addon which can be easily removed. I don't want to add to the immediately overwhelming first experience of an Ember application.

[2016-04-05 00:49] acorncom commented on #4570
@nathanhammond I think the goal would be to have it something akin to the welcome page addon (but less obtrusive). Giving new apps out of the box loading templates but not forcing it on existing apps ...

[2016-04-05 10:02] sweatypitts commented on #5702
I can do this.

[2016-04-05 14:26] olivierlesnicki opened #5744 "Can't name route `components` anymore"
I have an private ember add-on which runs ember `1.13.x`. I tried to upgrade it to `2.4.x`.

The add-on uses pods and has the following component:

[code]

The add-on uses pods and has a dummy app. The dummy app has a route named `/components/my-component` to showcase the component. The following files are needed:

[code]

Back in `1.13.x` this was supported OK.
Switching to `2.4.x` result in my a

[2016-04-05 15:16] stefanpenner commented on #5744
I don't believe this is an ember-cli issue, rather something in ember or the resolver. Ultimately though, im not entirely sure the root cause.

Also, as per the CONTRIBUTING.md (which is link provided by the big yellow banner when you submit an issue), you should provide additional information yet. So someone who is debugging this can more quickly isolate the issue

@rwjblue any quick ideas off th

[2016-04-05 15:32] olivierlesnicki commented on #5744
@stefanpenner feel free to close and/or de-prioritize this issue if you believe it violates the contribution rules. I've proceeded to re-name all my routes to avoid the naming clash anyway.

[2016-04-05 16:18] rwjblue commented on #5744
In general, I believe this should work.  I'd need more detailed error information (and likely a reproduction) to be able to dig in further...

[2016-04-05 16:21] stefanpenner commented on #5744
@olivierlesnicki i don't think this violates the rules, just that some addition info, and a reproduction would be perfect.

[2016-04-05 16:51] olivierlesnicki commented on #5744
https://github.com/olivierlesnicki/ember-cli-issue-5744
Try to navigate to `/components/my-component`

![image](https://cloud.githubusercontent.com/assets/1705944/14290453/0b596ff6-fb57-11e5-9349-4630d7a778bb.png)

[2016-04-05 17:09] jskeate opened #5745 "2.4.2 Regression involving treeForAddon"
Seems like a Broccoli Filter runs in <=2.4.1, but stops working in 2.4.2.

Set up two new projects, one app, one addon.

In the app: change `app/templates/application.hbs` to `{{imported-component}}`

In the addon, generate `imported-component`:

[code]

[code]

Addon index.js:

[code]

ember-cli 2.4.1: get a page saying "In imported-component... modified"

ember-cli 2.4.2: get a page saying "In i

[2016-04-05 17:40] stefanpenner commented on #5744
@olivierlesnicki thank you very much for the reproduction, this will help us debug.

[2016-04-05 17:45] awochna commented on #3894
I'm also running into a similar issue and I have print styles applied to every element.

@jakemauer Was that line offending because:

* PhantomJS seems to have a weird issue with print styles?
* PhantomJS couldn't parse the `'` in your style?
* Something else?

I realize we're approaching a year since you fixed this issue for yourself, but, like @seawatts, I'm having a hard time tracking a very si

[2016-04-05 18:55] sweatypitts commented on #5702
@bantic This can be closed now. Taken care of in above PR.

[2016-04-05 19:03] bantic commented on #5702
:clap:  thanks! cc @nathanhammond

[2016-04-05 19:15] #5702 closed

[2016-04-06 11:51] Turbo87 opened #5747 ""app.import()" fails in "included()" hook of addon -> addon relationship"
I wanted to develop a new addon that provides a set of API adapters including `ember-simple-auth` authenticators. I've tried to add `ember-simple-auth@1.0.1` as a `dependency` to my `package.json`, but if I run `ember serve` now I get the following error:

[code]

the `ember-simple-auth/index.js` file looks like this:

[code]

It seems that the `app` parameter that is passed to the `included()` ho

[2016-04-06 11:54] Turbo87 commented on #5747
note that it works fine when `ember-simple-auth` is mentioned in `devDependencies`. it only breaks when it's in the `dependencies` hash.

[2016-04-06 12:30] GramozKrasniqi opened #5748 "Ember build failing on Windows OS"
This error is comming out when trying to build the EmberCLI app.
**Ember -v **
version: 1.13.13
node: 4.2.4
npm: 2.14.10
os: win32 x64

EINVAL: invalid argument, symlink 'D:\Workspaces\xxx\xxx\Core
xxx\xxxx\xxx\xxx-client-app\tmp\babel-output_path-oshgWKVn.tmp\xxx-
client-app\tests\integration\app-pods\components\xxxx\xxx\xxxx\component-test.jshint.js' -> 'D:\Workspaces
\xxxxx\xxx\xxx\xxx\xxxx\xxx

[2016-04-06 12:45] Turbo87 commented on #5747
seems to be a duplicate of #3718

[2016-04-06 12:48] rwjblue commented on #5747
See also recent RFC (number not handy :()

[2016-04-06 12:53] Turbo87 commented on #5747
looks like the following code currently can work around the issue:
[code]

[2016-04-06 15:05] stefanpenner commented on #5748
Can you provide a reproduction

Also it appears you are using an old version be sure to upgrade(and its dependency)

[2016-04-06 15:53] GavinJoyce commented on #5680
Here's the RFC: https://github.com/emberjs/rfcs/pull/132

[2016-04-06 22:30] leondmello commented on #4879
I faced this issue as well,
The vanilla auto generated test for the application serializer fails as indicated by @rbemis

[2016-04-06 23:00] nathanhammond commented on #4879
@leondmello If you can create a reproduction using ember-cli 2.4.3 please open a new issue with a reproduction repository published to your account.

[2016-04-06 23:45] nathanhammond commented on #5747
I'd say that this gets addressed in @kellyselden's future install/uninstall RFC. This is indeed functoining as intended and workarounds like this are still the suggested way of doing things.

[2016-04-07 01:50] nathanhammond opened #5750 "Can't call `_super()` in Addon#init"
The following diff results in ember-cli breaking, though it seems like it should work.

[code]

Each addition fails consistently in symptom, in different places. Error if only in `AddonsFactory#init`:
[code]

End result is that something stays `undefined` that shouldn't be `undefined`.

[2016-04-07 02:34] zackthehuman commented on #5747
Checking for `app.app` works great if your addon is the child of an addon which is the child of an app. If it's 3 layers deep, however, then you need to get `app.app.app`, etc. So YMMV with simply checking `app.app`.

[2016-04-07 07:17] toovy commented on #5320
Confirmed. Annoying bug as the server restart takes some time.

ember -v
version: 2.4.2
node: 4.1.2
os: darwin x64

[2016-04-07 07:53] nathanhammond commented on #5320
Can one of you create a reproduction we can clone and run?

[2016-04-07 08:23] GramozKrasniqi commented on #5748
well actually it seems that it is the path length Windows problem.

[2016-04-07 08:40] stefanpenner commented on #5748
@GramozKrasniqi ember-cli shouldn't be affected by the path issues, as node via libUV uses the correct system calls, which do (or so i've been told) not have this issue. I

[2016-04-07 09:16] toovy commented on #5320
Strange. Could not reproduce the issue with a fresh ember-cli project. While comparing my projects package.json and the fresh projects package.json all essential libs got the same version. So I've copied the package.json and bower.json to the fresh project and installed everything. Works fine. Might be a minor version issue in one of the dependencies.

[2016-04-07 09:17] GramozKrasniqi commented on #5748
@stefanpenner version: 1.13.13 it seems that is totally affected beacuse we changed to an upper path and the length was shorter and it worked let me just chek if the current version of ember-cli has the same issue.

[2016-04-07 09:37] toovy commented on #5320
@nathanhammond found out the issue. In ember-cli-build.js we had **storeConfigInMeta** set to **false** as our backend delivered the index.html (and we did not want to update the index.html of the backend all time). Setting **storeConfigInMeta** to **true** solved the issue as we now just symlink the dist/index.html from our backend. For others this might still be an issue.

[2016-04-07 09:58] GramozKrasniqi commented on #5748
Ok so :
**ember -v
ember-cli: 2.4.3
node: 4.2.4
os: win32 x64**

ember build
Build failed.
The Broccoli Plugin: [BroccoliMergeTrees: TreeMerger (appTestTrees)] failed with:
Error: EINVAL: invalid argument, symlink 'file path' <- this length is 281 charachters.

Same error as before.

[2016-04-07 10:03] martndemus opened #5751 "Unable to name a add-on/project as a substring of 'ember-core'"
It seems that [`findAddonByName`](https://github.com/ember-cli/ember-cli/blob/master/lib/models/project.js#L531-L533) will return addons that are a substring of the `name` given to the function.

This means that [`_initVendorFiles`](https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L257) will load anything that is a substring of `ember-core`.

Which will make ember-cli c

[2016-04-07 10:11] martndemus commented on #5751
Further investigation shows that it is in place to load packages added using the github name (e.g. `ember-cli/ember-cli-qunit`). Would changing the algo to match on package name suffixes only work?

[2016-04-07 11:24] stefanpenner commented on #5748
Sounds like a windows issue ;)

[2016-04-07 14:11] Leooo commented on #1011
@janmisek any hint of how to use your code in option 1 in ember-cli-build? Thanks

[2016-04-07 14:19] Leooo commented on #1011
@janmisek any hint on how to do your option 1 with ember-cli-build? getting an `app.protoype undefined` when trying:
[code]

[2016-04-07 14:53] nathanhammond commented on #5320
@mattmarcum Can you reproduce?

[2016-04-08 03:56] ryanlabouve opened #5755 "Deprecate `Project.closest` in favor of `Project.closestSync`"
While investigating https://github.com/ember-cli/ember-cli/issues/5493 we discovered that `Project.closest` was never used internally by ember-cli. Instead, `Project.closestSync` is used exclusively.

Would it be beneficial to deprecate `Project.closest` for future removal?

`Project.closest`:
https://github.com/ember-cli/ember-cli/blob/e016fbe/lib/models/project.js#L570

`Project.closestSync`:
ht

[2016-04-08 03:58] rwjblue commented on #5755
If we aren't using it, I think deprecation would be a good idea...

[2016-04-08 06:55] Turbo87 commented on #5755
it's marked as `@private` so IMHO it can be removed without deprecation

[2016-04-08 09:35] stefanpenner commented on #5755
we should deprecate for 1 version or so, just to be nice.

[2016-04-08 16:03] leondmello commented on #4879
Alright, I will get that done. The issue was on ember-cli 2.4.3

[2016-04-08 18:12] bgentry opened #5760 "missing tether bower dependency after upgrade from 2.4.2 to 2.4.3"
I just tried to update a fairly new app from ember-cli 2.4.2 to 2.4.3. I followed the upgrade instructions, including the diffs (especially for `package.json` and `bower.json`). After all of that, I get this failure on `ember serve`:

[code]

Here is my package.json:

[code]

And my bower.json:

[code]

Notably, if I `bower install --save tether`, everything works again. That results in the follow

[2016-04-08 23:02] Turbo87 commented on #5760
@bgentry could you maybe find out which one of your dependencies is using/missing tether?

[2016-04-08 23:04] Turbo87 commented on #5750
@nathanhammond just to clarify: this diff is not for the master branch but for your #5737 PR, right?

[2016-04-08 23:45] MiguelMadero commented on #5227
@stefanpenner why was this closed? It seems like a version of CLI broke all of the controller and route tests in 1.12 and earlier. Was there a fix for this?

[2016-04-08 23:54] juanfurattini commented on #4651
I had this problem too. I execute ember new app_name and never finished. The problem is that there are several files or dependencies located at .npm folder that requires sudo permissions. So you can just hit sudo ember new app_name, or to fix this you could just do sudo chown -R $(whoami) ~/.npm

[2016-04-09 00:09] JoshTumath opened #5764 "Ember mock server does not get run when running tests"
I have used `ember generate http-mock foo` to create a mock server in my Ember application. However, the server is not started during acceptance tests when I run the tests using `ember test`, even though it works in the development environment when using `ember server`.

The Ember CLI docs refer to the mock server as if it is used during testing, so I assume that this is a bug.

[2016-04-09 00:44] misteroh commented on #2633
@ianpetzer that kind of works, but is broken in IE10 for me.

Does anyone know what's going on with this?

[2016-04-09 02:19] pythonquick opened #5765 "Ember install fails to save bower packages when running the default blueprint"
When installing the ember-gestures plugin, the "ember serve" command runs fine.
However, after clearing the npm and bower cache and re-installing the bower and npm packages, the following error appears after launching "ember serve":

I had a brief chat with @runspired and he thinks the ember install command fails to save bower packages when running the default blueprint of an addon. Here's the def

[2016-04-09 03:08] nathanhammond commented on #5765
From @runspired:

[2016-04-09 08:12] stefanpenner commented on #5760
reproduction would be quite handy.

[2016-04-09 08:25] nathanhammond commented on #5750
@Turbo87 Correct. Also @sclaxton encountered a related issue today being unable to extend from `Addon`.

[2016-04-09 11:20] leo opened #5767 "Stop talking to npm programmatically"
I'm not sure if this is already being worked on (since npm seems to be at `2.15.1` in this package), but I've recently asked myself why there's no documentation for npm's programmatic API.

So very recently, I've decided to suggest this as a topic for npm's CLI meeting on next Tuesday. A few minutes later, @othiym23 [replied](https://github.com/npm/npm/issues/12193#issuecomment-207617511) and told

[2016-04-09 16:01] nathanhammond commented on #5767
@leo Thank you for bringing this to our attention. This is something we need to consider as we're trying to identify what our plans should be for npm as well as install/uninstall.

[2016-04-09 16:13] nathanhammond commented on #4651
@juanfurattini Using sudo to generate a new app is not a recommended setup. It's likely that your original installation of node/npm is messed up as it should not require sudo in order to install. Your second suggestion fixes the broken install and is what should be done.

[2016-04-09 16:50] alltouch opened #5768 "Can't remove templates dir when using pods structure"
Hi

I am using pods structure and move all files from templates, controllers, components, routes dirs to pods. and want to delete all empty folders.

It works for controllers, components and routes, but doesn't for templates.

I see following error:

Can we fix this?

Thanks

[2016-04-10 00:13] leepfrog opened #5770 "HTTP Streaming Support"
While developing an ember-app that utilizes the html5 `<video>` tag, I found that the built in ember-cli http server does not allow you to stream data.  What this means is that you're unable to preview static .mp4 content.

Other simple node http services (such as `http-server`) provide this functionality.

This "issue" is a question/suggestion -- Should ember-cli's http service provide data strea

[2016-04-10 00:18] rwjblue commented on #5770
I'm not sure exactly what would need to be changed to allow streaming, or if that has trade offs. In general I think that we would be in favor of supporting as much as possible assuming that adding support doesn't break other support configurations.

[2016-04-10 08:16] stefanpenner commented on #5770
Feature requests should be provided via the rfc repo as issues if unsure, and pulls if a more fleshed out proposal exists.

(This is outlined in the contributing.md)

[2016-04-10 08:16] #5770 closed

[2016-04-10 16:37] BryanCrotaz opened #5771 "helper generator creates wrong format of helper code"
Ember cli 2.4.3:

Documentation at [http://emberjs.com/api/classes/Ember.Helper.html] states that helper should look like this:
[code]

`ember g helper add-s` instead generates
[code]

[2016-04-10 16:48] rwjblue commented on #5771
Both are correct :smiley_cat:.

Note that the API doc says this:

This means, that if you **do** use the `Ember.Helper.extend` syntax, you must provide your own `compute` function. The `Ember.Helper.helper` method is just a convenient shorthand for `Ember.Helper.extend`. See http://emberjs.com/api/classes/Ember.Helper.html#method_helper for a description of what our generator uses.

I do, however,

[2016-04-10 16:48] #5771 closed

[2016-04-10 16:54] BryanCrotaz commented on #5771
Is the pure-function helper better in any way, e.g. faster?

[2016-04-10 16:57] rwjblue commented on #5771
Yes, `Ember.Helper.helper` has slightly less overhead (because we can make some additional optimizations internally to avoid allocating extra objects), but I doubt that difference would be measurable in an application.

[2016-04-10 16:58] rwjblue commented on #5771
I also think it is less total bytes / characters :)

[2016-04-10 17:01] BryanCrotaz commented on #5771
So to summarise generator is doing it the best way but documentation needs
an update.

On 10 April 2016 at 17:58, Robert Jackson <notifications@github.com> wrote:

--
Bryan Crotaz
Managing Director
Silver Curve

[2016-04-10 17:11] rwjblue commented on #5771
Yep. Would love someone to update the docs where I linked to show both versions.

[2016-04-10 17:27] BryanCrotaz commented on #5771
PR #13292

On 10 April 2016 at 18:11, Robert Jackson <notifications@github.com> wrote:

--
Bryan Crotaz
Managing Director
Silver Curve

[2016-04-10 19:22] djbreen7 opened #5772 "dist folder only builds first time on ember serve command"
Specs:
ember-cli: 2.4.3
node: 4.4.2
npm: 3.8.7 (previously was a 2.x and still had problems)
os: win32 x64

After upgrading ember-cli, new and old projects don't build the dist folder.

**Strategies attempted:**
- Manual refresh
- Completely removing node, npm, and all node_modules globally. Reinstalling with the latest and greatest
- Messing with live-reload including using the `-lrp` flag to ano

[2016-04-10 19:28] rwjblue commented on #5772
Can you provide steps to reproduce (along with what you are checking to see that it isn't updating dist)?

[2016-04-10 19:40] djbreen7 commented on #5772
Sure.

1. `ember new foo`
2. `cd foo`
3. `ember s`
4. Make changes to `templates/application.hbs` and save. I get the message `file changes templates\application.hbs` then `Build successful` and the build report. Nothing changes in Chrome.
5. Manually refresh, still changes aren't applied.
6. When that doesn't work I kill the server and run `npm install` and `bower install`
7. In no particular ord

[2016-04-11 03:23] BryanHunt opened #5773 "Generated unit tests for components using pods are bad"
Using ember-cli 2.4.2

ember new ember-cli-bug
set environment     podModulePrefix: 'ember-cli-bug/pods',
ember g -p component my-component
ember server

[code]

The problem is that in the generated unit test, the component name is prefixed with "/"

Here is an example repo: https://github.com/BryanHunt/ember-cli-bug

[2016-04-11 03:39] rwjblue commented on #5773
Thanks for reporting @BryanHunt!

[2016-04-11 04:15] djbreen7 commented on #5772
Here's a link to a repository I just made still having the same problems.
https://github.com/djbreen7/ejs-fresh-install
I also sent a message to the ember-cli-windows creator to see if running the `ember-cli-windows` command outside of a project folder would have caused the issue with indexing or defender, even though I've restored those to defaults.

[2016-04-11 13:00] jcbvm commented on #5034
I still face some problems with this, the property exclude seems not always to work, if I for example exclude something like this: "**/pdfjs/**/*.js", the files are still being processed, in this case by build time will increase with 5 minutes (because pdfjs is HUGE).

So not sure if I'm doing something wrong, some more documentation about how to define a path should be nice.

[2016-04-11 13:41] mikeazo commented on #2633
Anyone aware of a good workaround for [this example JSfiddle](https://jsfiddle.net/j8ppcwp1/3/)? There should be text along the path like there is [here](https://jsfiddle.net/j8ppcwp1/1/) where the `<base>` tag is removed. Some of the suggestions above like using the full URL don't appear to work with the `textPath`.

I could remove the `<base>` tag, as is suggested, but I'm looking or other optio

[2016-04-11 14:53] ohcibi commented on #5034
@jcbvm which version of broccoli-asset-rev are you using? Support for globs (`/**/`) was added here: https://github.com/rickharrison/broccoli-asset-rev/commit/f98baf588a124c26da8a73ccbd7fb283340c2bbf and got merged in `2.4.0`

[2016-04-11 15:31] jcbvm commented on #5034
@ohcibi sorry my bad, made a typo somewhere else causing this... it's working fine now

[2016-04-11 15:32] Turbo87 commented on #5773
I guess this issue needs to be moved to https://github.com/emberjs/ember.js and https://github.com/ember-cli/ember-cli-legacy-blueprints since the component blueprints have been moved there.

[2016-04-11 17:11] ming-codes commented on #2633
@mikeazo Works for me. As far as I know, `xlink:href` is not effected by this issue. Only inlined CSS styles that uses `url(...)` is effected.

[2016-04-11 17:13] mikeazo commented on #2633
@ming-codes the [JSfiddle](https://jsfiddle.net/j8ppcwp1/3/) I linked to shows text on the path? What browser are you in? In Chrome 49 and Firefox 45, it doesn't. It does work in IE and Edge, AFAIK. It also works in Chrome 48.

[2016-04-11 17:16] jdmarshall commented on #2633
@BryanHunt Unfortunately that solution is DOA if you are using virtual hosts, which is a major 1.1 feature for my project.

I am sadly coming to a crossroads where I may have to switch off Ember due to lack of traction on this issue.  That and the giant initial download (which isn't on the 2016 roadmap, which IMO is huge mistake)

[2016-04-11 17:20] JackCA commented on #2633
@ivanvanderbyl was your solution to this generic enough that it could be shared?

[2016-04-11 17:22] ming-codes commented on #2633
@mikeazo Yes, I see the problem now. I see it working in Safari and Mobile Safari.

[2016-04-11 20:53] nathanhammond commented on #5764
@JoshTumath Can you create a repo and that demonstrates this failing as a way to make it easier for us to trace through?

[2016-04-11 21:12] ChangJoo-Park commented on #5567
@rwwagner90  I try to your direction, but I stuck in same issue.

[code]

this is my full source of  `appName/static/lib/jquery/src/intro.js`

open bracket is exists, but close?

[2016-04-11 21:55] rwwagner90 commented on #5567
@ChangJoo-Park My issue was caused because ember-cli was adding a bower_components folder in app/bower_components. Delete that folder if you have it. bower_components should be in the root only.

[2016-04-11 23:21] nathanhammond commented on #5770
@leepfrog I would be in favor of addressing this and would consider it a bug as serving static files should probably "just work" regardless of type (assuming it's not a massive undertaking). Can you investigate what it would take to build this on top of our current server setup?

[2016-04-12 01:39] djbreen7 commented on #5772
I completely formatting my computer last night and reinstalled node and ember-cli and all that jazz. Everything is working fine now and serve time is ridiculously fast compared to what it's been on Windows for me WITHOUT ember-cli-windows

![image](https://cloud.githubusercontent.com/assets/13296622/14447449/18216854-001d-11e6-9a1b-ad59feac74a2.png)

[2016-04-12 01:39] leondmello opened #5778 "Failing test after generating Application serializer"
I generated an application serializer for a vanilla ember-cli generated app with the command,
[code]
When you run `ember test`, the auto generated test for the application serializer fails
[code]
I have generated [an example repository](https://github.com/leondmello/embercli_issue_4879)
This issue was previously mentioned in #4879

[2016-04-12 01:39] #5772 closed

[2016-04-12 01:40] leondmello commented on #4879
@nathanhammond Created a new issue with an example repository mentioned in the issue

[2016-04-12 03:20] nathanhammond commented on #5778
@leondmello Thank you so much for this report, and the reproduction.

We generate a `moduleForModel` test when creating an `ApplicationSerializer` which is actually a special case. This blueprint is coming from Ember Data itself now, so, my apologies for giving you the runaround, but can you post this issue there?

[This is the file that will need adjusting.](https://github.com/emberjs/data/blob/m

[2016-04-12 03:20] #5778 closed

[2016-04-12 03:23] nathanhammond commented on #5778
See also: https://github.com/emberjs/data/commit/b6c2c7c25dface19bb0ff9f78f36848f17284740

[2016-04-12 09:01] Turbo87 opened #5781 "AppVeyor builds are failing"
This AppVeyor builds are currently failing, most likely due to a transitive dependency update that is causing trouble.

The failing test is "Acceptance: brocfile-smoke-test addon trees are not jshinted" and fails with:

[code]

The relevant piece here is `Can't find variable: Blah`, which means that the `horrible-route-test.js` file was actually attempted to run even though the `ember test` comman

[2016-04-12 15:31] aluink opened #5783 "Ember server incremental build issue"
I first noticed an issue when my builds suddenly started to take ~30s.  When I run `ember s`, changes to project files properly trigger a rebuild, but changes aren't visible in the browser.  We have livereload disabled, but manual reloads still don't reflect changes.  In an effort to isolate the issue, I created a brand new ember app completely separate from our code base and the issue is reproduc

[2016-04-12 16:00] misteroh commented on #5306
sorry, i realize that this is a little old but can you elaborate on why creating the add-on puts ember-cli-htmlbars inside devDependencies by default? I have to manually move it from devDependencies to dependencies every time I create an add-on?

[2016-04-12 16:02] Turbo87 commented on #5783
@aluink could you retry this with our latest stable release (2.4.3)?

[2016-04-12 16:18] aluink commented on #5783
@Turbo87 OK, I upgraded to 2.4.3 and livereload now works in the new app.  My build times are still very long.  Still around ~4s for the new app and the following for our main project.  ~41s on initial and ~22s for incremental.

[code]

[2016-04-12 16:41] Turbo87 commented on #5783
did you update `ember-cli` in you main project too?

[2016-04-12 17:18] Turbo87 commented on #5781
- works: https://ci.appveyor.com/project/embercli/ember-cli/build/7654/job/e3vu9aq6hyhu5iqj
- fails: https://ci.appveyor.com/project/embercli/ember-cli/build/7769/job/o7ueqaaeaf9xwydx

[2016-04-12 18:21] aluink commented on #5783
Oh right, here are new build times for my main project on 2.4.3.

[code]

[2016-04-12 18:23] Turbo87 commented on #5783
@aluink so that live reload issue is solved now by upgrading?

[2016-04-12 18:31] aluink commented on #5783
Yes, livereload works for the new app.  Since we don't use it for our main project, that's secondary.  The primary issue is the long build times and `ember serve` not properly updating the assets after incremental builds.

[2016-04-12 18:33] Turbo87 commented on #5783
that's what I was asking about. that still doesn't work even after updating `ember-cli`?

[2016-04-12 18:59] aluink commented on #5783
Correct. It still doesn't work after updating.  `ember serve` is not updating my assets on incremental builds.

[2016-04-12 19:13] Turbo87 commented on #5783
how did you disable it? can you reproduce this in a fresh project?

[2016-04-12 19:38] aluink commented on #5783
We didn't disable it, we just don't use it.

We have a .NET app that has an Ember app run inside it; we're transitioning from ASP.  We created an in-house addon that copies the assets into our .NET app for it, .NET, to serve.  Since the assets aren't updated after incremental builds, our app doesn't get the code changes.  Moreover, 18-25s build times are a huge time sink from the <1s they used to

[2016-04-12 19:42] aluink commented on #5783
Another things to note is we have 3 separate Ember apps we serve this way. I've only coded in one of them, ever, yet this issue exists in all 3 for me.  My team members don't have this problem at all.  This leads me to think it's not a code or ember-cli issue, but something wrong with my environment.

[2016-04-12 21:24] morganick commented on #2633
It took me 2 days to find this issue. Please nuke `<base href="..." />` from orbit. No SVGs load in Chrome or Firefox when SVG defs are embedded in HTML. Safari has no issue displaying them.

[2016-04-12 21:49] nathanhammond opened #5785 "Revert #5774"
Revert https://github.com/ember-cli/ember-cli/pull/5774 once the dependency is fixed.

[2016-04-12 22:17] satazor commented on #5781
Hi guys, I'm looking at this now but I'm new to ember-cli. How can I reproduce this easily? I'm putting .only on the failing test but it hangs on my windows machine.

[2016-04-12 22:17] #5781 closed

[2016-04-12 22:24] satazor commented on #5781
//cc @nathanhammond

[2016-04-13 01:16] nathanhammond commented on #5781
@satazor It does indeed seem to hang locally, we figured out what the problem was by tracing through our transitive dependencies and couldn't reproduce it easily. More on the other thread.

[2016-04-13 08:37] simenheg opened #5787 "Garbage in output"
After updating from Ember CLI 2.4.2 to 2.4.3 every line output by the `ember` program is prefixed by "[1G" (which looks like "^[[1G" in my terminal).

---

Output from ember version --verbose:
[code]

[2016-04-13 09:36] Turbo87 commented on #5787
@simenheg can you tell us a bit more about your environment? operating system, shell, etc. it looks like your terminal is not able to handle ANSI color codes but `chalk` isn't detecting that.

we need some way to reproduce this, otherwise we can't fix it.

[2016-04-13 10:01] simenheg commented on #5787
Thanks for the quick response, @Turbo87. Here's the output from `uname -a`:

[code]

My shell is Eshell 2.4.2 inside Emacs 25.0.92.1. Anything else you'd like to know about the environment?

Is it possible to stop Ember from outputting ANSI colors?

[2016-04-13 10:19] Turbo87 commented on #5787
we use `chalk` for color output, which itself is using https://github.com/chalk/supports-color to detect if colors are available. if that package is not correctly detecting this for your environment you should probably open an issue there.

in https://github.com/chalk/supports-color/blob/master/index.js#L18-L22 you can see that they support a `--no-color` option on the command line, which should d

[2016-04-13 10:36] simenheg commented on #5787
Thanks @Turbo87, passing `--no-color` removes all the colors from the output.

However "[1G" is still output in some instances.

Do you think this is also an issue with the `supports-color` module?

[2016-04-13 10:55] Turbo87 commented on #5787
most likely... I don't know where else it would come from other than that.

[2016-04-13 10:55] #5787 closed

[2016-04-13 12:34] Turbo87 commented on #5482
resolved by #5707

[2016-04-13 12:34] #5482 closed

[2016-04-13 12:53] Turbo87 commented on #891
I've just tried this in a new app with the current release of ember-cli and had no issues running `ember test` after setting `baseURL` to `/foo/bar/`

[2016-04-13 12:53] #891 closed

[2016-04-13 13:10] Turbo87 commented on #3299
closing this in favor of https://github.com/ember-cli/ember-cli/issues/4535

[2016-04-13 13:10] #3299 closed

[2016-04-13 13:10] Turbo87 commented on #2480
closing this in favor of https://github.com/ember-cli/ember-cli/issues/4535

[2016-04-13 13:10] #2480 closed

[2016-04-13 13:12] Turbo87 commented on #2791
@stefanpenner what do you mean by `server/*`?

[2016-04-13 13:24] Turbo87 commented on #3318
@sglanzer is this issue still relevant?

[2016-04-13 13:27] sglanzer commented on #3318
@Turbo87 Probably not relevant enough - we have workarounds for now and I would imagine this will change once the new file structure system comes in, so it's fine to de-prioritize/close this.

[2016-04-13 13:27] Turbo87 commented on #3701
@gdub22 @stefanpenner is this still an issue?

[2016-04-13 13:31] Turbo87 commented on #3318
@sglanzer okay, thanks for the feedback

[2016-04-13 13:31] #3318 closed

[2016-04-13 13:32] Turbo87 commented on #4044
closing this in favor of https://github.com/emberjs/rfcs/pull/124

[2016-04-13 13:32] #4044 closed

[2016-04-13 13:38] Turbo87 commented on #4209
this seems solved due to @pixelhandler's workaround

[2016-04-13 13:38] #4209 closed

[2016-04-13 13:40] Turbo87 commented on #4371
@jnfingerle is this still an issue with the latest releases of all the projects involved? I don't seem to have any of the problems you described.

[2016-04-13 13:43] Turbo87 commented on #4436
@trabus has this been solved at some point?

[2016-04-13 13:52] aluink commented on #5783
What else could cause my build times to be so slow? Let's keep my project out of this for now, even the basic start app out of `ember new` builds abnormally slow.  Here's a list of things I've ruled out.

- SSD performance
- Windows Defender exceptions
- No Indexing
- Admin

[2016-04-13 14:02] Turbo87 commented on #4511
you should be able to import the config like this:

[code]

as demonstrated in `app/app.js`

[2016-04-13 14:02] #4511 closed

[2016-04-13 14:06] Turbo87 commented on #5783
@aluink we should keep the focus on your live reload problem as that is the title of this issue. if you have performance problems too please read https://github.com/ember-cli/ember-cli/blob/master/PERF_GUIDE.md and if that didn't help open another issue that is just focused on the performance issues.

[2016-04-13 14:11] aluink commented on #5783
OK, I may have to open another issue regarding the perf issues.

On the reload, should `ember server` update assets when a rebuild it triggered?

[2016-04-13 14:14] Turbo87 commented on #5783
AFAIK yes, it should update the assets, otherwise it wouldn't be able to serve them. is is possible that your sync script isn't picking up the changes?

[2016-04-13 14:28] Turbo87 commented on #4716
duplicate of #4507

[2016-04-13 14:28] #4716 closed

[2016-04-13 14:31] Turbo87 commented on #4811
@chadhietala is this still relevant or did @trabus solve your issue?

[2016-04-13 14:32] Turbo87 commented on #4812
@johanneswuerbach any news on this?

[2016-04-13 14:35] Turbo87 commented on #4883
I agree that this is a duplicate of all the other baseURL/rootURL issues.

@williamhector what scenario are you trying to achieve in the end?

[2016-04-13 14:35] #4883 closed

[2016-04-13 14:36] Turbo87 commented on #4918
apparently this got fixed in #5432

[2016-04-13 14:36] #4918 closed

[2016-04-13 14:43] Turbo87 commented on #4957
I fail to understand why `this.authenticatedRoute(...)` is superior compared to something like `export default Ember.Route.extend(Torii.AuthenticatedRoute);` as it is done by `ember-simple-auth`. In any case this doesn't seem to be an `ember-cli` issue and should be discussed/solved in https://github.com/ember-cli/ember-router-generator.

[2016-04-13 14:43] #4957 closed

[2016-04-13 14:45] Turbo87 commented on #4982
looks like this got fixed by https://github.com/ember-cli/ember-cli/pull/4983

[2016-04-13 14:45] #4982 closed

[2016-04-13 14:52] Turbo87 commented on #5153
closing in favor of moudy/broccoli-template-builder#1

[2016-04-13 14:52] #5153 closed

[2016-04-13 14:56] Turbo87 commented on #5193
closing in favor of https://github.com/ember-cli/node-modules-path/pull/3

[2016-04-13 14:56] #5193 closed

[2016-04-13 15:03] Turbo87 commented on #5306
@misteroh it does that because not every addon has templates and so not every addon needs that dependency

[2016-04-13 15:03] Turbo87 commented on #5306
closing because this seems to be a duplicate of https://github.com/ember-cli/ember-cli/issues/4436

[2016-04-13 15:03] #5306 closed

[2016-04-13 15:12] aluink commented on #5783
OK, that's what I thought.  And therein lies the problem, the assets folder isn't updating; I've watched it.

[2016-04-13 15:12] Turbo87 commented on #5424
closing due to inactivity

[2016-04-13 15:12] #5424 closed

[2016-04-13 15:15] Turbo87 commented on #5783
please try to reproduce this issue somehow in an example project somewhere otherwise we have no chance of solving this

[2016-04-13 15:17] Turbo87 commented on #5428
this sounds more like a QUnit frontend bug to me

[2016-04-13 15:18] Turbo87 commented on #5436
closing as related https://github.com/ember-cli/ember-cli/pull/5448 got closed too

[2016-04-13 15:18] #5436 closed

[2016-04-13 15:27] Turbo87 commented on #5539
from the latest Travis run:

[code]

[2016-04-13 15:29] Turbo87 commented on #5594
@carlbennettnz I'm not sure if this is a scenario that we support. Does it work properly when using `ember serve` from the addon folder?

[2016-04-13 15:34] #5634 closed

[2016-04-13 15:35] #5636 closed

[2016-04-13 15:37] Turbo87 commented on #5658
this sounds like intended behavior to me and can be changed by adjusting the configuration of the https://github.com/rickharrison/broccoli-asset-rev addon

[2016-04-13 15:37] #5658 closed

[2016-04-13 15:48] Turbo87 commented on #5704
@blaher we need some way to reproduce this issues otherwise there is no way we can fix this. it sounds like you have a broken installation of `ember-data` and I'm slightly confused by `Ember Data: 2.4.3+a3e2521f85` as it indicates that you might not be using a stable release of it.

[2016-04-13 15:52] #5747 closed

[2016-04-13 17:24] chadhietala commented on #4811
I don't remember. Closing for now.

[2016-04-13 17:24] #4811 closed

[2016-04-13 17:39] jeffjewiss commented on #5700
I tried looking into this, but I'm a little confused. As far as I can tell there isn't a `Model` object to extend from. What should the asset size printer be extending?

[2016-04-13 18:03] aluink commented on #5783
Alright, earlier yesterday it seems as though updating to ember-cli 2.4.3 solved the livereload issue for a brand new ember app.  I created a new one today and livereload doesn't work for it.

[code]

[code]

[npm ls](https://gist.github.com/aluink/04b454eba96ed4d251f287867090ad03)

[2016-04-13 18:19] #5755 closed

[2016-04-13 18:21] Turbo87 commented on #5783
I've just tried this in a Windows VM and could not reproduce your issue. It takes quite a bit longer to compile in the VM but once done live reloads seems to work as expected.

[2016-04-13 19:04] aluink commented on #5783
Right, that;s expected.  I have no idea what to look at that would cause this.  `ember build` works, but every build after the initial build of `ember serve` fail to update the assets and therefore fails to livereload.

[2016-04-13 19:25] carlbennettnz commented on #5594
Yes.

- [x] `ember serve` from addon folder
- [x] `ember serve` from app folder, with `isDevelopingAddon: () => false`
- [ ] `ember serve` from app folder, with `isDevelopingAddon: () => true`

In the final case, everything seems functionally correct, but the JSHint errors are shown.

[2016-04-13 20:44] rwjblue commented on #5594
https://github.com/ember-cli/ember-cli/blob/master/lib/models/addon.js#L119-L124 should be updated something like:

[code]

[2016-04-13 20:48] Turbo87 commented on #5594
@carlbennettnz could you check if the solution proposed by @rwjblue works for you? if it does feel free to open a PR :shipit:

[2016-04-13 20:51] rwjblue commented on #5594
(with tests)

[2016-04-13 20:52] ivanvanderbyl commented on #2633
@JackCA definitely. Here's a gist of roughly what I did https://gist.github.com/ivanvanderbyl/4b1c2ab7904542aa08f7ef1b83bdb342

[2016-04-13 20:53] ivanvanderbyl commented on #2633
Basically if you remove `baseURL` from your environment.js, Ember will stop rendering the tag. But you need to update the asset paths so it doesn't break all the other things.

[2016-04-13 21:12] #5419 closed

[2016-04-13 22:10] #5177 closed

[2016-04-13 22:25] andrewhavens commented on #3413
I also ran into this error while using `ember-cli-coffeescript` and trying to add `ember-simple-auth`. The solution was to convert my `routes/application.coffee` back to JavaScript. For some reason the default application route in `ember-simple-auth` conflicts with the one written in CoffeeScript.

[2016-04-14 01:45] stefanpenner commented on #5770
@nathanhammond streaming of content is an additional concept on top of regular static serving (think, scrubbing/seeking to various points) but yes, RFC ftw.

[2016-04-14 01:51] stefanpenner commented on #2791
a syntax error in any file contained under server/*

[2016-04-14 01:52] stefanpenner commented on #3701
I believe so.

[2016-04-14 02:10] stefanpenner commented on #5783
as you are using windows, have you throughly reviewed http://ember-cli.com/user-guide/#windows?

[2016-04-14 02:38] #5079 closed

[2016-04-14 05:48] bgentry commented on #5760
Very sorry for the trouble, this was due to https://github.com/bennycwong/ember-bootstrap-4 which has some dependencies set up improperly (asking folks to manually add dependencies instead of doing so when the addon is installed).

[2016-04-14 05:48] #5760 closed

[2016-04-14 08:36] kevinansfield opened #5795 "Customising outputPaths skips minification"
We've just prepped a release and found that our built file sizes are huge because they aren't being minified. On a hunch I disabled our `outputPaths` customisation and found that it was causing the minification step to be skipped.

I've worked backwards through the ember-cli versions and I'm seeing the same behaviour in all `2.x` releases. Our last release was using `1.13.15` which was minifying t

[2016-04-14 10:36] kongeor commented on #4905
Is the issue @constantm [mentions](https://github.com/ember-cli/ember-cli/issues/4905#issuecomment-155713312) above going to be fixed with this?

[2016-04-14 11:32] rwjblue commented on #4905
There isn't enough info in @constantm's comment to be able to answer. The WIP PR above does remove the need for <base> in general. We will need to ensure the checklist of scenarios that @SaladFork laid out above is confirmed to be working with the new setup.

//cc @Turbo87

[2016-04-14 13:08] aluink commented on #5783
Yeah, we did this way back when we started our Ember work a year ago or so.  I've doubled checked everything again when this issue started up last week to make sure things didn't revert on me.

[2016-04-14 13:14] stefanpenner commented on #5783
Anyways, as the label suggests we require a reproduction to move forward.

[2016-04-14 13:17] aluink commented on #5783
I understand. Given this is so unexpected there's clearly something outside of ember that's causing this and I have no idea what to look for anymore.

[2016-04-14 13:19] stefanpenner commented on #5783
@aluink

some things:

* anti-virus scanning your tmp dir or node_modules dir
* your editor watching your tmp dir or node_modules dir
* using dropbox on the same file tree
* running on a USB drive, or software based disk encryption (the hardware stuff, at-least on OSX has negligible impact, but I have seen others give grief)

[2016-04-14 13:25] kongeor commented on #4905
It turns out that our `router.js` was misconfigured:

[code]

removing this line resolves our issue. Maybe @constantm had something similar.

[2016-04-14 13:29] rwjblue commented on #4905
Confirm, using baseURL + rootURL is going to do what was reported.

[2016-04-14 13:30] aluink commented on #5783
I dealt with the first 2 long ago by creating an exclusion in my AVS  and my editor, Sublime, opens app/.  We don't use Dropbox, a USB drive, or software disk encryption.

Here's what happened last week when I started having this problem.  I started working on this [addon](https://github.com/chrislopresto/ember-freestyle).  I cloned it and added it into my project.  At first I figured it was the a

[2016-04-14 13:31] Turbo87 commented on #5795
@kevinansfield can you provide a minimal setup to reproduce this issue?

[2016-04-14 13:34] aluink commented on #5783
At this point I'm thinking there's something, probably trivial, outside of the usual Windows suspects giving me all this grief.

[2016-04-14 13:35] stefanpenner commented on #5783
hmm, I'm curious what that might be. Unfortunately, I'm not sure what we can do on our end without a reproduction.

@felixrieseberg anything come to mind?

[2016-04-14 13:39] aluink commented on #5783
Right, I understand the lack of things you can do.  I'm just hoping someone might have a bright idea.  My next step at this point if nothing comes up is to rebuild my entire box :/

[2016-04-14 13:51] stefanpenner commented on #5783
someone else recently mentioned this, and it seems to have addressed the issue. But a pretty lame work-around... I would love to figure out the root cause.

[2016-04-14 14:03] kevinansfield commented on #5795
I've created a minimal reproduction here: https://github.com/kevinansfield/ember-cli-output-paths-test

In doing so I've discovered that it's related to the naming of the files - it's only when the output filename ends in `.min.js` that minification is skipped.

[2016-04-14 14:06] stefanpenner commented on #5795
thanks.

[2016-04-14 14:10] rwjblue commented on #5795
Our minifier does skip files ending in .min.js, that could be related...

[2016-04-14 14:11] rwjblue commented on #5795
That was changed in https://github.com/ef4/broccoli-uglify-sourcemap/pull/26

[2016-04-14 14:47] aluink commented on #5783
Agreed. I just had a co-worker come log into my box with their account and they were able to build with no performance or livereload issues.  So the box itself is OK, I think we've narrowed it to my account on the box.

[2016-04-14 14:49] orf opened #5798 "Ember test hangs forever on browser failure"
Hello, we're having intermittent failures on our CI server with the following output:

`not ok 1 Browser "chromium-browser --user-data-dir=/tmp/testem-8694.chromium --no-default-browser-check --no-first-run --ignore-certificate-errors --disable-renderer-backgrounding --disable-background-timer-throttling http://localhost:7357/8694/tests/index.html?hidepassed" failed to connect. testem.js not loade

[2016-04-14 14:55] aluink commented on #5783
Alright, we got it.  Not sure exactly what the issue was, but we downloaded ccleaner and cleaned.  Didn't target anything out of the ordinary.  The only interesting, though arguably unrelated, was my recycle bin has 10G.  Other than that it was just browser caches and temp files.  idk...  I'll close this and thank both of you, @stefanpenner and @Turbo87, for your help and patience.

...back to wor

[2016-04-14 14:55] #5783 closed

[2016-04-14 14:58] aluink commented on #5783
It may be worth mentioning ccleaner, or another preferred tool, for other people having similar performance/IO/Windows type of issues.

[2016-04-14 15:24] stefanpenner commented on #5783
@aluink mind adding a blurb to: https://github.com/ember-cli/ember-cli.github.io/blob/master/_posts/2013-04-02-practices-windows.md ?

[2016-04-14 15:25] stefanpenner commented on #5750
tell me more? Is the ancestor init itself the problem, or...

[2016-04-14 15:26] stefanpenner commented on #5795
thats right we totally do..

[2016-04-14 15:28] stefanpenner commented on #5798
this is most likely a testem.js issue

cc @johanneswuerbach

[2016-04-14 15:36] aluink commented on #5783
Sure, I'd love to!

[2016-04-14 16:18] JoshTumath commented on #5764
After looking into the source code for Ember CLI, it seems that ember does not support launching the mock server when running `ember test`. This is a dupe of #1763.

[2016-04-14 16:18] #5764 closed

[2016-04-14 18:16] schikore commented on #5783
I ran into this same thing today.  Tried all the recommendations I could find.  Styles reloaded fine, js changes reloaded fine.  But hbs changes wouldn't do anything, even on a manual refresh of the browser.  Had to restart ember to see changes.

I downloaded and ran ccleaner.  Restarted ember one last time.  All changes now reload as expected.

Weird, but glad I could find this report.

[2016-04-14 18:28] stefanpenner commented on #5783
:+1:

[2016-04-14 19:56] rwjblue commented on #5795
@stefanpenner - I think we should likely revert and rework it.  The goal was to make things a bit more ergonomic by avoiding to minify something already minified, but the change has broken minification in a few projects (Ghost, Ember itself, and at least one of my work projects).

[2016-04-14 20:12] stefanpenner commented on #5795
@rwjblue ya we can, would accept a PR

[2016-04-14 21:02] Turbo87 commented on #5700
@jeffjewiss either nothing or `CoreObject`. I tend to prefer "nothing" unless anyone can tell me good reasons for using `CoreObject` here.

[2016-04-14 21:16] sclaxton commented on #5750
I was also seeing some infinite loop weirdness when I calling `_super` of `treeForAddon` when extending from an extension of `Addon`

[2016-04-14 21:25] JackCA commented on #2633
@ivanvanderbyl awesome, thanks for sharing! Looks like @Turbo87 jumped on this with #5792 moments after you shared. However, your implementation could be an intermediary fix...

[2016-04-14 21:33] rwjblue commented on #2633
@JackCA - FWIW, the fix in #5792 is roughly the same as what @ivanvanderbyl had in the gist (though there are a few additional steps we will be doing internally to ensure proper warnings/deprecations/etc happen).

[2016-04-14 21:38] JackCA commented on #2633
@rwjblue awesome! Nice work everyone

[2016-04-14 22:10] Turbo87 commented on #5539
some of these warnings will hopefully be fixed by:
- https://github.com/chjj/marked/pull/739
- https://github.com/twokul/yam/pull/11
- https://github.com/mochajs/mocha/pull/2201

[2016-04-14 22:45] #5751 closed

[2016-04-15 12:21] orf commented on #5798
The browser exists, it's just for some unknown reason the browser (always Chrome, but this is always first in our runs) seems to hang/fail to start occasionally. We're running it through a `xvfb-run` so it's hard to debug, but when testem.js fails to connect it errors to stdout, but the `ember` process just sits there forever until it is forcibly killed.

I think `ember test` should detect when th

[2016-04-15 12:28] johanneswuerbach commented on #5798
Strange, I'll try to find time to investigate. Looks like testem is not able / not trying to nuke the process probably and then just hangs.

[2016-04-15 12:32] orf commented on #5798
Awesome, thanks :+1:

One other thing we've noticed with testem is that our `/tmp` directory fills up with profiles pretty quickly. Does testem not attempt to clean them up?

[2016-04-15 14:26] rwjblue commented on #5798
Cleaning the project local tmp dir is the responsibility of ember-cli (not testem).  Most likely the folders are not getting cleaned because of the original issue reported (depending on how you kill the process our on exit cleanup handlers may not be executing).

[2016-04-15 14:34] stefanpenner commented on #5798
i thought we fixed most of the testem <-> ember-cli tmp dir leaking issues. Maybe there are more.

[2016-04-15 14:36] rwjblue commented on #5798
@stefanpenner - Ya, same.  This is the first report of that in a while.  I suspect that when the process is `kill -9` that we don't cleanup (since our exit hooks aren't called).  We may want to implement that locking system we discussed previously...

[2016-04-15 14:36] johanneswuerbach commented on #5798
I think @orf was talking about browser profiles not being cleaned after `ember test`, which might be caused by testem not cleaning them.

[2016-04-15 15:00] orf commented on #5798
Yep, it's the browser profiles. They are never cleaned as far as I can tell, which is not a huge deal because it's `/tmp` after all.

[code]
That's since I reported this issue and did a clean of `/tmp`, we normally have thousands of the buggers.

[2016-04-15 15:01] AO16 opened #5806 "Could not require 'ember-cli-build.js': Cannot find module 'shelljs'"
I am experiencing this when running `ember serve` or `ember build`. Assuming it's happening on other commands, but those are the two that I have tested. This error only happens on my lower version of node. Unfortunately, that is the node version that is set up on our server.

---

Output from ember version --verbose:
[code]

[2016-04-15 15:16] AO16 commented on #5806
I tried creating a fresh project and didn't see the issue. I'm going to close and investigate this more.

[2016-04-15 15:16] #5806 closed

[2016-04-15 16:09] stefanpenner commented on #5798
ah ok.

[2016-04-15 22:15] nfriedly opened #5807 "Broken link for Ember CLI Deploy"
(Copied from https://github.com/emberjs/guides/issues/1376)

Both http://ember-cli.com/user-guide/#deployments and http://ember-cli.com/user-guide/#deployments and link to http://ember-cli.com/ember-cli-deploy/ for Ember CLI Deploy but that's a 404.

[2016-04-15 22:16] nfriedly commented on #5807
BTW, a simple solution that plays nice with GitHub pages might be to just stick a page there with a meta-refresh pointing to the new location.

[2016-04-15 22:28] stefanpenner commented on #5807
This isn't the correct repo, rather either the sites repo or the ember-deploy repo would be best.

Cc @lukemelia

[2016-04-15 22:29] nfriedly commented on #5807
Sorry, I got sent here from the first place I reported the issue...

[2016-04-15 23:11] acorncom commented on #5807
Sorry, was unclear where I should be sending folks

[2016-04-15 23:22] acorncom commented on #5807
PR has been opened here: https://github.com/ember-cli/ember-cli.github.io/pull/73

[2016-04-16 00:18] stefanpenner commented on #5807
sweet, looks resolved. Thanks all :)

[2016-04-16 00:18] stefanpenner commented on #5807
@acorncom here was fine, we can coordinate ad-hoc.

[2016-04-16 00:18] #5807 closed

[2016-04-16 18:39] #5785 closed

[2016-04-16 22:28] leo commented on #5767
[More details](https://youtu.be/vLcOkHhEt1g?t=21m)

[2016-04-16 23:51] stefanpenner commented on #5767
This is easier said then done, proper parent/child process life cycles entangling is quite tricky to get right with node, especially cross platform and especially when it comes to tear down with proper cleanup from parent to child etc. this doesn't mean it can't be done, but it isn't as simple as it may first appear

I have also had this conversation with @othiym23 when we first began using npm an

[2016-04-16 23:51] #5767 closed

[2016-04-17 01:44] jredd opened #5810 "Not installing on Ubuntu 14.04.4"
Ember-cli simply ins't installing on my machine... doesn't error out just stops and doesn't install anything. I'm using a digital ocean droplet Ubuntu 14.04.4

[2016-04-17 04:07] joseperales commented on #5810
What nodejs version are you using

[2016-04-17 04:27] jredd commented on #5810
v5.10.1

[2016-04-17 04:39] stefanpenner commented on #5810
More info please. The yellow banner you saw when submitting the issue explains what details are required. Without this it is unlikely to be actionable

My guess is npm is using to much memory and causing a small droplet with law ram to sit and swap. Try bumping ram/disk space

[2016-04-17 08:20] #5626 closed

[2016-04-17 10:27] leo commented on #5767
@stefanpenner I'd recommend re-opening this issue so that other new contributors (not just me) can start looking into this. :blush:

[2016-04-17 15:03] stefanpenner commented on #5767
IMHO this isn't an issue, but an enhancement todays state works fine.

[2016-04-17 15:09] leo commented on #5767
@stefanpenner Okay... They I guess we'll have to fix it as soon as npm really drops support for their programmatic API. Because while I'd be really happy about someone else doing it, I don't think I'll find the time to fix it by myself.

[2016-04-17 16:47] nathanhammond commented on #4436
If anybody wants to bring home this functionality start from here:
https://github.com/ember-cli/ember-cli/compare/master...trabus:add-template-compiler-on-generate

It's close, but needs a rebase and tests.

[2016-04-17 16:59] nathanhammond commented on #4957
"Superior" only because having good APIs is a feature. We ran into this again with engines, and @trentmwillis has solved it once and for all:
https://github.com/ember-cli/ember-router-generator/commit/bc7dd638d052e298e112a837a9a6f69a69bb4eee

[2016-04-17 17:58] nathanhammond commented on #5750
@stefanpenner When working with vanilla objects in testing core-object I can't reproduce this failure. Something about how we have set up `Addon` and `AddonsFactory` inside of Ember CLI triggers this issue. That the old versions of these objects (pre core-object 2.0) also exhibit the same failing behavior and do not call `_super()` is what gives me that confidence and is why I'm in favor of landin

[2016-04-17 18:25] trabus commented on #4436
This needs to be fixed on ember-cli-legacy-blueprints if it hasn't already been fixed. I should have an hour to look at it tonight.

[2016-04-17 18:29] trabus commented on #4436
Quickly looking at the error, it looks like the addon needs the htmlbars compiler moved to dependencies in the package.json

[2016-04-17 18:38] nathanhammond commented on #4436
Yep, and that's something we want to automate upon generation of a template.

[2016-04-17 19:03] stefanpenner commented on #5750
@nathanhammond ok that makes more sense, ya i believe we should merge #5737 and then later get to the bottom of this.

[2016-04-17 19:59] borisrorsvort commented on #5040
Its happening again indeed. Ember version 2.4.1

[2016-04-17 20:22] stefanpenner commented on #5040
I do not believe to be the case (having just upgraded several apps, without issue), have you followed the instructions?

[2016-04-17 20:25] borisrorsvort commented on #5040
I mean its working with integrity="". But is it the solution ?

[2016-04-17 20:41] stefanpenner commented on #5040
yes

[2016-04-17 23:13] trabus commented on #4436
Was trying to steal a moment to respond from my phone and I misread the (my) previous comments. Sorry for any confusion.

[2016-04-18 02:15] jeffjewiss commented on #5700
@Turbo87 thanks for clarifying, I gave this a shot in the linked PR.

[2016-04-18 10:50] erkie commented on #1634
And my provided fix seems to be broken for 2.5.0 somehow... Looking into it now.

[2016-04-18 13:57] Gaurav0 opened #5816 "[BETA] start app test helper causes lots of deprecation warnings"
These lines:
https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/tests/helpers/start-app.js#L8-L9

[code]

cause a large number of deprecation warnings due to Ember.merge being deprecated in Ember 2.5

---

Output from ember version --verbose:
[code]

[2016-04-18 14:02] rwjblue commented on #5816
Duplicate of:

* https://github.com/ember-cli/ember-cli/pull/5811
* https://github.com/ember-cli/ember-cli/pull/5808
* https://github.com/ember-cli/ember-cli/pull/5803

[2016-04-18 14:02] #5816 closed

[2016-04-18 14:03] rwjblue commented on #5816
As mentioned in those issues, the `Ember.merge` deprecation was premature and will be removed in Ember 2.5.1 (which should be released today or tomorrow).

[2016-04-18 14:15] erkie commented on #5406
As of `2.5.0` I can't get this to work. I tried the approach number 1, and it did not generate anything new. It looks like there is a discrepancy between the generated module names?

[code]

I think the problem lies within the "templates"-directory in the template string?

[2016-04-18 22:00] ctcpip commented on #3664
+1

[2016-04-18 23:16] jasonmit commented on #1763
I worked around this with the following:

`ember g in-repo-addon testem-middleware `

[code]

[2016-04-19 08:32] #5700 closed

[2016-04-19 13:42] sudrao commented on #1763
@jasonmit  Post to server did work in test. There was a bug in Pretender that I fixed to make coverage work.

[2016-04-19 13:58] trek commented on #1763
@sudrao is there a link to the matching Pretender issue/pr? Thanks!

[2016-04-19 17:42] orgilnm11 opened #5818 "The Broccoli Plugin: [Funnel: Funnel (config)] failed with:"
after installin my app ember new myapp1. and when i try to start server this error shows.
---

ember-cli: 2.4.3
node: 4.4.3
os: win32 x64

[code]

[2016-04-19 21:14] rwjblue commented on #5795
Submitted https://github.com/ef4/broccoli-uglify-sourcemap/pull/27 to revert that change for now.

[2016-04-20 11:09] ianpetzer commented on #2633
@Turbo87 We are running our ember-cli build off your branch and it has fixed our svg issues. Amazing! Thanks so much to everyone that contributed.

So our use elements now looks like:
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo--logo"></use>

ie: Just a relative identifier for embedded svg's
Previously we had to include the page url to make the svg's work but it was becom

[2016-04-20 11:28] Turbo87 commented on #2633
@ianpetzer awesome, thanks for the feedback!

[2016-04-20 17:08] VincentMolinie opened #5820 "ENOENT after a restart"
Hi guys,

I'm stuck on an issue. I can't run any ember project, even when I create a fresh new one.
Everything was working yesterday. The only thing I did is removing node_modules and bower_components on a project and installing everything again and since nothing work.
I tried to do:
[code]
It didn't worked so I tried to reinstall NodeJS by removing first %appdata%/npm %appdata%/npm-cache and the

[2016-04-20 17:19] v3ss0n opened #5821 "watchman 100% I/O all the time."
when creating new project with ember-cli , about 8 watchmen spawn and then take 100% I/O . never finishing anything.

What can i do. ?

[2016-04-20 17:47] v3ss0n opened #5822 "Creating new project using EmberCLI keep downloading modules after modules !"
Its taking over 1 hr already and it is not finished downloading modules yet.
embercli 2.4.3 do not have such problem , embercli 2.5.0 happening like that.

[2016-04-20 17:58] chadhietala commented on #5822
Can you provide your node version, npm version, and os?

[2016-04-20 18:06] #5821 closed

[2016-04-20 18:06] stefanpenner commented on #5821
watchman repo is the best place to ask about this.

[2016-04-20 18:07] v3ss0n commented on #5822
the problem is with watchman , taking so much IO. after i killed it , it worked again.

[2016-04-20 18:18] chadhietala commented on #5822
Ok closing for now.

[2016-04-20 18:18] #5822 closed

[2016-04-20 21:04] stefanpenner commented on #5820
does a file exists `ember-cli-app-version\templates\app-version.hbs` in your node_modules?

[2016-04-20 21:05] stefanpenner commented on #5822
it should ignore node_modules, maybe your .watchmanconfig  is out of sync, or you have an old version.

[2016-04-20 21:56] ro0gr commented on #5820
I've also noticed the same issue on the my team mate machine. It started to happen today(after update to ember-cli@2.4.3). Unfortunately I'd failed to reproduce it on my machine even after cleaning npm cache.

Yes it exists under the `node_modules/ember-cli-app-version/addon/templates/app-version.hbs` as expected.

[2016-04-20 23:22] VincentMolinie commented on #5820
Yeah the files is there ...

[2016-04-20 23:51] wagenet commented on #3894
I'm seeing issues too. AFAICT, any @media queries in CSS cause issues.

[2016-04-20 23:58] wagenet commented on #3894
On further inspection, this issue is intermittent for me. `@media` queries don't appear to be the cause. I suspect this is a Phantom bug, but I'm going to reopen this issue for others to find.

[2016-04-21 00:34] stefanpenner commented on #3894
hmm, typically we don't keep issues open that we can't really solve. Is there a reasonable hope we can address this ?

[2016-04-21 00:35] wagenet commented on #3894
@stefanpenner fair enough. I'm actively investigating this and I might have some ideas for things we can do to solve at least some scenarios. If this stays inactive for long, feel free to close.

[2016-04-21 07:22] MartinMalinda opened #5823 "Changes in imported scss files outside of /styles won't update the dist file"
I import styles like this:

[code]

On file change I get a message "file changed application/style.scss Build successful - 734ms." yet no live reload happens and changes are apparent only after manually restarting the server.

Changes of scss files /style folder work just fine.

Could be ember-cli-sass issue though.

---

Output from ember version --verbose:
[code]

[2016-04-21 07:40] MartinMalinda commented on #5823
I did a nombom, uninstalled babel-eslint and added
[code]

to ember-cli-build.js

Not sure what particularly solved the issue. Don't have time atm to trace back which step exactly solved the issue. Will try to get back to this later if also someone else experiences the issue.

[2016-04-21 09:34] VincentMolinie commented on #5820
I tried to put a readdir before, the file is clearly here but on the read it crashed

[2016-04-21 12:29] Turbo87 opened #5824 "Create "canary" branch/tag"
In the last team meeting it was decided to create a `canary` branch or tag that automatically tracks the `master` branch. Since git itself has no such functionality we would most likely need some sort of script, triggered by a webhook on the repo, that will update the `canary` pointer.

[2016-04-21 12:45] ro0gr commented on #5820
Looks like the problem is somehow related to the latest release of `node-symlink-or-copy`.
Locking it to `node-symlink-or-copy@1.0.1` fixed this issue for me

[2016-04-21 13:51] VincentMolinie commented on #5820
Oh my god it's that  ! 24hours on this bug ! Thank you @ro0gr you rock =)

[2016-04-21 14:24] orgilnm11 commented on #5818
what does mean ''needs reproduction', what do i have to do?

[2016-04-21 14:34] wagenet commented on #3894
In my case, this error happend when trying to `@import` a custom font from Google in my CSS files. Removing this `@import` line causes everything to work correctly. Since I don't really want to remove my custom fonts I did a bit more research and discovered that if I block the request on Phantom's end then things also work fine.

**tests/phantom-runner.js**
[code]

**testem.js**
[code]

[2016-04-21 14:35] wagenet commented on #3894
It appears that there may be other things that can cause Phantom to load incorrectly, but it's definitely worth investigating whether your CSS tries to fetch any external resources.

[2016-04-21 14:35] #3894 closed

[2016-04-21 15:35] orgilnm11 opened #5825 "cant install new app"
Thank you for taking the time to open an issue!

For bug reports please include the following section in your issue details.
If you include instructions on how to reproduce the bug or a failing test case
it will make it easier for us to track down the issue you're having.

---
ember-cli: 2.5.0
node: 4.4.3
os: win32 x64

$ ember new myapp1
Cannot find module 'ini'
Error: Cannot find module 'ini'

[2016-04-21 17:04] nathanhammond commented on #5825
This appears to be a broken installation. Can you reinstall ember-cli? If the issue persists clearing your npm cache may help as well. I'm going to close this as I don't believe that this is a persistent issue. If the problem still exists for you after reinstallation please feel encouraged to reopen!

[2016-04-21 17:04] #5825 closed

[2016-04-21 17:50] nathanhammond commented on #5818
@orgilnm11 We've not seen a report like this before and as you're the only person encountering it, it seems likely that it's something about your environment in particular, not necessarily Ember CLI (I say that with more confidence having seen the other report you filed). Also working against you is that none of us actively develop on Windows, so we're not really able to dive in and see it failing

[2016-04-21 17:50] #5818 closed

[2016-04-21 18:59] nathanhammond opened #5826 "Implement RFC #46"
[RFC #46](https://github.com/ember-cli/rfcs/blob/master/active/0046-improved-release-process.md) has landed. This is a tracking issue for implementation.

The open tasks from that are as follows:
- [ ] Tooling to support feature flags.
- [ ] Updates to the website and documentation communicating this plan.
- [ ] Teaching new patterns to ember-cli contributors, most specifically commit tagging and

[2016-04-21 19:52] rajcoss opened #5827 ""ember build --prod" fails occasionally with rmdir, unlink or open error"
Here are the steps to reproduce this...

[code]

Sometimes, you might not get an error on the last line `ember build --prod`. In that case, run `ember build && ember build --prod` a couple of times. The problem shows up about 50% of the times.

The errors can be different... here are some of them
[code]

Output from ember version --verbose:
[code]

We reproduced this on ubuntu and mac independentl

[2016-04-21 20:00] Turbo87 commented on #5826
I guess this is somewhat related also to #5691

[2016-04-21 21:32] nathanhammond commented on #5823
Since you're saying things are working, I'm going to close this. Please reopen if you track down additional information!

[2016-04-21 21:32] #5823 closed

[2016-04-21 21:35] jgrosso commented on #5818
I'm having the same problem (Windows 10). Was Ember updated recently or something?

[2016-04-21 22:28] nathanhammond commented on #5818
@jgrosso Thanks for identifying a workaround! This may be related to https://github.com/broccolijs/node-symlink-or-copy/issues/20

[2016-04-22 13:33] vdubus commented on #5658
I had the same problem when I was trying to generate an `index.htm` file in place of `index.html`.
And indeed, configuring the broccoli-asset-rev addon fix this problem.

[code]

[2016-04-22 17:00] sagar1992 commented on #5818
This issue will be fixed by the pull request https://github.com/broccolijs/node-symlink-or-copy/pull/17. It was created because of the srcPath typo.

[2016-04-22 17:09] Turbo87 commented on #5824
@stefanpenner @rwjblue @nathanhammond assuming that this script will most likely be a node.js app do we have a reliable place to host it somewhere?

[2016-04-22 18:46] stefanpenner commented on #5824
heroku

[2016-04-22 21:04] Turbo87 commented on #5824
okay, so I have https://github.com/Turbo87/canary-sync running at https://canary-sync.herokuapp.com now and so far it seems to work quite well

[2016-04-22 23:29] stefanpenner commented on #5824
can you be sure to add afew of us as maintainers and owners of the app?

[2016-04-23 06:37] seymores opened #5836 "Failed to upgrade to 2.5.0 with npm ERR! code 1 and then "Error: Missing template processor""
I tried to upgrade my existing ember-cli 2.4 to 2.5 by following the steps in the release note.
At the end of the install `npm install --save-dev ember-cli@2.5.0` I got this,

[code]
And from then onwards I cannot start my ember and always get this error

[code]
---

Output from ember version --verbose:
[code]

[2016-04-23 15:32] nathanhammond commented on #5836
That error appears to be an `npm install` failure of something local to your machine (`/home/ping/src/web-client`). Can you `npm cache clear && rm -rf node_modules && npm install` (aka `nom`) and also verify that your local project is working correctly?

I'm closing this issue as it seems likely that resetting your environment will fix you. In the event that it doesn't please feel encouraged to re

[2016-04-23 15:32] #5836 closed

[2016-04-23 15:33] nathanhammond commented on #5836
(Note that the 2.4 => 2.5 upgrade includes incredibly few changes, and is thus very unlikely to have issues itself.)

[2016-04-23 16:03] seymores commented on #5836
Thanks guys.
So after nom I did npm i --only=dev and everything works fine after that.
What I don't get it is that, I follow the instructions in the release note several times and never worked.

Anyway, I hope this will help somebody in the future.

[2016-04-23 16:08] nathanhammond commented on #5836
Is your `/home/ping/src/web-client` not a dev dependency?

[2016-04-24 04:19] sophypal opened #5838 "Inconsistencies with treeForAddon Hook"
First let me start by explaining what I'm trying to achieve.  I'm working on a project that requires a custom build step of gathering all text files together and making it available to require/import in code. These text files could be source code or Markdown files to be rendered later with a code viewer or Markdown renderer.

## What are the requirements?

* Make an *addon* that gathers all source

[2016-04-24 05:34] #5594 closed

[2016-04-24 08:17] #5824 closed

[2016-04-24 08:38] jasonmit commented on #5838
Originally reported here https://github.com/ember-cli/ember-cli/issues/4463 but seemed to have been closed.

[2016-04-24 18:37] sophypal commented on #5838
Not sure if I understand #4463 fully but it sounds like a completely different situation to me.  That issue had to do with not using `_super.treeForAddon` and not getting the default behaviors.  My issue, however, is that I'm using `_super.treeForAddon` but it's default behavior somehow changed when upgrading Ember.

[2016-04-24 19:43] jasonmit commented on #5838
I think people will find this line confusing.  I believe you're referring to Ember when you mean to say Ember-CLI.  Do you know the version you original solution worked and the version it broke?

I believe the core of the issue is very similar to https://github.com/ember-cli/ember-cli/issues/4463#issuecomment-124742654 where you're now having to write to `module/` to get your files written to wher

[2016-04-24 20:06] sophypal commented on #5838
Sorry for the confusion @jasonmit .  I updated it to show the exact version of Ember CLI.  I see now that you've made a comment on that issue about having to use `_super.treeForAddon` first to return the tree.  I'm really surprised that there hasn't been more mentions of this issue but as I'm told, I may be doing more with Ember than most are.  My worry is that my workaround is not a viable long t

[2016-04-24 23:20] stefanpenner commented on #5704
will reopen if ^ is provided

[2016-04-24 23:20] #5704 closed

[2016-04-24 23:21] stefanpenner commented on #5506
RFC process for new features, as the [CONTRIBUTING.md](https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md#requesting-a-feature) suggests

[2016-04-24 23:21] #5506 closed

[2016-04-24 23:21] stefanpenner commented on #5660
^ will gladly reopen if that can be provided

[2016-04-24 23:21] #5660 closed

[2016-04-24 23:22] stefanpenner commented on #5744
will reopen if ^ is provided

[2016-04-24 23:23] stefanpenner commented on #1634
we are re-working pods/folder structure stuff, stay tuned.

[2016-04-24 23:23] #1634 closed

[2016-04-24 23:23] stefanpenner commented on #2561
we are re-working pods/folder structure stuff, stay tuned.

[2016-04-24 23:23] #2561 closed

[2016-04-24 23:24] stefanpenner commented on #2768
we are re-working pods/folder structure stuff, stay tuned.

[2016-04-24 23:24] #2768 closed

[2016-04-24 23:24] #3293 closed

[2016-04-24 23:24] stefanpenner commented on #3293
will gladly reopen if someone would like to champion this

[2016-04-24 23:25] #4652 closed

[2016-04-24 23:26] stefanpenner commented on #4626
we have even added a big boost for non-symlink users recently \w future plans to improve further.

[2016-04-24 23:26] #4626 closed

[2016-04-24 23:26] stefanpenner commented on #4570
👍 RFC/Pr with demo seems like a good next step

[2016-04-24 23:26] #4570 closed

[2016-04-24 23:27] stefanpenner commented on #3893
pods are being re-worked entirely, the current state will unlikely be getting any such fixes

[2016-04-24 23:27] #3893 closed

[2016-04-24 23:28] stefanpenner commented on #4372
tracking this as part of the npm v3 upgrade

[2016-04-24 23:28] stefanpenner commented on #4481
needs RFC

[2016-04-24 23:28] #4481 closed

[2016-04-24 23:29] stefanpenner commented on #4517
@locks what is the response that is needed?

[2016-04-24 23:33] stefanpenner commented on #5820
node-symlink-or-copy@1.1.2 should address

[2016-04-24 23:33] #5820 closed

[2016-04-24 23:44] hhff commented on #5660
all good :)

super weird but no idea how to reproduce, so no idea what's causing it!  If it happens again I'll look into it :)

[2016-04-25 00:01] stefanpenner commented on #5748
should be fixed by: https://github.com/broccolijs/node-symlink-or-copy/pull/21

[2016-04-25 00:41] #5748 closed

[2016-04-25 03:31] MiguelMadero opened #5839 "JSHint doesn't work for addon's app folder."
The app folder isn't getting jshinted for addons.
## Steps to reproduce:
1. Create a new addons `ember addon my-addon`
2. Create a component `ember generate component my-component`
3. Add a jshint error in `app/components/my-component.js`, for example add an unused var `var x;`
4. Run ember test.
## Expected

My tests will fail with a jshint error
## Actual

No JSHint tests are run for the app dir

[2016-04-25 03:34] MiguelMadero commented on #4371
I tried this with on 2.5.0. The behavior I see is still wrong, but a little bit different. When jshint is enabled, no tests are generated for the `app`, `config` or top level JS. When jshint is disabled, jshint tests are still being generated for `tests/`.

[2016-04-25 07:11] jasonmit commented on #5765
Did some digging and it looks like `bower.commands.install` is invoked twice, as expected.  However, the second invocation happens before the first one settles (writes its content).  This means the second call reads the bower.json into memory that is used to later write the saved change.

https://github.com/bower/bower/blob/343e6ac8bcb3ad69a90b2e8c37bf71796417f7b8/lib/core/Project.js#L44 `analyse`

[2016-04-25 07:55] jasonmit commented on #5838
@sophypal `treeForAddon` is a public API so this is likely a bug.

[2016-04-25 08:58] olivierlesnicki commented on #5744
@stefanpenner I don't understand... The reproduction has been provided already... https://github.com/olivierlesnicki/ember-cli-issue-5744

[2016-04-25 14:50] Gaurav0 commented on #4517
@stefanpenner My question was: I have not yet made integration tests default. I think it might be a good idea to do that in a followup PR once we know all is well and working?

[2016-04-25 16:03] runspired commented on #3893
I also haven't hit this since, might have been something that got magically fixed at some point.

[2016-04-25 16:38] stefanpenner commented on #3893
fingers crossed ;P

[2016-04-26 00:02] fivetanley commented on #5810
I think @iheanyi may have run into this when working on his digital ocean plugin for Ember CLI deploy and had to bump ram.

[2016-04-26 01:10] iheanyi commented on #5810
Yeah, definitely did. https://www.digitalocean.com/community/questions/how-to-change-swap-size-on-ubuntu-14-04 Increase the Swapfile space on your Droplet, that'll fix it.

[2016-04-26 02:19] Jinshui commented on #4310
Totally agree mitchlloyd, not all program needs tests, ember-cli should provide an option to disable generating tests code.

[2016-04-26 05:56] #5810 closed

[2016-04-26 13:36] mxgoncharov commented on #5539
`npm WARN deprecated lodash-node@2.4.1: This package has been discontinued in favor of lodash@^4.0.0.
npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible.
npm WARN deprecated jade@0.26.3: Jade has been renamed to pug, please install the latest version of pug instead of jade
npm WARN deprec

[2016-04-26 13:59] Turbo87 commented on #5539
@mxgoncharov by fixing/adjusting those dependencies

[2016-04-26 14:24] villander opened #5849 "After makes update to 2.5.0 my templates no are not rendered"
I makes update with this release https://github.com/ember-cli/ember-cli/releases/tag/v2.5.0

And the data flow come to my `component.js`  but not rendered my `templates.hbs` in pod structure

Replacing in `bower.json`: "ember": "2.5.0" to "ember": "~2.4.5" everything works.

Help me please?

[2016-04-26 14:31] rwjblue commented on #5849
Please provide a reproduction of the issue, there is very little we can do to help without understanding/seeing what is going on.

[2016-04-26 14:40] villander commented on #5849
@rwjblue look this
my template `conversation.hbs`
[code]

my DOM
![screen shot 2016-04-26 at 11 40 09 am](https://cloud.githubusercontent.com/assets/10222774/14822122/b436a100-0ba3-11e6-9060-cdb4adc69252.png)

[2016-04-26 14:42] villander commented on #5849
@rwjblue he not show my html static as `search-profiles.hbs`

[code]

[2016-04-26 14:53] villander commented on #5849
this happens in changing the ember to 2.4.5 to 2.5.x

[2016-04-26 14:56] rwjblue commented on #5849
As I mentioned before, we need a reproduction. An example app, ember-twiddle.com, JSBin, etc that we can use to see the issue.

[2016-04-26 14:57] villander commented on #5849
@rwjblue but this is a issue this project. A new project not have this issue

[2016-04-26 14:58] rwjblue commented on #5849
Exactly! Figuring out how to isolate the issue into a reproduction will tell you **exactly** what is wrong, and often will lead you to the correct fix.

[2016-04-26 15:00] rwjblue commented on #5849
There is almost nothing that we can do (other than randomly guess) to help you without more information.

[2016-04-26 15:23] dgeb commented on #5849
@villander Try to narrow down the scope of what's not working as much as possible by selectively trimming your templates. Use [these template helpers](https://guides.emberjs.com/v2.5.0/templates/development-helpers/) to verify your assumptions. If you're able to isolate the error and it appears to be in Ember itself, please try to recreate it with an example app you can push to github or using emb

[2016-04-26 17:21] villander commented on #5849
@dgeb Thanks, i have more experience with Ember and already checked the templates with this helpers. But my problem is very hard. I have here a big project and he not render templates and even create new components still not render. And all back to works, when change bower dependency of 2.5.0 to 2.4.5. I have no clue. This is the pain

I wanted to put into a repository, but the company i work does

[2016-04-26 22:06] sheriffderek commented on #5480
With _Ember and CLI_ at 2.4.2, after I build for production - if I `ember serve`

[code]

If I `ember build` before `ember serve` then things work as expected. I'm not sure why the `/dist` folder would matter for `ember serve` though - since I can serve without ever building.

[2016-04-26 23:30] jredd commented on #5810
@iheanyi Thanks for the info! Wish I had known earlier, I just put it on a larger droplet and it worked fine.

[2016-04-27 13:03] #417 closed

[2016-04-27 13:03] #2633 closed

[2016-04-27 13:03] #2957 closed

[2016-04-27 13:03] #2989 closed

[2016-04-27 13:03] #4507 closed

[2016-04-27 13:03] #4905 closed

[2016-04-27 15:03] rwjblue opened #5852 "CI Failures on Node v6.0.0"
A few CI failures are happening on Node v6.0.0.  The following stack is printed:

[code]

This points to [testLoaderPath](https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L1368) being `undefined`.  Which seems to indicate that [these options](https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L186-L208) are not properly being merged.

[2016-04-27 16:28] #5852 closed

[2016-04-27 19:06] adam-bc commented on #5687
Any more thoughts on a possible solution for this? As a workaround, moving templates into the app directory of my addon so they can be overwritten by the consuming application works fine. Still debating the best workaround for addons I don’t manage.

[2016-04-27 19:34] julkiewicz opened #5857 "Error: ENOENT: no such file or directory after live reload"
I get the following build error after changing any file in my Ember-CLI project:

[code]

It's on OS X. I installed latest Node.js & NPM package installer from the node website (v 4.4.3 LTS)

The project has the following dependencies:

[code]

The package installed from git is just some very slight modification of the latest vanilla ember-model that can be found online.

The Ember CLI version

[c

[2016-04-27 19:50] jasonmit commented on #5765
@nathanhammond I believe this should be marked as a dependency bug and I've opened an issue on bower https://github.com/bower/bower/issues/2267

[2016-04-27 20:47] julkiewicz commented on #5857
Not exactly sure if that was the root cause, however I found one missing dependency in ember-cli-build. After installing it, the build process seems to reload correctly after file changes.

[2016-04-27 21:04] stefanpenner commented on #5857
i suspect a broken or out of date node_modules tree. Good that you found a mysterious work around. If it comes up, please try to provide a reproduction (either publicly, or ping drop by dev-ember-cli on slack and maybe someone has time and you can provide the app privately so it can be debugged).

[2016-04-27 21:04] #5857 closed

[2016-04-28 04:46] nathanhammond commented on #4570
Alternatively, just implemented as an addon, and then we can test it out.

[2016-04-28 05:22] nathanhammond opened #5858 "Run tests outside of the ember-cli folder."
We run all of our tests inside of the ember-cli folder which means we were unable to detect this failure: https://github.com/ember-cli/ember-cli/pull/5851. We can probably use something like `process.chdir('..')` to run our tests in a different scope.

/cc @Turbo87

[2016-04-28 05:36] Turbo87 commented on #5858
I was wondering if we should just use a tmp folder provided by the OS?

[2016-04-28 08:15] seymores commented on #5836
No, that's the app folder where the ember app lives.

[2016-04-28 13:29] adam-knights opened #5860 "Upgrading from Ember CLI 2.4.3 to Ember CLI 2.5 is causing some sort of intermittent IIS weirdness"
Since upgrading to Ember CLI 2.5.0 from 2.4.3 occasionally after deploying a build from Jenkins if we try to navigate to any explicit URLs, other than the base URL, then we get the error

[code]

So to be clear, ```http://www.mysite.com``` works fine but the route http://www.mysite.com/products does not and you get the above.

If I re build and re deploy then the issue goes away. Something has cha

[2016-04-28 13:46] rwjblue commented on #5860
ember-cli@2.4.3 and ember-cli@2.5.0 are **extremely** similar (see the [diff here](https://github.com/ember-cli/ember-cli/compare/v2.4.3...v2.5.0)).

Did you make any other changes to your application at the same time as you upgraded ember-cli version? Updating Ember version perhaps?

[2016-04-28 13:48] adam-knights commented on #5860
Actually yes - we took ember 2.5.1 at the same time - should I close this in favor of something there?

[2016-04-28 13:50] clayreimann opened #5861 "CLI says node v5.x will soon be unsupported"
Running any ember command I see the warning `Future versions of Ember CLI will not support v5.10.1. Please update to Node 0.12 or io.js.`. I guess this PR didn't fix the issue: https://github.com/ember-cli/ember-cli/pull/4815
`
[code]

[2016-04-28 13:58] Turbo87 commented on #5861
@clayreimann the PR you linked was first involved in ember-cli v1.13.9 and you seem to be running v1.13.8. Please update ember-cli and try again.

[2016-04-28 13:58] #5861 closed

[2016-04-28 14:15] clayreimann commented on #5861
Yeah, looks like it was a homebrew + npm + permissions issue. Just came to close the bug

[2016-04-28 14:48] Turbo87 commented on #5860
@adam-knights I guess without a way to reproduce this issue there isn't much we can do here.

[2016-04-28 18:37] ro0gr commented on #5687
Looks like similar issue #5336 . In fact  it's applicable not only for `.hbs` but for  `.coffee`, `.ts`,.. files too. So I would vote on fixing of broccoli stuff proposed by @rwjblue .

[2016-04-29 00:08] nathanhammond opened #5863 "Re-enable Addon Smoke Test in Windows"
In order to make AppVeyor reliable we disabled a test: https://github.com/ember-cli/ember-cli/pull/5850

We should solve the underlying issue with this test to make it reliable on Windows.

[2016-04-29 06:47] martndemus commented on #5163
@stefanpenner / @trek I would like to get this going again. Would opening an RFC be a good first step towards this?

[2016-04-29 07:04] nathanhammond commented on #5163
@martndemus Yes! We'd love to think through the design with you. I recommend biting off small pieces, one at a time rather than trying to boil the ocean. :smile:

[2016-04-29 07:47] martndemus commented on #5163
If at all possible. Can we set up a short hangout to discuss?

[2016-04-29 14:37] stefanpenner commented on #5163
There are several people who are interested. Cc @searls  and others. Ya we should setup some sort of sync up hangout

[2016-04-29 15:09] searls commented on #5163
:+1: I am in.

[2016-04-29 17:18] rwwagner90 commented on #3490
This is no longer an issue, that I know of. I have since switched to sass. Closing.

[2016-04-29 17:18] #3490 closed

[2016-04-29 19:00] stevenwu opened #5866 "Unable to run `ember init` in v2.6.0-beta.2"
Running `ember init` gives me `Cannot read property 'discoverChildAddons' of undefined`
.

ember-cli: 2.6.0-beta.2
node: 6.0.0
os: darwin x64
npm: 3.8.8

---

Output from ember version --verbose:
[code]

[2016-04-29 19:04] stefanpenner commented on #5866
in what context is this being run.

[2016-04-29 19:12] stevenwu commented on #5866
I'm running it as part of the Project Update steps in upgrading cli versions.

[2016-04-29 20:46] Turbo87 commented on #5745
we've traced this down to https://github.com/ember-cli/ember-cli/pull/5561 and https://github.com/ember-cli/ember-cli/blob/17619b8f949a200122df62b7a14c66ea7e68f932/lib/models/addon.js#L684-L686 in particular

[2016-04-29 21:59] Turbo87 opened #5868 "ember-cli-legacy-blueprints overrides ember-data blueprints"
In our current beta release, which is the first to ship [ember-cli-legacy-blueprints](https://github.com/ember-cli/ember-cli-legacy-blueprints), the ember-data blueprints don't seem to have priority anymore. It seems that https://github.com/ember-cli/ember-cli-legacy-blueprints/blob/master/package.json#L77 needs to be changed to `before` instead of `after`.

[2016-04-29 22:03] Turbo87 commented on #5866
@stevenwu this most likely isn't related but could you check whether it works with node 5.x?

[2016-04-29 22:19] #5745 closed

[2016-04-29 23:13] Turbo87 commented on #5493
@stefanpenner I just noticed that `package.json` for new apps doesn't include any `ember-app` keyword, so that approach isn't really an option... we could however check if the project includes `ember-cli` as a dependency

[2016-04-29 23:24] rwjblue commented on #5493
We already have a helper method for that: https://github.com/ember-cli/ember-cli/blob/master/lib/models/project.js#L155-L157

[2016-04-29 23:53] stevenwu commented on #5866
@Turbo87 I tried it with node 5.11.0 and npm 3.8.7, and it's the same error. There are no issues if I start a new project with beta1 and upgrade to `v2.6.0-beta.2`.

[2016-04-29 23:55] Turbo87 commented on #5866
from what previous version did you upgrade?

[2016-04-29 23:57] stevenwu commented on #5866
v2.6.0-beta.1

[2016-04-30 00:17] rwjblue commented on #5866
@stevenwu - can you print the output of `npm ls core-object` for us?

[2016-04-30 01:23] stevenwu commented on #5866
@rwjblue
[code]

I've also created a project with the same packages here https://github.com/stevenwu/demo-2.6.0-beta.2

[2016-04-30 01:28] rwjblue commented on #5866
Can you tell me what the version is in `node_modules/core-object/package.json`?

[2016-04-30 01:31] stevenwu commented on #5866
0.0.3?
[code]

[2016-04-30 02:49] luaecliper opened #5871 "Javascript Error"
Serer set up log:
[code]
Errors at the bottom.

Ubuntu 4.4.3
Current Ember Version
---

Output from ember version --verbose:
[code]

[2016-04-30 04:37] stefanpenner commented on #5871
Looks like you might have an old broken npm, please upgrade to 3.8.1 or newer and try again.

Our ci passes in Linux, so I suspect we are fine. Otherwise post upgrade if the problem exists, please provide steps to reproduce an we can reopen.

[2016-04-30 04:37] #5871 closed

[2016-04-30 04:39] stefanpenner commented on #5866
That looks ancient. Maybe some old/broken dep?

[2016-04-30 12:35] Turbo87 commented on #5838
@sophypal is this similar to https://github.com/ember-cli/ember-cli/issues/5745?

[2016-04-30 12:50] rwjblue commented on #5866
@stefanpenner - I believe that 0.0.3 was what was used by ember-cli through 2.6.0-beta.1 (we bumped to 2.0.0 in -beta.2).

@stevenwu - Can you clear node_modules and do a fresh npm install?

[2016-04-30 13:23] stefanpenner commented on #5866
ah ok

[2016-04-30 13:27] stefanpenner commented on #5866
seems like 0.0.2 https://github.com/ember-cli/ember-cli/blob/v2.6.0-beta.1/package.json#L60 ... still strange, cloning the example repo now.

[2016-04-30 13:33] stefanpenner commented on #5866
\w debugging flags it suggests the issue is something between ember-cli + ember-font-awesome (likely the core-object upgrade) going to look forward, but removing that dependency results in no issue..

[code]

[2016-04-30 13:39] stefanpenner commented on #5866
https://github.com/martndemus/ember-font-awesome/pull/91 fixes the issue in font-awesome

[2016-04-30 14:59] stefanpenner commented on #5866
Alright, I think i've gotten to the bottom of it.

https://github.com/ember-cli/core-object/pull/32 but that has exposed some more issues, which i'm investigating now

[2016-04-30 15:01] sophypal commented on #5838
It is the same.  Closing.

[2016-04-30 15:01] #5838 closed

[2016-05-01 13:45] #5868 closed

[2016-05-01 21:58] donahchoo commented on #4077
@stefanpenner please reopen this since https does not work unless you cached your password.  if you have not cached your password you should get prompted for it.

[2016-05-01 23:33] robbiepitts commented on #5487
Added a PR (#5873) for:

[2016-05-02 12:21] maerten commented on #5857
I get the same error when taking the following reproducible steps:

[starting with a ember project that compiles without problems]
1. create a little syntax error in a .js file e.g. "somefile.js" (i just removed a closing parenthesis somewhere)
2. start 'ember serve'

    The Broccoli Plugin: [Babel] failed with:
    SyntaxError: myproject/routes/somefile.js: Unexpected token (14:75)

3. fix the s

[2016-05-02 14:22] stefanpenner commented on #5857
@maerten ya that's a different issue, I am aware of it. Hopefully will have time this week to address

[2016-05-03 15:52] Gaurav0 commented on #4517
@locks @stefanpenner @trabus Please update labels, PRs were merged.

Please note the merged PRs create helper integration tests, but do not make them default, so additional work is necessary to close this issue.

[2016-05-03 18:29] les2 opened #5876 "environment.baseURL is interpreted as regex by tests-server"
Trying to use a `baseURL` of `/foo/++` doesn't work (you can't serve the app with ember `serve`).

According to [some specification](http://tools.ietf.org/html/rfc3986#section-3.3), `+` should be allowed in the URL segments.

# Steps to Reproduce
1. Create a new ember project: `ember new foo`
2. Change the baseURL in `config/environment.js` to `/foo/++`
3. Try to serve the app with `ember serve`

[2016-05-03 20:58] rwjblue commented on #5876
Issue is with https://github.com/ember-cli/ember-cli/blob/v2.4.2/lib/tasks/server/middleware/tests-server/index.js#L20.

Solution would be operate on plain strings instead of the regexp.  Something like this around [here](https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/server/middleware/tests-server/index.js#L35) should do the trick:

[code]

[2016-05-04 07:46] KseniaLass commented on #5567
@rwwagner90 it's work! thank you :)

[2016-05-04 12:54] vedharish opened #5878 "Routing error on IE8/9"
Hello,

I was trying to run tests with ember-cli and had a weird issue. I had opened up issues testem/testem#846 and emberjs/ember.js#13368 and have been told to report it here.

The issue is that when I run the sample tests that ember-cli generates automatically with `ember new-app`, the tests run fine except on IE8 and IE9. I tried this locally and on BrowserStack.

Basically the tests just hang

[2016-05-05 18:14] mike-north opened #5880 ""ember install package@version" fails after npm"
### What went wrong

I (and I think most users) expect `ember install` to match reasonably with `npm install` in terms of support for the way packages are defined. For example, I would expect both of these to result in the same version of the package being added to my project:

[code]

I'm now seeing that what happens if you attempt the `ember install` above is that the modification is made to `pa

[2016-05-05 21:37] les2 commented on #5876
there should be a "pattern.quote" function we can use. need to Google exact function name. will attempt pr when i get a moment.

[2016-05-05 21:40] les2 commented on #5876
see escape function here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions

[code]

No built in function in js.

[2016-05-05 23:45] rwjblue commented on #5876
I don't think we need the regexp version  seems like a simple req.path.indexOf would work, no?

[2016-05-06 03:59] kellyselden commented on #5487
@courajs I updated the text. I forgot the addon references.

[2016-05-06 09:03] Turbo87 commented on #5880
this might be related to https://github.com/ember-cli/ember-cli/pull/5752

[2016-05-06 09:48] mike-north commented on #5880
very likely. For any others coming across this issue, it affects `this.addAddonToProject` as well, and thus is affecting some addons with nested other addons.

[2016-05-06 16:20] rwjblue opened #5884 "Allow `ember destroy some-addon-name`"
It should be possible to run `ember destroy some-addon` (if only for testing) destruction of an addon's default blueprint.

With `ember generate`, we defer to the blueprint itself (where it is common for the addon to implement a `normalizeEntity` function that allows no entity name to be specified) to throw an error if the entity name is not valid, see:

* https://github.com/ember-cli/ember-cli/bl

[2016-05-08 17:19] knasim commented on #3087
was there any solution to this problem ?

[2016-05-09 10:26] Turbo87 commented on #5667
I think this has been solved by https://github.com/ember-cli/ember-cli/pull/5867

[2016-05-09 10:26] #5667 closed

[2016-05-09 12:06] ivanjolic95 opened #5888 "Not rendering inline components after upgrade to v2.5.0"
I was using ember-cli v2.3.0-beta.2 and after I upgraded my app to 2.5.0 it stopped rendering inline components. So lets say I have a simple `test-component` and it contains just a simple paragraph. When I include it in my route template it renders:

[code]

Here are my package.json devDependencies:

[code]

---

Output from ember version --verbose:
[code]

[2016-05-09 13:32] mohlek opened #5889 "Install addons behind a proxy"
I'm having trouble with installing addons through ember-cli.
I tried to install the addon ember-cli-pace.
Due to the restrictions of my company i am forced to use a private bower cache with proxy
However `ember install ember-cli-pace` generates the following output:

[code]

Using bower manually (`bower install pace`) works fine. But it doesn't solve my problem as ember-cli wants to install it any

[2016-05-09 14:06] mohlek commented on #5889
adding a log to [bower-install.js](https://github.com/ember-cli/ember-cli/blob/b8344a8455b6c79c76853e680a69c70fa4228279/lib/tasks/bower-install.js#L27)
`console.log("%o", config);`
result in:
[code]

[2016-05-09 15:09] nmcclay commented on #3938
I have recently started digging into this matter as well, and I am wondering if its possible to change the name of this file to something other than `addon.scss` or remove it entirely.

[2016-05-09 20:59] fahian opened #5890 "Observer not working when using component Helper after one time"
When we use component helper instead of directly using component name then the observer is not working after 1st usage.

Here is a JSBin link for a demo of the issue. http://jsbin.com/sefubazika/edit?html,js,output

Here is a JSBin link for a demo of the same code without component helper (directly using component name) where the observer works http://jsbin.com/cemavoqifo/edit?html,js,output

[2016-05-10 00:58] #5890 closed

[2016-05-10 00:58] stefanpenner commented on #5890
Doesn't seem related to ember-cli, maybe an ember issue?

[2016-05-10 01:16] fahian commented on #5890
it could be. But i found out the issue while working on ember-cli project.

[2016-05-10 02:07] stefanpenner commented on #5890
most likely is't, as ember-cli doesn't modify ember and your reproductions demonstrate the issue exists without ember-cli

[2016-05-10 05:29] trentmwillis commented on #5858
Why not just move/rename the `package.json` during the test? I've taken that approach in tests before that use find-up behavior.

[2016-05-10 08:00] Turbo87 commented on #5889
@mohlek that indeed looks like a bug to me. do you want to take a look into solving this? I think once the actual bug is identified it should be reasonably easy to fix.

[2016-05-10 08:04] mohlek commented on #5889
I would have solve it on my own but I must admit I don't know how.
Any help would be great.

[2016-05-10 08:23] mohlek commented on #5889
This path fixes the problem for me. It requires some more testing as I can only speak for myself and that great proxy setup in my company.

[2016-05-10 12:25] Turbo87 commented on #5888
what do you mean by "inline components"? can you provide us with instructions to reproduce this issue?

[2016-05-10 12:37] ivanjolic95 commented on #5888
When I generate a simple component, let's say `test-component` and put anything into its template, let's say a paragraph and then just try to render the component in a route template (by adding `{{test-component}}`) nothing gets rendered.

Of course, I have more complex components but the result is the same.

I just downgraded to Ember v2.3.0-beta2 like it was before and everything works. Not sure

[2016-05-10 12:44] Turbo87 commented on #5888
so what you're saying is the following doesn't work for you?

- `ember new foobar`
- `ember generate component test-component`
- add `foobar` to `templates/components/test-component.hbs`
- `ember generate template application`
- add `{{test-component}}` to `templates/application.hbs`
- verify that `ember serve` shows `foobar`

[2016-05-10 13:25] rwjblue commented on #5888
Can you please provide a demo repo so we can help debug further? There is almost certainly something specific to your app that is causing this issue (otherwise many many people would be having the same problem), creating a demo repo will help you isolate what specifically triggers the issue...

[2016-05-10 19:39] mike-north opened #5893 "Inappropriate asset URL construction in v2.6.0-beta.2"
I'm seeing improperly constructed asset URLs in newly-created addons in `v2.6.0-beta.2`

### To reproduce

1. create a new addon
2. remove `ember-welcome-page` from `package.json`
3. `ember s`
4. http://localhost:4200
5. Open dev tools (and refresh)

You'll see something like this

![screen shot 2016-05-10 at 12 24 13 pm](https://cloud.githubusercontent.com/assets/558005/15159952/1b8826f4-16ac-11e

[2016-05-10 19:47] rwjblue commented on #5893
The ember-cli@2.6.0-beta.2 blueprint does not include `{{rootURL}}` in the `<script>` tags ([see here](https://github.com/ember-cli/ember-cli/blob/v2.6.0-beta.2/blueprints/app/files/app/index.html#L20-L21)).

I suspect you ran `ember new foo` while using ember-cli#master, and then the subsequent app ended up using `2.6.0-beta.2`.

[2016-05-10 20:32] mike-north commented on #5893
aha, you are correct. My _project_ ember-cli version ends up being whatever is in the blueprint, despite the global version of ember-cli being some sha.

[2016-05-10 20:33] #5893 closed

[2016-05-11 00:15] erichonkanen commented on #5415
@stefanpenner I'm confused.. I just ran into this when trying to spin up testing for an ember 2.5 app that also has content security policy set. is the only way to fix this to remove that?

[2016-05-11 08:22] bobisjan commented on #5888
Hi everyone,

I've recently encountered the same issue. What I can tell after some digging - when looking for component's template in  [Container.prototype.lookup](https://github.com/emberjs/ember.js/blob/v2.5.1/packages/container/lib/container.js#L188) the [Registry.prototype.expandLocalLookup](https://github.com/emberjs/ember.js/blob/783a656e105a7121fc0dc38374931880d14b6bc3/packages/container/li

[2016-05-11 12:02] ziali088 opened #5897 "unable to install ember-cli globally - deprecated lodash-node and graceful-fs"
[code]
npm version: 2.15.1
node version: 0.12.14

Hi team,

The following happens when running `sudo npm install -g ember-cli`:

[code]

The `ember` command is not installed after the above command is finished, could I have some info on how to install the ember-cli properly in this case?

thanks!

[2016-05-11 14:13] Turbo87 commented on #5897
this was already reported in https://github.com/ember-cli/ember-cli/issues/5539

also: you shouldn't need to use `sudo` to install NPM packages globally. maybe that is the actual problem here?

[2016-05-11 14:13] #5897 closed

[2016-05-11 14:38] ziali088 commented on #5897
ah thanks for the reference, i have tried without sudo and it makes no difference. thank you!

[2016-05-12 01:31] marcemira commented on #5600
Hey guys, my package.json is fine. But I'm having the following error while trying to run ember server:
[code]
my package.json:
[code]

[2016-05-12 04:27] stefanpenner commented on #5600
can you provide a repo on github that demonstrates the issue please.

[2016-05-12 04:34] stefanpenner commented on #5897
seems to work fine, merely a harmless warning.

[2016-05-12 04:35] stefanpenner commented on #5888
please provide a repo demonstrating this issue, otherwise this isn't terribly actionable.

[2016-05-12 05:38] marcemira commented on #5600
Solved it removing `broccoli-sass`. Wasn't using it actually..

[2016-05-12 07:11] mohlek commented on #5889
If anybody else stumbles upon this issue, you can copy your `.bowerrc` to your home directory as a temporary workaround.

[2016-05-12 08:32] ziali088 commented on #5897
yes you're right, sorry for the premature report. it was a permissions issue, so i installed nvm and got everything working from there.

[2016-05-12 16:12] stefanpenner commented on #1853
Although this sucks, this isn't really a bug. We will need to explore improving the world of css (from add-ons) CSS is strange thing when it comes to composition, which makes it strange.

Anyways, I'm closing this issue. As this issue tracker should stay on focus, and be for bugs. That doesn't mean we don't care, but this needs to be explored from RFC / POC and in. Work like @pixelhandler post is

[2016-05-12 16:12] #1853 closed

[2016-05-12 16:14] stefanpenner commented on #3340
I agree, but this needs RFC. Closing as now that we have an RFC process these "wish" issues are no longer needed

[2016-05-12 16:14] #3340 closed

[2016-05-12 16:15] stefanpenner commented on #3418
As of recently @ef4 added the ability to find the root app. We will also continue to tackle this as @chadhietala's work evolves.

Closing as now that we have an RFC process these "wish" issues are no longer needed. This is totally on the radar as a "thing that sucks" but the current state is by-design, we hope to improve going forward.

[2016-05-12 16:15] #3418 closed

[2016-05-12 16:16] #3420 closed

[2016-05-12 16:16] stefanpenner commented on #3424
this will likely stick around for now, but when the new modules work lands will be revisited (although we will do our best to support this until it is reasonable to remove it)

[2016-05-12 16:16] #3424 closed

[2016-05-12 16:17] stefanpenner commented on #3529
Basically, I think we are going to make the switch to eslint and call it a day.

@Turbo87 your on-board with that correct?

[2016-05-12 16:17] stefanpenner commented on #3607
@dgeb / @rwjblue is this something we are handling in the new modules work?

[2016-05-12 16:19] stefanpenner commented on #3664
I'll try to work on an RFC for this

[2016-05-12 16:19] stefanpenner commented on #3702
we are ever so close now.

[2016-05-12 16:20] #4200 closed

[2016-05-12 16:23] stefanpenner commented on #4517
I think they are updated, let me know if i missed something

----
thanks for the follow up sounds like the status is as follows:

- [x] create helper integration tests
- [ ] they need to be default

[2016-05-12 16:25] stefanpenner commented on #4647
I have been experimenting with some POC again lately, I hope to carve out some more time soon.

[2016-05-12 16:27] stefanpenner commented on #4658
Will reopen if a repo reproducing the issue is provided on latest

[2016-05-12 16:27] #4658 closed

[2016-05-12 16:30] stefanpenner commented on #4933
@lukemelia is this still an issue? (i suspect so)

[2016-05-12 16:36] stefanpenner commented on #5135
This is largely by design today (yes it is crappy) We are going to be focusing on addons/nested-addons/peer-addons and these problems in broad strokes this year. It is unlikely that we will solve this issue piecemill but as part of a larger design.

We absolutely care about this, but wont be tracking this issue independently. We will be sure to include it in the addon rework.

[2016-05-12 16:36] #5135 closed

[2016-05-12 16:41] stefanpenner commented on #5366
@runspired got any spare cycles in-sight?

[2016-05-12 16:45] rwjblue commented on #3529
Yes, that has also been my plan (RE: testing RFC).

[2016-05-12 16:46] stefanpenner commented on #5600
@marcemira can you share a basic repro that demonstrates this? My quick attempt did not demonstrate.

[2016-05-12 16:49] stefanpenner commented on #5297
@hjdivad you and me should take a look at this one soon.

[2016-05-12 16:52] stefanpenner commented on #5402
likely best as an RFC  or RFC issue

[2016-05-12 16:52] #5402 closed

[2016-05-12 16:55] stefanpenner commented on #5428
@trentmwillis you may be the individual with the most context for this part, mind looking into it?

[2016-05-12 16:57] stefanpenner commented on #5750
Im pretty sure this is related to: https://github.com/ember-cli/core-object/pull/32

[2016-05-12 16:58] stefanpenner commented on #5863
This likely needs investigation/exploration to see what is going on on windows.

[2016-05-12 16:59] stefanpenner commented on #5860
Will reopen with reproduction, even snapshots of the code that works and the code that doesn't (running) but without that this is unfortunately not actionable :(

[2016-05-12 16:59] #5860 closed

[2016-05-12 17:00] stefanpenner commented on #5716
Ya most likely, but needs to be confirmed.

[2016-05-12 17:00] stefanpenner commented on #5716
@chbonser thank you for the detailed issue, will try to find time soon to dig in.

[2016-05-12 17:01] stefanpenner commented on #5827
I'm pretty sure the issue is the same as the one we see in rebuilds sometimes. @hjdivad most likely an issue with how we handle directories in fs-tree-diff.

[2016-05-12 17:03] stefanpenner commented on #5849
@villander maybe they will allow a private repo, shared with one of the ember-cli core team members? This would allow us to likely figure it out quickly, short of that I don't really know how to help.

[2016-05-12 17:04] stefanpenner commented on #5858
options:

1. use a tmp folder provided by the OS
2. I was wondering if we should just use a tmp folder provided by the OS?

compare/constrast?

[2016-05-12 17:04] stefanpenner commented on #5876
@les2 friendly ping

[2016-05-12 17:06] stefanpenner commented on #5878
@vedharish thanks for the detailed issue, sorry we haven't had a chance to dig in yet.

[2016-05-12 17:07] stefanpenner commented on #5888
seem related or a duplicate to: https://github.com/ember-cli/ember-cli/issues/5849

[2016-05-12 17:25] ivanjolic95 commented on #5888
I'll try to reproduce a repo with same configuration and bug on weekend and put a link here. Thanks everyone!

[2016-05-12 17:48] stefanpenner commented on #5888
@ivanjolic95 thank you kindly

[2016-05-12 19:15] runspired commented on #5366
@stefanpenner yes, and found some people who will help on this too, and already fixed a few bugs / edge cases

[2016-05-12 19:26] Turbo87 commented on #5858
I think that would probably be best. If /tmp is on a memfs that might even speed up the tests.

[2016-05-12 19:30] Turbo87 commented on #3529
In general yes, but there a still a few remaining pieces that are hardcoded to jshint which we need to address first

[2016-05-12 19:53] andreventuravale commented on #5101
Me too, facing the same issue.

[2016-05-12 19:58] bobisjan commented on #5888
Sorry, it was a false alarm in my case - at first time I didn't realize that I overwrote `componentFor` on `ComponentLookup`.

[2016-05-12 20:17] egee-irl commented on #1219
It's unclear as it whether or not Ember supports component sub-directories. Some comments claim Ember supports it, while other comments do not. The official documentation does not say anything about sub-directories.

I am coming from the AngularJS world and my simple Ember project has 23 components. It seems like an oversight that sub-directories are not supported.

[2016-05-12 20:45] stefanpenner commented on #5366
@runspired sweet!

[2016-05-12 20:46] stefanpenner commented on #3529
@Turbo87 is there a tracking issue?

[2016-05-13 05:00] Turbo87 commented on #3529
I don't think so. Example of what I was talking about: https://github.com/ember-cli/ember-cli/pull/5895

[2016-05-13 16:50] dgeb commented on #3607
@stefanpenner There's a [section in the module unification RFC](https://github.com/dgeb/rfcs/blob/module-unification/text/0000-module-unification.md#es-modules) that describes ES module imports, including an example in which a component is imported into another component:

------------------

ES module paths will be formed from a project's package name followed by a
direct mapping of file paths fr

[2016-05-13 17:04] stefanpenner commented on #3607
@dgeb thanks, so it seems like the modules RFC improves this.

---

The pods are more or less frozen, as they will be replaced by the modules proposal when it lands. This issue will most likely not be addressed.

[2016-05-13 17:04] #3607 closed

[2016-05-13 23:12] jeremiahlee commented on #2551
Since Nov 2014, HTTP/2 availability has increased to [70% of Internet users](http://caniuse.com/#feat=http2). I think the world benefiting from lack of concatenation has arrived.

Has this been made an option since Nov 2014?

[2016-05-14 15:20] stefanpenner commented on #2551
Well, it isn't that straight-forward yet, the overhead of many small files is still very real.

We have a prototype, but it required some other work be completed first (before we could deliver it to all our consumers), and that work is near completion. When that completes we hope to give it another whirl.

cc @chadhietala

[2016-05-14 15:36] chadhietala commented on #2551
Khan Academy has done some research in this area.  http://engineering.khanacademy.org/posts/js-packaging-http2.htm I feel we need to strike a balance.

[2016-05-15 02:38] stefanpenner commented on #2551
@chadhietala good link, ya my thoughts as well. Split the current mega bundle into logic chunks "engines" and use HTTP2 when available etc.

[2016-05-16 14:00] akarineb opened #5903 "Error: ENOTEMPTY: directory not empty, rmdir"
I'm trying to sign my extension mozilla with jpm but is always giving the same mistake in xpi

"JPM [error] FAIL
Error: ENOTEMPTY: directory not empty, rmdir 'C:\Users\ANAKAR~1\AppData\Local\Temp\tmp-extracted-xpi-6604RrKjbXCVw94C\modules'
at Error (native)
at Object.fs.rmdirSync (fs.js:763:18)
at _rmdirRecursiveSync (C:\Users\AnaKarine\AppData\Roaming\npm\node_modules\jpm\node_modules\tmp\lib\tmp

[2016-05-16 16:46] flpms commented on #5323
How it was solved?

I'm getting a similar error when update to version 2.5, follow stack trace.

[code]

[2016-05-16 18:00] stefanpenner commented on #5323
looks like you don't have a complete `npm install` run. I would delete node_modules and try `npm install` again. Be sure to use 3.8.x > npm

[2016-05-16 21:44] stefanpenner commented on #5903
@akarineb sorry, I'm not sure how this relates to ember-cli. What is JPM ?

[2016-05-16 21:45] kdhunter commented on #5480
This fails reliably for me on a completely vanilla (right after "ember new" with no changes) project from ember 2.5.

KDH-MBP15:ember kevin$ ember version
ember-cli: 2.5.0
node: 0.12.14
os: darwin x64

KDH-MBP15:ember kevin$ ember new serve-bug
installing app
  create .bowerrc
  create .editorconfig
  create .ember-cli
  create .jshintrc
  create .travis.yml
  create .watchmanconfig
  create READM

[2016-05-17 15:55] SpikedKira opened #5904 "Docs: generator options"
http://ember-cli.com/extending/#generators-and-blueprints

"The afterInstall and afterUninstall hooks receives the same arguments as locals"

"ember generate controller foo --type=array --dry-run"
"The object passed to locals looks like this:"
[code]

I believe options.entity.options is incorrect.
Seems like I am receiving:
[code]

[2016-05-17 16:11] frederikbosch commented on #5903
Im also running into this. When running `ember s` or `ember build` the dist folder is not empty. The error shows when running twice or more.  Im using `Funnel` to copy additional assets.

[code]

[2016-05-17 16:18] stefanpenner commented on #5903
@frederikbosch yes that issue is already known and has an open issue.

[2016-05-17 16:20] frederikbosch commented on #5903
@stefanpenner Alright, I ran into the issue, thought it was this one so I replied here.

[2016-05-18 01:57] NullVoxPopuli opened #5905 "Implement module unifications resolution (new ember project layout)"
I didn't see any open/closed issues for this, but it would be really cool to have!

https://github.com/dgeb/rfcs/blob/module-unification/text/0000-module-unification.md#example-application

[2016-05-18 02:03] akarineb commented on #5903
@frederikbosch
sorry , I think something happened and the information disappeared without my noticing.
already I put everything back up

[2016-05-18 07:34] Turbo87 commented on #5904
@SpikedKira thanks for reporting this. could you raise this issue at https://github.com/ember-cli/ember-cli.github.io?

[2016-05-18 11:32] frederikbosch commented on #5903
@stefanpenner I think this one can be closed then.

[2016-05-18 13:54] SpikedKira commented on #5904
my bad; https://github.com/ember-cli/ember-cli.github.io/issues/78

[2016-05-18 14:00] Turbo87 commented on #5904
cool, thanks!

[2016-05-18 14:00] #5904 closed

[2016-05-18 16:35] kellyselden opened #5906 "phantomjs --version in .travis.yml is wrong version"
found here https://github.com/ember-cli/ember-cli/pull/5901#issuecomment-219645184

might need to change to something like `node_modules/phantomjs-prebuilt/bin/phantomjs --version`. I might get to it, but anyone feel free to fix!

[2016-05-18 16:56] Turbo87 commented on #5906
given that the test output shows the major and minor version of PhantomJS and the `npm install` output even shows the patch version, is there a need to printing it to the console at all?

[2016-05-18 16:58] stefanpenner commented on #5903
@akarineb Can you share what JPM is, and how ember-cli relates to it?

[2016-05-18 16:59] kellyselden commented on #5906
I guess the only benefit is it is in an expected place with the other version printers. You don't have to go searching.

[2016-05-18 17:02] frederikbosch commented on #5903
@stefanpenner I guess it is [this package](https://www.npmjs.com/package/jpm).

[2016-05-18 17:04] stefanpenner commented on #5903
Yes, but I'm still unclear how ember-cli relates to it. From my perspective this issue doesn't yet seem related to this project.

[2016-05-18 17:05] stefanpenner commented on #5903
Ok concretely, https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md outlines what is required for a actionable issue. Using that, please update/amend this issue so we can see whatsup.

[2016-05-18 17:07] frederikbosch commented on #5903
@stefanpenner If I were you, I would close the issue. Nobody can make any sense of the original report in relation to ember-cli.

[2016-05-18 17:08] #5905 closed

[2016-05-18 17:08] stefanpenner commented on #5905
Not a bug, but a whole new feature. https://github.com/ember-cli/rfcs is more appropriate.

[2016-05-18 17:10] stefanpenner commented on #5903
My guess is an ember add-on is invoking jpm, and jpm may not work correctly on windows. If that is the case, I suspect jpm would be the one requiring the issue. But i suspect with some more info we would be able to diagnose or atleast pull in the right people. I would love for our friends over at mozilla to get a good bug report out of this.

[2016-05-18 17:11] stefanpenner commented on #5903
@teddyzeenny any thoughts?

[2016-05-18 17:12] NullVoxPopuli commented on #5905
oh cool, thanks. I didn't know where to post that kinda stuff. I'll keep that in mind for next time!

[2016-05-18 17:13] stefanpenner commented on #5905
@NullVoxPopuli nope this was fine.

i'll defer to @rwjblue  to decide if we also need an ember-cli rfc or not.

[2016-05-18 17:30] rwjblue commented on #5905
We will definitely need an ember-cli RFC to propose the specific node-land API's that will support the main Ember RFC.  However, I would like (and am working towards) having a spike that we can use to inform the specific ember-cli RFC.

[2016-05-18 18:08] devinus commented on #5415
@erichonkanen No, it's a problem with ember-csp: https://github.com/rwjblue/ember-cli-content-security-policy/issues/63

[2016-05-18 19:56] RichardSilveira commented on #3087
@knasim : So, let me check something, should i uninstall npm an reinstall it as my current user?

[2016-05-18 21:59] #5903 closed

[2016-05-18 23:59] teddyzeenny commented on #5903
Ember Inspector uses @rpl's [grunt-jpm](https://github.com/rpl/grunt-jpm). It's a great tool and we're having no issues with ember-cli + jpm at the moment. Though an ember-cli-jpm addon could be a good idea too 👍 as we currently finish the ember-cli build, take the built `dist` folder, and then switch to grunt to use jpm - which means the build process is kind of split into two parts/tools at the

[2016-05-19 07:06] rishirajdev commented on #4833
@tahniyatkazmi  check your ember process by `ps -ef` command

[2016-05-19 21:38] ErunamoJAZZ commented on #5408
I have the same issue with ember-cli 1.13.15.

We are using rx-dom (this use xhr internally), and server don't understand the request. My question is, this is happening with new ember-cli version too?

[2016-05-19 21:56] nathanhammond commented on #5451
Dropping this issue back to @hansl.

[2016-05-19 23:20] les2 commented on #5876
got some vacation coming up tomorrow. hoping to submit PR then.

[2016-05-20 00:22] briarsweetbriar opened #5908 "Custom blueprint creates mismatched paths for addons/apps"
I've got an example of this [here](https://github.com/null-null-null/blueprint-example).

Steps to reproduce:

1) Create an addon: `ember addon my-addon`
2) Create a custom blueprint: `ember g blueprint my-blueprint`
3) Have the blueprint populate folders other than it's name:

[code]

4) Use the blueprint: `ember g my-blueprint foo`
5) Note the mismatch:

[code]

6) Checkout `app/my-blueprints/fo

[2016-05-20 00:49] les2 commented on #5876
actually looking at this now

[2016-05-20 01:41] les2 commented on #5876
unit test is hardest part :(

[2016-05-20 02:44] les2 commented on #5876
Okay - got a PR. Wrote unit test (first) demonstrating bug and then fixed (in case folks are into that kinda thing). Let me know if you want the commits squashed - was trying to make the review easier.

Also let me know if I've made some newbie style mistakes.

[2016-05-20 03:07] Dan503 commented on #4661
I was following the [quick start guide](https://guides.emberjs.com/v2.5.0/getting-started/quick-start/) and ran into this issue when I tried to run the `ember serve` command.

The server started but when I go to `http://localhost:4200/` it only says `Build error` and an error message.

[code]

It's also saying this in the console:

[code]

[2016-05-20 03:30] Dan503 commented on #4661
oh, I know what the issue was now.

When I did the initial install I used this `npm install -g ember-cli` instead of `npm install -g ember-cli@2.5`.

I thought `npm install -g ember-cli` would automatically install the latest version or at least ember update would update me to the latest version but I guess not. :/

I started over with a fresh install making sure to add the `@2.5` this time and no

[2016-05-20 05:27] stefanpenner commented on #5750
Well, I think its as fixed as it can be. This transition will have some edge-cases.

Interim, add-on authors will be recommended to do:

[code]

Which is admittedly lame, eventually (when people upgrade CLI) we will be able to do:

[code]

but at-least super works correctly in new versions...

[2016-05-20 05:27] #5750 closed

[2016-05-20 06:04] Dan503 opened #5913 ""npm install -g ember-cli" does not install the latest version of ember"
I noticed this when I ran into [this issue](https://github.com/ember-cli/ember-cli/issues/4661)

`npm install -g ember-cli` does not install the latest version of ember. It installs version 0.2.7.

Since you have this on your homepage:

<img src="http://grabilla.com/06514-6d2458be-6355-49eb-8a70-ffa2f7061c7a.png">

It is very confusing for new users as the 0.2.7 version of ember doesn't work and t

[2016-05-20 06:05] #5913 closed

[2016-05-20 06:07] stefanpenner commented on #5913
`npm install -g ember-cli` with a working version of `npm` installs the most recent version (just checked). Unfortunately it is possible to have a broken/stale npm, or be connected to a stale mirror. This can cause issues. Unfortunately currently we do depend on a working version of `npm` to be already installed.

[2016-05-20 06:47] #5866 closed

[2016-05-20 12:03] ooluwadiya commented on #5880
The same issue occurs with installation from .tgz archive files e.g. https://<hostname>:<port>/<path>/addon-1.2.3.tgz

[2016-05-20 15:28] rwjblue commented on #5373
This has been fixed.  We added the ability for broccoli-persistent-filter to warn about errors even if the file itself hasn't changed since the prior build.

[2016-05-20 15:57] #5373 closed

[2016-05-20 19:18] null-null-null commented on #5908
Looks like [this](https://github.com/ember-cli/ember-cli/blob/master/blueprints/addon-import/index.js#L26) is the first half of the problem: creating the wrong folder structure. But to resolve it, we'll need to get access to the correct folder structure through the options, and I'm not sure how that's done.

The second half of the problem is [here](https://github.com/ember-cli/ember-cli/blob/maste

[2016-05-20 23:43] trentmwillis commented on #5691
To push this upstream (before a PR is opened), you could try using [commitplease](https://www.npmjs.com/package/commitplease), which is what the jQuery org uses.

[2016-05-21 10:50] smitakiran25 opened #5915 "Not Upgrading"
i tried to updated the npm latest version
[smita@vector ~]$ npm -v
3.9.2
[smita@vector ~]$ sudo npm -v
[sudo] password for smita:
3.9.2

i updated the ember latest version (v2.5.0) but its not updating its showing it as a old version v2.4.2

[smita@vector ~]$ ember -v
version: 2.4.2
Could not start watchman; falling back to NodeWatcher for file system events.
Visit http://www.ember-cli.com/user-gu

[2016-05-21 11:17] smitakiran25 commented on #5915
[smita@vector ~]$ sudo npm install -g ember-cli@2.5.0
npm WARN deprecated lodash-node@2.4.1: This package has been discontinued in favor of lodash@^4.0.0.
npm WARN deprecated cross-spawn-async@2.2.4: cross-spawn no longer requires a build toolchain, use it instead!
npm WARN deprecated graceful-fs@3.0.8: graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@

[2016-05-21 15:11] Turbo87 commented on #5915
I'm not sure what exactly the issue is here, but with NPM you shouldn't need to use sudo to install packages globally. There have been issues in the past like this and most of them could be resolved by not using sudo. (see https://github.com/ember-cli/ember-cli/issues/5897 for example)

[2016-05-21 15:11] #5915 closed

[2016-05-21 15:15] Turbo87 opened #5916 ""Acceptance: brocfile-smoke-test addon trees are not jshinted" failing"
Roughly similar to https://github.com/ember-cli/ember-cli/issues/5781 the "Acceptance: brocfile-smoke-test addon trees are not jshinted" test is currently failing again. Last time it was limited to AppVeyor/Windows, but this time TravisCI is also failing.

The [packages diff](https://gist.github.com/Turbo87/72b0688f55bcc57774756137c25014d1/revisions) this time shows an `cross-spawn-async@2.2.2 ->

[2016-05-21 18:50] Turbo87 commented on #5916
pinning cross-spawn-async to v2.1.9 doesn't seem to help this time, because cross-spawn-async isn't involved when reproduced locally on OSX.

visiting http://localhost:4200/tests?filter=jshint while running `ember serve` also shows the same issue

[2016-05-21 23:24] #5916 closed

[2016-05-22 06:18] Turbo87 commented on #5888
closing due to inactivity

[2016-05-22 06:18] #5888 closed

[2016-05-22 06:19] Turbo87 commented on #5878
@kellyselden could you take a quick look at this?

[2016-05-22 06:26] #5773 closed

[2016-05-22 06:28] #5765 closed

[2016-05-22 07:54] Turbo87 commented on #4517
@Gaurav0 can you test if everything works fine with the integration tests and then promote them to default?

[2016-05-22 20:46] #5493 closed

[2016-05-23 05:22] mike-north commented on #5880
- [ ] @martndemus can you make sure we have a test case in place for tarball URLs in #5883

[2016-05-23 18:27] kellyselden commented on #5878
Just tried with IE8. Couldn't even get the welcome page to show, let alone the tests working. 😦

[2016-05-23 18:51] erichonkanen commented on #3416
im getting this in a brand new ember/ember-cli app using latest 2.5.1

[2016-05-23 22:54] offirgolan opened #5923 "[Bug] Cannot read property 'name' of undefined"
Output from ember version --verbose:

[code]

My app was working fine until I did a full reinstall of my dependencies. I cleaned the cache for both npm and bower, reinstalled dependencies and ran `ember s` which gave me the following output:

[code]

Looks like the issue is coming from [here](https://github.com/ember-cli/ember-cli/blob/v2.4.2/lib/models/project.js#L520) where `name` is `ember-core

[2016-05-23 23:40] offirgolan commented on #5923
Looked like it was a dependency mismatch issue. Solved it by using the following npm packages:

[code]

[2016-05-24 04:19] vedharish commented on #5878
Hey @kellyselden I made a repo [here](https://github.com/vedharish/ember-tests) (I followed the steps and added the node_modules with it to the repo). This might help in reproducing the error.

[2016-05-24 05:17] stefanpenner commented on #5923
what where the packages before?

[2016-05-24 10:47] olivierlesnicki commented on #4461
How is this item going?

[2016-05-24 10:48] olivierlesnicki commented on #4461
Not sure the run tests from pods rfc is the minimum viable first step towards this

[2016-05-24 17:21] offirgolan commented on #5923
@stefanpenner

[code]

[2016-05-24 18:42] stefanpenner commented on #5923
i thought this was sorted out, it shouldn't have cost grief for older configs. Will investigate

[2016-05-24 21:31] #5280 closed

[2016-05-25 10:18] remkoboschker opened #5929 "Documentation seems outdated on using a different build than release"
The documentation reads that a ember-data release channel can be chosen in the bower.json. I believe ember-data is now an ember-addon installed via npm. Also I would like to know how I can define using the long term support release channels for ember and ember-data. Do they still exist?

[code]

[2016-05-25 13:16] LQtrio opened #5930 "Can not import font that is located in node_modules subdirectory"
Steps to reproduce:
1. `npm install semantic-ui-sass --save-dev`
2.  Add this line to ember-cli-build.js
[code]

Error-Log:
[code]
---

Output from ember version --verbose:
[code]

[2016-05-25 13:45] stavarotti commented on #5930
Hi @LQtrio.  This is a known limitation.  See https://github.com/ember-cli/ember-cli/issues/3890 for reference.  This _will_ be possible once bower support is removed.

[2016-05-25 13:58] Turbo87 commented on #5929
I assume you're talking about the documentation on the Ember CLI website. If so then please open this issue in the corresponding repo at https://github.com/ember-cli/ember-cli.github.io.

Regarding "ember-data": you are right, it is now an addon and can be changed in the `package.json` file.

LTS: "ember-data" doesn't have an LTS channel (yet), and Ember LTS can be used via `components/ember#lts-2

[2016-05-25 13:58] #5929 closed

[2016-05-25 14:04] #5930 closed

[2016-05-25 17:46] Turbo87 commented on #4948
@dukex have you tried setting it like this?

[code]

[2016-05-25 19:15] Turbo87 commented on #5280
@stefanpenner I'm beginning to think that I've deprecated the wrong thing. I just discovered that the `Addon` class also has a `concatFiles()` method that does essentially the same thing. Should that one be deprecated too?!

[2016-05-25 22:11] dmitrymatveev commented on #5408
@stefanpenner the error was that the IP and port of the built application does not match what ember-cli shows in its output... e.g. cli shows that it is configured to use `http://192.168.0.100:8888` however as you can see in the chrome screenshot, xhr request is still being addressed to `http://localhost:4200`.

I had to manually destroy and reconstruct the project using the latest ember-cli build

[2016-05-25 22:27] Turbo87 commented on #5408
@dmitrymatveev this sounds like you misunderstood how the `--proxy` feature is supposed to work. it is intended behavior that ember-data will keep connecting to the local server that the ember app is running on. that local server will however try to proxy any requests to unknown files/urls to the specified `--proxy` server in the background. this feature was basically builtin to get around CORS li

[2016-05-26 03:15] uliseschino commented on #5768
I have a project in which I moved the files to a pods structure and deleted empty folders, including templates, and in my case, I had no issues.  Might be a conflict with some add-on is causing this?

[2016-05-26 06:45] #5876 closed

[2016-05-26 15:37] pepesenaris commented on #4974
Hello, I'm using ubuntu 14.04 and getting this error. The problems is that I do installed version 3.9.0 of watchman but ember-cli somehow says it's version 4.0.0.... any thoughts here?

[2016-05-26 19:58] pepesenaris commented on #4974
Solved my particular case.
The issue was that I had version 4.1.0 installed and after installing version 3.9.0 the watchman server from 4.1 was still running. That created a very annoying situation because when asking watchman version it correctly says 3.9, but ember-cli still reports an error as it tries to use 4.1.
Solution:
`watchman shutdown-server` to stop server running 4.1

[2016-05-27 09:33] Turbo87 commented on #5795
that PR @rwjblue mentioned has been merged so I assume this issue here can be closed now as well. please reopen if the issue persists.

[2016-05-27 09:33] #5795 closed

[2016-05-27 17:09] ctjhoa opened #5937 "Hbs not minified in production"
Hi,

In production environment hbs files are not minified before compiled.

Reproduction steps:
- `ember init`
- modify the `application.hbs` as follow:
[code]
- result after a `ember build --environment="production"`
[code]

Create a node not trimed before the compile task increase the size of the dist `.js` for no reason.
We can also reproduce this issue with eol and see node with `\n` added to

[2016-05-27 17:10] Gaurav0 commented on #4517
@Turbo87 So I found some issues and added PRs.

[2016-05-27 19:45] chris-pauley commented on #1634
Any update on this? Currently working on a project that would greatly benefit from having the pod structure available in an in-repo-addon.

[2016-05-27 21:47] rwjblue commented on #5937
This isn't a bug. Whitespace cannot be stripped from a framework standpoint. There are a number of cases where the whitespace is intended to be displayed as written in the template, and we cannot determine thise scenarios automatically.

[2016-05-27 22:41] markie2902 commented on #1607
@20v100 where did you say you added import moment from 'moment' ?

[2016-05-27 23:09] ctjhoa commented on #5937
@rwjblue AFAIK, according to the [HTML specification](https://www.w3.org/TR/REC-html40/struct/text.html#h-9.1) :

Which other scenarios do you have in mind ?

[2016-05-27 23:33] rwjblue commented on #5937
One example is:

https://developer.mozilla.org/en-US/docs/Web/CSS/white-space

[2016-05-28 07:39] Turbo87 commented on #5937
@ctjhoa it might be possible to do this in an addon though for those users that don't use `<pre>` or the `white-space` CSS attribute. Unfortunately I'm not aware of any HBS minifier and using htmlmin will most likely result in problems.

[2016-05-28 08:13] topaxi commented on #5937
[html-minifier](https://github.com/kangax/html-minifier/wiki/Minifying-Handlebars-templates) works with Handlebars:
https://github.com/kangax/html-minifier/wiki/Minifying-Handlebars-templates

Though this won't work with property assignments like:
[code]

I've opened an issue about this here: https://github.com/kangax/html-minifier/issues/660

[2016-05-28 13:08] rwjblue commented on #5937
It is possible to do this via an AST transform that trims TextNode's. I will try to whip up a demo...

[2016-05-28 18:10] #5937 closed

[2016-05-28 18:10] stefanpenner commented on #5937
This isn't a bug, addon seems appropriate if the addon does well and the concerns bellow or mitigated an rfc to include it in a default install is appropriate

[2016-05-29 03:35] IAmJulianAcosta commented on #5415
If anyone has this error: `not ok 1 Browser "phantomjs /Users/devinus/Projects/rebelmail-dashboard/node_modules/testem/assets/phantom.js http://localhost:7357/6864" failed to connect. testem.js not loaded?`

In my case was caused by an invalid `test_page` in `testem.json`.

[2016-05-29 20:52] dmitrymatveev commented on #5408
@Turbo87 I am sure I understand how it supposed to work. What you said is right however if you look at chrome console logs you will clearly see that requests are not addressed to proxy IP

[2016-05-30 09:19] t4t5 commented on #5849
@villander Are you using the `ember-component-css`-addon? I noticed that I had the same problem, but it got resolved when I upgraded `ember-component-css` from 0.1.7 to 0.1.9

[2016-05-30 15:45] morhook opened #5942 "Blueprint util on ember-add-on with pod wrong folder structure"
The following steps:
[code]

Latest `app` file has a wrong folder, thus breaking the build:

[code]
So this is generating a wrong folder structure (and import) in `app` structure. I would expect that the file in app was `app/utils/process.js` with the following content:
[code]

Output from ember version --verbose:
[code]

I'm not sure if this is related with #5908 , but looks like it.

[2016-05-31 06:38] adorum commented on #3760
Hi guys, I am facing the same issue, is there already working solution to split output JS into multiple files?

[2016-05-31 10:30] cesarizu opened #5945 "Cannot read property '_watchmanInfo' of undefined"
After updating to ember-cli-2.6.0-beta.3 I'm getting this error when starting an app:

[code]

Output from ember version --verbose:
[code]

[2016-05-31 14:46] Turbo87 commented on #5945
@cesarizu what version did you update from? 2.5.0 or 2.6.0-beta.2?

[2016-05-31 15:06] cesarizu commented on #5945
@Turbo87 from 2.6.0-beta.1

[2016-05-31 15:14] Turbo87 commented on #5945
@nathanhammond @stefanpenner could this be related to the CoreObject update? IIRC that got introduced in beta2, right?

[2016-05-31 15:18] cesarizu commented on #5945
I just tried with beta.2 and got this error:

[code]

[2016-05-31 15:50] cesarizu commented on #5945
Changing the failing line (`node_modules/ember-cli/lib/models/addon.js:276`) from:

[code]
to
[code]
fixes the issue.

[2016-05-31 16:12] nathanhammond commented on #5945
Hey @cesarizu! Thank you for the report.

a. Is this a brand new project? If so, can you create a simple repo with a reproduction?
b. If it's not a new project, can you share your package.json?
c. Can you trace through and identify which addon it is trying to process here:

It's likely that adding that `if` check just masks the underlying problem. We moved to a new version of core-object in the be

[2016-05-31 16:55] cesarizu commented on #5945
Here's my `package.json` file: http://paste.opensuse.org/38550443

Checking the `DAG.js` file, the last plugin to be called there before the error is `loader.js`. I tried with versions 4.0.4 and 4.0.1 and both gave the same error.

[2016-06-01 02:02] billpull commented on #5415
@IAmJulianAcosta what was the invalid vs valid diff on that field?

[2016-06-01 04:27] IAmJulianAcosta commented on #5415
@billpull in my case it was a malformed URL, IIRC, I used `tests/index.html&params`, instead of `tests/index.html?params`

[2016-06-01 15:36] zeiv commented on #2903
Can you explain a bit about why that's a bad idea?

[2016-06-01 16:32] stefanpenner commented on #2903
@zeiv it is a file/folder ember-cli claims ownership of for when a team needs additional development servers running during `ember s`

[2016-06-01 17:12] zeiv commented on #2903
Gotcha.  So for a project with an "integrated" API, on node and Express for example, would it be better to make an `api` folder within the ember-cli generated root folder, or to put the ember app into a `frontend` folder in the node root directory?

[2016-06-01 19:33] knasim commented on #3087
@RichardSilveira  yes i would def. give that a whirl.

[2016-06-02 02:52] bcardarella opened #5946 "Broccoli errors when tests/ are deleted"
According to this person on Reddit: https://www.reddit.com/r/emberjs/comments/4m49rv/disable_tests_with_ember_cli/

I would advocate that if someone decides to opt-out of the test suite for whatever reason and deletes the directory the build should not error.

I have not confirmed this as I'm on a plane and don't want it to crash due to npm install.