[2016-08-30 15:27] nathanhammond commented on #6199
Thanks for following this through until the end, @mariogintili!

[2016-08-30 16:08] notmessenger opened #6217 ""server.shutdown()" wants to be removed with "ember init" but is present when run "ember new""
I recently upgraded an application from Ember CLI 2.4.3 to 2.7.0 by upgrading to each version in-between and running `ember init`.  In each instance of doing so, for each version of Ember CLI, the following change was wanting to be made:

[code]

However, if I run `ember new` against Ember CLI 2.7.0 the *tests/helpers/destroy-app.js* file is created with the `server.shutdown();` line contained wit

[2016-08-30 16:25] nathanhammond commented on #6217
I suspect that you you have an old version of Ember CLI installed globally.

The blueprint doesn't include the `server.shutdown()` line and hasn't for exactly one year: https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/tests/helpers/destroy-app.js

I'm closing this issue as not a bug. In the mean time we will still continue to receive notifications from any followup comments

[2016-08-30 16:25] #6217 closed

[2016-08-30 16:39] notmessenger commented on #6217
Info when run `ember -v` not in an app folder (global version)

[code]

Info when run `ember -v` from within an app:

[code]

Then ran

* `npm uninstall -g ember-cli`
* `npm cache clean`
* `bower cache clean`
* `npm install -g ember-cli@2.7.0`

`ember -v` info:

[code]

**VERDICT:** The line is gone from the file.  This is interesting but I'm glad it is explained and I could provide resolution for

[2016-08-30 16:47] nathanhammond commented on #6217
Very strange. I'm not entirely sure why that happened, but it's good to know that you were able to get it sorted out. Thanks for posting all of the information for future travelers, @notmessenger!

[2016-08-30 18:16] mariogintili commented on #6199
@nathanhammond you're welcome 😄 - I've also added a small note on the ember cli guides

[2016-08-30 19:09] codered commented on #6140
I am having the same issue.

Could not start watchman; falling back to NodeWatcher for file system events.
Visit http://ember-cli.com/user-guide/#watchman for more info.
ember-cli: 2.7.0
http_parser: 2.7.0
node: 6.5.0
v8: 5.1.281.81
uv: 1.9.1
zlib: 1.2.8
ares: 1.10.1-DEV
icu: 57.1
modules: 48
openssl: 1.0.2h
os: darwin x64

[2016-08-31 06:48] codered commented on #6140
I have resolved this issue on my system (Mac OS)

The solution is as follows.

1. Change the permission on your system as follow: **sudo chown -R $USER /usr/local**
2. Re-install node using node package (dmg file)
3. Install ember using the quick start guide (**npm install -g ember-cli@2.7**)

I do not get the error anymore and it works!

**If someone else can verify this, we can close this ticket

[2016-08-31 23:37] mszoernyi opened #6219 "ember install org-name/package-name fails running defaultBlueprint"
Running `ember install remerge/ember-remerge-blueprint` will lead to

[code]

Setting the `defaultBlueprint` option in my `package.json` with

[code]

doesn't help either because [get-package-base-name](https://github.com/ember-cli/ember-cli/blob/ea866dd56d3e22501d882523cf24fc7a105fe523/lib/utilities/get-package-base-name.js#L13) doesn't set the `name` for github repositories. [npm-package-arg](ht

[2016-09-01 02:23] oswaldoferreira opened #6220 "Broccoli error when trying to load assets from node_modules"
I've tried to load a `css` file from `node_modules` folder on `ember-cli-build.js` with the following code:

`app.import('node_modules/material-design-lite/material.css');`

Double-checked the file presence but it still raises an error when I try to build.

By the way, it works just fine to load the same asset from `bower_components` folder.

Would be glad to work on this if it's a real bug.

[cod

[2016-09-01 02:30] oswaldoferreira commented on #6220
Ok, just found a related issue.
https://github.com/ember-cli/ember-cli/issues/3890

Closing.

[2016-09-01 02:30] #6220 closed

[2016-09-01 03:28] tomwayson commented on #5446
`npm i loader.js -D` worked for me

[2016-09-01 18:40] snewcomer opened #6221 "ember-cli build times w/ broccoli-viz"
Having some serious troubles with `ember s`, so I included the results of the `broccoli-viz` output and having trouble remediating the problem.  ~50-60sec is the norm.  Looks like Babel is quite the culprit and seems like it is eating up most of that time.  Any thoughts or potential solutions?  Really a downer on productivity :)

**graph.0.dot && graph.0.json**
https://gist.github.com/snewcomer/92

[2016-09-01 18:45] msmyers commented on #6066
I would like to know the special sauce to opt-in to ES6 source maps. I understand that you have decided that they are too slow, but I'd like to make that decision for myself.

I have spent about 2 hours searching and trial/error for this config, and I have been unsuccessful.

[2016-09-01 20:32] jusfeel commented on #6063
I got this error after upgrade. Running ember init couple of times. How can I find which add-on causes this? stack track has nothing useful
[code]

[2016-09-01 20:47] loganrosen opened #6222 "r"
Thank you for taking the time to open an issue!

For bug reports please include the following section in your issue details.
If you include instructions on how to reproduce the bug or a failing test case
it will make it easier for us to track down the issue you're having.

---

Output from ember version --verbose:
[code]

[2016-09-01 20:47] #6222 closed

[2016-09-02 05:50] nathanhammond commented on #6063
@jusfeel These are mostly all fixed at this point. `rm -rf node_modules && npm install` will likely cover you.

If not stop by [#-ember-cli](https://embercommunity.slack.com/messages/-ember-cli/) in the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) and seek help from the wonderful people in our community!

[2016-09-02 05:53] nathanhammond commented on #6066
@msmyers For which of the three JS transforms we do do you want source maps? There are a tremendous number of moving pieces in this to get _just_ right and being kinda wrong was worse than not trying.

https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L256

[2016-09-02 06:19] nathanhammond commented on #6221
At risk of being a smartass (which I am 😜) [this is your problem](https://gist.github.com/snewcomer/260bc762fbb818d1173a2dbb75130adf#file-package-json-L23-L84).

1. How is performance on rebuilds? Slow rebuilds implies "unstable" broccoli plugins doing too much invalidation. If rebuilds are snappy then...
2. Your problem is the sheer amount of JavaScript. How large is app.js and vendor.js? I suspe

[2016-09-02 06:19] #6221 closed

[2016-09-02 17:03] msmyers commented on #6066
First of all, thank you so much for your response. Upon reading my message the next day, I realize that I was having a particularly frustrating day attempting to get my development environment and I came across more negatively than intended.

My ultimate goal is to have ES6 modules in chrome debugging. I've been able to get sourcemaps loaded as requirejs modules, but they are not in ES6.

I'd like

[2016-09-02 17:12] nathanhammond commented on #6066
We don't actually have the ability to trace through all of our transforms right now to give you a single correct source map. Not to mention that it's slow. You're going to be hamstrung either way; I recommend just becoming familiar with doing the mental transformation back out. (It doesn't take too long before you stop noticing–I don't anymore.)

Not to say we don't want to make this better, but t

[2016-09-02 17:14] msmyers commented on #6066
I do not know how to contact you directly

I would like to donate these websites/domains to ember-cli:

www.emberjs.feedback
www.ember.feedback
www.ember-cli.feedback

[2016-09-02 17:18] msmyers commented on #6066
Thanks for your response.

This is not the response I was hoping for, but I understand, accept it, and move on.

Thank you for your time.

[2016-09-02 17:19] msmyers opened #6225 "Domain name donation"
I would like to donate these websites/domains to ember-cli:

www.emberjs.feedback
www.ember.feedback
www.ember-cli.feedback

My suggestion is to pick one and have the others redirect to the one that you pick.

The domain names come with free feedback hosted software. (this is because the .feedback TLD requires by policy that each domain name in existence *must* accept feedback from customers. So a

[2016-09-02 18:09] nathanhammond commented on #6066
@msmyers But of course! Note that my "revisit this build story" is currently scheduled to start 10/1. We don't provide delivery dates for anything because open source, but investigation is starting soon™.

[2016-09-03 05:15] snewcomer commented on #6221
Thank you.  Yeah was mainly concerned if somehow I introduced a bug if said build times were abnormal.  Rebuild times are great!

[2016-09-03 17:49] nathanhammond commented on #6221
It is abnormal because most people don't end up with applications of that size. However it's nonetheless expected.

[2016-09-05 21:39] kellyselden opened #6233 "remove `default` ember-try scenario for addons"
I feel like this is the least useful config to test against. It uses the version of ember that you used to run your dummy app. That doesn't have much to do with appropriate ranges for consuming apps. I feel like `ember-release` is often testing the same version. Thoughts?

[2016-09-06 02:10] nathanhammond commented on #6233
I agree it's already covered by `release` 99.99% of the time, it adds no value once that release is no longer supported, and slows down testing cycles.

I'm in favor of this; it ends up being "the version of Ember which was current when I first developed this addon." That's valuable information but is already encoded into the `bower.json` file inside the addon.

[2016-09-06 11:43] kamilogorek commented on #6140
@stefanpenner @codered I can confirm that this one is fixed and work as expected.

[code]

[2016-09-06 16:03] nathanhammond commented on #6140
@codered @kamilogorek I suspect that the issues you're discussing are distinct from the original issue filed. No change has been made in our Babel setup.

[2016-09-06 19:00] kamilogorek commented on #6140
@nathanhammond but there were changes to `broccoli-babel-transpiler` and `babel` itself. And because `ember-cli` is using `^` as semver range for `broccoli-babel-transpiler` it could be fixed along the way in mentioned lib.

[2016-09-06 21:13] stefanpenner commented on #3529
I'm confused, RSVP is present?

[2016-09-07 00:29] dfreeman opened #6236 "BroccoliMergeTrees EEXIST"
I suspect this is a bug in `broccoli-merge-trees` (or possibly `broccoli-funnel`) rather than the CLI itself, but I'm still working on narrowing down the exact source of the issue. When I add a new directory with e.g. a `component.js`, and then subsequently a `template.hbs` in that directory, I get the following error:

[code]

To reproduce, spin up a new app and `serve` it:

[code]

Then in a sep

[2016-09-07 00:31] dfreeman commented on #6236
Originally came across this as https://github.com/salsify/ember-css-modules/issues/43, but seeing the same thing happen with `.hbs` files as above leads me to believe it's a deeper plumbing problem.

[2016-09-07 00:49] stefanpenner commented on #6236
whats the result of `npm ls fs-tree-diff`

[2016-09-07 01:02] dfreeman commented on #6236
Looks like the only one that's not `0.5.2` is the `0.4.4` copy that's bundled directly with ember-cli:

[code]

[2016-09-07 01:04] dfreeman commented on #6236
@stefanpenner I managed to come up with a relatively simple reproduction: https://github.com/dfreeman/broccoli-merge-failure/blob/master/index.js

Looks like this is triggered when the same directory is introduced at different times in two different inputs to the tree merge.

[2016-09-07 02:38] anonrose opened #6237 "Fresh install ember stack trace on serve"
I've freshly cloned a repository, and ran `npm install && bower install` and received the following stack trace on `ember serve`.

➜  self-storage-search git:(master) ember build
`⠋ BuildingCould not require 'ember-cli-build.js': Cannot find module 'ember-cli/lib/broccoli/ember-app'`

`Error: Could not require 'ember-cli-build.js': Cannot find module 'ember-cli/lib/broccoli/ember-app'`
    `at Fun

[2016-09-07 06:22] nathanhammond commented on #6237
This is likely a broken `npm install`. Can you try `npm cache clear` and reinstalling?

I'm closing this issue as likely not a bug–we'd have tons of reports of this if it were terribly broken. If upon further investigation on your side you discover that it may in fact be a bug feel free to reopen. In the mean time we will still continue to receive notifications from any followup comments on this i

[2016-09-07 06:22] #6237 closed

[2016-09-07 13:36] sescobb27 commented on #3529
sorry, I mean RSVP working with async/await. I would like to
[code]

[2016-09-07 15:06] stefanpenner commented on #6236
@dfreeman nice reproduction, can you open an issue on [here](https://github.com/broccolijs/broccoli-merge-trees/issues/new) and we can cross link?

[2016-09-07 15:07] stefanpenner commented on #3529
@sescobb27 it should "just work"

[2016-09-07 15:20] buschtoens commented on #3529
@stefanpenner So, looking at your [original comment](https://github.com/ember-cli/ember-cli/issues/3529#issue-61317702), is this basically done, since jshint is on its way out anyway?

[2016-09-07 16:00] stefanpenner commented on #3529
@buschtoens jshint isn't out yet, so its not quite done.

[2016-09-07 21:03] uhrohraggy opened #6238 "File name not supplied during parse errors, but line number is"
I have noticed it seems better in js flies, but hbs it's getting the line number but skipping the filename during parse errors. This is unfortunately still an issue in Ember CLI 2.6.1, making debugging a pain, and keeping me from being able to trust big changes without constantly refreshing the page. NPM version is 3.8.6

[2016-09-07 21:04] uhrohraggy commented on #6238
Sample error message is:

:appname has failed to build: Error: Parse error on line 3:

[2016-09-08 05:25] nathanhammond commented on #6238
Can you post a demo of an application which fails with the error message you don't like?

- `ember new bad-error-message`
- make the changes
- publish to GitHub
- link us here

That'll make it much easier for us to figure out what's going wrong. 😄 Thanks for taking the time to file an issue!

[2016-09-08 07:45] buschtoens commented on #3529
@stefanpenner Thanks for the insight. So, if I understand correctly, when I replace `ember-cli-jshint` with `ember-cli-eslint` I'd basically be good to go and everything should just work :tm: ?

[2016-09-08 18:32] davewasmer commented on #6219
Ran into this as well.

Seems like the problem stems from the fact that I can `npm install github:user/foo`, but the installed package isn't necessarily named `foo` (i.e. the package.json file inside my `user/foo` repo could be have `"name": "bar"`). And ember-cli needs the _package_ name, not the _repo_ name, to build the default blueprint name.

Since fetching the git repo and resolving the pack

[2016-09-08 20:21] SaladFork opened #6242 "Fixing SASS error doesn't reload the page from build error"
Recently the ability to have changed styles hot-swapped without a reload was added (which is awesome!!).

I'm using [`ember-cli-sass`](https://github.com/aexmachina/ember-cli-sass), and a build error caused by invalid SASS, however, will cause the page to reload and display an error similar to:

Fixing this error triggers a hot-swap reload rather than a full page reload. This unfortunately means y

[2016-09-08 22:05] RyanNerd commented on #6190
Just as an aside:

The module throwing the deprecation issue for me is: ember-deploy-s3-index

This is not an easy fix:
The NPM repo for this package indicates a [version of 0.4.0](https://www.npmjs.com/package/ember-deploy-s3-index) .
However the github [version is 0.5.0](https://github.com/Kerry350/ember-deploy-s3-index/releases/tag/v0.5.0).

Attempting to set the version in package.json to 0.5.

[2016-09-08 22:55] stefanpenner commented on #6242
Ya, seems reasonable.

[2016-09-09 14:07] pgengler opened #6247 "Test failure in browser on clean ember-cli 2.8.0 install"
With a fresh app generated with `ember new` with ember-cli 2.8.0, tests run in the browser (http://localhost:4200) have a failure. (When running the tests via `ember test` or `ember test --serve`, the failure does not happen.)

Steps to reproduce:
1. Generate a new Ember app: `ember new test-failure`
2. Start the server for the new app: `cd test-failure && ember s`
3. Visit http://localhost:4200/t

[2016-09-09 16:33] kellyselden commented on #6247
@pgengler I'm glad someone else stumbled on this. I was upgrading my app as well and got this. I thought it was my complicated tests not playing well with the new release, but I guess it's simpler than that. Thanks!

[2016-09-09 16:40] stefanpenner commented on #6247
cc @trentmwillis

[2016-09-09 18:12] trentmwillis commented on #6247
Hmm, I can dive into this sometime over the weekend. We didn't move ember-cli-qunit at all with this last release though, did we?

[2016-09-09 18:25] kellyselden commented on #6247
@trentmwillis it went from "^2.0.0" to "^2.1.0" in the blueprint, so even though it was covered, I hadn't run the tests in a while so a newer version could have caused it.

[2016-09-09 19:57] nathanhammond commented on #6247
@trentmwillis It appears that this code is now running too late and that the tests actually _have_ already been started:

https://github.com/ember-cli/ember-cli-qunit/blob/884a35c078a372e538d82bd95aabc5613e99c9e5/vendor/ember-cli-qunit/test-loader.js#L67-L76

By the time this is run eight tests have been completed.

[2016-09-09 20:17] trentmwillis commented on #6247
Hmm, likely has something to do with the changes to not use jQuery for `ready`.

[2016-09-09 20:26] rwjblue commented on #6247
Possibly, but if jQuery is present we still use it.

[2016-09-09 21:55] thefuzz80 opened #6248 "Proxy timeout with analytics enable"
After upgrading to 2.8, it seems as though usage analytics is trying to establish a connection and failing.  Although the issue does not stop ember-cli from working, it does add noise to the console that is alarming.  The only way to turn off the warning below is to change the analytics property in ```.ember-cli``` to  ```"disableAnalytics": false```

[code]
---

Output from `ember version --verbo

[2016-09-10 01:00] nathanhammond commented on #6248
@thefuzz80 You say "proxy" in the issue title but don't mention it again. Can you describe your particular machine/network setup? Or can you recreate the issue in a smaller app? I can't seem to reproduce.

[2016-09-10 01:23] nathanhammond commented on #6219
@mszoernyi @davewasmer Installing via `ember install` will work identically to what happens via `npm`. The _only_ caveat is that we don't support running the default blueprint because that could literally be anything, as @davewasmer noted. We are explicitly not going to guess at package name and elected the message instead given:

A correct solution is to:

1. Stash package.json.
2. Run npm instal

[2016-09-10 01:23] #6219 closed

[2016-09-10 01:30] nathanhammond commented on #6190
@RyanNerd That just means that the author didn't `npm publish`. Ping them directly!

[2016-09-10 02:24] thefuzz80 commented on #6248
@nathanhammond forgive me I'm still new to opening issues.

I assumed my corporate network proxy as the reason for the timeout on the odd IP address.

I did dig and host on the IP address because it doesn't seem to belong to my private subnet.

I will try on a brand new app when I get back into the office. However my hunch was that the usage analytics was trying to phone home and as soon as I chan

[2016-09-10 02:39] nathanhammond commented on #6248
No concerns about unfamiliarity with issues, you provided enough information in the first one that I could ask a reasonable follow-up question. 😄

- Did you end up doing a full new `npm install` as part of your upgrade to Ember CLI 2.8.0?
- Can you try doing a clean `npm install` with Ember CLI pinned to 2.7.0 in `package.json`?

My goal is to find out if it is a transitive dependency issue that a

[2016-09-10 03:01] TinaBryan commented on #5267
ZOMG! I have been working on correcting my brew install of node/npm for hours.  This worked!!!
THANK YOU
Now I can get back to my assignments.

[2016-09-10 03:07] thefuzz80 commented on #6248
Yes I did a full ```npm install```. I always follow the release guide instructions and clean out everything.    Do you want it pinned right at 2.7.0 or on one of point releases?

[2016-09-10 05:13] nathanhammond commented on #6248
The full `npm install` could have reinstalled all sorts of things that changed. Pin Ember CLI to 2.7.0 in `package.json` and let me know if it works or if it's broken. If it works I'm going to want to do a screen sharing session with you. If it doesn't work I'll have enough information to make educated guesses on what changed.

[2016-09-10 05:21] jcope2013 commented on #6248
just a guess, leek (0.0.22) changed from using the request module to using the https module to send out requests in the 2.8 series, int was pinned at 0.0.21 in ember-cli 2.7 https://github.com/twokul/leek/commit/61232d6f5447e9cbbe0e4a0f10abcd7d20dec949 https://github.com/ember-cli/ember-cli/commit/a9042f379b4e3639a60219bfaa7a28ad6e3d5db3#diff-b9cfc7f2cdf78a7f4b91a753d10865a2, leek is used for the

[2016-09-10 12:53] Turbo87 commented on #6248
/cc @twokul

[2016-09-10 13:02] Turbo87 commented on #6225
/cc @stefanpenner @nathanhammond

[2016-09-10 17:15] trentmwillis commented on #6247
So I spent some time debugging this and narrowed it down to an issue between Ember 2.7 and 2.8. The root issue is that `QUnit.load` (scheduled via `window.load`) executes prior to the ember-cli-qunit callback (scheduled via `$.ready`), but when using Ember 2.7 that doesn't happen. I think the error is due to a change in `$.ready` since Ember 2.8 uses jQuery 3 and Ember 2.7 uses jQuery 2.

That's a

[2016-09-10 20:19] nathanhammond commented on #6225
Hey @msmyers! I very much appreciate the thought! We've got a large number of web properties, none of which get the attention that we would like. Taking on additional ones is not something we're interested in right now. Additionally we want to funnel feedback into places we already monitor rather than through [Yet Another](https://en.wikipedia.org/wiki/Yet_another)™ input.

I'm closing this issue,

[2016-09-10 20:19] #6225 closed

[2016-09-10 21:07] kellyselden commented on #6247
I'm also seeing this error in our own CI https://ci.appveyor.com/project/embercli/ember-cli/build/9646/job/ao7rsmun44y2e3bj "Called start() outside of a test context while already started"

Don't know if that helps.

[2016-09-10 21:28] kellyselden commented on #6233
Resolved in #6235

[2016-09-10 21:28] #6233 closed

[2016-09-10 22:55] nathanhammond commented on #6247
Updates:
- Ember.js 2.8.0 with jQuery 2.X works.
- Ember.js 2.8.0 with jQuery 3.X doesn't work.

I've not traced more than that.

[2016-09-11 16:31] tragiclifestories commented on #6247
@nathanhammond That fixed it for me, thanks. Just in addition: I noticed that this seems to be a phantomjs-specific thing - tests were running fine in Chrome for me.

[2016-09-11 16:33] rwjblue commented on #6247
Likely related to this note in the jQuery 3.x [upgrade guide](https://jquery.com/upgrade-guide/3.0/#breaking-change-document-ready-handlers-are-now-asynchronous).

[2016-09-11 16:57] rwjblue commented on #6247
I believe that https://github.com/ember-cli/ember-cli-qunit/pull/145 and https://github.com/ember-cli/ember-cli-qunit/pull/146 should resolve this.

Would love for someone to test and confirm before landing and releasing another 2.x  ember-cli-qunit...

[2016-09-11 17:18] tragiclifestories commented on #6247
They look good to me.

[2016-09-11 17:26] nathanhammond commented on #6247
Confirmed and merged, just need releases.

[2016-09-11 17:49] rwjblue commented on #6247
ember-cli-qunit@2.2.2 and ember-cli-qunit@3.0.1 have been released (also added @nathanhammond to npm owners).

Closing this for now (can reopen if that doesn't resolve).

[2016-09-11 17:49] #6247 closed

[2016-09-12 15:56] thefuzz80 commented on #6248
Created 2 pristine projects, one with Ember ClI pinned to 2.7.0 and another pinned at 2.8.0

The output to the console on 2.7.0 is normal.  The output to the console on 2.8.0 is still:

[code]

[2016-09-12 19:54] nathanhammond opened #6252 "Prototype Extensions are disabled in 2.9.0's blueprint for Ember <= 2.6.0."
#6194 accidentally turned off prototype extensions in newly generated apps. We have two possible solutions proposed by @cibernox:
1. Modify the blueprint to specify each of the prototypes which we extend as proposed by @morhook [here](https://github.com/ember-cli/ember-cli/pull/6194#issuecomment-243815707).
2. Make the code in Ember check for explicit `true` or `false`.

We should also take this o

[2016-09-12 20:00] nathanhammond commented on #6248
@thefuzz80 Can you move leek to 0.0.21 on the 2.8.0 project as suggested by @jcope2013 and see if that works?

[2016-09-12 20:37] Turbo87 commented on #6252
@nathanhammond was #6194 backported to v2.8.0? in that case I seem to have attached the wrong milestone to it...

[2016-09-12 20:40] cibernox commented on #6252
To clarify, I proposed to check for explicit `false` since now it's the default, but if the plan is to deprecate prototype extensions, in that case I'd advocate the opposite and check for `true`.

When it comes to prototype extensions, I think that the only problematic one is Array. 95% of apps wont notice disabling extensions in Date. Around 70% won't notice removing `.property` and `.observes` f

[2016-09-12 20:51] rwjblue commented on #6252
I believe this is what Ember is doing (since 2.7).  See [code here](https://github.com/emberjs/ember.js/blob/v2.7.3/packages/ember-environment/lib/utils.js).

[2016-09-12 21:02] thefuzz80 commented on #6248
Here is the ```package.json``` pinning ```leek``` to ```0.0.21```.  Is this the correct way?

[code]

If so, the issue still persists.

[2016-09-12 21:03] cibernox commented on #6252
@rwjblue I noticed this in 2.6, so maybe this is a non-issue for most people. Probably very few people will use ember-cli canary with Ember 2.6.

[2016-09-13 00:50] nathanhammond commented on #6252
@Turbo87 Good catch, renamed.

[2016-09-13 09:21] martndemus opened #6253 "Can't add a custom resolver"
The following piece of code will fail a build if `ember-resolver` is not in package.json and `ember-resolver.js` is not bower.json:

https://github.com/ember-cli/ember-cli/blob/8c84c6c6188cddb35fb6723f50c9f229439073b3/lib/broccoli/ember-app.js#L328-L333

[code]

I think this should be inverted to check if the bower dep exists and then load the bower dev, else never even add `ember-resolver.js` to

[2016-09-13 12:51] agauniyal opened #6255 "Warning: Possible EventEmitter memory leak detected. 11 error listeners added. Use emitter.setMaxListeners() to increase limit"
I've already reported this to main emberjs repo, and was asked to report here if I could repro this issue again. So I installed ember-cli about 10 times on my existing installation, removed watchman and installed again, installed watchman and installed again. I had previously installed watchman for react-native tools and it worked fine.

Then I formatted my whole system, backing up my home directo

[2016-09-13 12:58] agauniyal opened #6256 "Installing packages for tooling via npmSegmentation fault (core dumped)"
Please see issue - https://github.com/ember-cli/ember-cli/issues/6255, this one is continuation of previous issue and the issue here - https://github.com/emberjs/ember.js/issues/14258

[code]

[2016-09-13 13:03] agauniyal commented on #6256
Also if it's relevant, ember-cli doesn't gets uninstalled propely too -
[code]

has been stuck with 100% cpu before I sent SIGKILL manually and then retried it -

[code]

[2016-09-13 14:06] workmanw opened #6257 "Safari 10: "The network connection was lost.""
One of our developers (@lepolt) has upgraded to macOS Sierra and Safari 10. Shortly thereafter he noticed that he would get "network connection was lost" errors on ajax requests. It seems to happen about 2-3 times in the span of 40 ajax requests.

Here is a screenshot from his console:

![pasted image at 2016_09_13 10_01 am](https://cloud.githubusercontent.com/assets/825487/18476770/54f05722-7999-

[2016-09-13 15:33] tsteuwer opened #6258 "ember release failing"
I'm having an issue with the ``ember release`` command. When I used it the first time, it updated my package.json file to 0.1.0 as expected, committed all things in the working directory, and pushed to origin. This was perfect. We've made some changes and when we wanted to release a new minor version, we are getting this error:

[code]

---

Output from `ember version --verbose && npm --version`:

[2016-09-13 15:44] stefanpenner commented on #6255
The issue is, node sets a really low limit (11) on  EventEmitter handlers.

Ember cli itself patches around this, bumping to it to 1000:

https://github.com/ember-cli/ember-cli/blob/master/lib/cli/index.js#L16-L17
related issue: https://github.com/babel/ember-cli-babel/issues/76
related PR: https://github.com/ember-cli/ember-cli/pull/5987

Unfortunately, the issue appears to occur during `npm inst

[2016-09-13 15:46] #6255 closed

[2016-09-13 15:48] stefanpenner commented on #6256
Unfortunately both of these issues appear related to node/npm, and not directly to ember. Although I suspect reducing the number of dependencies (work in progress) will help, the underlying issue is not with ember-cli.

[2016-09-13 15:48] #6256 closed

[2016-09-13 15:49] agauniyal commented on #6256
@stefanpenner that's okay. Could you give me directions where to file these reports now?

[2016-09-13 15:49] stefanpenner commented on #6256
node segfaulting during an `npm` install may mean:

* low memory system
* buggy build of node?
* unknown unknowns

[2016-09-13 15:51] agauniyal commented on #6256
my system has 4GB memory out of which 3.7 is always available. Buggy build of node shouldn't be an issue here since every other app and package is working properly, unless there's something ember-cli is trying to do in a non-standard way. Also manually running npm install doesn't produces segmentation fault.

[2016-09-13 15:56] stefanpenner commented on #6256
@agauniyal ember is merely delegating to npm for its install which appears to be causing the segfault.

segfault during this period unfortunately suggests something funky with something node or bellow.

I would recommend getting a coredump and reporting [here](github.com/nodejs/node/issues/new) feel free to cross link, as I am also quite curious.

[2016-09-13 15:58] stefanpenner commented on #6256
I believe one can drop coredumps by setting `ulimit -u unlimited` or something, and node will drop dumps on segfault.

[2016-09-13 15:58] stefanpenner commented on #6256
https://github.com/ddopson/node-segfault-handler may be handy?

[2016-09-13 16:11] agauniyal commented on #6256
I've already spent much time on installing ember, if anyone wants to debug it he/she is free to install latest archlinux and node, npm packages. As I said this happens every time so it is entirely reproducible with current node and npm versions. If there's something like docker installation or alternative which exposes ports to interact with - something like homestead/valet and laravel, I could us

[2016-09-13 16:36] tsteuwer commented on #6258
Looks like you have to commit something new instead of having it in changed state. Previously this asked if I wanted to commit the items in changed state, but from that point forward you must commit something before releasing

[2016-09-13 16:36] #6258 closed

[2016-09-13 21:22] nathanhammond commented on #6248
@thefuzz80 I'm closing this issue as it's not actionable here. We need to address it upstream at `leek`. I've finally gotten enough information to open https://github.com/twokul/leek/issues/36

[2016-09-13 21:22] #6248 closed

[2016-09-14 05:11] timiyay opened #6259 "Ember CLI hangs with watchman 4.7.0"
`watchman` 4.7.0 was recently released, and the Homebrew formula updated. Once I pulled down this update, the `ember`command stopped working.

Running any `ember` command would hang indefinitely.

The workaround was to `brew uninstall watchman`.

---

Output from `ember version --verbose && npm --version`:
[code]

[2016-09-14 07:22] nathanhammond commented on #6259
@timiyay Unfortunately for you this works for me with a matching set of output. I'm going to suggest the stereotypical "have you tried rebooting?" I don't suspect that this is something we're going to be able to help you with. Try reverting to your last known good version of Watchman?

I'm closing this as this isn't going to be an Ember CLI issue and nothing we're able to do anything about. Please

[2016-09-14 07:22] #6259 closed

[2016-09-14 08:57] nathanhammond commented on #6257
1. No other configuration change other than the upgrade?
2. No new `npm install`? Nothing?
3. Do the issues appear in non-Safari browsers?

Goals:
- Identify the set of changes.
- Deduce the set of possible culprits.

If this is a Safari + Sierra-specific bug I'm not going to be able to reproduce for a while, but maybe somebody else will be able to.

@workmanw Can you upgrade to the most-recent ve

[2016-09-14 09:16] nathanhammond commented on #6253
Currently we check to see if the user did the good thing of including `ember-resolver` via `npm`. If so, we blindly remove an `ember-resolver` loaded in via `app.import`. The proposal here is to invert the check to see if the user has `ember-resolver` provided via bower. If so, it would write out a deprecation.

**HOWEVER**

@martndemus doesn't want the writing of the deprecation to fail the build

[2016-09-14 10:11] martndemus commented on #6253
Currently if neither a bower or npm resolver is installed you get a cryptic couldn't find `tmp/etc/etc/bower_components/etc/etc/ember-resolver.js` during the build.

This pretty much means that Ember CLI assumes you will either use the bower version of `ember-resolver` or the npm version. It does not in any way factor in that someone might want to replace `ember-resolver` with his own package.

Ei

[2016-09-14 11:53] workmanw commented on #6257
No

No

Nope, just Safari 10 (12602.1.50.0.8). He also used Chrome 53 (53.0.2785.113) and Firefox 48 (48.0.2) w/ Sierra and it had no issues.

What's weirder is that I upgraded my Safari to 10 (12602.1.50.0.5), staying on El Capitan and I had no issues.

I will upgrade to Sierra GM and report back.

[2016-09-14 13:20] timiyay commented on #6259
All good @nathanhammond. My assumption is that this is watchman's issue too. I was hoping that an `ember-cli` contributor might have a comment on _how_ watchman could be causing this, so I could then open a useful ticket against watchman.

And yes, downgrading to watchman 4.6 fixes the issue. It's a PITA for a Homebrew user, which only tracks the latest version of everything, but not the worst thi

[2016-09-14 13:42] workmanw commented on #6257
I can very easily reproduce this issue after upgrading to Sierra GM and Safari 10 (12602.1.50.0.8). 😢

It seems like maybe this could just be a regression with that specific version of Safari 10. Seeing as how it's only the GM, maybe we should just hold for the time being and check after Sierra releases.

[2016-09-14 15:33] nathanhammond commented on #6259
I haven't any idea, and I suspect that it's not Ember CLI but some compounding configuration issue on your machine. We simply consume information from Watchman. Maybe @stefanpenner has better ideas?

[2016-09-14 15:46] thewalkingtoast commented on #6259
Similar result here with 4.7.0 and I also had to backdown to 4.6.0. Recent installation of everything:

[code]

OS X Yosemite

[2016-09-14 15:47] stefanpenner commented on #6259
likely best to open an issue on the watchman repo, not sure we can do much from our side.

[2016-09-14 15:51] thewalkingtoast commented on #6259
Could be caused by https://github.com/facebook/watchman/issues/358

[2016-09-14 15:59] nathanhammond commented on #6257
Okay, so Safari + Sierra = network issues. I have no clue what's going on. I'm going to leave this open for a week for awareness, but generally we don't keep tracking issues open on Ember CLI for things which we may not have control over. At that point I'm going to close it or hope somebody figured out what the underlying problem is that combination triggered.

So, people, thoughts?

[2016-09-14 16:02] wez commented on #6259
Please open a separate watchman issue and be sure to include your watchman logs and to search the console.app logs for watchman related messages.

[2016-09-14 16:52] stefanpenner commented on #6259
@wez et al, if it turns out we are doing something wrong. Don't hesitate to let us know, we will work to address :)

[2016-09-14 17:38] chriskrycho commented on #6259
Follow-up from [an informative comment](https://github.com/facebook/watchman/issues/358#issuecomment-246672605) the aforementioned watchman issue:

You should *not* do that till you've saved a copy of the state directory, however, as that includes data that may be helpful as they're debugging this.

[2016-09-14 18:00] stefanpenner commented on #6259
@chriskrycho nice, thanks for sharing.

[2016-09-14 18:29] wez commented on #6259
OK, the workaround for this is:

[code]

which should output something like this:

[code]

and then things should be working again.

[2016-09-14 22:56] timiyay commented on #6259
@wez thankyou for all the work, and sorry for not going straight to the watchman repo. The lack of console output mean I was a bit gun-shy, as I had nothing to show.

[2016-09-15 12:12] Turbo87 opened #6264 "ENOENT: no such file or directory"
I'm seeing the following error:

[code]

Output from `ember version --verbose && npm --version`:

[code]
### Steps to reproduce:
1. Create a file with a `SyntaxError`, e.g. like this:

[code]
2. Start `ember serve`
3. Notice the `SyntaxError`: `The Broccoli Plugin: [Babel] failed with: SyntaxError: foobar/controllers/index.js: Unexpected token (123:2)`
4. Fix the `SyntaxError` by removing the `foo

[2016-09-15 14:30] pgengler opened #6265 "fingerprint.prepend is double-prepended for assets/tests.js"
With ember-cli 2.7+ (not with 2.6 or earlier), if fingerprinting is enabled, `fingerprint.prepend` is set to a string and `fingerprint.customHash` is set to null, the prepend string is double-prepending to "tests/assets.js" in the final index.html file for tests.

With a brand-new app generated from `ember new` with this put in the `ember-cli-build.js` file:
[code]

The `<script>` tags in the gene

[2016-09-15 15:07] stefanpenner commented on #6264
most likely a a bug in persistent-filter, where it does not reset its internal state when (due to error) its internal stat is in a bad state.

[2016-09-15 16:53] nathanhammond commented on #6265
I believe that I can correctly peg your second issue without any research:

This is likely because [broccoli-asset-rewrite](https://github.com/rickharrison/broccoli-asset-rewrite/) uses regular expressions to handle its matching.

The first issue is likely in [broccoli-asset-rev](https://github.com/rickharrison/broccoli-asset-rev/).

[2016-09-15 23:48] nathanhammond commented on #6265
/cc @rickharrison

[2016-09-15 23:50] rickharrison commented on #6265
Are we sure this works in ember cli 2.6 and isn't related to broccoli-asset-rewrite#46 - That was published yesterday so I'm curious if that is what broke this.

[2016-09-16 00:25] pgengler commented on #6265
I've been having this issue since last week (when I tried upgrading an app to the latest ember-cli).

[2016-09-16 01:47] nathanhammond commented on #6265
@pgengler can you publish `asset-weirdness/2.8`?

[2016-09-16 13:01] pgengler commented on #6265
@nathanhammond Here you go: https://github.com/pgengler/asset-failure-2.8

[2016-09-16 13:21] Turbo87 opened #6269 "Remove remaining coupling to JSHint"
Currently our `app` and `addon` blueprints still include `.jshintrc` files (see https://github.com/ember-cli/ember-cli/tree/master/blueprints/app/files), which are now also provided by the default blueprint in `ember-cli-jshint` (see https://github.com/ember-cli/ember-cli-jshint/pull/21). To remove the duplication we should remove the `.jshintrc` files from our blueprint and run the `ember-cli-jsh

[2016-09-16 15:11] hhff opened #6270 "Has something changed with Addon Testing that is breaking builds?"
Hi All!

I've been having trouble with Addon Testing lately with Ember Infinity.  [Travis link here.](https://travis-ci.org/hhff/ember-infinity/builds/160416347)

As you can see - the most recent master build passed - but now there's PRs up for changes in the README, and it's failing builds that passed recently.

I usually see this with new Beta builds, but it's strange to see this with builds tha

[2016-09-16 15:35] SaladFork opened #6273 "Support blueprint generation without accompanying test"
When running Ember CLI's blueprint generator, if a blueprint with the same name suffixed with `-test` exists, it will also be generated (_e.g._, `ember g model` generates both `model` and `model-test` blueprints).

While I strongly agree adding tests by default is a good idea (and encourages writing tests), often when generating certain blueprints I know that I will not need any tests. For example

[2016-09-16 15:47] stefanpenner commented on #6273
@SaladFork sounds interesting, would recommend and RFC before (or in parallel to a PR) that way we can bikeshed what this means, how it affects teachability etc.etc.

[2016-09-16 15:47] #6273 closed

[2016-09-16 16:11] Turbo87 opened #6274 "CI is broken"
It appears that our CI tests are currently broken, most likely due to some dependency update. The error looks roughly like this:

[code]

From what I can tell the error is most likely coming from this line: https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/tests/helpers/start-app.js#L9

[2016-09-16 16:13] Turbo87 commented on #6274
This might be related to https://github.com/ember-cli/ember-cli/pull/6193 but interestingly the CI tests for that PR passed back then...

[2016-09-16 16:13] Turbo87 commented on #6274
/cc @workmanw @nathanhammond

[2016-09-16 17:07] kellyselden commented on #6273
@SaladFork You might be able to piggy back on the concept in https://github.com/ember-cli/rfcs/pull/59, as that deals with blueprint decoupling as well.

[2016-09-16 17:29] SaladFork commented on #6273
Thanks! I've submitted [#68](https://github.com/ember-cli/rfcs/pull/68).

[2016-09-16 21:46] Turbo87 commented on #6270
You could try http://package-hint-historic-resolver.herokuapp.com/ to figure out what transitive dependencies have changed. Maybe that contains a clue on what might be failing.

[2016-09-16 22:08] kpfefferle opened #6275 "ember-cli commands hanging on macOS Sierra GM2"
Yesterday, Apple released Gold Master 2 of macOS Sierra to developers. Since updating to GM2, none of my ember-cli commands work regardless of which versions of node or ember-cli I attempt to use. They simply hang with no output.

I did a bit of remote Slack debugging today with @twokul, and we were able to narrow it down as far as this line: https://github.com/ember-cli/ember-cli/blob/375f3a32f45

[2016-09-16 22:56] nathanhammond commented on #6275
Dibs on not it. 😜 Let us know what you find out @kpfefferle ... also if anybody else can reproduce this it'd be wonderful. I trust that you're seeing it; I just don't know if you're incredibly unlucky and the only person encountering it.

[2016-09-16 23:03] nathanhammond commented on #6270
@hhff You're using a [_tremendously_ out of date version of Ember CLI](https://github.com/hhff/ember-infinity/blob/master/package.json#L22) in that addon. You need to update Ember CLI. Some transitive dependency just broke your behavior which is probably accounted for in modern versions of Ember CLI.

Good luck on the migration, we can help you with that if you have trouble along the way. [See als

[2016-09-16 23:03] #6270 closed

[2016-09-16 23:13] nathanhammond commented on #6274
Ohai, we tried to do this once before and it blew up: https://github.com/ember-cli/ember-cli/pull/5803

Going to try reverting #6193.

[2016-09-17 00:03] nathanhammond commented on #6269
`installAddon()` would neatly solve the running of default blueprints issue for non-module-name-identified packages. I'm in favor of doing something like that. This is a pattern we should rely upon more, so I like the proposal.

[2016-09-17 07:12] Turbo87 commented on #6274
https://embercommunity.slack.com/archives/-testing/p1474058140001083 seems relevant to this discussion too

[2016-09-17 07:44] nathanhammond commented on #6274
Want to turn this into a tracking issue for understanding?

[2016-09-17 16:54] hhff commented on #6270
Word!  Thankyou @nathanhammond - will give that a go

[2016-09-17 20:35] corbinu commented on #6275
I am seeing this also I am on Public Beta 7 and I just tried to update to ember-cli@2.9.0-beta.1 and when i run ember init it simply hangs.

Node version v6.6.0
Npm version 3.10.8

[2016-09-17 23:52] kellyselden opened #6277 "`ember init` to skip dependency checking"
I'm brainstorming the command `init` skipping the dependency checking.

The only time I'm using `init` is when updating addons (usually very out-of-date). So I clone the repo, cd into it, run `npm link ember-cli`, and then try to `ember init` with my up-to-date global version. Then I get the dependencies missing message. I then have to install all these old packages, which I'm about to update or r

[2016-09-18 03:12] nathanhammond commented on #6277
I believe you're correct. The trouble is basically this: https://github.com/quaertym/ember-cli-dependency-checker/blob/master/index.js#L8-L14

We'd need to land the change upstream. Realistically it should support a command blacklist instead of simply running on `init` in every case.

[2016-09-18 03:25] nathanhammond commented on #6275
For people who stumble across this issue: please please please provide as much detail as you can about the system, if it fails with a brand new project, trying to do things from scratch...

General "clean slate" debugging:

- `npm uninstall -g ember-cli`
- `npm cache clear`
- Reinstall `node` and `npm`
- Test without `watchman`
- Test with `watchman`
- Include a link to `npm ls` of your project fo

[2016-09-18 05:00] kpfefferle commented on #6275
@nathanhammond Thanks for the added debugging tips! I am happy to report back that uninstalling watchman allows my ember-cli commands to work properly. Reinstalling watchman causes the commands to hang again, so this clearly seems (at least on my machine) to be related to watchman.

[2016-09-18 05:42] nathanhammond commented on #6275
@kpfefferle Can you try watchman@4.6.0 for me? 4.7.0 has at least one known issue.

[2016-09-18 05:44] nathanhammond commented on #6275
I'm closing this issue as likely not a bug in Ember CLI. If you find yourself here via search _please_ follow the directions here: https://github.com/ember-cli/ember-cli/issues/6275#issuecomment-247822676

If after that you still have issues please leave comments here, and leave as detailed of a report as you can. We will still continue to receive notifications from any followup comments on this i

[2016-09-18 05:44] #6275 closed

[2016-09-18 09:29] #6274 closed

[2016-09-18 19:24] kpfefferle commented on #6275
@nathanhammond watchman@4.6.0 seems to work; watchman@4.7.0 does not

For anyone else needing to downgrade watchman to 4.6.0 via Homebrew on OS X, this method worked for me:

1. Uninstall latest watchman:

[code]

1. Reinstall watchman using previous 4.6.0 formula:

[code]

1. Pin watchman to 4.6.0 to prevent updating until a fix is available:

[code]

[2016-09-19 16:05] atorralb commented on #6023
Is this resolved? I'm getting the same error in slackware linux  14.1
`wifislax atorralb # ng new creamm
Could not start watchman; falling back to NodeWatcher for file system events.
Visit http://ember-cli.com/user-guide/#watchman for more info.
installing ng2
  create README.md
  create src/app/app.component.css
  create src/app/app.component.html
  create src/app/app.component.spec.ts
  create s

[2016-09-19 16:26] nathanhammond commented on #6023
@atorralb You are at the wrong CLI. You're looking for this one: https://github.com/angular/angular-cli

[2016-09-19 16:44] atorralb commented on #6023
@nathanhammond  oops my bad... sorry for that

[2016-09-20 13:20] buschtoens opened #6282 "this._super(...arguments) doesn't work in async functions after await"
Output from `ember version --verbose && npm --version`:
[code]

Referencing #3529.

`this._super(...arguments)` doesn't work inside `async` functions, when it is used after an `await` keyword.

[code]

[2016-09-20 13:40] buschtoens commented on #6282
I don't really understand how `this._super` is defined / works under the hood, but this is a "fix":

[code]

[2016-09-20 15:15] rwjblue commented on #6282
`this._super` works by roughly changing what `this._super` refers to before each method call.  Something like this is used to wrap functions that we detect need wrapping:

[code]

As you can see (and have discovered), this assumes that `this._super` will be called synchronously.  The work around as you noticed is to stash the current `this._super` synchronously and invoke it (via `.call` or `.appl

[2016-09-20 15:25] buschtoens commented on #6282
Thanks for the in-depth analysis. I always wondered how that magic `_super` method worked and thought that it would access `arguments.caller`, but never actually cared enough to dig into it, until now. :smile:

This would definitely be a handy transform.

[2016-09-20 19:03] kpfefferle commented on #6275
Today @chriskrycho shared a fix that works for me with watchman@4.7.0. After upgrading to Watchman 4.7.0, run the following command (replace `<user>` with your system user):

[code]

This was first surfaced in https://github.com/ember-cli/ember-cli/issues/6259

[2016-09-20 19:04] chriskrycho commented on #6275
Note that I *believe* you can just do the even simpler:

[code]

The underlying problem as I understand it is that the socket (`sock`) is holding onto some data rather than being refreshed when a new version of watchman is installed.

[2016-09-21 02:08] zackthehuman opened #6285 "postprocessTree addon hook receives minified CSS files (when it is enabled)"
The `postprocessTree` addon hook will receive a node of minified CSS files when minification is enabled (production builds, etc.). I find this confusing and a bit trolling, since it isn't documented what one should expect to receive in `postprocessTree`.

At first glace I assumed that I would get a node with files that were processed by the preprocessors and possibly moved (e.g. `'app/styles/app.c

[2016-09-21 02:24] zackthehuman opened #6286 "setupPreprocessorRegistry for CSS has odd behavior"
The behavior of plugins registered for CSS in `setupPreprocessorRegistry` is confusing. I[f you register a plugin, you become responsible for moving files where they need to be (e.g. `'app/styles/app.css' -> 'assets/example.css'`).](https://github.com/ember-cli/ember-cli-preprocessor-registry/blob/master/preprocessors.js#L125)

If there is more than one preprocessor registered, you have no idea wh

[2016-09-21 06:43] nathanhammond commented on #6286
Making it worse, preprocessors don't actually run in a DAG, resulting in an arms race for choosing the order in which things run. Addons run in a DAG, but depending upon when they `.register` their preprocessor DAG orderign no longer applies and it remains an arms race. [Speaking of arms races, some of the time you just get booted.](https://github.com/aexmachina/ember-cli-sass/blob/master/index.js

[2016-09-21 06:48] nathanhammond commented on #6285
Agreed, this needs work and specification. [Here is that tracking issue.](https://github.com/ember-cli/rfcs/issues/64) And now this issue is linked to from the tracking issue.

[2016-09-21 11:13] andrei-sheina opened #6289 "Test timed out"
I have an Ember app and using standard ember testing configuration (testem, phantom, qunit). I am trying to launch the simplest test, here is the code (simply modified from ember-cli guides):
[code]

And i'm getting the following error in terminal:
[code]
Obviously problem with promises (simple test without using promises works fine).
How can i fix that?

Output from `ember version --verbose && np

[2016-09-21 14:50] medokin commented on #5415
If nothing works always keep calm and update phantomjs.

[2016-09-21 16:15] nathanhammond commented on #6289
You shouldn't directly chain off of any of these promises. You'll note that [in the guides](https://guides.emberjs.com/v2.8.0/testing/acceptance/#toc_wait-helpers) we use the `andThen` helper.

[code]

Change that and I bet it works.

I'm closing this issue as likely not a bug. In the mean time we will still continue to receive notifications from any followup comments on this issue; being closed d

[2016-09-21 16:15] #6289 closed

[2016-09-21 16:25] stefanpenner commented on #6286
Seems unrelated, as designed nested add-ons should only  modify their direct ancestor. This means it is no different then the original issue and that is ordering of preprocessors.

I suspect the DAG may or may not be the solution. Rather the whole before/after arms race may be indicative of a missing lifecycle hook or two. I suspect @zackthehuman thoughts on more convention here may do the trick.

[2016-09-21 16:28] stefanpenner commented on #6285
What defines the "very end" is a nebulous concept and fraught with peril, remember asset finger printing happens after uglification which means it also does not run at "the very end".

this and https://github.com/ember-cli/ember-cli/issues/6286 seem very related.

https://github.com/ember-cli/ember-cli/issues/6286#issuecomment-248665859 is the same comment I would make here.

i'm going to close th

[2016-09-21 16:28] #6285 closed

[2016-09-21 17:51] zackthehuman commented on #6286
I will see if I can build a small example that demonstrates the pain :)

I do find it odd, though, that the preprocessor plugin becomes responsible for doing what appears to be ember-cli behavior (namely, renaming the `app.css` file and moving it). If that was handled by ember-cli in all cases, either before or after preprocessing it would at least give us a clearer picture of responsibility for C

[2016-09-22 15:32] cmsimike commented on #2874
I'm curious - what did you do to fix this? This happens to me in ember cli 2.8 but not 2.7 on otherwise identical setups

[2016-09-22 16:27] orf opened #6290 "ember-cli does not respect `bower_directory` environment variable"
I'm currently in docker hell, and I need to have my npm and bower packages in the directory _above_ my app code. If my app is in `/usr/code/app` I need my bower_components to be in `/usr/code/bower_components`.

Bower lets you specify a `bower_directory` environment variable, and if I set this to `../bower_components` then `bower` works just fine. However `ember-cli` seems to ignore this and _only

[2016-09-22 17:17] nathanhammond commented on #6290
Related:
- #3679
- #3735
- #3771

@orf would you be willing to write a solution following the recommendations and discussion we've had on this topic in the past? The area where this would be implemented is here: https://github.com/ember-cli/ember-cli/blob/2bce175ce188ae0f47a55fa23d6affe2d768ddfb/lib/models/project.js#L69-L91

[2016-09-22 20:21] orf commented on #6290
Yes I would be willing to try, there is a 'bower-config' package that we
could use. I haven't seen any prior discussion, but surely adding
bower-config and using that would suffice?

On 22 Sep 2016 18:18, "Nathan Hammond" <notifications@github.com> wrote:

[2016-09-22 22:13] nathanhammond commented on #6290
The discussion was with regards to node_modules in the aforelinked issues, but will also apply to bower_components. Let me know if you want help, you can find me and others who can help guide in [#dev-ember-cli](https://embercommunity.slack.com/messages/dev-ember-cli/) in the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/).

[2016-09-22 23:05] msmyers commented on #6225
May I recommend that you redirect all 3 to github.com/ember/issues

[2016-09-23 12:53] orf commented on #6290
Oh, I just read your comment and realized what you meant. I've made a MR that uses `bower-config` but that could cause problems with nested projects if I understand correctly?

I can just add an explicit environment variable `EMBER_BOWER_COMPONENTS` and do that instead?

[2016-09-23 13:04] orf commented on #6290
I did this in this commit: https://github.com/orf/ember-cli/commit/8a0c3b0031999b2338751425f4003ec3d27387a8

Let me know which you want, I can close my existing MR and make this one instead.

[2016-09-23 16:55] wez commented on #6275
The correct resolution is:

[code]

[2016-09-23 19:18] cklimkowsky opened #6293 "Test failure on 2.8 upgrade: Assertion after the final `assert.async` was resolved"
After upgrading `ember-cli` and `ember` to 2.8 (and `ember-cli-qunit` to 3.0.1 to fix #6247), I'm seeing the following error in several different cases:

[code]

1. When running `ember test`, the error shows up intermittently on my model and adapter tests. These tests are the default tests generated with a new model/adapter, so I'm not calling `assert.async` anywhere in my tests.
2. When running `

[2016-09-23 19:32] trentmwillis commented on #6293
@cklimkowsky thanks for the report. These issues are only occurring in unit/integration tests for you? Can you provide a simplified reproduction or some steps to repro?

The `assert.async` is triggered as part of [the new QUnit adapter](https://github.com/rwjblue/ember-qunit/blob/c81bb7ad7c898d37dcd3433b308dab518e4a9456/lib/ember-qunit/adapter.js#L10) (since `stop` is now removed in QUnit 2.0).

[2016-09-23 20:14] cklimkowsky commented on #6293
@trentmwillis yes, unit tests for model/adapter tests on `ember test` and integration tests (only on one component it seems) on `ember test --server`. Not sure what other steps I can include for reproduction? I went through the upgrade process from `ember`/`ember-cli` 2.6 to 2.8, upgraded `ember-cli-qunit` to 3.0.1, and then ran `ember test`/`ember test --server`.

[2016-09-23 20:15] Turbo87 opened #6294 "Remove "ember-export-application-global" from the default app blueprint"
I personally don't see any point in having this addon included by default for every app. Unless someone can explain to me why this is useful for the majority of our users (that don't have the ember-inspector where you can also get access to the application instance) I would like to remove it from the `app` blueprint.

[2016-09-23 20:26] cklimkowsky commented on #6293
Update: I just got the error on an integration test running `ember test`, it seems that error is intermittent as well

[2016-09-23 20:57] stefanpenner commented on #6294
@lukemelia once convinced me of this, he should share his thoughts (they where quite convincing)

[2016-09-23 22:52] trentmwillis commented on #6293
Does this happen with a brand new test? In other words, if you `ember g model foo`, will the `foo` test error at all?

[2016-09-23 23:38] thomblake commented on #4546
Also, "NPM" above should be "npm"

[2016-09-25 02:08] #6118 closed

[2016-09-25 10:10] MinThuRaine commented on #5897
npm WARN deprecated lodash-node@2.4.1: This package has been discontinued in favor of lodash@^4.0.0.
npm WARN deprecated graceful-fs@3.0.8: graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm ls graceful-fs' to find it in the tree.

same Problem Help!!

[2016-09-25 12:36] Turbo87 commented on #5897
@MinThuRaine those are just warnings, you can still use the program.

[2016-09-26 09:03] orf commented on #6290
Hi @nathanhammond, which one of the commits would you like me to make a MR for? I've made #6292, but if you're concerned about nested projects I was thinking that perhaps ember-cli could detect this case?

I.e if there is a project inside `/project/one/two`, and no `.bowerrc` file in that directory and one inside `/project/one`, then that MR would pick up `/project/one/.bowerrc` file as the one to

[2016-09-26 12:54] BryanCrotaz opened #6299 "Documentation unclear/missing regarding best practice for including assets in an addon"
Scenario:

Addon with visual components which require images (backgrounds etc).

Documentation needed to make it clear to an addon developer where to put the files in the addon project and how to reference them in css so that the relative paths work correctly in both the dummy app and the end user's app.

[2016-09-26 13:43] kpfefferle commented on #6293
We were getting this error in our test suite as well, but I was able to resolve this by making sure that all of our acceptance tests are using the `find()` syntax within their asserts instead of the `this.$()` syntax (which is instead common in component integration tests). Doing this seems to match [the guides' usage of `find()` in acceptance tests](https://guides.emberjs.com/v2.8.0/testing/accep

[2016-09-26 16:28] cklimkowsky commented on #6293
@trentmwillis I can't seem to reproduce this anymore, neither with a brand new test or my existing tests. I'll close this for now and let you know if it becomes an issue again.

@kpfefferle Thanks for the additional insight, I was only seeing this with unit and integration tests

[2016-09-26 16:29] #6293 closed

[2016-09-26 17:27] stefanpenner opened #6300 "[Investigate] EOL in concat separator"
as per: https://github.com/ember-cli/ember-cli/pull/6081#pullrequestreview-1482054
it is strange that we use EOL not '\n' for builds: https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L1272

I believe in a perfect world, builds from win and builds from *nix produce the same outputs.

So open questions:

* is there a reason why we did this?
* is there any reason for us no

[2016-09-27 05:41] stefanpenner commented on #4933
@trentmwillis I believe we either work around this at work, or the issue has been resolved. Can you confirm or deny? Otherwise, I'll take a deeper look.

[2016-09-27 05:43] stefanpenner commented on #5336
I believe this was addressed by: https://github.com/stefanpenner/fs-tree-diff/pull/16/commits/8a8cf1560298f4e48f7746bbdc7a1898fe3460a2

[2016-09-27 05:44] #5685 closed

[2016-09-27 05:45] stefanpenner commented on #5687
i believe this is addressed by https://github.com/stefanpenner/fs-tree-diff/pull/16/commits/8a8cf1560298f4e48f7746bbdc7a1898fe3460a2  Will reopen if it is not

[2016-09-27 05:45] #5687 closed

[2016-09-27 05:45] #5691 closed

[2016-09-27 05:46] stefanpenner commented on #5691
I am good with improving this. But as this issue has been idle for several months, it being left open likely isn't providing much value.

We can still refer to this if needed.

[2016-09-27 05:48] stefanpenner commented on #5878
Will gladly reopen if this is still an issue (with IE9 or greater)

[2016-09-27 05:48] #5878 closed

[2016-09-27 05:48] #5858 closed

[2016-09-27 05:49] stefanpenner commented on #5858
This seems to have gone idle. I am all for improving this, but Im not sure aspirational (non blocking) issues provide us to much direct value. Or at-least they should likely age out if inactive for some time.

[2016-09-27 05:50] stefanpenner commented on #5980
Will gladly reopen and investigate if a repo demonstrating a reproduction is provided. :)

[2016-09-27 05:50] #5980 closed

[2016-09-27 05:51] stefanpenner commented on #5983
This seems to have gone idle. If the above suggestions are followed and the problem persists please provided a detailed report + ideally a reproduction and we can reopen.

[2016-09-27 05:51] #5983 closed

[2016-09-27 05:52] stefanpenner commented on #6032
this appears to have gone stale. W

[2016-09-27 05:52] #6032 closed

[2016-09-27 05:52] stefanpenner commented on #6009
We have made progress

[2016-09-27 05:52] #6009 closed

[2016-09-27 05:55] #6282 closed

[2016-09-27 05:57] stefanpenner commented on #6282
This isn't ember-cli issue. But rather, super is unsafe to use asynchronously. On the bright side, real ES super will work as expected, and ember's and es6 super work together. Hopefully once decorators become stable, we can make the transition and the confusion and legacy _super go away :

[2016-09-27 05:58] stefanpenner commented on #6238
This is most likely an issue/regression in the HBS transpiler

[2016-09-27 06:00] stefanpenner commented on #6149
Although not 100% complete (likely not possible), I believe this meta issue has been wildly successful. Thanks to all the contributors! We may do another issue like this in the future again

[2016-09-27 06:00] #6149 closed

[2016-09-27 06:01] stefanpenner commented on #5884
Closing in-favor of a well fleshed out RFC.

[2016-09-27 06:01] #5884 closed

[2016-09-27 06:02] rikkitherockett commented on #3714
+1

[2016-09-27 06:35] #6300 closed

[2016-09-27 18:49] ro0gr commented on #5336
Unfortunately no. I've updated reproduction app to use ember-cli@2.8.0 and have exactly the same error.
Also the latest `fs-tree-diff` is installed:
[code]

@stefanpenner could you please reopen?

[2016-09-27 18:51] ro0gr commented on #5336
Maybe it's better to add a pr with a failing test here?
I can try to implement it.

[2016-09-28 21:34] Turbo87 opened #6304 "Sourcemaps config option"
As discussed in last weeks team meeting we should add a config option to enable end-to-end source maps, defaulting to `false` for now. This is mainly meant to enable experiments with the feature to make it faster.

[2016-09-28 21:35] Turbo87 commented on #6304
assigning myself for now, but if anyone else wants to give this a shot I'd be happy to step back 😉

[2016-09-30 08:56] iivvoo commented on #4528
Any updates on this? I would love to see this working and have a less horrible debugging experience.

Additonally, vscode has pretty good remote debugging support (it can connect to a running chrome) but it completely fails with Ember because the source maps don't map. It would be awesome if you could debug your original code directly this way.

[2016-09-30 15:53] nathanhammond commented on #4528
This area continues to change and we're paying attention to it:
https://github.com/emberjs/core-notes/pull/108/files#diff-4653b59711e4e3ef1159f793dd2c597cR29

I'm closing this issue as our changes are going to be incremental. Note that we are of multiple opinions about the value of source maps on the core team. For example, my ideal default would be to add in sourcemaps only to map uglified code i

[2016-09-30 15:53] #4528 closed

[2016-10-02 17:32] stefanpenner commented on #6192
@bantic any luck?

[2016-10-02 17:35] bantic commented on #6192
Argh, got completely sidetracked in Aug, but I absolutely will this week.

[2016-10-02 17:39] stefanpenner commented on #2642
fixed by #2642

[2016-10-03 04:50] stefanpenner opened #6311 "consider cleanup of watch-detector"
https://github.com/ember-cli/ember-cli/pull/6309#discussion_r81490324

specially: https://github.com/ember-cli/ember-cli/blob/master/lib/models/watch-detector.js#L173-L181

It is documented (although those comments can be improved), but if someone feels they can express it in a clearer way a PR for review would be good.

[2016-10-04 01:43] MiguelMadero commented on #3701
Is this an option: https://github.com/runspired/ember-hammertime/blob/master/index.js#L35

[2016-10-04 19:47] Iftahh opened #6312 "JS Loading performance optimization"
@nolanlawson Wrote a https://github.com/nolanlawson/optimize-js

His benchmark show that Ember.js can benefit from IIFE wrapping optimization -  Loading the JS in 1.24ms instead of 70.93ms !

See https://github.com/nolanlawson/optimize-js#benchmarks

It sounds a bit too good... but worth a check.

[2016-10-04 19:54] rwjblue commented on #6312
The benchmark used applies to the ember.min.js that is generated by Ember itself, which does not use the same settings as a default ember-cli app (specifically the negate_iife setting to uglify).

ember-cli apps *definitely* will see an impact from the research that @krisselden and @nolanlawson have done, but it isn't as dramatic as the benchmarks you linked suggest (~ 4000% improvement 😱).

Also,

[2016-10-04 20:23] ro0gr commented on #3664
Just an idea.
Also it would be great also to take into account eslint fix.
Looks like eslint has a [programmatic api](https://github.com/eslint/eslint/blob/master/lib/util/source-code-fixer.js) for that.

[2016-10-04 20:31] #6312 closed

[2016-10-04 20:32] stefanpenner commented on #6312
@Iftahh we are part of this research. Basically, ember.js itself benefits from this, your app code largely doesn't (but small parts do). Applying this naively across the board actually degrades performance.

@krisselden is working on tooling to allow for selective use, once/if that reaches maturity we will consider it here.

[2016-10-04 20:37] Iftahh commented on #6312
Excellent!
I only wanted to make sure you are aware of this trick and consider it.
I searched for existing issues of similar topic, but didn't think to look at the core meeting minutes...

[2016-10-04 23:44] serv commented on #5415
I had a similar problem as many people here. Error message I saw looks something like this.

[code]

Here's what I did to fix it.

1. Remove phantom.js package from package.json in devDependencies.
2. Remove phantom.js from Homebrew
3. Install phantom.js globally using npm.

[2016-10-05 06:12] sheriffderek opened #6313 "Favicon with version to force refresh"
What are the thoughts behind the decision not to explicitly set a favicon in the index.html? I know it will find one by default, but if we place a version it will force refresh which I like very much. Sorry if this has already been discussed. I tried to search first. I know there hasn't been a final decision on an ember asset for this, but it would save time to just have this here since we end up

[2016-10-05 07:16] hdehaan01 opened #6314 "Using css from another project"
I am writing several application with Ember and are using also a written own libary.
This library is included using:
    "web-input-components": "git+ssh://git@gitlab:gui-js-lib/web-input-components.git#develop"

But I also want to use one general css file from this same library. Is there a way in Ember to include the css in the same way?

[2016-10-05 15:23] stefanpenner commented on #6314
As per the CONTRIBUTING.md (the big yellow banner one see before submitting an issue)  this is better suited for Stackoverflow which has a good framework for Q/A style discourse. https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md#questions

[2016-10-05 15:23] #6314 closed

[2016-10-05 16:32] nathanhammond commented on #6314
I'd recommend stopping by [#-ember-cli](https://embercommunity.slack.com/messages/-ember-cli/) in the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) and seek help from the wonderful people in our community!

[2016-10-05 21:42] vichen opened #6316 "App no longer renders. Starting ember server results in blank screen."
Just cloned a repo that previously loaded in the browser. Now I'm getting a blank screen with the following errors:

Already tried downgrading loader.js versions, switching between ember versions 2.8, 2.4.3, 2.6.1, and downgrading ember-resolver versions.

[2016-10-05 22:17] #6316 closed

[2016-10-06 01:34] nathanhammond commented on #6313
You can add this into your own `index.html`. As to the upgrade process I usually process the diff manually [which is linked from the upgrade log](https://github.com/ember-cli/ember-new-output/compare/v2.7.0...v2.8.0?diff=unified&name=v2.8.0).

Or from a checked out version (not guaranteed to work):

[code]

I'm closing this as we don't intend to change this behavior in the blueprints.

[2016-10-06 01:34] #6313 closed

[2016-10-06 01:51] nathanhammond commented on #6312
https://github.com/emberjs/core-notes/blob/master/ember-cli/2016-09/september-29.md#parsing-hints

[2016-10-06 01:55] nathanhammond commented on #3664
Note: this is incredibly low priority for us on the CLI team. In order for anything to come of this it _must_ have a champion. Further, since we originally wrote the config and blueprints they represent the style we use. 😜

We're in no way opposed to make this happen, but we'll likely only partner with somebody in the community who cares deeply. (Tabs vs. Spaces debate can begin anew.)

[2016-10-06 03:50] devinrhode2 commented on #2415
So, for me it was as easy as making sure all my image names had the full path hardcoded before it. This made broccoli-asset-rev recognize and rewrite the url.

[2016-10-06 05:37] nathanhammond commented on #5336
@ro0gr:

1. Can confirm that this does throw an error.
2. Inside of the dummy app I don't think we care; just `rm tests/dummy/app/templates/test.hbs`.

**Does this throw an error in a consuming application which is separate from the dummy app?**

The mental model here is that an addon is "pushing" something into the app's namespace. It's reasonable for that to error upon collision. I personally pr

[2016-10-06 05:54] nathanhammond commented on #6253
@rwjblue Would you mind sharing an opinion on this one?

[2016-10-06 07:24] mitchiru commented on #4044
Opposing to the majority: a model reflects in general the idea of a database table, but - can be also a mixed thing eq. relations then it is useful to have a model on a pod.

[2016-10-06 08:03] oskarrough commented on #3664
@nathanhammond thanks for clarifying. I'd love to help out with this but unfortunately I'm not sure where to start. If someone has time to team up on this, let me know.

[2016-10-06 12:02] binhums opened #6318 "Installing addons from blueprint fails: "Could not find addon""
When running `addAddonsToProject` in a blueprint:

[code]

We have an Ember addon for installing other addons that is currently running into issues. The `afterInstall` hook in the blueprint looks a like this:

[code]

I can reproduce the issue with [this pared down addon](https://github.com/binhums/bug-add-addons-to-project).

This looks similar to #5880, but I believe it is distinct.

Verified ag

[2016-10-06 12:15] binhums commented on #6318
Currently an addon maintainer will need to specify the flags explicitly to make it work. e.g.

[code]

[2016-10-06 14:43] rwjblue commented on #6253
A few general points:

1) Today, you can avoid errors *and* avoid using `ember-resolver` addon via this config in your `ember-cli-build.js`. This works intentionally, and should continue to work (for compat reasons).

[code]

2) If both `bower.json` and `package.json` contain `ember-resolver` the NPM version *must* win.  Inverting the check, so that `bower.json` wins is not desired and should be a

[2016-10-06 20:13] nathanhammond opened #6322 "`ember install` test uses local file system package."

[2016-10-06 21:30] ming-codes opened #6323 "ember install from git"
Output from `ember version --verbose && npm --version`:
[code]

---

[code]

The install seems to be working until it tries to find the default blueprint.

[2016-10-06 22:15] ro0gr commented on #5336
@nathanhammond thanks for your response.
I've got a chance to look at this issue under slightly different angle. Earlier I was under impression that host app sources applied to the tree after all addons sources are merged.

now I can see it works in an opposite order.

Yes. https://github.com/ember-cli/ember-cli/issues/5336#issuecomment-172313457
I've used a dummy app example in order to reduce us

[2016-10-06 22:25] ro0gr commented on #5336
updated a description, mostly dropped irrelevant blocks of text and mentioned that issue is reproducible for separate app + adddon(not only for dummy app).

[2016-10-06 23:30] nathanhammond commented on #6323
This is not a bug. The message you're seeing is telling you what to do:
[code]

There is no way to actually know the addon's name from a git path.

[2016-10-06 23:30] #6323 closed

[2016-10-06 23:35] ming-codes commented on #6323
`package.json` offers a name that's generated when the addon is first created. The addon's name can be inferred from this.

[2016-10-06 23:53] nathanhammond commented on #6323
Yes, it's possible to do this by inspecting state of `package.json` before and after we delegate to `npm install`, running a diff, `require.resolve`ing these new packages, and then figuring out their addon name. Inference is _not_ good enough and something we got out of the business of doing because of the associated errors. It must be correct, or we don't try.

Doing the above is incredibly low o

[2016-10-07 04:50] ming-codes commented on #6323
Sure, I'll give it a shot.

The name of the addon is also in `index.js`. Would this be a better choice?

I'm surprised by this statement. How does enterprise distribute internal Ember addons then? It's a common scenario to install npm modules directly from git repo. I would imagine it's the same case for Ember addons.

[2016-10-07 05:10] musaffa opened #6326 "Socket hang up error"
After upgrading the cli to 2.8.0, I get this socket hang up error. It usually happens on the first boot of the ember server.
[code]

This is my current setup:

[code]

[2016-10-07 05:26] nathanhammond commented on #6326
You have `/etc/hosts` or something else blocking Google Analytics. Turn off analytics inside of .ember-cli and it will stop throwing that error. Regardless, it isn't actually breaking anything. Closing as we're aware of it and are tracking it.

/cc @twokul this is a consequence of the leek `request` changeover.

[2016-10-07 05:26] #6326 closed

[2016-10-07 05:39] nathanhammond commented on #6323
I work at LinkedIn, we have our own internal npm registry. 😄

The name in `index.js` is used for DAG resolution at current but the npm package name is used to determine the default blueprint (if not specified in package.json): https://github.com/ember-cli/ember-cli/blob/375f3a32f4564465d2eccc3815cb61b570ce29f0/lib/tasks/addon-install.js#L46

That we use different attributes about packages for thes

[2016-10-07 17:28] ming-codes opened #6328 "Using both LESS and SASS?"
I'm running into a problem of using both LESS and SASS.

The app is trying to use 2 addons: one uses LESS and other uses SASS. Both are trying to write to `app.css` via `app.less` and `app.scss`. This creates a conflict when both of them tries to write to `app.css`.

[2016-10-07 19:49] thomblake commented on #4546
emberjs/ember.js#13022 is merged! 🎉

[2016-10-07 19:49] nathanhammond commented on #6328
We don't recommend or have a way to default make this play nicely inside of Ember CLI. This functionality is provided by addons which register preprocessors and must be updated to be aware of each others' existence so that they don't clobber each others' output.

This isn't an Ember CLI concern except that we should have better APIs to make this easier for addons to accomplish. Efforts for that ar

[2016-10-07 19:49] #6328 closed

[2016-10-07 20:09] stefanpenner commented on #6328
@ming-codes I suspect we can't support this out of the box, in-theory a custom little broccoli method or two could do this manually....

[2016-10-07 20:10] stefanpenner commented on #4546
![14xz1gq](https://cloud.githubusercontent.com/assets/1377/19204032/5ddb5392-8c8f-11e6-9ffb-f89628104136.gif)

[2016-10-07 20:40] ming-codes commented on #6328
@stefanpenner Yea, I suspected that as well. I thought I could just string `ember-cli-less` and `ember-cli-sass` together and it would work, but turns out I need to build my own plugin.

[2016-10-07 20:44] chadhietala commented on #4546
I'm happy to close this issue.

[2016-10-07 20:44] #4546 closed

[2016-10-07 21:43] thomblake commented on #4211
Now that #4546 is done, how close are we on this one?

Also, is completion of this really necessary to turn Bower into a second-class citizen? What about getting Bower deported?

[2016-10-07 23:07] stefanpenner commented on #4211
nope, not required.

[2016-10-07 23:08] stefanpenner commented on #4211
not very close, we will likely revisit this now as bower vanishes and with our new learnings (battle scars)

[2016-10-08 00:30] mixonic opened #6332 "Module Unification Epic"
The [Module Unification RFC](https://github.com/emberjs/rfcs/pull/143) is all but merged. So this week @iezer @mitchlloyd @bantic and I tried to get the ball rolling. And rolling it is! Two important links:
- We forked the [ember-cli/ember-resolver](https://github.com/ember-cli/ember-resolver) repo to  [201-created/dangerously-set-unified-resolver](https://github.com/201-created/dangerously-set-un

[2016-10-08 14:58] bantic commented on #6332
🙌
couple of those links above seem to be borked, here they are:
  * the fork of ember-resolver, called ["dangerously-set-unified-resolver"](https://github.com/201-created/dangerously-set-unified-resolver)
  * [demo application using the addon](https://github.com/201-created/--new-app-blueprint/tree/with-danger)

[2016-10-08 15:31] mixonic commented on #6332
Darn markdown :-p Thanks @bantic I fixed them inline as well.

[2016-10-09 04:12] toddjordan opened #6334 "Default blueprint doesn't write to bower when conflict"
I have an addon that wraps the alpacajs form library.  When i install this addon on a clean ember cli 2.8, I get prompted for a jquery version resolution.  When I pick a version, none of the bower files specified in addBowerPackagesToProject are written.   I would expect the command to either use the specified version in the conflict resolution, or give some text on what to do next.

the addon is

[2016-10-10 06:36] typeoneerror commented on #6212
@nathanhammond I'm sorry to bug you about this, but I'm still confused. I changed

[code]

to

[code]

As described in the blog post.

And now everything is served correctly as before, but now my api calls are prefixed with '/app/'. I had to put baseURL back in as '/' to make the api calls be root relative again. Is this expected? I thought baseURL was going away, but seems to be still needed?

[2016-10-10 07:26] nathanhammond commented on #6212
You should, in most cases, not need `routerRootURL`. That's an escape valve intended for more-complicated apps, not the general case.

Anybody who encounters trouble with this please stop by [#-ember-cli](https://embercommunity.slack.com/messages/-ember-cli/) in the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) and explain your entire setup:

- Where you're serving it fro

[2016-10-10 15:44] bantic commented on #6192
ok, sorry for the long delay. Added as ember-cli rfc 71: https://github.com/ember-cli/rfcs/pull/71

[2016-10-10 15:44] #6192 closed

[2016-10-10 17:49] kayakyakr opened #6338 "Getting ember-cli to work on Windows Subsystem for Linux"
Testing out the new Bash on Windows setup with the latest insider preview (14942). I figure this would be a good place for the other crazies like me to list issues and research workarounds.

First issue is with os.networkInterfaces, which is not supported. That prevents ember from installing until https://github.com/indexzero/node-portfinder/pull/41 is applied. The issue behind that is listed here

[2016-10-10 18:17] stefanpenner commented on #6338
TLSSocket seems strange, are you running \w SSL certs?

@wycats you run in this environment, last I checked \w the watcher fixes you where successful.

@eriktrom got any cycles re: the portfinder fun?

[2016-10-10 18:18] stefanpenner commented on #6338
cc @felixrieseberg in-case you are interested

[2016-10-10 19:19] nathanhammond commented on #6338
@kayakyakr

1. Are you using a /etc/hosts based adblocker?
2. [Can you turn analytics off?](https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/.ember-cli#L8)

That may get you past this error.

[2016-10-10 19:27] kayakyakr commented on #6338
@nathanhammond you nailed the TLS issue. It was due to analytics.

Still blocked and this does not provide much information as to what's going on:

[code]

[2016-10-10 19:34] eriktrom commented on #6338
That line of code is deep in nodejs itself, fwiw

[2016-10-10 19:55] stefanpenner commented on #6338
@eriktrom ah...

[2016-10-10 19:59] tommathewXC commented on #4661
Not sure if relevant, but when I had this issue, it was complaining about a bower_component. I basically had to reinstall that component and this problem went away

[2016-10-10 20:06] Turbo87 commented on #6294
@lukemelia any comments?

[2016-10-10 20:58] eriktrom commented on #6338
For context, windows 10 + portfinder do not currently get along. Windows 10 can run node in 2 contexts, both which break portfinder for their own reasons.

1. Bug when run w/out bash shell: https://github.com/indexzero/node-portfinder/issues/39
2. Bug when being run w/ bash shell: this issue

 I believe I have a full solution to this in mind. Thanks @kayakyakr for finding this bug in the bash shel

[2016-10-10 22:37] irvinebroque commented on #6304
By "end-to-end" do you mean "sourcemaps that include vendored dependencies?

https://github.com/emberjs/core-notes/blob/master/ember-cli/2016-09/september-22.md#source-maps

[2016-10-10 22:39] stefanpenner commented on #6304
@irvinebroque yes, although vendored should already work by default. We mostly want to eventually have 1:1 source maps for the app (currently, the issue is all source-map libs are to slow for big apps.....)

[2016-10-11 16:13] stefanpenner opened #6341 "Explore if YARN can be used as the bundled `npm`"
Note: Yarn + ember-cli seem to work together, this issue is specifically for exploring ember-cli + yarn bundled together

---

Once the dust settles, we can continue this an RFC. For now, this is purely fact-finding to inform a future RFC
- [ ] currently not aligned with Node LTS: ~~https://github.com/yarnpkg/yarn/issues/650~~ https://github.com/yarnpkg/rfcs/pull/1 (but seems like it easily could

[2016-10-11 17:51] stefanpenner commented on #6341
yarnpkg/yarn#650

[2016-10-12 15:33] devinus commented on #6341
Yarn doesn't seem to work with both a `package.json` and `bower.json` in the same repo.

[2016-10-13 01:17] irvinebroque commented on #6304
Thanks @stefanpenner! Any pointers on where in the asset pipeline or config to look if we're not getting sourcemaps for vendored files?

For our (quite large) Ember app, sourcemaps are actually working well for our own code, but having them for libs (including Ember) would be a huge help for tracking down issues.

[2016-10-13 07:51] Soliah opened #6345 "rootURL not included in asset references inside CSS when prepending"
[code]

--

With `rootURL` specified the path is correctly included in the asset paths in `index.html`. My expectation was that this would also be included in the production built CSS paths for assets within the CSS like in `url()`. The assets do get correctly prepended, but without the `rootURL`.

Example repo here: https://github.com/Soliah/ember-rooturl-issue

`index.html` correctly has the fol

[2016-10-13 09:03] nathanhammond commented on #4372
Reopening as it was not addressed as part of npm 3 migration.

[2016-10-13 09:03] nathanhammond commented on #5082
Completed.

[2016-10-13 09:03] #5082 closed

[2016-10-13 16:57] binhums commented on #6265
@nathanhammond @pgengler I'm not sure if I've run into exactly the same issue but the stack trace looks very similar.

As far as I know my workaround here ^ stops me being blocked but I believe this is fundamentally an issue with `broccoli-asset-rev` not `broccoli-asset-writer`. I hope this helps.

[2016-10-13 17:18] juanazam opened #6346 "Test fails intermittently when running the whole suite"
Hi!

One of my tests is failing intermittently when running the whole suite, but it doesn't fail when running it by itself.

I created a very basic repository with a vanilla application that reproduces the issue:
https://github.com/juanazam/ember-cli-test-issue.

Basically, I created a component with a text field and a button. The button is disabled while the text is empty.

The issues happens whe

[2016-10-13 17:24] stefanpenner commented on #6346
I don't believe this to be a bug with ember-cli. And nothing obviously stands out to be an offedner... I suspect an Stack overflow question might be best, but feel free to cross link

[2016-10-13 17:33] juanazam commented on #6346
@stefanpenner thanks for the quick reply.

I created a stackoverflow question: http://stackoverflow.com/questions/40027441/why-do-my-test-fail-intermittently-when-running-the-whole-suite.

If you don't believe its a bug in `ember-cli` where do you think the problem could be found?

[2016-10-13 17:43] stefanpenner commented on #6346
Ya, I'm unsure. I would recommend popping into the slack room, and seeing if someone has a chance to help you debug it: https://ember-community-slackin.herokuapp.com/

[2016-10-13 17:45] nathanhammond commented on #6346
I'm closing this issue as likely not a bug. If upon further investigation on your side you discover that it may in fact be a bug in Ember CLI keep posting here: we will still continue to receive notifications from any followup comments on this issue; being closed doesn't mean that we're ignoring the thread.

[2016-10-13 17:45] #6346 closed

[2016-10-13 17:58] juanazam commented on #6346
@stefanpenner @nathanhammond I found what the issue was. When defining the component in the vanilla app:

[code]

should be changed to

[code]

The tests are sharing the reference to `obj`.
[code]

[2016-10-13 18:02] stefanpenner commented on #6346
@juanazam wow, yes please open an issue. Putting complex objects on the prototype is not a good idea.

[2016-10-13 18:25] juanazam commented on #6346
@stefanpenner, at least something useful came out of this 😄

issue: https://github.com/emberjs/guides/issues/1699
PR: https://github.com/emberjs/guides/pull/1700

[2016-10-13 22:11] stefanpenner commented on #6346
@juanazam very much appreciated !!!

[2016-10-13 22:37] Soliah commented on #6345
A work around is to hardcode the path:

[code]

This works in both dev and prod. The problem is my use case the CSS is being included from an addon where I can't hard code the `rootURL` ahead of time.

[2016-10-14 03:27] aexmachina commented on #3760
Is there any update on this? This is still something that I'd very much like to be able to do.

[2016-10-14 07:52] nightire commented on #6345
Why not append prefix path on https://github.com/Soliah/ember-rooturl-issue/blob/master/ember-cli-build.js#L11

[2016-10-14 13:55] markschmid commented on #6257
Just as a quick note: I have exactly the same problem.
It happens on Safari Version 10.0 (12602.1.50.0.10) since upgrade to mac OS Sierra. I've never seen this error before. The error happens quite often, but only to localhost.

We're connecting via nginx as reverse proxy to our node stack (HTTPS, self-signed cert). We're not using anything ember-related at all though, I've found this discussion v

[2016-10-14 16:29] jgadbois opened #6347 "Error on vender js library minimization"
I have a vendor library that is working fine on dev, but on production is throwing an error.  It looks like it's introduced during the minimization process.

[code]
---

Output from `ember version --verbose && npm --version`:
[code]

Not sure if this is a cli issue or the underlying minimizer so apologies if this is the wrong spot.

[2016-10-14 18:06] mdebbar opened #6348 "`analytics.trackTiming()` always receives the category "rebuild""
I would expect the category "build", "cold-build" or "warm-build" when I run a new build. But I always get a "rebuild" category. Is that the intended behavior? I would like to be able to log and track the timing of different categories separately "cold-build", "warm-build" and "rebuild".

Some more details:

`ember build` produces the following:
--
[code]
Code [here](https://github.com/ember-cli/e

[2016-10-14 18:08] nathanhammond commented on #6347
@jgadbois This is almost certainly an underlying issue: either with the library which has the error, or with the minifier itself. We can't help you diagnose without a reproduction. If you can publish a repository with the error we can take a look.

I'm closing this issue as not a bug but if upon further investigation you discover that it may in fact be a bug keep posting! We will still continue to

[2016-10-14 18:08] #6347 closed

[2016-10-14 20:58] mdebbar opened #6349 "Add a clean way to get access to build timing"
Right now, the only way to get the build time information is by creating an addon and monkey patching `project.cli.analytics.trackTiming` like so:

[code]

It would be great to have a clean API to listen to build time info. Something as simple as this could work:

[code]

Any thoughts?

[2016-10-14 21:41] kratiahuja opened #6350 "[Fastboot support] Integrate building & serving fastboot in ember-cli"
This is a master issue tracking the work to integrate building fastboot in ember-cli. We can break this issue into smaller ones if needed. Note: This is a backward compatible proposal in `ember-cli` but incompatible with current fastboot ergonomics.

**TL;DR:** After this issue is fixed it will allow:
1. Fastboot assets to be built using `ember build` and be performant.
2. Allow a different server

[2016-10-15 00:10] ebryn opened #6351 "Avoiding `EmberENV` global variable pollution"
Currently, in [`vendor-prefix.js`](https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/vendor-prefix.js), we always set `window.EmberENV`.

For users that are trying to use Ember CLI to build encapsulated JS code that doesn't pollute the global namespace, this global being set is unavoidable and difficult to monkeypatch away.

It would be nice to reevaluate how we're passing the EmberE

[2016-10-15 04:34] Soliah commented on #6345
@nightire Thanks. Initially I found that didn't work but with @rwjblue suggestions in #6212 I was able to make it work.

So to summarise:

- Add rootURL prefix to the fingerprint statement: `https://aaaaaaa.cloudfront.net/prefix/`.
- In development leave `ENV.rootURL = '/prefix/';`
- In production set `ENV.rootURL = '/';`
- In `router.js` set `rootURL: '/prefix/'

This correctly sets the prefix in

[2016-10-15 04:34] #6345 closed

[2016-10-17 00:35] alanzheng88 opened #6355 "ember.js server 1 minute startup time on vagrant ubuntu"
Reference: emberjs/ember.js#14483

Output from `ember version --verbose && npm --version`:
[code]

Steps to reproduce issue:
- Follow instructions specified on https://github.com/alanzheng88/vagrant-chef-emberjs-boilerplate
- Note ember server build time

[2016-10-17 02:09] technomage commented on #3419
jimijon: I resolved this by doing npm install ember-cli-htmlbars --save and then it produced an error that indicated I needed to do ember install ember-cli-htmlbars-inline-precompile which was already in my package.json.  But, doing those 2 steps resolved the issue.  This in ember-cli 2.7 and ember 2.7 on a newly generated add on.  Note that I am using ember-cli-mocha which may have factored into

[2016-10-17 02:20] pzenger commented on #5823
@MartinMalinda 's fix worked for me also.  Perhaps add this to the readme?

[2016-10-17 06:14] nathanhammond commented on #6355
This is due to virtualized FS access and there's little we can do about it. Rebuild times should be _much_ faster than initial build times, but running Ember CLI in a VM will never be ideal. We can do better, but that effort won't be tied specifically to a VM.

Thank you for reporting the slowness, please help us monitor for any regressions!

[2016-10-17 06:14] #6355 closed

[2016-10-17 09:42] hjdivad commented on #6349
@mdebbar have you looked at the json output from using [`BROCCOLI_VIZ`](https://github.com/ember-cli/ember-cli/blob/master/PERF_GUIDE.md#broccoli-viz).

You can see some examples of this being processed in [broccoli-slow-trees](https://github.com/rwjblue/broccoli-slow-trees/blob/master/calculate-summary.js#L20-L63).

What's your specific goal for which you want to monitor build times?

[2016-10-17 11:04] xcambar commented on #2874
Same here. It's happening again in 2.8.0

[2016-10-17 11:07] xcambar commented on #2874
FWIW: Disabling analytics solves this. See https://github.com/ember-cli/ember-cli/issues/6248

[2016-10-17 13:38] alanzheng88 opened #6356 "livereload requires toggling extension twice in google chrome to work"
Output from `ember version --verbose && npm --version`:
[code]
Steps to reproduce issue:
1. Open any ember.js project
2. Enable liveReload in .ember-cli file
[code]
3. Start ember server in vagrant vm
4. Go to Google Chrome on host and access a project page
5. Make changes to the project page in step 4
6. Note changes are not reflected in browser

I noticed that by toggling LiveReload Google Chrom

[2016-10-17 14:04] alanzheng88 commented on #6356
I realized I forgot to forward the port 35729 in the VM

[2016-10-17 14:13] alanzheng88 commented on #6356
I initially thought that forwarding port 49152 would resolve the issue but it didn't which leads me to believe that
[code]
needs to be displayed in the body on its initial load for livereload to work.

[2016-10-17 15:41] nathanhammond commented on #6356
1. We insert the livereload handling for you and it doesn't require a browser extension. I suspect that conflicts there are the problem. We know that the baseline behavior works (otherwise we'd be hearing about it often), so this is likely a local configuration problem.

2. We've moved on to Ember CLI 2.8 with 2.9 releasing today. Please upgrade to a newer version and see if the issue persists.

I

[2016-10-17 15:42] #6356 closed

[2016-10-17 19:18] eriktrom commented on #6338
I'll cut a release with this merge in a few hours if no one sees any issues:

https://github.com/indexzero/node-portfinder/pull/42

[2016-10-17 19:57] IgorKvasn commented on #6341
related issue: https://github.com/yarnpkg/yarn/issues/617

[2016-10-17 20:01] arjansingh commented on #6350
Generally I like this. I have no major conceptual issues with it on first read.

Points of feedback:

1. The new directory structure would be a big breaking change for Ember Apps. Does that mean we're at `2.0.0` already?
2.  "Explicitly disallow styles in `fastboot/`"... I'm not sure I understand the issue. Could you elaborate?
3.  Our testing strategy for FastBoot has been a little ad-hoc. I do t

[2016-10-17 20:08] grapho opened #6357 "Error proxying to (insecure?) connections, --secure-proxy / --insecure-proxy ?"
![screenshot from 2016-10-17 15 58 14](https://cloud.githubusercontent.com/assets/8184011/19453316/c0ce89b0-9482-11e6-819b-e21eb9e185f4.png)

Above, I posted a convo I had with myself on Slack

Regarding the recent change of `--insecure-proxy` to `--secure-proxy` ... I appear to be in a state where I cant proxy to any insecure server? at least that is what i think is happening...

It does not matt

[2016-10-17 20:13] kratiahuja commented on #6350
@arjansingh : Thanks for your feedback! Here are my responses:

I would prefer to hold up 1.0 release in order to pull this in. I can guarantee that this is a blocker for us as well and I would rather introduce this pre 1.0. If there is an issue of resources to work on, we can definitely help. I know @tomdale doesn't want to wait too long but I think we need to push this before 1.0 goes out of the

[2016-10-17 21:44] iezer commented on #6332
The 3rd bullet about old tests is done.

[2016-10-17 21:47] iezer commented on #6332
A few other tasks:
 - [ ] Make the new resolver log when `ENV.APP.LOG_RESOLVER = true`
 - [ ] Update blueprints to use the new structure
 - [ ] Need to implement [Example Addon](https://github.com/dgeb/rfcs/blob/module-unification/text/0000-module-unification.md#example-addon) and support both old and new addon structures. Partially handled via recent work to fallback to old resolver.

[2016-10-17 22:17] eriktrom commented on #6338
portfinder@1.0.8 has been published to npm.

There should be no breaking changes but as always no news will be good news :)

[2016-10-17 22:22] stefanpenner commented on #6338
nice,  good work. Thank you sir!

Closing for now, will reopen if the above fix did not address (or something else related ends up being funky)

[2016-10-17 22:23] kayakyakr commented on #6338
@stefanpenner the portfinder issues were not the breaking problem with this bug. It was a side issue that I had opened in portfinder's branch and made mention of a workaround here to see if anyone else was working in this environment.

[2016-10-17 22:34] eriktrom commented on #6338
@kayakyakr - can you re-iterate on the breaking problem? Sorry must have missed something? Does booting the express server still cause u issues?

[2016-10-17 22:37] eriktrom commented on #6338
`ember s -lr false` gives u `ECONNRESET`, is that the case?

[2016-10-17 22:37] kayakyakr commented on #6338
Sorry, @eriktrom, you'll have to give me a few hours before I can test again to confirm. I'm back in Linux, will have to reboot into windows.

[2016-10-17 22:38] eriktrom commented on #6338
LOL no worries - put everything u find in a gist if it gets long - i finally got windows running with decent perf so don't mind verifying

[2016-10-18 00:52] nathanhammond commented on #6338
Reopening for tracking status, @kayakyakr keep us up-to-date. Will close after one week without additional updates. 😄

[2016-10-18 00:55] nathanhammond commented on #6357
@grapho and I chatted in Slack. `--secure-proxy=false` is what you're looking for, I believe.

[2016-10-18 00:55] #6357 closed

[2016-10-18 11:19] mikl opened #6359 "Broken on Node v6.8.1?"
After upgrading to Node.js 6.8.1, ember-cli appears to be completely broken.

Any use of the `ember` command does nothing – it outputs nothing, but (seemingly) never exits, like it's waiting for a callback that never comes.

---

Output from `ember version --verbose && npm --version`:
[code]

[2016-10-18 12:37] grapho commented on #6357
@nathanhammond thanks for the info!

[2016-10-18 14:04] btecu commented on #6359
Works fine for me:
[code]

[2016-10-18 14:08] mikl commented on #6359
Hmmkay, very strange. I've tried rebooting, reinstalling, different versions of ember. Nothing seems to help. Maybe it's my machine thats just b0rked.

[2016-10-18 15:32] nightire commented on #6359
@mikl If you keep waiting, does it throw an error finally? I don't remember exactly what it is, something like `ETIMEDOUT` or similar.

If so, try `npm install portfinder@1.0.7` in your project, don't install the latest version, just `1.0.7`.

[2016-10-18 16:15] nathanhammond commented on #6359
Pattern matching, this is going to be a `watchman` problem: https://github.com/ember-cli/ember-cli/issues/6259#issuecomment-247110522

I'm closing this issue as not a bug but if upon further investigation on your side you discover that it may in fact be a bug keep conversing here. We will still continue to receive notifications from any followup comments on this issue; being closed doesn't mean th

[2016-10-18 16:15] #6359 closed

[2016-10-18 16:26] Cryrivers commented on #6359
![screenshot](https://cloud.githubusercontent.com/assets/1313238/19486842/93434c36-9592-11e6-96d8-84666d6eedbe.png)

I also believe it is not related to the `watchman` problem but a `portfinder@1.0.8` problem.

[2016-10-18 16:29] nathanhammond commented on #6359
@Cryrivers can you confirm your platform?

[2016-10-18 16:33] nathanhammond commented on #6359
/cc @eriktrom We may have news about portfinder being reported by @Cryrivers. That would likely be a distinct from the issue which @mikl was originally reporting.

[2016-10-18 16:36] Cryrivers commented on #6359
@nathanhammond macOS 10.12.0 / Node v5.12.0 / Ember CLI 2.8

[2016-10-18 16:42] nathanhammond opened #6361 "Portfinder 1.0.8 Investigation"
@cryrivers reports that portfinder@1.0.8 is not working as part of this permutation: macOS 10.12.0 / Node v5.12.0 / Ember CLI 2.8

@nightire presents a workaround of pinning 1.0.7 which implies that they have encountered an issue. Can you please describe your system setup, @nightire?

/cc @eriktrom

[2016-10-18 16:43] nathanhammond commented on #6359
Abandoning this thread. If it's watchman we're solved. If it's portfinder we have #6361 to track it now.

[2016-10-18 16:49] eriktrom commented on #6361
Will look into it. I board a plane in 20 min. Usually they have wifi. I hope nothing is really really broken.

[2016-10-18 16:50] mikl commented on #6359
Uninstalling watchman solved the issue, thanks.

[2016-10-18 16:52] eriktrom commented on #6361
According to #6359 its watchman. Thanks @mikl for verifying that

[2016-10-18 16:56] nathanhammond commented on #6361
There are still other reports possibly identifying 1.0.8 as an issue. @cryrivers @nightire can you confirm/deny?

@eriktrom Don't worry about it on your flight, it's not super-critical considering a few-days-old release. <3

[2016-10-18 17:02] nathanhammond commented on #6351
@ebryn This will unfortunately likely break a large portion of the ecosystem and should be done as part of our 3.0 release. Whatever we replace it to will be easy to migrate to, but will still require everybody to make an adjustment. I'm going to reopen this as an issue on our RFCs repo as a "breaking bugfix 3.0" item.

[2016-10-18 17:20] eriktrom commented on #6361
Roger that. I will take a deep look later this afternoon. Portfinder does actually pipe text through the socket and back to the client now so it is doing more than just checking that the listening event fires. Odd nonetheless.

[2016-10-18 17:59] mdebbar commented on #6349
I didn't know about that, thanks for the pointer. I tried it but I don't think I'll use broccoli viz, simply because it generates huge json and dot files (40+ MB) that I don't need. I just need the build time.

I found out that I can do`builder.on('start', function() { ... })` and `builder.on('end', function() { ... })` and capture `Date.now()` in both. Then calculate the build time as the differe

[2016-10-18 18:01] stefanpenner commented on #6349
we already have this tracking, but its likely not publicly augmentable.

@twokul got any suggests on how to make leak pluggable here?

[2016-10-18 18:44] mdebbar commented on #6349
@hjdivad, @stefanpenner in the future, we are planning to track the timing of sub-tasks (e.g. css compilation, babel, rollup, etc). Basically, the same info that's displayed as `Slowest Trees` by ember-cli. Is there a way to access that information without generating the gigantic broccoli-viz files?

[2016-10-18 18:45] arschmitz commented on #6361
I ran into this this morning as well and removing watch man had no effect but fixing portfinder to 1.0.7 did even happened i'm running osx 10.12 node 6.4 and 6.7 ( tried both ) and ember-cli 2.9.0-beta.2 co workers with same everything except osx were fine

[2016-10-18 19:31] bantic commented on #6361
I had the same issue just now as well. Adding an explicit dependence on portfinder@1.0.7 fixed for me as well.
And perhaps more usefully, the following script hangs for me with 1.0.8, but runs with the expected result (4200) with portfinder 1.0.7:
[code]

Output from ember version:
[code]

[2016-10-18 20:29] nightire commented on #6361
@nathanhammond I can confirm it is related with portfinder, 1.0.8? maybe, the only thing I can be sure is portfinder@1.0.7 is the cure for now.

watchman? not likely, this afternoon I work with this problem more than 3 hrs, I've tried install/uninstall watchman multiple times, it didn't change anything.

and I also think the root of problem is coming from macOS sierra public beta, at least some ve

[2016-10-18 22:40] JasonGoemaat commented on #6361
Coming here from angular-cli where I ran into this issue on Windows 10.  The portfinder installed tries to bind to my bluetooth network adapter which has an error, even though I specify the host of localhost, 127.0.0.1, or my local network ip.  Why is PortFinder used when the ports are specified?  Does it 'validate' the port before actually trying to use it or something?

[2016-10-18 22:46] nightire commented on #6361
@JasonGoemaat One reason behind that I think is to allocate an available port to livereload, because you might run multiple `ember s` (or ng-cli) process at the same time, even we can specify different port for app server, but livereload still requires a free port.

[2016-10-18 23:00] JasonGoemaat commented on #6361
You can specify the --live-reload-port too though...  I would think if a port was specified that it shouldn't attempt to use a different port.  Is it so you can specifyport 5000 and start up several instances on 5000, 5001, 5002, etc.?  That never seemed to work before I had this issue anyway, if I tried to start a second project it would give me an error instead of trying a new port.

[2016-10-18 23:01] kiwiupover commented on #6361
@eriktrom did you see this also http://stackoverflow.com/questions/40117065/ember-application-fails-to-load-after-upgrading-it-from-ember-2-7-to-2-8-when-co

[2016-10-18 23:26] kabirsikand commented on #6361
I'm seeing this issue using Node v5.20.0 / Ember-CLI 2.8.0 / OSX 10.12.0
Watchman v4.7
Portfinder v1.0.8

[code]

[2016-10-18 23:29] kabirsikand commented on #6361
And, to confirm - migrating to `portfinder 1.0.7` did the trick.

*(Add `"portfinder": "1.0.7"`) to your `package.json`)*

[2016-10-18 23:48] eriktrom commented on #6361
Portfinder 1.0.9 has been published to npm. It has the same code as 1.0.7. Sorry folks

[2016-10-19 00:04] zackthehuman opened #6362 "`this.app.options` is `undefined` before `included` hook is called"
Accessing `this.app.options` is `undefined` until the `included` hook is called. This is normally OK unless you want to use build-time configuration inside of `setupPreprocessorRegistry`.

I have a specific use case where a dev can specify settings for a CSS preprocessor, and those settings are used to determine what to do inside of `setupPreprocessorRegistry`. Unfortunately I can't get access to

[2016-10-19 00:25] eriktrom commented on #6361
@JasonGoemaat - thanks for the windows 10 feedback. That was the reason for portfinder 1.0.8. Unfortanetly from inside a VM I didn't have bouetooth as an interface.

To clarify all - yes portfinder verifies a port is not in use before booting express and live reload. It is a rather hard thing to validate across every OS though as one must know the error the node syscall will throw a priori

Thanks

[2016-10-19 00:39] eriktrom commented on #6361
Regarding the issue in angular-cli - specifically with manually passing a live reload or normal server port and having it not pass through to portfinder - this is b/c angular-cli forked long ago and does not have recent enough code including that feature, even though it does include portfinder@^xxx. This perhaps should be addressed at some point.

[2016-10-19 01:18] nathanhammond commented on #6362
We need to define the set of hooks and order of operations we desire for all of the hooks inside of Ember CLI.

[2016-10-19 01:29] nathanhammond commented on #6361
@eriktrom Thanks for the update. Closing this issue.

As always we're _incredibly_ grateful for your unending efforts on this.

[2016-10-19 01:29] #6361 closed

[2016-10-19 01:42] kratiahuja commented on #6350
@rwjblue Would love your feedback on this issue.

[2016-10-19 03:49] eriktrom commented on #6361
@nathanhammond - no problemo. Turns out u can't pipe to bluetooth even though it'll listen on a port u open on it(odd). I had bluetooth disabled in mac os yesterday completely.

This means I'm currently all out of hacks for windows 10 native shell support for portfinding - fyi. Will open PR if that changes.

[2016-10-19 03:57] eriktrom commented on #6338
@kayakyakr - fyi - the hack from YARN was reverted w/ windows native shell support - I will merge ur original fix(the same fix in YARN) back in b/c that should still work. However, if there errors that arise after that(as u mention there we're) lets take a look at the whole problem before solving the last error. Let me know what u find.

[2016-10-19 06:01] zackthehuman commented on #6362
I'm on board with this idea. Do we need an RFC? What do we need to do get this figured out?

[2016-10-19 07:13] stefanpenner commented on #6349
@mdebbar I would recommend looking at where the slow tress are calculated today, that should most likely give you want you want.

[2016-10-19 07:16] stefanpenner commented on #6362
this isn't public API, nor do I think supporting this feature makes much sense.

[2016-10-19 15:12] zackthehuman commented on #6362
Agreed. That's not what this issue is about. This issue is about not being able to access build-time options until `included` has been called. This aspect make absolutely no sense to me since the build options are set in the constructor of the top-level object (excluding the `Project`).

I don't see why this limitation is in place other than it is just an oversight.

The big about `this._findHost(

[2016-10-19 16:46] nathanhammond commented on #6362
@zackthehuman It will need an RFC as a consequence of necessarily changing semantics. While we put things in order we should also take notes on the things that it feels like we're missing. 😛

[2016-10-19 16:48] nathanhammond commented on #6362
Also, since this must be an RFC I'm closing it here. @zackthehuman would you pretty please port the concept to an issue over on the RFC's repo? Or write an RFC? 😜

[2016-10-19 16:48] #6362 closed

[2016-10-19 16:50] nathanhammond commented on #6362
(Aside, I would be willing to consider addressing this one case as a bugfix if you wanted to take a swing at a PR. I'm unsure how much would have to change to support it and that would be what makes the decision for me.)

[2016-10-19 19:49] ebryn commented on #6351
@nathanhammond I believe we can add a flag, similar to `autorun` and `storeConfigInMeta` that gives users a means of avoiding the `EmberENV` global being output. Would be nice to find an intermediate path towards this that doesn't require waiting until 3.0.

[2016-10-19 19:53] kellyselden commented on #6351
or using an addon, via exclusive like `ember-disable-prototype-extensions` or inclusive like `ember-export-application-global`

`ember-disable-ember-env-global` or `ember-export-ember-env-global`

[2016-10-19 21:08] twokul commented on #6349
@stefanpenner let me think about it. it might require some changes to ember cli

[2016-10-19 22:04] tomdale commented on #6350
Thank you for the detailed writeup! This definitely aligns with my thinking and am very happy to have you tackle it. Here are a few initial thoughts after reading the above.

#### 2.0?

I think most people on the core team believe that it is worth blocking 1.0 if we can get this in before the Ember 2.10 is out. The reason is simple: currently, just installing the FastBoot addon doubles your build

[2016-10-19 23:41] zackthehuman commented on #6362
@nathanhammond Posted an issue: https://github.com/ember-cli/rfcs/issues/73

[2016-10-20 02:03] kratiahuja commented on #6350
@tomdale: Thanks for you feedback! I really appreciate it! 😄

I agree this issue should be fixed ASAP. I promise I am working 100% of my time on it except for dancing here and there once in a while 😃 . I would prefer to wait to cut Fastboot 1.0 until this is merged in.

I think we can definitely mimick the fastboot command to be doing what we are doing here in `ember-cli` of generating the additiv

[2016-10-20 03:08] eriktrom opened #6364 "Update portfinder to handle bash on windows error"
Upstream merged PR: https://github.com/indexzero/node-portfinder/pull/46

Fixes one of (one or many, TBD) issues filed at #6338

Also, I found these comments @ the underlying bash on windows issue that mentions the `os.networkInterfaces()` error, specifically for ember-cli and angular-cli users:

https://github.com/Microsoft/BashOnWindows/issues/468#issuecomment-252081810
https://github.com/Micros

[2016-10-20 03:19] khunemz opened #6365 "use ember new project-name but it throws error after npm install yarn"
after` npm install -g yarn`

I try to create new project
`ember new project-name -dir ui`

but it shows an error
`You cannot use the new command inside an ember-cli project.`

I am using

[code]

Others info

[code]
Thank you in advance

[2016-10-20 04:26] twokul commented on #6365
@khunemz just tried `ember new project-name -dir ui` and it worked.

[code]

are you sure you are not inside existing project?

[2016-10-20 05:07] khunemz commented on #6365
@twokul I am in the empty directory no any projects included.

[2016-10-20 05:13] #6365 closed

[2016-10-20 05:50] nw commented on #6364
I think a minor release is appropriate (1.10.0).

The PR looks good, I'm just not a fan of 'throw' in utility modules. However, you could argue using this lib and not returning a valid value should crash. I generally like to leave that decision to the app dev. I'm 50/50 on throw here.

[2016-10-20 06:23] eriktrom commented on #6364
@nw - regarding the return value. I agree, the reason is b/c it's explicit and self documenting. Actually had it this way in 1.0.8(not buggy loc), I'll just return what's in the docs and remove the comment pointing to a the default.

One q: Do u agree that '0.0.0.0' and '::' per the node docs default value or something better. I ask b/c the only reason for the for loops over 'os.networkInterfaces'

[2016-10-20 07:31] eriktrom commented on #6364
Sorry and regarding the error - don't u think I should re-throw unless I handle the error explicitly? Feel feee to dive into that as well. Totally curious. Thanks again.

[2016-10-20 08:38] nathanhammond commented on #6351
3.0 will hopefully follow the "no-new-features" pattern, so we would want to land it in advance behind some sort of configuration, opt-in. Then, after some time, opt-out, and then, at 3.0 remove the option. If you're willing to create a PR for this we'd definitely consider it.

[2016-10-20 11:00] HashBug opened #6366 "Server Validation Errors not displaying in Templates"
When we try to save record and API responds with a validation error and status code 422 , the [docs](http://emberjs.com/api/data/classes/DS.Errors.html) say that the errors are populated in model and can be used to display validation error messages returned from the server when a record.save() rejects. **But either the model doesn't populate automatically in my case or maybe the model content does

[2016-10-20 13:06] amk221 opened #6367 "Feature: Live reload for apps not being served with `ember serve`"
I use `ember build --watch`, instead of `ember serve`

The output of which is served independently from ember-cli - it therefore lacks the injected live-reload script.

It would be great if there was a way to get this to work, it might even already be possible (but undocumented?)

Thanks

[2016-10-20 13:40] sharmaomkar opened #6368 "npm install ember-cli@2.4.3 fails and stops at extracting npm-2.14.21.tgz package"
Thank you for taking the time to open an issue!

For bug reports please include the following section in your issue details.
If you include instructions on how to reproduce the bug or a failing test case
it will make it easier for us to track down the issue you're having.

---
Hi, am trying to install ember-cli using npm but stops at https://registry.npmjs.org/npm/-/npm-2.14.21.tgz and seems like

[2016-10-20 16:45] twokul commented on #6368
are you sure you have access to `/tmp/`? [this link](https://docs.npmjs.com/getting-started/fixing-npm-permissions) might be helpful

[2016-10-20 16:48] twokul commented on #6366
I doubt it is an issue with `ember-cli`. StackOverflow might be more appropriate venue to ask that sort of questions (and you will probably receive the answer faster).

[2016-10-20 16:48] #6366 closed

[2016-10-20 17:00] nathanhammond commented on #6368
@sharmaomkar This is not going to be an issue that we can resolve here. You've tried asking in Slack and have been told that it's a permissions error and to try upgrading your system. You've stated that you can't but _that is our proposed solution_.

This issue is showing up _before_ Ember CLI is even successfully installed and is not our issue. I'm closing this as it is not related to Ember CLI i

[2016-10-20 17:00] #6368 closed

[2016-10-20 17:20] ebryn commented on #6351
I've looked into the implementation a bit and I think I have a relatively easy solution in mind.

@rwjblue Is there a reason why [these lines](https://github.com/ember-cli/ember-cli/blob/375f3a32f4564465d2eccc3815cb61b570ce29f0/lib/broccoli/vendor-prefix.js#L3-L4) are hardcoded and not just emitted by the `{{content-for 'vendor-prefix'}}`? Perhaps there is an ordering requirement?

[2016-10-20 17:23] HerveSeger commented on #6318
I am exactly in the same situation with an addon we built to setup corporate projects with default packages/versions.

Furthermore, the default addon blueprint is not automatically executed anymore when the command `ember install https://github.com/company/addon-name.git#master` is run. ember-cli throws:
[code]

I  had to rollback ember-cli to a previous version to get the expected behavior.

[2016-10-20 18:48] stefanpenner commented on #6367
Why not just use serve?

[2016-10-20 20:17] nathanhammond commented on #6318
@HerveSeger that just means that you need to:

`ember install https://github.com/company/addon-name.git#master && ember g addon-name`

We don't guess at that anymore because it wasn't guaranteed to be correct.

The saving of the blueprint will be addressed by #6319 once @binhums is back.

[2016-10-20 20:28] nathanhammond commented on #6348
This is likely because you had a persistent cache and it identified that it wasn't a completely cold build. Can you confirm by removing `/tmp/*async-disk-cache-*`?

[2016-10-20 20:30] nathanhammond commented on #6348
Oh look at that, it's hardcoded. I simply assumed that we tried to do the right thing.

[2016-10-20 21:18] rwjblue commented on #6348
haha, never assume that!

[2016-10-20 21:31] lcoq commented on #3003
For future readers, there is [the same question on stackoverflow](http://stackoverflow.com/questions/25000090/handle-the-backend-rejected-the-commit-because-it-was-invalid-during-test), but still no acceptable answer since Jul 28 '14.

Use `.catch` as @Kuzirashi said is not an acceptable solution as the idea is to prevent this error to throw only during *tests*.

cc @stefanpenner

[2016-10-20 22:05] amk221 commented on #6367
I didn't realise `--output-path` worked with `ember serve`. I will try that.

[2016-10-20 22:23] HerveSeger commented on #6318
@nathanhammond
I knew that  a  manual install was still possible but I did not know that this behavior had changed so thanks for the info.

Thanks as well for the reference to #6319, I will wait for the fix.

[2016-10-20 22:36] nathanhammond commented on #3003
Note this isn't related to Ember CLI. This is an Ember Data question.

Please stop by the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) if you have questions about how things work or proposals for changes.

[2016-10-20 22:38] nathanhammond commented on #6367
I'm closing this issue as not a bug. In the mean time we will still continue to receive notifications from any followup comments on this issue; being closed doesn't mean that we're ignoring the thread. Slack is _likely_ better for this type of question.

[2016-10-20 22:38] #6367 closed

[2016-10-20 22:38] lcoq commented on #3003
@nathanhammond Really sorry I thought I was on ember-data repo. Apologies!

[2016-10-20 22:39] nathanhammond commented on #3760
@aexmachina Lazy Ember Engines will allow for this. There is also `outputFile` on `app.import`.

[2016-10-20 22:43] nathanhammond commented on #6351
@ebryn `EMBER_ENV` is hardcoded because of the [original method for populating it](https://github.com/ember-cli/ember-cli/blob/d62cd9f9f1dc5e97a90d80adb01c243addefe8ab/lib/broccoli/ember-app.js#L734), it'd be fine to move it into `vendor-prefix` to allow for that to be the dynamic insertion point. Unsure about the tests.

[2016-10-21 00:08] eriktrom commented on #6364
So an update here - I had some odd results while testing the bash support this morning. I am also not in town(and don't want to ship this rushed).

I'll be back on the 1st and I'll re-open this PR - at which time I'll work through why I was getting portfinder to correctly run the tests an hour ago and now can't reproduce that now. I have 3 windows users now and the shells seem to be acting up - wh

[2016-10-21 00:11] eriktrom commented on #6338
https://gist.github.com/eriktrom/532ad837acfd6f03b4b4e819ed9b0fb2

[2016-10-21 00:16] nathanhammond commented on #6348
@rwjblue I feel like :trollface: should be promoted to a reaction.

[2016-10-21 05:20] sharmaomkar commented on #6368
@twokul Yes I have access to /tmp folder.

[2016-10-21 05:22] sharmaomkar commented on #6368
@nathanhammond Okay nathan, thanks. I will check the solution for this in npm github page. And I will try to update npm + node and I will try to install ember-cli.

[2016-10-21 05:54] HashBug commented on #6366
Yeah I did the same 4 days ago, I posted my question on Stackoverflow as well, but It is not answered yet, that's why I considered taking this issue to the github.
[Stackoverlow Link](http://stackoverflow.com/questions/40081844/server-side-errors-not-populated-in-ember-model-with-restadapter)
However I have already solved the problem by setting the model in the action.
The [docs](http://emberjs.co

[2016-10-21 08:19] stefanpenner commented on #6348
we could in theory differentiate between first rebuild, and subsequent rebuilds. But beyond that, the rest is tricky.

[2016-10-21 13:24] ctusch opened #6372 "Warn when different addons overwrite each other's file"
I'm currently using in-repo-addons to structure the files in our project. This has the disadvantage that one wouldn't immediately notice when two addons have e.g. a service with the same name. Would it be possible for ember-cli to output a warning in such a case?

[2016-10-21 13:40] ctusch opened #6373 "Component in /addon directory is still available in the app"
I have an in-repo-addon. When I put a component in the /addon directory with no export in the /app directory the component is still added to the registry and can be accessed in the parent app. This is not true for services added in the /addon directory.

[2016-10-21 16:15] stefanpenner commented on #6372
yes, this is a known issue for ages. TL;DR although people use it, nested add-ons  are actually not yet supported. Although we do have plans to support this, right now it is merely fraught with peril.

[2016-10-21 22:21] nathanhammond commented on #6373
Cannot reproduce. Let me know if I've misunderstood you.

I'm closing this issue as likely not a bug but if you can create a simplistic reproduction we're happy to reopen. In the mean time we will still continue to receive notifications from any followup comments on this issue; being closed doesn't mean that we're ignoring the thread.

---

[code]

[2016-10-21 22:21] #6373 closed

[2016-10-24 09:11] GeorgeAdams95 opened #6382 "ember-cli failing using citgm"
I am getting the following failure on all our linux machines when running
`citgm -v verbose -q error ember-cli`

[code]

[2016-10-24 09:25] ctusch commented on #6372
I'm not sure whether we are talking about the exact same thing. To clarify: There is never a warning about a file name collision in the importing app, not with normal, unnested addons and also not with in-repo addons. I have not tested it with nested addons.

[2016-10-24 12:14] ctusch commented on #6373
I'm sorry. It seems like it was a temporary issue. I can't reproduce it anymore. Sometimes the build process seems to have trouble rebuilding in-repo addons but that would be another issue. Thank you!

[2016-10-24 15:38] nathanhammond commented on #6382
Hey @GeorgeAdams95! This seems likely due to the way `citgm` sets everything up or it could even be a legitimate failure in the most recent Node.js. As it stands this isn't a workflow that we have presently tried to support in any way and so it doesn't surprise me that it isn't working.

Properly setting expectations: support for `citgm` is not on our list of priorities and we won't be addressing

[2016-10-24 15:38] #6382 closed

[2016-10-24 15:40] nathanhammond commented on #6372
@ctusch Confirm. We're on the same page. We have `overwrite: true` set on our broccoli trees.

[2016-10-24 23:19] twokul commented on #6348
it might be tricky even for re-builds. apart sane watch registry and persistent filter cache, is there another way to tell we're running a subsequent build? @stefanpenner

[2016-10-25 02:15] mdebbar commented on #6348
@twokul one idea I thought of is using a build counter. If the counter is 0 it's a build.. anything greater than 0 is a rebuild.

[2016-10-25 02:21] twokul commented on #6348
we won't be able to deterministically tell if it is a cold/warm build or not. say instance of ember-cli crashes but persistent cache still exists (it will technically be a warm build).

[2016-10-25 02:34] mdebbar commented on #6348
Sure, `warm` vs `cold` is tricky. My comment was re: `rebuild` vs `initial build`.

[2016-10-25 03:54] nathanhammond commented on #6348
@twokul We can probably expose some API to accomplish that on https://github.com/stefanpenner/async-disk-cache ... hit vs. miss ratio? But I think we're storing additional data inside of the `value` which makes pure hits & misses not extremely relevant.

We almost want to weight it based upon number of hits and time saved by that cache hit.

[2016-10-25 04:45] mdebbar commented on #6348
@nathanhammond @stefanpenner @twokul does the exposed API have to be "warm" vs "cold"? What if ember-cli just exposes some valuable information (e.g. hit vs miss ratio) and let the user decide the classification? I can see different users having different definitions of what "cold" and "warm" are. Ember-cli should give them enough information, allowing them to classify builds according to their ow

[2016-10-25 07:13] sibijohn72 opened #6384 "ENOTFOUND google-analytics.com"
I created a new ember application in 1.13 and upgraded it 2.9.0. When i server the ember app, it gets served successfully. I am able to see "Welcome to ember" but the console has the following message related to google-analytics. I am behind a proxy, could that be causing this issue?

---

Output from `ember version --verbose && npm --version`:
ember-cli: 2.9.1
http_parser: 2.5.2
node: 4.4.7
v8: 4

[2016-10-25 15:27] alexmiddeleer commented on #4794
I caused this problem myself by using the `--launch` flag and misspelling the browser name, e.g. `ember test -s --launch chome --filter 'my fancy test'`. So if anyone else finds this page via google, this might be your issue.

[2016-10-25 16:18] stefanpenner commented on #6372
I suspect the only reasonable solution is to not use `app/` in add-ons,  and rather defer to generators to re-export. This makes merges explicit

[2016-10-25 16:21] stefanpenner commented on #6348
@mdebbar in theory that is possible, but requires instrumentation changes to the full stack. Not impossible, but something that needs more consideration.

[2016-10-25 16:27] twokul commented on #6384
does disabling analytics make the problem go away?

[2016-10-25 17:05] stefanpenner commented on #6384
@twokul having just come back from somewhere with spotty internet, i realize this happens more then I thought. I had an idea, could leek hide these types of errors?

[2016-10-25 17:19] twokul commented on #6384
@stefanpenner ya, tracking here https://github.com/twokul/leek/issues/36

[2016-10-25 17:41] stefanpenner commented on #6384
@twokul thanks :)

[2016-10-25 17:58] stefanpenner commented on #6350
ya, this seems legacy I dont think we need this going-forward.

[2016-10-25 18:04] dafortin opened #6386 "Make the blueprint `addAddonsToProject` and `addPackagesToProject` more configurable"
I’m currently creating a blueprint and in my blueprint I’m doing something like this:
[code]

Then I’m doing an `ember install` of my package which contains this blueprint. `a-package` is installed successfully in my consumer, but in my `package.json` I’m seeing the following:
`"a-package": "1.20.0"`

`1.20.0` is my latest package matching `^1.0.0`.

I will like to be able to see in my `package.js

[2016-10-25 19:19] fooey commented on #6341
Looks like yarn is deciding to abandon bower support: yarnpkg/yarn#1441

[2016-10-25 23:42] f0ru0l0rd commented on #6326
Might be blocked, and might not be breaking anything, but it's disconcerting when a person loads ember, goes through a quickstart, and sees this. It's not kosher, it's frightening.

[2016-10-26 00:26] nathanhammond commented on #6326
@f0ru0l0rd We're still tracking this issue, just not here. https://github.com/twokul/leek/issues/36

[2016-10-26 00:54] nathanhammond commented on #6384
Closing here as it's not addressable on this side and we control the upstream.

[2016-10-26 00:54] #6384 closed

[2016-10-26 01:03] nathanhammond commented on #6386
This is the line which is hardcoded: https://github.com/ember-cli/ember-cli/blob/540788ccc8d2d7d89f8fed6a74cf6c0a3398473c/lib/tasks/addon-install.js#L42

This is what eventually invokes that install task: https://github.com/ember-cli/ember-cli/blob/540788ccc8d2d7d89f8fed6a74cf6c0a3398473c/lib/models/blueprint.js#L1065

We already have a way to get generic options all the way into that task via `op

[2016-10-26 23:44] wagenet commented on #6341
Does this also cover using yarn for `ember install ADDON`?

[2016-10-26 23:59] stefanpenner commented on #6341
@wagenet yes, actually this is the primary goal.

[2016-10-27 06:41] aexmachina commented on #3760
Okay thanks @nathanhammond. FWIW I can't find any documentation for this on ember-cli.com.

[2016-10-27 06:55] nathanhammond commented on #3760
@aexmachina Once you figure it out would you write some? ❤️ It's incredibly hard to go back and document all the things that we aren't actively using.

[2016-10-27 10:11] aexmachina commented on #3760
@nathanhammond I'll try, but we've moved on and don't need this any more. Will certainly do so if I do use it!

[2016-10-27 17:08] chriskrycho commented on #3714
Worth note: npm 3 did *not* solve this. However, `npm cache clean` does still fix it.

[2016-10-27 17:26] MarkMT commented on #5249
Was anything done to address this issue? @kellyselden proposed updating the README and  @stefanpenner proposed updating the website. I see nothing in the README and the website says "follow the installation instructions on nodejs.org". When I check nodejs.org, I can find a binary for my platform (unix) but no explicit installation instructions. If I dig further in to https://github.com/nodejs/node

[2016-10-27 17:48] MarkMT commented on #5249
Incidentally, I did just find installation [instructions](https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions) for my platform on nodejs.org and they are essentially the same as the ones I followed last year using sudo:
[code]

[2016-10-27 18:20] kellyselden commented on #5249
I don't know if anything was done yet. I've now heard that `nvm` and `brew install node` have given people success, and there's this thing called `n` that is similar but I haven't researched. @locks you might want this on your radar.

[2016-10-27 18:33] nathanhammond commented on #5249
I use `nvm` FWIW. `brew` used to have issues with getting upgrades right and because I need to consistently switch versions to test having a single "system" `node` isn't very useful to me.

[2016-10-27 19:07] MarkMT commented on #5249
Thanks. nvm seems to be working for me.

[2016-10-27 23:15] ballPointPenguin opened #6389 "Style bleeds out from ember-welcome-page.css"
I was confused about where this orange text was coming from in my app and I finally tracked it down to ember-welcome-page.css. I feel strongly that these styles should not be bleeding out into my whole app at a top-level.

---

Output from `ember version --verbose && npm --version`:
[code]

[2016-10-27 23:16] ballPointPenguin commented on #6389
This might actually get solved by https://github.com/ember-cli/ember-cli/pull/6378

[2016-10-28 06:01] nathanhammond commented on #6389
Closed in favor of upstream report. Thanks for mentioning it!

[2016-10-28 06:01] #6389 closed

[2016-10-28 12:14] ganqqwerty commented on #6023
why it doesn't show the progress, even with -v ?

[2016-10-28 15:08] jgadbois commented on #6347
@nathanhammond is there a way to change or change the version the minimizer that ember-cli is using?  I'm seeing errors from Ember controllers that are related to minimization as well.

[2016-10-28 19:44] nathanhammond commented on #6347
@jgadbois We use ember-cli-uglify. Being that you're the only person reporting this issue I'd be _very_ surprised if it were widespread and not something in your own code. This would break every single Ember application out there.

If you can post a simplified reproduction of the issue we can help, otherwise we're not really able to do anything about it. I'll review any reproduction you can post.

[2016-10-28 19:50] jgadbois commented on #6347
Will do thanks.  Could be a rails-ember-cli issue too but I think it just delegates all Ember minification to ember build

[2016-10-28 20:40] kellyselden commented on #6350
Notes:

* This should be promoted to RFC so we can get line comments.
* This covers work already in progress in other RFCs
  * https://github.com/ember-cli/rfcs/pull/35 covers the generations of “platforms” (fastboot, cordova, electron)
  * https://github.com/ember-cli/rfcs/pull/6 covers extending built in commands
  * https://github.com/ember-cli/rfcs/issues/26 covers build targets (fastboot, cor

[2016-10-28 23:01] RyanNerd commented on #5249
`nvm` via `brew` is great for Mac users, but due to a [stupid yet necessary decision](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=614907) debian based Linux users are in for a painful treat with node.

[2016-10-29 01:36] kratiahuja commented on #6350
@kellyselden Thanks for your feedback.

1. Promote to RFC: I know I should have done that earlier, but I don't want to lose the comments now.
2. Creating a generic platform: I don't want to create the concept of "platforms" right now for two reasons:
- This is a *major* blocker for Fastboot 1.0 and I would like to get this in ASAP. I think getting this in `ember-cli` will be the fastest way.
- I d

[2016-10-29 02:15] MarkMT commented on #5249
Painful reading though I can't say I fully understand all of the implications. I'm on Mint and am not seeing any problems so far.

Be that as it may, IMO this issue needs resolution and believe the [user guide](https://ember-cli.com/user-guide/#getting-started) on the ember-cli website is the right place. I'm not a node, OS X or Windows expert but suggest something like this:

Comments?

[2016-10-29 17:49] stefanpenner commented on #6350
There might be some misunderstanding.

I would like a POC as a PR to ember-cli, we can tease it apart as needed before anything lands in a final release. Regardless of where this work lands, it will need change across many projects, and may ultimately take a different form then the original POC PR.

Lets not get ahead of ourselves, but lets get:

* proof of concept PR that accomplishes a demo with

[2016-10-29 17:52] stefanpenner commented on #6350
* link back to this issue
* incorporate import discussions here into the RFC

[2016-10-29 17:56] stefanpenner commented on #6350
We wont rush anything until its ready.

That would take up to 12 weeks. I suggested POC to ember-cli, so we can talk about something concrete and then figure out what the next steps are. Those are most likely:

1. changes to ember-cli
2. changes to fastboot
3. a backporting add-on so fastboot can benefit as soon as possible

---

Before we get side-tracked with process and bureaucracy lets get a P

[2016-10-29 17:56] kellyselden commented on #6350
I agree, sometimes RFCs stagnate. But I intend to help this issue along the way because I really want it solved as well!

[2016-10-29 21:50] kratiahuja commented on #6350
@stefanpenner @kellyselden  My apologies for misunderstanding the goal here.

I am working on cleaning up my POC (in ember-cli) and adding some tests so that it is easier to play with. I will send out a `WIP` PR by end of today.

I am happy to move this to an RFC but the RFC as the first iteration will only focus on building fastboot needs. I would like to evolve it to something more generic once

[2016-10-30 03:11] kratiahuja commented on #6350
@stefanpenner @kellyselden : Here is a POC PR: https://github.com/ember-cli/ember-cli/pull/6395 (Apologies if I did something very dumb, this is my first PR in ember-cli and I am still learning).

I will open an RFC tomorrow with more finer details.

[2016-10-30 05:52] nathanhammond commented on #6349
Hey @mdebbar et al.!

@twokul and I are looking at this right now: what exactly is your concern about the JSON files? that you don't wish to push that much data across the network to a central analytics server at build complete? Everything else in this comment assumes that context.

---

I'm not a fan of trying to provide coarse information via custom code inside of Ember CLI which is unaware of B

[2016-10-30 06:33] nathanhammond commented on #6348
This conversation has now moved into the things we're discussing in #6349 and isn't as closely tied to the original issue report. @twokul and I have submitted a PR with documentation to explain what is going on to future travelers (read: all of us in six months).

[2016-10-30 06:33] #6348 closed

[2016-10-30 13:27] rwjblue commented on #6350
No need to apologize.  I have done many many many PR's to ember-cli and we are still discovering all the dumb things I have done (just ask @nathanhammond sometime). 😝

Thanks for the WIP PR, will try to review and play with it tonight...

[2016-10-30 14:13] stefanpenner commented on #6349
The files we produce now, are extremely high fidelity (thus large) because they are intended to be the entry point to other tooling.  An example tool, would be one that submits summaries to some analytic service.

It seems 2 choices exist:

* summarize the larger files, into smaller datasets before sending them to an analytics service (easiest)
* expand broccoli-slow-trees to allow for the needed

[2016-10-30 19:11] #6318 closed

[2016-10-31 06:32] nathanhammond commented on #5744
@olivierlesnicki I'm closing this issue as we're no longer actively supporting pods as we instead head in the direction of the Module Unification RFC. Thank you for the work in tracking this down as it will likely still help people discover an edge case we don't support!

[2016-10-31 06:32] #5744 closed

[2016-10-31 06:38] nathanhammond commented on #6257
Okay, y'all, I'm closing this as it's unlikely we are going to be able to do anything about it. @markschmid reports that this happens as well without Ember in the stack, which implies to me that it's an upstream issue in either https://github.com/nodejitsu/node-http-proxy or Safari + Sierra.

If people who encounter this can please continue to comment with your setups that would be fantastic. (Ple

[2016-10-31 06:38] #6257 closed

[2016-10-31 11:06] workmanw commented on #6257
Sounds good to me! I tried to build a reproduction, and while I was successful it was very convoluted. Despite getting all of the HTTP headers to match exactly, the reproduction still only worked when the end destination for proxy was Google App Engine. So ¯\\\_(ツ)_/¯. I agree this is not ember-cli's bug. Thank you.

[2016-10-31 12:01] binhums commented on #6318
@HerveSeger: there is a workaround whilst you're waiting for the fix to come through. You need to specify `saveDev` explicitly in a blueprintOptions param, e.g.

[code]

We've open sourced our corporate projects repo if you want a full reference for the fix:

https://github.com/zestyzesty/ember-cli-zesty-app-base/commit/ec3743c503b745a78b21b39f5fa2ad1e067046ea#diff-03f6c07a79dd48dbe1b50ca41636c9ea

[2016-10-31 12:05] HerveSeger commented on #6318
@binhums Thanks for the info.
It is indeed what I have done and it has fixed the issue.

[2016-10-31 13:43] sandreas opened #6397 "Build-Error on windows with ramdisk and a windows symlink for tmp"
Hello,

i am using ember-cli on windows 10 and a ramdisk for tmp to improve performance and reduce ssd write bandwidth. To use a ramdisk in an ember project, a Windows-Symlink is needed (mklink -d tmp R:/ember-test/tmp), which worked perfectly in ember 2.6 but after upgrading to 2.9, i get an error. Only workaround actually is to use not ramdisk :-(

The error:
[code]

Steps to reproduce (R:\ember

[2016-10-31 17:53] mitchlloyd opened #6399 "When upgrading cannot have a package name beginning with a number"
Ember CLI validates that project names must begin with a number. This is disruptive when upgrading Ember CLI on a project since it means one would have to change the package name on npm.

Error message when running `ember init` as part of an Ember CLI upgrade:

[code]

One more reason not to name your company after an HTTP status code :)

Luckily I was able to rename the `package.json` `name` fiel

[2016-10-31 17:55] stefanpenner commented on #6399
Seems like we could support this. It would just only be addressible via `global['201Created']` which i suspect is fine for those who need access to the global

[2016-10-31 18:04] Polve opened #6400 "WebAssembly support"
The first release candidate of WebAssembly has been released and they are requesting comments.

I'm not an expert but I suppose that ember-cli could be the right place to modify the tool chain in order to have a look at the tech and experiment a bit with it?

Thanks for any info on the subject :-)

[2016-10-31 18:10] corbinu commented on #6400
@Polve WebAssembly does not have any features for JS to WebAssembly features at least for the moment it is for C, C++ projects compiled via Emscripten. If features for JavaScript to WebAssembly these features are ever added they would be handled by the transpilers (Babeljs, TypeScript, etc)

Here is a great article that may help:
http://www.2ality.com/2015/06/web-assembly.html

[2016-10-31 18:15] corbinu commented on #6400
Also might want to read this from the WebAssembly FAQ: https://github.com/WebAssembly/design/blob/master/FAQ.md#which-compilers-can-i-use-to-build-webassembly-programs

[2016-10-31 19:21] #6400 closed

[2016-10-31 19:22] stefanpenner commented on #6400
We are following WebAssembly closely. At the moment, it isn't something ember apps can benefit from directly. Although, it is entirely reasonable for them to have dependencies (like lets say, an image processing library, or all of sqlite3, or something), those should already work today!

[2016-10-31 20:41] Polve commented on #6400
Thanks for all the comments.

My goal would be to have the capability to build a webasm distribution file that should be way smaller than the actual .js file. This should enable the app on browser to start way faster due to the complete skipping of parsing and compiling the JS code.

With particular relevance on mobile platforms where, using crosswalk, we can control that a compatible version of c

[2016-10-31 20:46] stefanpenner commented on #6400
I believe currently this is not supported for just any JavaScript (although it would be really nice if someday it was). My understanding, this is only for a subset of JavaScript which is essentially C. e.g. you manage your own memory and don't have direct access to the DOM.

[2016-10-31 20:51] stefanpenner commented on #6400
further on what this subset of JS is: http://asmjs.org/spec/latest/

I did some experimenting sometime ago, but noticed quite quickly (at the time) this was very well suited for extracting totally isolated algorithms, but quite poor/impractical at running user-code that wants access to "Regular" things.

[2016-10-31 20:54] nathanhammond commented on #6399
This is because of this utility:
https://github.com/ember-cli/ember-cli/blob/master/lib/utilities/valid-project-name.js

Let's just make it better and let people know what the problem is: the global we create for you.

 @mitchlloyd would you be willing to open a PR and make it more permissive? Possibly providing "hard no"s for particular things and warnings for others? Would require improving this

[2016-10-31 21:00] Polve commented on #6400
Thanks  @stefanpenner for the infos, I had not realized that.

While I understand the need to run low level code written for example in C, what I don't understand is why the use of a GC can't be coupled with the compiled JS.

What I find idiotic in our present web architecture is to send (usually) megabytes of minified/uglified source code to the clients that each one of them must parse and compil

[2016-10-31 21:35] samtsai opened #6401 "[Ember-cli 2.10.0-beta.2] "tiny-lr" package breaks in node 0.12.x"
Build is successful but when loading the site I encounter a `TypeError: undefined is not a function`.

I know this is not an "ember-cli" code issue but a dependency: "tiny-lr" package, so it's more of a question of should we expect 0.12.x support is already dropped with Ember 2.10.0-beta.2?

It seems the underlying issue is the Node version compatibility to support `Object.assign`, so I can workar

[2016-10-31 22:16] corbinu commented on #6400
@Polve While it may be true that the browsers performance could be increased this will have to happen at the bower level and later the transpiler level rather than Ember.

Also ran a quick check on my laptop and iPhone and parse time for an Ember.js 2.9.0 app was consistently less than half of the execution time. So at least from Ember's perspective I believe that FastBoot is the recommend path as

[2016-11-01 02:59] nathanhammond commented on #6401
@samtsai Thank you for bringing this to our attention! Ember CLI 2.10 should support 0.12 and we will need to get back to a supported version of tiny-lr.

[2016-11-01 03:51] jonnii commented on #6397
How is your ramdisk formatted? Is it fat32 or NTFS? I've never got a ramdisk to work correctly using ember-cli.

[2016-11-01 04:50] nathanhammond commented on #6397
@sandreas Can you incrementally upgrade from 2.6 to 2.9 and let us know which version it starts to fail at? We made a number of Broccoli changes underneath the hood and it'd be good to identify what the underlying issue may be.

[2016-11-01 05:06] nathanhammond commented on #6401
Merged, waiting for release.

[2016-11-01 05:29] nathanhammond commented on #6401
Closing in favor of #6403.

[2016-11-01 05:29] #6401 closed

[2016-11-01 07:44] sandreas commented on #6397
@jonnii NTFS... i used ImDisk Toolkit with default settings and 1GB size (https://sourceforge.net/projects/imdisk-toolkit/)

@nathanhammond Sure, it'll take some time.

[2016-11-01 13:10] stefanpenner commented on #6400
@corbinu an interesting tidbit, is quite a-bit of the "evaluation time" of ember and of ember apps is unfortunately hidden parsing them. V8 (and others) for example leave some parts of our code largely unparsed/uncompiled, they do so if they feel the code in question is not required on initial load. This is actually quite a great feature, but it does amortize this parse/compile cost out overtime.

[2016-11-01 13:14] stefanpenner commented on #6399
he above example, starting with a number is totally valid. Just requires `self['1234']` to access. Which i suspect makes it fine. Thoughts?

[2016-11-01 14:20] samtsai commented on #6401
@nathanhammond Thanks for the quick turnaround!

[2016-11-01 14:26] Polve commented on #6400
As an example I'm working on an app which has a lot of dependencies (mainly because it uses cryptography), the vendor js file is more than 2.2MB and the app js is another 2MB, and it takes around 10 secs on a decent android phone.
I'm not sure how much of this time is due to load/parse the code, but I suspect it's a good bit.
Even if it is only 30%, it would be great to avoid it.

I understand thi

[2016-11-01 15:22] tastycode commented on #2407
The issue is that someone looking at their `index.html` might guess that these content-for blocks are dynamic. (Which is true). Someone looking to conditionally insert a 3rd party Javascript Library for a single page for example, might think that there is some way to override this, for example:

[code]

It would be reasonable for someone to then search around how to define the `content-for` blocks

[2016-11-01 16:00] nathanhammond commented on #6401
@samtsai Can you confirm that this works on ember-cli#canary?

[2016-11-01 16:03] nathanhammond commented on #6399
@stefanpenner I'm fine with leading number and anything that is valid in `global['appname']`, I'd just like the validation to provide helpful hints in the scenario that you can't just look up `appname` in the global scope and explain why disallowed (`Not a valid JS identifier!`) in other scenarios. (While @mitchlloyd is in there. 😛)

[2016-11-01 16:05] nathanhammond commented on #2407
@tastycode Would you be willing to extract the documentation to ember-cli.com (via https://github.com/ember-cli/ember-cli.github.io)?

[2016-11-01 16:17] rwjblue commented on #6399
It may also be nice to detect that a given name isn't a valid global name, and just remove the application global addon (IMO, its pretty rarely used by folks even though we include it in all apps)...

[2016-11-01 16:57] #6190 closed

[2016-11-01 17:11] tastycode commented on #2407
@nathanhammond I'm not clear that there is any documentation to extract?

My understanding is `content-for` is only usable for addons. Someone who just installed ember for the first time, and wants to make conditional changes to the `head` would have to go through the guide at https://ember-cli.com/extending/#detailed-list-of-blueprints-and-their-use,  and see instructions on how to use `ember gen

[2016-11-01 18:09] nathanhammond commented on #2407
@tastycode I've spent so long in this ecosystem that I'm completely unfamiliar with the perspective of somebody coming fresh to Ember. In most cases people should simply directly customize their `index.html` file themselves. You're correct that conditional customization will require an in-repo-addon.

My goal is to make a cookbook type item like that more accessible to a broader audience and I don

[2016-11-01 18:31] samtsai commented on #6401
@nathanhammond just tested canary and it serves up local perfectly now! Thanks!

[2016-11-01 19:00] corbinu commented on #6400
@Polve Is that in the old Android browsers? Not trying to start a mobile flame war but I though that Chrome on android had caught up to Parse/Execution time on iOS (my test loaded a similarly sized app in 600ms on an iPhone 6S, 2.4 seconds on an old iPad 2)

I purely ask out of curiosity as if that is still the case then it sounds like something is very wrong inside the android WebView.

[2016-11-01 19:06] corbinu commented on #6400
It would be super cool if somebody redid this test for Ember apps:
https://timkadlec.com/2014/09/js-parse-and-execution-time/

[2016-11-01 19:09] Polve commented on #6400
It is the chrome packaged with crosswalk latest version, and I think it was chrome 48.

I know in iOS the JS support is very different, but you can't have chrome there, though

[2016-11-01 19:16] corbinu commented on #6400
Ahh ok ... that may be the issue as I think Chrome 50+ had some large improvements for mobile parse times. You might want to look at the parse time if the app is loaded strait as web app to confirm though (I use NativeScript and Xamarin for apps so I am not that familiar with CrossWalk)

Ya FastBoot doesn't really help you there :( You would think there would be some way for CrossWalk to parse the

[2016-11-01 20:59] kratiahuja commented on #6350
RFC as requested is here: https://github.com/ember-cli/rfcs/pull/75 . Going to close this issue.

[2016-11-02 09:14] mellenaj opened #6409 "Have problem with ember-cli-import-polyfill"
Hello all!
I cannot start my application by this problem (see the quote below), I tried to change versions of node, ember-cli and  ember-cli-import-polyfill, but nothing helps me.

ember-cli:
 2.6.2
http_parser: 2.6.2
node: 5.9.0
v8: 4.6.85.31
uv: 1.8.0
zlib: 1.2.8
ares: 1.10.1-DEV
icu: 56.1
modules: 47
openssl: 1.0.2g
os: darwin x64
3.7.3

**Issue:**

Cannot read property 'app' of undefined
TypeE

[2016-11-02 09:59] kevinansfield commented on #2407
I've also just ended up here after looking for some documentation on how to conditionally customise index.html - in our case we have a requirement to have different favicons and external stylesheets dependent on the build environment.

Am I correct in my parsing of this discussion that the only way to do this at present is to create an in-repo-addon?

[2016-11-02 12:03] #6409 closed

[2016-11-02 12:03] mellenaj commented on #6409
changed ember-cli version to 2.8.0

[2016-11-02 13:33] rwjblue commented on #2407
Yes, that is the easiest/best way to do this right now.

[2016-11-02 18:51] hjdivad commented on #6349
big +1.  I think this is exactly what we want to do.

[2016-11-03 17:58] dafortin commented on #3006
Hi guys,

We are currently working on an addon that will install a set of packages in a file [ember-cli-ecosystem-installer](https://github.com/ciena-blueplanet/ember-cli-ecosystem-installer ).

The basic concept of that tool is the following:
1. You do an `ember install ember-cli-ecosystem-installer`
1. The tool willl prompt you with a list of packages to install and it will also check the packag

[2016-11-04 08:02] nathanhammond commented on #3006
@dafortin I'd still like to see a PR for #6386! That would address your problem here.

[2016-11-04 11:23] fshequin opened #6413 "Permissions Error while using Ember New"
Getting this error when using the following command:

(OSX El Capitan)

$ ember new project-name

-------

Freds-iMac-3:Ember-Projects fred$ ember new fireapp
installing app
  create .bowerrc
  create .editorconfig
  create .ember-cli
  create .jshintrc
  create .travis.yml
  create .watchmanconfig
  create README.md
  create app/app.js
  create app/components/.gitkeep
  create app/controllers/.gi

[2016-11-04 11:24] dafortin commented on #3006
@nathanhammond
We did try to implement this, but even if we were setting the save exact to false we were still getting the exact version. There is no value submitting this if it's not working.

[2016-11-04 11:25] fshequin commented on #6413
Further to the above, **using sudo works**...

[2016-11-04 13:00] dafortin opened #6414 "`ember install <package>` is installing a fixed version by default."
Hi guys,

We are currently working on an addon that will install a set of packages in a file [ember-cli-ecosystem-installer](https://github.com/ciena-blueplanet/ember-cli-ecosystem-installer ).

The basic concept of that tool is the following:
1. You do an `ember install ember-cli-ecosystem-installer`
2. The tool willl prompt you with a list of packages to install and it will also check the packag

[2016-11-04 13:36] sglanzer commented on #6414
@dafortin can you verify that the inclusion of a semver range works with a normal `npm install`?

[2016-11-04 13:39] sglanzer commented on #6414
Also, which version of node / npm are you using?

[2016-11-04 13:52] dafortin commented on #6414
ember-cli: 2.8.0
http_parser: 2.6.2
node: 5.10.1
v8: 4.6.85.31
uv: 1.8.0
zlib: 1.2.8
ares: 1.10.1-DEV
icu: 56.1
modules: 47
openssl: 1.0.2g
os: darwin x64
3.8.3

[2016-11-04 13:56] dafortin commented on #6414
I did run a few npm install and it's not giving the results that I was expecting.

`npm install ember-frost-core@>=0.25.0 --save-dev`
package.json: `"ember-frost-core": "^0.32.1"`

`npm install ember-frost-core@'>=0.25.0 <=0.30.0' --save-dev`
package.json: `"ember-frost-core": "^0.30.0"`

`npm install ember-frost-core@~0.25.0 --save-dev`
package.json: `"ember-frost-core": "^0.25.7"`

[2016-11-04 13:58] dafortin commented on #6414
@sglanzer Do you think that ember should be able to keep the version with the `~`, `^` or a range?

[2016-11-04 14:23] sglanzer commented on #6414
I do, but it's interesting that npm doesn't respect it during installs either, feels odd to "fix" npm's behavior

[2016-11-04 14:25] sglanzer commented on #6414
Would you mind trying this against node 6 / 7 as well?

[2016-11-04 14:25] dafortin commented on #6414
@sglanzer I will.

[2016-11-04 15:48] terryroe commented on #3760
Has anyone found out how to make this work, or found a workaround to "build" separate JS files as part of an Ember project?  I'm sure it's possible since the build tools are already part of the project, but I don't have enough knowledge or skill to wield them well enough to do this.  Any help is greatly appreciated.

[2016-11-04 16:08] nathanhammond commented on #6413
You likely installed something with `sudo` (npm, Bower, other) and as a result your permissions for various places on the filesystem are borked. This is not an Ember CLI issue.

Please stop by [#-ember-cli](https://embercommunity.slack.com/messages/-ember-cli/) in the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) if the issue persists and somebody from the community will

[2016-11-04 16:08] #6413 closed

[2016-11-04 16:27] nathanhammond commented on #6414
Node is not involved in this. `npm install` appears to pre-resolve semver ranges up to the current highest value and then (incorrectly on a few occasions given `ember-frost-core@'>=0.25.0 <=0.30.0'`) guess how you wish for the version number to drift.

`npm install ember-frost-core@'>=0.25.0 <=0.30.0'` => `"ember-frost-core": "^0.30.0"`
`ember install ember-frost-core@'>=0.25.0 <=0.30.0'` => `"emb

[2016-11-04 16:33] dafortin commented on #6414
Probably because of the `save-exact` attribute being set to `true` by default.

[2016-11-05 02:14] jboler opened #6416 "outputPaths not reflected in {{content-for "head"}} or {{content-for "body"}}"
When I add the `outputPaths` section to ember-cli-build.js the CSS & JS files are put in the specified directories but index.html doesn't reflect any of the changes and the app breaks.

I'm following: https://ember-cli.com/user-guide/#configuring-output-paths

Minimal test repo here: https://github.com/jboler/ember-assets-outputPath

ember-cli-build.js
[code]

resulting broken index.html:
[code]

[2016-11-05 02:46] nathanhammond commented on #6416
@jboler That is correct, if you look at the [content inside of `index.html`](https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/app/index.html#L12-L13) you'll see that we don't do anything particularly dynamic for inserting those asset paths. The `content-for` hooks do not generate those paths.

You'll need to manually update `index.html` and `tests/index.html` to use your spe

[2016-11-05 02:46] #6416 closed

[2016-11-06 12:26] vvscode commented on #6334
@toddjordan  when you pick version - do you use `!` prefix before picked variant?

Suppose that conflict is in zone of  responsibility of bower, not ember-cli. And for bower using `!` say `I want to save my choice` ( and it have related message during conflict resolution )

[2016-11-06 16:47] nathanhammond commented on #6334
This does seem like a bug, @toddjordan. Since I've not been bitten by this it isn't on my personal high-priority list. However, helping _you_ land a fix for it _is_ high on my priority list. Would you be willing to take a swing at opening a PR for this? I'd be excited to work with you on Slack/pairing to help get it landed!

[2016-11-07 01:12] mitchlloyd commented on #6399
Thanks for comments, everyone. Because this issue seems to primarily manifest when using `ember-export-application-global`, here is what I propose:

1) Completely eliminate the "cannot start with number" validation in Ember CLI
2) If we think this is really an issue, add a `console.log` message to `ember-export-application-global` addon.

I worry that a warning coming from Ember CLI during project

[2016-11-07 01:14] rwjblue commented on #6399
Yes, I agree.

[2016-11-07 16:43] toddjordan commented on #6334
Hi @nathanhammond I would be willing to PR a fix.  Lets try to get together this week.  I'll hit you up on slack.

[2016-11-07 21:40] sglanzer commented on #6414
@dafortin let's confirm (sample repo?) - it seems though that without changes to npm (unless later versions have better support) that we'll be doing our own workaround to setting the ranges correctly on install

[2016-11-08 02:53] aexmachina commented on #3760
I think you specify `outputFile` on the call to `app.import`. I'm guessing it's something like:

[code]

But I haven't tried it yet.

[2016-11-08 09:41] fpauser opened #6419 "`addBowerPackages` is useless for some bower-packages as bower's programmatic API seems broken"
Bower issue: https://github.com/bower/bower/issues/2387

This is a very annoying bower-bug which breaks the otherwise great 'ember-addon-user experience'. Maybe we can work around this by changing `addBowerPackagesToProject` to use bowers CLI interface?

[2016-11-08 09:49] bcardarella opened #6420 "Remove ember-cli-shims"
Considering that https://github.com/emberjs/rfcs/pull/68 was just closed in favor of https://github.com/emberjs/rfcs/pull/176 `ember-cli-shims` should no longer be included or recommended. For that matter, I don't know why it was allowed in the official build in the first place. It implements a spec that had not yet been approved. I think moving forward any new addons brought in should respect on

[2016-11-08 09:50] bcardarella commented on #6420
**Or** it is rolled back to just export `Ember` and not include all of the other shims.

[2016-11-08 13:54] rwjblue commented on #6420
I am unsure of exact timing, but I suspect that at least a few shims predate RFC process. Also, only recently (last year or so) has "default inclusion in ember-cli" been considered an Ember core public API concern (and therefore require RFC).

Agreed, completely.  But the path forward isn't to introduce more churn. We should land https://github.com/emberjs/rfcs/pull/176 then deprecate ember-cli-sh

[2016-11-08 14:06] milosb793 commented on #1054
Changing watchfile worked for me too! Thanks!!

[2016-11-08 14:33] milosb793 commented on #5538
I got problem too on Ember Cli 2.9.1. After running these commands:
[code]
I was asked somewhere which version should it install, 4.7.0 or 4.5.0, only 4.5.0 worked for me, and that solved my problem.

reference: https://github.com/martndemus/ember-font-awesome/issues/89

[2016-11-08 17:32] nathanhammond commented on #5538
@milosb793 This is unrelated to Ember CLI and this issue. Font Awesome is the library which has versions 4.5.0 and 4.7.0. If only one of them is working you should address it at `ember-font-awesome`, not here. Also, please open new issues instead of adding on to old issues. It helps keep old threads less confusing when being referenced by people who discover them via Google.

Best of luck!

[2016-11-08 17:32] nathanhammond commented on #5538
@milosb793 This is unrelated to Ember CLI and this issue. Font Awesome is the library which has versions 4.5.0 and 4.7.0. If only one of them is working you should address it at `ember-font-awesome`, not here. Also, please open new issues instead of adding on to old issues. It helps keep old threads less confusing when being referenced by people who discover them via Google.

Best of luck!

[2016-11-08 18:02] nathanhammond commented on #6420
@bcardarella This is another of the scenarios where we got a bit ahead of ourselves. [We added ember-cli-shims to Ember CLI somewhere in early _2014_–before we'd truly figured out governance and what we wanted this to look like.](https://github.com/ember-cli/ember-cli/commit/0aa047b15a8a06612ef522fa008f2d26d7ee3d52) (Note: that's literally the first commit in which we had built-in generators, I st

[2016-11-08 18:02] #6420 closed

[2016-11-08 19:14] stefanpenner commented on #6420
@bcardarella thanks for keeping us honest!

I think some of our discussions may have been out-of-band (which isn't good) @nathanhammond has been exploring how we can "auto-upgrade" people (obviously several important details to resolve) but hopefully that will help mitigate the churn concern sufficiently?

[2016-11-08 19:17] stefanpenner commented on #6419
I suspect it will be more constructive / good use of our time to address this upstream.

[2016-11-08 20:51] bcardarella commented on #6420
Does this make sense? As a mid-term would it not make sense to deprecate the old-shim style once 176 lands then include the new shim syntax in ember-cli-shim? There will, I imagine, be a period of time between when 176 is accepted and when it is implemented? That time can be used to migrate consumers of the old-style to the new syntax.

I would imagine that anyone doing `import Ember from 'ember'`

[2016-11-08 21:08] rwjblue commented on #6420
Well, I think so. 😜

I don't really think so, as the current ember-cli-shims repo shows it is really easy to make these sorts of shims. I suspect the path forward is to convert ember-cli-shims to an addon (this can be done nowish), provide the new shims, deprecate the old shims.  When Ember itself provides its own modules, we would detect that Ember version from the addon version of ember-cli-shim

[2016-11-08 21:22] ro0gr opened #6421 "[Windows] Ctrl+C produces Exit status 1"
When interrupt an ember server I get the following output:
[code]

I've tested this in different combinations: **powershell**/**cmd**, **windows7**/**windows8**, **node@5**/**node@6** and always get the same output as above.

The issue started to happen in **ember-cli@2.7** and still persist in master. As I can see [trapWindowsSignals](https://github.com/ember-cli/ember-cli/commit/6b0e17e9c70585c1

[2016-11-08 23:49] Redsandro commented on #2229
@stefanpenner

At least it makes debatable sense, as I found myself wondering (googling) the same as @phcoliveira mentioned:

Because now the app renders into `{{content-for "body"}}` in `index.html` translated to `<div id="ember463" class="ember-view">`, and it would be nice to turn that into e.g. `<section>` with a custom class.

[2016-11-09 04:22] stefanpenner opened #6422 "cleanup potentially broken on or after: UI.prototype.startProgress"
upstream issue: https://github.com/sindresorhus/ora/issues/27 which can break `process.on('SIGINT', ...)` by exiting before other handlers have run.

[2016-11-09 04:25] stefanpenner commented on #6422
Something we can do, to prevent other things from doing this to us. Is capturing `process.exit` ourselves very early, then replacing it with our own `exit` which first gracefully shuts-down before exiting.

[2016-11-09 13:34] dafortin commented on #6414
As expected we are getting the same result with node `6.9`

[2016-11-09 13:37] sglanzer commented on #6414
Ok, so even if this is fixed in `ember-cli` (save-exact) we'll still run into the issue that we can't set the appropriate semver ranges on install.  So it looks like we'll need to continue with our workaround solution and possibly look into an issue against NPM

[2016-11-09 13:40] dafortin commented on #6414
Yes, that's right. I will check npm and try to figure out what is the expected behavior and why we are getting this weird behavior :)

[2016-11-09 17:59] KrisOlszewski commented on #2445
@rwjblue and @EmergentBehavior is this feature still not an option in Ember CLI? I've been trying to prepend all assets with a CDN link, but exclude some assets from being fingerprinted.

[2016-11-09 18:08] kellyselden commented on #6422
We are locked on an older version of ora because of node 0.12. If there is a fix upstream, hopefully it backported to their 0.2.x release.

[2016-11-09 18:11] stefanpenner commented on #6422
It is actually unclear that ora can fix this, in all the cases that we need.

[2016-11-09 18:12] stefanpenner commented on #6422
I'm not sure cooperative `signal` trapping + exit + async cleanup is something any one library can do. I do believe though, we can control `exit` ourselves and accomplish the resilience we need:

Something like the following should be resilient:

[code]

[2016-11-09 18:16] stefanpenner commented on #6422
the above code would be used in two places:

1. https://github.com/ember-cli/ember-cli/blob/master/lib/cli/index.js#L18 `captureExit`
2. https://github.com/ember-cli/ember-cli/blob/master/lib/models/builder.js#L84-L92 `onExit`

[2016-11-09 21:42] stefanpenner commented on #6422
module that implements the above idea, but tested: https://github.com/stefanpenner/capture-exit

[2016-11-10 01:53] eriktrom commented on #6364
based on feedback, starting with this comment from portfinder - https://github.com/indexzero/node-portfinder/issues/39#issuecomment-258681044, I will make a release of portfinder in the morning that provides a fix to make it work with bash on windows

ember-cli will not fully work in this env due to issues in my gist found above (first comment) (relating to https://github.com/ember-cli/ember-cli/i

[2016-11-10 15:30] nathanhammond commented on #2445
@KrisOlszewski Stop by the Ember community Slack in the #dev-ember-cli channel and we can discuss; I want to understand your goals and needs.

(Short response because I'm on a phone. Don't let that imply disinterest in engaging.)

[2016-11-10 15:34] nathanhammond commented on #2229
This is a low-level Ember concern and has to do with how we set up event listeners and which elements are "under Ember's control." Stop by Slack in #dev-ember to discuss. Regardless this will not be addressed on the Ember CLI side as that is outside the scope of this tool.

(On phone, please forgive terseness.)

[2016-11-10 16:48] greenkeeper[bot] opened #6424 "An in-range update of proxyquire is breaking the build 🚨"
## Version **1.7.10** of [proxyquire](https://github.com/thlorenz/proxyquire) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/ember-cli/ember-cli/compare/greenkeeper%2Fproxyquire-1.7.10">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      proxyquire
    </td>
  </tr>
  <tr>
    <th align=

[2016-11-10 17:15] nathanhammond commented on #6424
This actually looks fine. I have restarted the broken test run: https://travis-ci.org/ember-cli/ember-cli/jobs/174822708

If passing we can close this issue.

[2016-11-10 17:20] nathanhammond commented on #6364
@eriktrom It sounds like this release will be backward compatible but doesn't 100% address all issues that can appear on Windows + BASH subsystem, confirm?

[2016-11-10 17:28] nathanhammond commented on #6424
Actually, just closing this as spurious.

[2016-11-10 17:28] #6424 closed

[2016-11-10 21:23] eriktrom commented on #6364
@nathanhammond - confirm - the rest of the errors we'll have to deal with case by case - e.g., `Error: EISDIR: illegal operation on a directory, read` <-- what is that? LOL

will cut a release of portfinder soon here

[2016-11-11 00:33] eriktrom commented on #6364
portfinder 1.10.0 has been released (before a holiday, in case rollback is needed, no one gets hurt :)

[2016-11-11 00:35] #6364 closed

[2016-11-11 01:16] kratiahuja commented on #6350
Going to close this issue. The follow action items have been addressed:
1. Short term RFC to allow fastboot to be built inside `ember-cli` is [here](https://github.com/ember-cli/rfcs/pull/77)
2. Corresponding PR that addresses point number 1 is [here](https://github.com/ember-cli/ember-cli/pull/6395)
3. Long term RFC to make this a generic feature of `ember-cli` is [here](https://github.com/ember-

[2016-11-11 19:38] nathanhammond commented on #6334
@toddjordan and I just paired to investigate what was happening here.

This was broken by #5831. [Bower itself uses an older version of `inquirer`](https://github.com/bower/bower/blob/master/package.json#L39) which is incompatible with the way in which we're binding things.

In order for this to work we likely need to make sure that [`ui.prompt`](https://github.com/ember-cli/ember-cli/blob/c36ac24

[2016-11-11 19:50] Turbo87 commented on #6334
remind me again why we need to pass our own `inquirer` into `bower`? can't we just use the default?

[2016-11-11 21:34] nathanhammond commented on #6334
I don't know, but @toddjordan will know soon enough! 😜 He's going to get us a PR for making this play nicely and get some tests in place.

[2016-11-11 23:03] terryroe commented on #3760
@aexmachina,

Thanks!  That is just what I needed!  I specified the same `outputFile` for several `app.import` calls and they get concatenated together perfectly!  I wish this were documented somewhere.  I couldn't find it except by searching the ember-cli source.

Thanks again!  tr

[2016-11-12 01:12] #6350 closed

[2016-11-12 08:34] leifdejong commented on #5336
Still having this issue. Is it not possible to create a template in the addon and the exact template in the consumer app and have them work?

[2016-11-12 10:15] nfc036 commented on #6397
Working on Windows 10 too. ImDisk is still working for me (currently on ember-cli 2.9.0). I use the following script to mount a Ramdisk to /tmp (not mklink'ing to a directory on an existing Ramdisk):
[code]
Last line is the only important, the others are simply cleaning up if something is already there. I'm using this lines in a batch script that I call once before developing. And of course I'm wo

[2016-11-12 14:16] sandreas commented on #6397
@nathanhammond OK, i upgraded incrementally from 2.6 to 2.9 and it worked as expected, i could not reproduce the error directly. After some days of working it happened again. Seems that it something weird with npm, where module linking (npm link) with my private repositories produces this error in an edge case.

I think this bug can be closed, because it is not a common issue. If it happens again,

[2016-11-12 14:16] #6397 closed

[2016-11-12 15:25] nathanhammond commented on #6397
@sandreas _thank you_ for taking the time to track this down. I'm really appreciative for the additional documentation this issue provides and the research you did. It's good to know that the "common" case appears to be fine.

Still following along on this thread, so if things change do let me know!

[2016-11-13 12:35] mrkongo opened #6426 "Sorry, why we need bower.json? We can not use only package.json?"
I'm wondering why every new project with ember-cli have two package manager products:

package.json (NPM) and bower.json (BOWER).

Why we need both?

We can't use package.json with npm alone, for everything?

Sorry, I'm newbie.

-------------------
Output from `ember version --verbose && npm --version`:
[code]
**Windows 10 x64**

[2016-11-13 21:12] kayakyakr commented on #6338
Hey guys, finally got back to looking at this again. WSL has added network system calls, which is good. Connecting to Watchman is a little busted, but Nodewatcher does not crash.

But, the good news ends there. Using strace, I have found why it builds the first time but not the second: it seems that something odd is going on with the build.lock file that is being generated. Here are the relevant s

[2016-11-13 22:32] kayakyakr commented on #6338
The watchman sock issue that I am trying to isolate: https://github.com/Microsoft/BashOnWindows/issues/1354

The build.lock issue: https://github.com/Microsoft/BashOnWindows/issues/1357

[2016-11-13 23:19] nathanhammond commented on #6426
This isn't an issue. We currently provide Ember and jQuery via Bower.

Please stop by [#-ember-cli](https://embercommunity.slack.com/messages/-ember-cli/) in the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) if you want to discuss what's going on!

[2016-11-13 23:20] #6426 closed

[2016-11-14 01:32] aexmachina commented on #3760
Someone really should document it. Maybe that person is you @terryroe? See [nathanhammond's](https://github.com/ember-cli/ember-cli/issues/3760#issuecomment-256561683) comment above 👍

[2016-11-14 11:10] polesen opened #6430 "Newly released lodash 4.17.0 breaks ember build"
Doing a clean `npm install` will install newly released lodash 4.17.0 under ember-cli (because `ember-cli/package.json` depends on `^4.6.1`).

I am getting this stacktrace from ember-build:
[code]

And I think it is related to to some "deep path" changes in lodash `omitBy`, because debugging a bit inside `ember-app.js` shows me, that with the new lodash the keys/properties in `vendorFiles` object

[2016-11-14 11:44] rwjblue commented on #6430
Hmm. Good sleuthing. Unless what we were doing was somehow unsupported, I suspect this is a bug in lodash. Have you checked and/or reported over there?

[2016-11-14 11:53] vitch commented on #6430
Yeah - it's reported [over there](https://github.com/lodash/lodash/issues/2811)

[2016-11-14 12:00] RuslanZavacky commented on #6430
And actually, latest versions of ember are not affected, because there is no lodash in package.json anymore. But as we are still on 2.5 we face this issue.

[2016-11-14 12:10] pavlin99th commented on #6430
Later versions of `ember-cli` are not affected because of this check: https://github.com/jeffjewiss/ember-cli/commit/7fb46f83d198f93790407fcae0ba89c1632d911b

[2016-11-14 12:47] polesen commented on #6430
Okay. I'm on `2.4.3` which doesn't have that fix. Must upgrade to the new 2.8 LTS then, I guess :-) Thanks for the info guys.

[2016-11-14 15:34] nathanhammond commented on #6430
Closing as it is an upstream issue which has already been fixed. Thanks all for your diligence!

[2016-11-14 15:34] #6430 closed

[2016-11-14 16:39] rwjblue commented on #6430
FWIW, the fix isn't released as of this moment and using lodash@4.17.0 will result in errors for users of older versions of ember-cli.

A temporary work around (to force lodash 4.16.x to be used by ember-cli) is:

[code]

[2016-11-14 17:15] eriktrom commented on #6338
@kayakyakr - thanks for following up - u seem to have a knack for finding the missing parts of bash on windows

just curious - did u ever encounter `Error: EISDIR: illegal operation on a directory, read` or similar? I got that one, not sure why.

at any rate, keep at it, the larger community is likely to benefit as a whole b/c of your digging :)

[2016-11-14 17:19] kayakyakr commented on #6338
Breaking things is fun.

I haven't gotten an invalid operation on a directory, but there are lots of oddities going on with how it handles files. The open/unlink/open issue for example is an issue with DriveFS (as opposed to VolFS).

What sort of directory is your project living in? How are you attempting to modify that directory? You should not access VolFS (your ubuntu home) outside of bash itse

[2016-11-14 17:54] eriktrom commented on #6338
I'd be lying if I said I really knew - tl;dr - From cmd.exe I run bash which logs me in as root. Then I run su - user to use the `user` user that came with the install of windows I got from MS Developer Center(or whatever its called). From the bash cli, I create the project within the `user` home folder (I may have may a subfolder, but that shouldn't matter. I was running all this under Parallels,

[2016-11-14 17:58] kayakyakr commented on #6338
That sounds like a different issue. If you can boil that down to a simple set of steps, I can test it out on my box or you could report it on the bash issues page to see if anything comes up. running everything under strace is super useful for seeing what it's calling before it's crashing.

[2016-11-14 18:13] eriktrom commented on #6338
I left the steps in this gist, which includes the full stack trace. https://gist.github.com/eriktrom/532ad837acfd6f03b4b4e819ed9b0fb2  No need to test unless u have time.

Thanks for the `strace` tip, will hold onto that one.

If I have time (which may not be for a bit) - I will try booting into parallels and giving it another whirl - the gist is old and I'm sure the WSL has been updated a lot sin

[2016-11-14 20:24] allthesignals commented on #6430
@rwjblue works, but seems to add glob, express, and some other dependencies that were somehow missed

[2016-11-14 21:14] erose commented on #4335
This would be fantastic. What's the current status?

-- thanks for working on Ember!

[2016-11-14 22:00] crhayes commented on #2683
@marinatedpork You can also open "Preferences -> Settings" and add the folders you want to ignore under `folder_exclude_patterns`. Here is an example of mine:

[code]

[2016-11-14 22:44] terryroe commented on #3760
@aexmachina Looks like someone did the documentation work already (see above related issue).

[2016-11-14 22:50] terryroe opened #6431 "Build/Serve changes are not detected for app.import files that have outputFile option"
I have a file under `vendor` like so:  `vendor/shared.js` and this line in `ember-cli-build.js`:
[code]
`ember b` and `ember s` output the file correctly, but changes to the file while using `ember s` or `ember b -w` are not detected for this file.

Output from `ember version --verbose && npm --version`:
[code]

[2016-11-14 22:53] stefanpenner commented on #6431
changes to `vendor/shared.js` ?

Can you provide a quick repository demonstrating this issue. That way we can quickly debug.

[2016-11-14 22:56] terryroe commented on #6431
@stefanpenner I don't have a public one handy.  I'll put one together and post back later.

[2016-11-14 23:53] terryroe commented on #6431
@stefanpenner Here is the [repo](https://github.com/terryroe/ember-cli-output-file) you asked for.  It's just a new ember project with the one file (`shared.js`) added.

[2016-11-15 01:53] stefanpenner commented on #6431
thanks

[2016-11-15 02:08] stefanpenner commented on #6431
Alright, details so far:

* rebuild does not occur (e.g the file appears to not be watched)
* change is detected (rebuilding something else, catches this change)

[2016-11-15 02:58] stefanpenner commented on #6431
this appears to be a "feature" we explicitly don't watch `vendor` https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L213

[2016-11-15 03:10] rwjblue commented on #6431
`app.import`'ed files were manually watched via some bizarre hoop jumping (see https://github.com/ember-cli/ember-cli/pull/693 for background info), because in the early days (before watchman for example) watching a large number of files was very costly.

I suspect that we can use watchman status to just change that flag to watched if a decent (aka non-polling) watcher is being used...

[2016-11-15 03:11] rwjblue commented on #6431
This is a good idea regardless, but in this specific case I think we can just use a non-polling watcher feature detect...

[2016-11-15 03:21] stefanpenner commented on #6431
@rwjblue thats right, we did bower_components. But we never did the `vendor` side.

Labeling this as a bug

[2016-11-15 05:27] aexmachina commented on #3760
Great, thanks @terryroe

[2016-11-15 06:35] ssurana2 opened #6432 "ember s throwing "Cannot read property '0' of undefined""
Hi,

I just created a new project using `ember new testProject`. After the npm install and bower install, I tried to run ember s. I got the following error

[code]

The `package.json` file is
[code]

Output from `ember version --verbose && npm --version`:

[code]

[2016-11-15 06:50] stefanpenner commented on #6432
I've also noticed this. My suspicion is that a dependency bump'd itself in a non-semver way.

I believe an interim fix is bumping to the latest ember-cli from `2.5.0` to `2.9.1`

[2016-11-15 06:51] stefanpenner commented on #6432
line in question: https://github.com/ember-cli/ember-cli/blob/7c17e19a5839ce008e53fc51c26f2b71fd1fc9a7/lib/broccoli/ember-app.js#L336

[2016-11-15 06:52] stefanpenner commented on #6432
ah, i believe this is actually a lodash regression: https://github.com/ember-cli/ember-cli/blob/7c17e19a5839ce008e53fc51c26f2b71fd1fc9a7/lib/broccoli/ember-app.js#L306 i believe starts detecting `'ember-testing.js'` at https://github.com/ember-cli/ember-cli/blob/7c17e19a5839ce008e53fc51c26f2b71fd1fc9a7/lib/broccoli/ember-app.js#L313 as  as `ember-testing` `js` recently...

[2016-11-15 06:53] stefanpenner commented on #6432
i believe it is: https://github.com/lodash/lodash/issues/2810

[2016-11-15 07:14] ssurana2 commented on #6432
@stefanpenner thanks for pointing to https://github.com/lodash/lodash/issues/2810. After referencing to `lodash@4.16.5`, the issue got resolved. So I guess, this is a temporary fix till the patch on lodash is pushed

[2016-11-15 07:19] #6432 closed

[2016-11-15 07:19] stefanpenner commented on #6432
@ssurana2 awesome :)

[2016-11-15 09:40] Blackening999 opened #6433 "Projects broken because of lodash recent update:: URGENT"
Hello,

the issue hit some projects because of recent lodash update:
https://github.com/lodash/lodash/commits/master

error-log:
Cannot read property '0' of undefined
TypeError: Cannot read property '0' of undefined
    at EmberApp._initVendorFiles (/Users/black/Work/My_Projects/doinbound3/node_modules/ember-cli/lib/broccoli/ember-app.js:317:55)
    at new EmberApp (/Users/black/Work/My_Projects/d

[2016-11-15 10:24] twokul commented on #6433
@Blackening999 it's an issue with `lodash@4.17.0`; `npm install --save-dev -E lodash@4.16.4 && rm -rf node_modules && npm install` should help you

[2016-11-15 10:38] Blackening999 commented on #6433
@twokul yep. 4.17.1 fixed that issue

[2016-11-15 10:38] #6433 closed

[2016-11-15 16:11] terryroe commented on #6431
@stefanpenner, @rwjblue Will this take a while to get fixed and into the stable version?  If so, can you think of a workaround I could use besides manually triggering a build after each edit of this type of file?  Thanks, tr

[2016-11-15 16:19] rwjblue commented on #6431
Manually providing the vendor tree should work.

[code]

[2016-11-15 16:29] terryroe commented on #6431
Perfect!  Thanks so much @rwjblue!

[2016-11-15 17:31] stefanpenner commented on #6431
It shouldn't be to much work to fix, but unsure re: timeline.

[2016-11-15 17:31] stefanpenner commented on #6431
@terryroe thanks for reporting, this is now on our radar.

[2016-11-15 17:48] terryroe commented on #6431
@stefanpenner, My pleasure and thanks for your quick responses and attention.

[2016-11-15 23:06] poteto opened #6434 "TypeError: heimdall.statsFor is not a function"
On an existing ember-cli 2.9.1 / new ember app, a clean install produces the following error when trying to serve or build the app:

[code]

To reproduce:

[code]

It appears the issue is with the latest release of `heimdalljs@0.2.2` breaking the `statsFor` API without bumping the major

cc @hjdivad

---

Output from `ember version --verbose && npm --version`:
[code]

[2016-11-15 23:07] chrisccerami opened #6435 "Newest published version of Heimdalljs is suddenly breaking ember-cli"
It looks like a new version of [Heimdalljs](https://www.npmjs.com/package/heimdalljs) was just published (0.2.2), and all of a sudden I can't run the ember server or use any other ember-cli commands.

[code]

---

Output from `ember version --verbose && npm --version`:
Can't produce the output from `ember version` due to the aforementioned issue, but we're using Ember 2.9.1 and npm 3.8.6

[2016-11-15 23:08] nathanhammond commented on #6435
Closing as duplicate of https://github.com/ember-cli/ember-cli/issues/6434

[2016-11-15 23:08] #6435 closed

[2016-11-15 23:09] chrisccerami commented on #6434
I just opened a duplicate of this right after you haha. Same basic situation for us.

[2016-11-15 23:12] derekdowling commented on #6434
Looks like `broccoli-funnel` is what's importing it: https://github.com/broccolijs/broccoli-funnel/issues/83.

[2016-11-15 23:15] derekdowling commented on #6434
Hotfix: https://github.com/broccolijs/broccoli-funnel/pull/84

[2016-11-15 23:25] hjdivad commented on #6434
fixed with release of heimdalljs v0.2.3

[2016-11-15 23:27] hjdivad commented on #6434
@derekdowling thanks for the fast hotfix! and thanks @poteto for the prompt and detailed bug report.

If anybody has an issue with v0.2.3 please reopen and cc me.

[2016-11-15 23:27] #6434 closed

[2016-11-15 23:29] derekdowling commented on #6434
Okay, not seeing `v0.2.3` in Github, should I be looking somewhere else?

[2016-11-15 23:33] hjdivad commented on #6434
@derekdowling https://github.com/heimdalljs/heimdalljs-lib/tree/v0.2.3

[2016-11-15 23:34] hjdivad commented on #6434
also
[code]

[2016-11-15 23:35] derekdowling commented on #6434
Thanks, I refreshed and it showed up. Caching must have gotten the best of me. Thanks for the quick fix @hjdivad 👍

[2016-11-15 23:40] hjdivad commented on #6434
@derekdowling no worries; as i said before please reopen and cc me if you see this issue again.  Also thanks again for your superquick hotfix.  We didn't need it in the end, but it would have been extremely useful if the actual resolution wasn't also quick!  👍

[2016-11-16 01:47] nathanhammond commented on #6431
It seems like this underlying issue was because of syncing with `broccoli-bower` which pushed a ton of files into `vendor`. It doesn't appear that this is an issue anymore. As it stands the vendor folder is no longer the equivalent of `node_modules` or `bower_components`. So even in a polling world this is likely not as super-expensive as it used to be.

As such I'm in favor of simply turning watc

[2016-11-16 03:53] rwjblue commented on #6431
Seems fine to me.

[2016-11-16 05:00] stefanpenner commented on #6431
i think we just need to do the same conditional as above: https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L211

If watchman is present, go to town.

[2016-11-16 05:26] nathanhammond commented on #6431
@stefanpenner I'd rather just universally turn it on. I saw that conditional, but I just don't think we're in the same place we were with the `vendor` folder.

[2016-11-16 07:26] stefanpenner commented on #6431
ok, we can always walk it back if it turns out to be an issue.

[2016-11-16 07:35] MarkNBroadhead commented on #770
I know this is a super old thread but hopefully my comment will help others.  Change

`import alertify from  'alertify';`
to...
`import alertify from  'alertifyjs';`

[2016-11-16 11:30] ErisDS commented on #1186
I'm seeing this problem too, in Ghost-Admin. I don't know what a reproducible case is other than: clone Ghost, develop on it. Sometime later notice you've got a ridiculous amount of files in the tmp folder.

broccoli merge trees & babel are the two major culprits.

Eventually, I also noticed we get an ENOENT error for a `stat` call on a file in the tmp folder. At that point clearing the tmp folder

[2016-11-16 11:36] kgish commented on #1186
Yes indeed, several releases later I continue to have this problem for some reason. Hard to reproduce, but now I've gotten into the habit of just running `rm -rf tmp/*` on a regular basis.

[2016-11-16 17:10] nathanhammond commented on #1186
We now provide a message that communicates that we're cleaning up. `ctrl + c` twice in rapid succession kills our cleanup process. Also partially addressed by https://github.com/ember-cli/ember-cli/pull/6423

[2016-11-16 17:16] stefanpenner commented on #1186
* https://github.com/sindresorhus/ora/issues/27 addressed on our end via https://github.com/ember-cli/ember-cli/pull/6423
* https://github.com/broccolijs/broccoli/issues/311 mid build cleanups don't work. I think i can have this addressed this week

[2016-11-16 19:41] #6431 closed

[2016-11-16 20:39] zen-tmq commented on #6219
Could we possibly pass the defaultBlueprint name in via the addBowerPackageToProject method? This is a ridiculously frustrating blocker for me rn...

[2016-11-16 21:45] nathanhammond commented on #6219
@zen-tmq I've outlined a solution and a path forward if you'd like to move that forward. Working on this directly is not on our priority list, but it _is_ on my priority list to help you move forward on this if you're interested in helping.

Aside: `addBowerPackageToProject` doesn't do anything related to Ember addon installation.

[2016-11-16 22:03] zen-tmq commented on #6219
Oh whoops... I don't know why I typed that. Meant addAddonsToProject. And I'd be happy to help, but I was questioning the method. Would it be easier/acceptable if I were to just include an additional property in the argument passed to that method so:
`this.addAddonToProject({packages: [{name: 'myRepo/my-addon', defaultBlueprint: 'my-addon'}]);`

thanks for the prompt reply, btw

[2016-11-16 22:04] zen-tmq commented on #6219
I noticed there is an options.blueprintOptions in the code as well.. trying to trace what this does now...

[2016-11-16 22:30] nathanhammond commented on #6219
We would want to solve this at the more-fundamental level, so it can't just be by passing options in.

[2016-11-16 22:43] #6422 closed

[2016-11-17 00:34] zen-tmq commented on #6219
I see, I see... do you think there would be a use case for firing different blueprints for different situations at the addAddonToProject level?

[2016-11-17 10:48] saverio-kantox commented on #2530
Also pre-commit git hooks could run linting tests only on modified code, saving time and allowing to migrate old code-bases without having to change thousands of files at the same time.

[2016-11-17 10:48] Senthe opened #6438 "Images disappear after server restart during development"
I encountered a very strange bug: every time I add some svg files to my 'public/assets/images' folder or subfolder, first they don't show up on the page when linked (this is expected), and then they disappear from the folder after server restart and page reload (this is unexpected).

Old images that were there already stay the same, new images are deleted.

OS X El Capitan 10.11.6, my dependencies

[2016-11-17 11:16] Senthe commented on #6438
This was caused somehow by my system apparently. I fixed it adding the files manually through IDE instead of copying through the Finder. Deeply sorry for any trouble.

[2016-11-17 11:16] #6438 closed

[2016-11-17 13:51] rwjblue commented on #2530
@fotinakis:

Checkout [ember-exam](https://github.com/trentmwillis/ember-exam).  It allows arbitrary splitting with a nice API...

---

@saverio-kantox:

Sure, but that is already possible via the command line tools provided by linting engines and will be much faster than building your app in a pre-commit hook:

[code]

[2016-11-17 18:22] nathanhammond commented on #6219
At that point I'd look into `execSync` as part of the install process of your addon though we _may_ want to provide (may have?) a simpler command to run an installed blueprint.

[2016-11-18 18:42] Syzygy24 commented on #3475
I'm seeing this behavior again on
ember-cli: 0.2.5
node: 0.12.10
phantomjs: 2.1.1

[2016-11-19 05:16] toddjordan commented on #6334
took a look at the fix today.  It seems that I'm actually getting the newer version of inquirer at runtime, but in the newer inquirer, the callback is no longer taken as an argument, and therefore the bower packages don't get added after the conflict is resolved.  Simply adding a then block to the promise where we invoke the callback seems to work like so:

[code]

This does the trick for me (I'll

[2016-11-19 07:21] nathanhammond commented on #6334
@toddjordan I'm unsure if we actually end up using Bower's version. Since we're binding our version and passing it in we can possibly get away with _just_ that.

[2016-11-20 20:24] jfelchner opened #6441 "Improve Build/Template Error Messages"
One of my major OSS initiatives in 2018 is going to be to improve error messages throughout Ember in order to make our lives as developers easier.  One of the lowest hanging fruit in regards to improving errors involves the error page that is shown when a build error happens.

The purpose of this issue is to document all of the work that is required to get the error page to the state we think as a