[2016-06-02 03:44] stefanpenner commented on #5946
thanks @bcardarella

[2016-06-02 14:31] zzarcon commented on #5492
Thanks for the info @rwjblue, do you also know if setting **compact** false have some kind of performance penalty?

[2016-06-02 19:32] nathanhammond commented on #5945
Hey @cesarizu! That paste has expired or something. Can you include it inline here?

[2016-06-02 19:40] cesarizu commented on #5945
Sure, here it is:
[code]

[2016-06-02 20:06] nathanhammond commented on #5945
@cesarizu Thanks! With that many dependencies it's unlikely that we're going to be able to diagnose this without a screen sharing session with you. Is that an option?

@ember-cli/core This is certainly a stress test, there's no way to tell what's actually breaking here. It's blowing up early in the DAG.

[2016-06-02 20:08] cesarizu commented on #5945
Yeah, that would work for me. But if it helps, I can start disabling some of the dependencies and see what happens, try to figure out if any specific one or some combination is causing this problem...

[2016-06-02 20:46] cesarizu commented on #5945
@nathanhammond  I think I've narrowed the error down to `ember-cli-font-awesome`. With a new project, installing that addon using `ember install ember-cli-font-awesome` and then running with `ember serve` gives that error.

[2016-06-02 21:02] nathanhammond commented on #5945
@cesarizu `ember-cli-font-awesome` is deprecated, trying it with `ember-font-awesome` works for me. Please update to that and everything should work!

[2016-06-02 21:03] cesarizu commented on #5945
Yes, that's true... using `ember-font-awesome` works :) thanks @nathanhammond  for your help.

[2016-06-03 18:21] les2 opened #5953 "app.import does not work for AMD modules that use universal module definition (UMD)"
Possible bug or opportunity for improvement in ember-cli regarding `app.import` of AMD modules (or more likely I'm just not doing it right).:

- I installed the `cookie` package via bower: `bower install cookie --save`. The `cookie` module contains this universal module loader code:

- When I try to add the module to the ember app with:

[code]

as described [here](http://ember-cli.com/user-guide/

[2016-06-03 18:51] luketheobscure commented on #5415
Same issue. Getting the `failed to connect. testem.js not loaded?` message. I have a `baseURL` set in my environment. Setting it to `''` in the test environment fixes running the tests from the command line, but I'm no longer able to run the tests in the browser.

I've got a rather complicated set up, including running haproxy.

[2016-06-04 03:45] #5953 closed

[2016-06-04 03:47] stefanpenner commented on #5953
These need to be de-anonymized first, there was work by @ef4 to make this work by default, but unfortunately it  introduced a serious performance regression and was reverted, if that performance regression was addressed it would be accepted.

[2016-06-04 15:22] batjaa opened #5954 "Regular expression [regex] defined in config converts into empty POJO"
Here's a repro https://github.com/batjaa/test-config-regex

As the title says, any regular expression [regex] that's defined in the config file gets converted into a POJO and is not possible to use from the application.

[2016-06-04 17:33] les2 commented on #5953
@stefanpenner would folks accept a documentation fix stating that ember doesn't support AMD dependencies that use UMD or are AMD anonymous modules? one can easily waste hours trying to figure this out and report an issue. and the fact that it is a known issue and not even an edge case makes the waste of time even more painful.

@ef4 was the performance regression is limited to cases where the UMD

[2016-06-04 19:33] stefanpenner commented on #5953
No this isn't a bug, it is working as intended. As per https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md new features go through the RFC process, not issues.

sure

[2016-06-05 03:14] sky-coding commented on #3567
I accidentally moved `broccoli-asset-rev` from `devDependencies` to `dependencies` in my addon and it was causing this error when the parent builds. Posting this here in case anyone finds themselves in a similar situation.

[2016-06-05 04:10] jhr007 commented on #4702
tl;dr: https://github.com/ember-cli/ember-cli/pull/4709

Apologies for necro'n a closed issue... but the close doesn't give a See Also, nor has web searches returned anything fruitful for Ember-CLI command line tab completion, even if it's something that can't be done or something I have to manually configure.
*Drinks from beer before submitting(see tldr)*
Found the tldr link after finding this is

[2016-06-05 09:12] Turbo87 commented on #5954
Maybe I'm wrong,  but since the config is serialized into a metatag it is unlikely that this would work. You could save the regex as a string though and convert it later.

[2016-06-05 13:10] rwjblue commented on #5954
Confirm, the result of evaluating config/environment.js is later JSON.stringified. Only primitive types will be serialized properly.

[2016-06-05 13:28] batjaa commented on #5954
True. Any plans to support regex? I would assume to be able to use regex
patterns in config file.

On Sun, Jun 5, 2016, 6:10 AM Robert Jackson <notifications@github.com>
wrote:

[2016-06-05 14:05] rwjblue commented on #5954
Very unlikely to make config something that is not JSON serialized. If you need to share a regexp from config you will need to do as @Turbo87 mentioned and safe as a string then convert to a regexp in your app code at runtime.

[2016-06-05 14:18] batjaa commented on #5954
I just had this stupid/crazy but workable idea. What if you override the `RegEx.toJSON()`.
To something like:
[code]

[2016-06-05 15:18] #5954 closed

[2016-06-05 15:59] batjaa commented on #5954
Not sure why closed. Because using strings can't resolve the issue
completely. You will need to escape characters but you will need the
special characters to define certain rules, like `^` to say "begins with"
or `$` "ends with".

On Sun, Jun 5, 2016, 8:19 AM Tobias Bieniek <notifications@github.com>
wrote:

[2016-06-05 16:18] Turbo87 commented on #5954
what's wrong with escaping characters? as mentioned above the config is JSON serialized and then read into the application. this is simply a requirement at the moment and if you want to use config values that are not natively JSON serializable then you need to find a way to serialize them in another way (e.g. use strings for the regex patterns).

[2016-06-05 18:57] batjaa commented on #5954
I'm sorry didn't gave full context. What if a config value could be a string or a regex. Like raven.js ignore/whitelist urls is a good example. https://github.com/damiencaselli/ember-cli-sentry/issues/49 Opened a thread over here, too. You can have a look if interested.
I understand that it would be hard to support regex with how we handle config currently. Is it possible to update the docs at lea

[2016-06-05 19:08] Turbo87 commented on #5954
Sure, it would be great if you could open a PR that clarifies the situation.

I still don't see the problem. Just deserialize the config into proper regular expressions before passing it on to raven.js.

[2016-06-05 19:10] rwjblue commented on #5954
The docs should absolutely make it clear that the returned object is serialized.  I would even be happy with some build time assertions when non serializable types (like `Function` or `RegExp`) are included...

[2016-06-06 21:05] vlascik commented on #5945
If anyone else has this problem, try to isolate the offending addon, and check whether it has `ember-cli-htmlbars` in addon's package.json `dependencies` instead of `devDependencies`, maybe also whether it overrides `init()` in `index.js` while forgetting to call `super()`, as was the case for me. Hope it helps.

[2016-06-06 21:50] morhook commented on #5942
I've found a workaround for this case, running without `--pod` the same `addon/utils/process.js` file is generated AND the correct `app/utils/process.js` file is generated.

[2016-06-07 06:28] kitsunde opened #5956 "ember new creates the folder in the closest parent with a package.json"
We have projects like

[code]

When I ran `ember new frontend` from **src/** the directory was created one folder up because it happened to have a `package.json` file already.

I found it pretty confusing, but if it's by design then it probably needs to be documented here: https://ember-cli.com/user-guide/#create-a-new-project

[2016-06-07 07:22] Turbo87 commented on #5956
this was actually fixed already by https://github.com/ember-cli/ember-cli/pull/5918, but it's only available in master/canary so far. v2.7.0 will only look for package.json files that include an `ember-cli` dependency.

[2016-06-07 07:22] #5956 closed

[2016-06-07 07:42] codeofsumit commented on #3623
@nicolaschenet
[code]
how?

[2016-06-08 18:11] XaserAcheron commented on #1186
Holy yikes. I stumbled upon this issue via Google after checking my `/tmp` folder. 614,897 files, 9.11 GB.

I don't really know what details to give other than "I'm on Windows", though. That's proven to be a source of goofiness more than once.

[2016-06-09 12:00] Turbo87 commented on #5015
@stefanpenner I updated the task list above

[2016-06-09 15:15] Turbo87 commented on #5849
closing this until someone can provide a reproduction project

[2016-06-09 15:15] #5849 closed

[2016-06-09 20:43] hjdivad commented on #5297
@mozeryansky if you have a moment it would be helpful to check whether #5965 fixes this problem in your app.  It looks very likely to.

[2016-06-09 22:00] Turbo87 commented on #5880
Resolved by #5963

[2016-06-09 22:00] #5880 closed

[2016-06-09 22:26] devinrhode2 commented on #5357
I'm getting this again whenever I run any `ember` command on a freshly installed node-npm. I can't find the proper npm version/permission setup that doesn't have this error. I've tried the cleanest most predictable install methods except for installing node from the website, which I've enumerated below.
[code]
 • Tried reinstalling the latest nvm, then installing node v4 (with npm): `nvm install 4

[2016-06-09 22:59] devinrhode2 commented on #5357
Running:
[code]
fixed it

[2016-06-10 01:06] stefanpenner commented on #5357
nope, sounds like a bug in npm (or and old version of npm)

[2016-06-10 02:26] devinrhode2 commented on #5357
It could've been something funky going on with my `~/repos/ember` and `~/repos/ember-cli` directories. I was primarily testing if my `ember` commands work in `~/repos`.  It seems to be fixed now without needing to manually install ember-cli deps.

[2016-06-10 03:56] stefanpenner commented on #5945
i think this can still be improved here, just ran into it

[2016-06-10 13:30] Dhaulagiri commented on #5945
We are seeing this as well in a relatively new project being upgrade to ember-cli 2.6.0

[2016-06-10 13:57] rwjblue commented on #5945
It generally happens when an addon doesn't call _super in its init, we need to track down these addons and update them to do:

    this._super.init && this._super.init.apply(this, arguments);

[2016-06-10 14:57] Turbo87 opened #5971 "Use ember-cli-blueprint-test-helpers for blueprint tests"
We should try to reuse our efforts in https://github.com/ember-cli/ember-cli-blueprint-test-helpers to test our own blueprints.

[2016-06-10 15:32] stefanpenner commented on #5945
@rwjblue we will likely need to release a patch version of CLI, that guards this (to ease the transition)

[2016-06-10 15:45] stefanpenner commented on #5971
@Turbo87 yes, although that module should most likely first decouple itself from ember-cli, no reason we need to start a whole ember-cli to run blueprints. A slimmer harness is possible

[2016-06-10 15:47] Turbo87 commented on #5971
would be awesome if you could open an issue for that describing your thoughts on how to slim it down

[2016-06-10 17:46] stevenwu opened #5973 "Unable to run `ember init` after upgrading to 2.6.0"
Unable to run `ember init` when upgrading from `2.5.1` to `2.6.0`.

---

Output from ember version --verbose (project directory):
[code]

Output from ember version --verbose (home directory):
[code]

Tried with node `6.1.0`, had same issue.

[2016-06-10 18:34] stefanpenner commented on #5973
@stevenwu what version of ember-cli-htmlbars do you have?

[2016-06-10 18:38] rwwagner90 opened #5974 "test-loader.js not found"
I updated my addon to Ember-CLI 2.7.0-beta.1 and now I cannot run it or run tests or anything because it cannot find test-loader.js.

These are my versions:
[code]

Output from ember version --verbose:
[code]

I get an error that it cannot find test-loader.js. Is this possibly a rootURL issue? Not sure what's happening.

This is in an addon by the way.

[code]

You can find the broken addon in a b

[2016-06-10 18:56] stefanpenner commented on #5974
@trentmwillis got cycles to take a look?

[2016-06-10 18:58] stefanpenner commented on #5973
i suspect you have a version of ember-cli-htmlbars pre 1.0.7, could you confirm?

[2016-06-10 20:38] stefanpenner commented on #5973
I've been attempting different configurations but have been so far unable to replicate. We will need more information to proceed...

[2016-06-10 20:47] stefanpenner commented on #4436
confirmed, this is still an issue with 2.6

[2016-06-10 20:52] nathanhammond commented on #5973
@stevenwu Can you paste in your package.json?

[2016-06-10 20:54] stevenwu commented on #5973
I tried to copy package.json and bower.json into a new 2.6.0 project earlier, but couldn't reproduce the erorr. Now I'm trying with a new 2.5.0 project upgrading to 2.6.0.

[2016-06-10 20:58] nathanhammond commented on #5973
@stevenwu My hope was that you could post it here for us to review your dependencies. Is that possible?

[2016-06-10 21:04] stevenwu commented on #5973
@nathanhammond I've reproduced the error https://github.com/stevenwu/ember-cli-issue-5973 .

[2016-06-10 21:14] stefanpenner commented on #5973
@stevenwu thanks, looking now.

[2016-06-10 21:40] stefanpenner commented on #5973
@nathanhammond bumping ember-font-awesome to the latest fixed the issue.

[2016-06-10 21:52] stefanpenner commented on #5973
I can't think of a solution beyond upgrading to the fixed ember-font-awesome.

The way I found it was via:  `CORE_OBJECT_WARN_DEPRECATED=1 ember s`

which results in:

[code]

[2016-06-10 21:52] stefanpenner commented on #5973
@nathanhammond we could enable that warning by default?

[2016-06-11 03:01] #5945 closed

[2016-06-11 19:20] nathanhammond commented on #1634
@chris-pauley Update is we're moving toward this: https://github.com/emberjs/rfcs/pull/143

[2016-06-11 19:24] nathanhammond commented on #5768
@alltouch Can you post a simple reproduction as a repo? We have anecdotal evidence that this works from @uliseschino. Without the ability to track this down we're closing this issue. Feel free to reopen it with a reproduction at any point in time!

[2016-06-11 19:24] #5768 closed

[2016-06-11 19:50] nathanhammond commented on #4948
Closing with the `app: null` workaround and lack of activity.

[2016-06-11 19:50] #4948 closed

[2016-06-12 11:44] joseperales opened #5980 "Ember build -prod Fail using Semantic-ui"
When made a build in ember-cli 2.6.1 using semantic-ui

On OS X El Capitan and Windows 10 I try to build Ember build -prod and produce Error: Broken @import declaration of "theme.css"
![screen shot 2016-06-12 at 7 37 54 a m](https://cloud.githubusercontent.com/assets/236926/15990957/78fc8fe4-3071-11e6-9510-62541db2894e.png)

[2016-06-12 12:35] Turbo87 commented on #5980
@joseperales could you provide instructions on how to reproduce your issue?

[2016-06-12 12:39] joseperales commented on #5980
@Turbo87 just making a build using the ember-cli command: ember build -prod and boom Doesn't Flight Cheers. Also I opened the issue in semantic-ui ember https://github.com/Semantic-Org/Semantic-UI-Ember/issues/114. Appear a problem with semantic-ui or broccoli

[2016-06-12 15:00] stefanpenner commented on #5980
or semantic-ui clean-css maybe, unliekly ember-cli or broccoli but unknown.

Following https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md#reporting-a-bug closely, will help us with the information we need to debug. e.g. downloadable reproduction. This helps us unsure we see exactly what you see.

[2016-06-13 06:02] fuse-mars commented on #5415
has this been solved? I see that the issue is closed

[2016-06-13 14:35] rwwagner90 commented on #5974
@stefanpenner this is apparently an issue with ember-cli-blanket. Probably hasn't been updated to look for the new loader-js location.

[2016-06-13 14:35] #5974 closed

[2016-06-14 08:09] NeilAllen opened #5983 "Permissions issue on Windows"
The cli blows up when I save a change even with elevated privileges.

![image](https://cloud.githubusercontent.com/assets/13977890/16035510/7a06c3ba-320f-11e6-9ae0-ac110cb19596.png)

[2016-06-14 08:24] nathanhammond commented on #5983
That appears to be a privilege issue. Did you install any of `node`, `npm`, or other tools as an admin user? I'm not an expert on Windows (and don't have a Windows machine to test with), so I'll need your help to track down what is happening. Can you describe the exact steps you've done to get here? First attempt to fix with my guidance would include uninstalling and reinstalling `node` and removi

[2016-06-14 12:55] badazz91 commented on #5973
Had the same problem on my project.

Bumping ```ember-font-awesome``` to ```2.1.1``` did the trick.

[2016-06-14 14:19] NeilAllen commented on #5983
Thanks, for having a look...

My windows logon is an admin & windows would require me to elevate privileges to install node.

The steps to reproduce are no more than:
   ember s
   (change and save a source file)
   ember picks up the change and does-what-it does, but fails; tells me permission is denied on dist/assets.
   I try to look in dist/assets with windows explorer & get the dialog as in t

[2016-06-14 15:56] stefanpenner commented on #5973
@crodriguez1a likely doing that forced NPM to download the latest core-object module, which contained that deprecation? or..

[2016-06-14 16:26] stefanpenner commented on #5983
@felixrieseberg we may need your 👀  on this one.

[2016-06-14 16:32] stefanpenner commented on #5983
@NeilAllen thanks for reporting, but we will need you to flesh out the issue further. As per our Contributing.md (the yellow banner you see when opening an issue links to it) we have requested several things: https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md#reporting-a-bug.

Providing us with the above requested details, as it will enable us to investigate further.

[2016-06-14 17:35] felixrieseberg commented on #5983
Hey, happy to check in - obviously, this isn't normal behavior, but I'm not sure that Ember is at fault here. Creating a folder that other users don't even have access to isn't all that easy.

@NeilAllen: I recommend uninstalling and then reinstalling Node, followed by removing your `node_modules`, `tmp`, and `dist` folders inside your projects.

[2016-06-15 09:55] NeilAllen commented on #5983
Hi!,
   here, I hope, is the info - let me know it's not. In the meantime I'll give the 'windows-helpdesk'-esce re-install a go.

c:\blah\>npm --version
2.14.12

c:\blah\>ember --version
Future versions of Ember CLI will not support v4.3.1. Please update to Node 0.12 or io.js.
version: 1.13.8
node: 4.3.1
npm: 2.13.4
os: win32 x64

[2016-06-15 09:57] Turbo87 commented on #5942
this seems to work correctly for controllers (see https://github.com/ember-cli/ember-cli/pull/5985/commits/e07b2193f09b258b47b25663df422cc55eafcbc7#diff-3eacd41a7e4a2d1b00c2f207a8a23975R133), so I'm not sure if the solution in #5964 is practical. we might have to filter on the `originBlueprintName` property to decide if we should use the Pods code path or not.

[2016-06-15 11:12] Turbo87 commented on #5983
@NeilAllen it looks like you are using a rather old version of Ember CLI (v1.13.8). I guess your best bet is to update Ember CLI to the most recent release and then see if that fixes your issues.

[2016-06-15 13:07] morhook commented on #5942
Right! This change will break the 'controller' generation (as that one is using the --pod parameter correctly). I'll rollback this change

[2016-06-15 13:12] morhook commented on #5942
What about the initial code https://github.com/emberjs/ember.js/pull/13624 ? That one should fix this issue (I think we'll also need to modify https://github.com/ember-cli/ember-cli-legacy-blueprints , as the ember-blueprints code seem to be duplicated in both repos )

[2016-06-15 13:15] Turbo87 commented on #5942
I think the suggestion above would be the right way to proceed, but since I have never used Pods myself I'd like to get other opinions first... @rwjblue @stefanpenner @nathanhammond ?

[2016-06-15 13:52] stefanpenner commented on #5942
pods are more or less frozen, as we are on the cusp of a more holistic solution: https://github.com/emberjs/rfcs/pull/143

[2016-06-15 14:45] #5971 closed

[2016-06-15 14:46] stefanpenner commented on #5983
please do this, if the problem persists could you share a reproduction (isolated from your private app files) that way we can debug it quickly.

[2016-06-15 15:30] cjtafoya commented on #4310
Not sure why this was totally shut down without further discussion given this would be a useful feature

[2016-06-15 15:42] Turbo87 commented on #4310
I think a `--skip-test` option would be reasonably easy to implement and might make sense in some scenarios as long as we don't make it the default.

[2016-06-15 15:54] felixrieseberg commented on #5983
The same is true for your npm version.

[2016-06-15 15:58] nathanhammond commented on #5942
I've never used pods and given our future changes I don't want to recommend that anybody build an application with pods. The earliest this could make a release version (2.8) and we'll hopefully have support for the module unification RFC at that time.

[2016-06-15 16:14] nathanhammond commented on #4310
@mitchlloyd @cjtafoya We try and generate an appropriate test type per generated item; integration for components for example. Part of the strength of this is that people are encouraged to follow patterns, and that people new to your project are able to immediately join in. It's imperfect but it promotes making good decisions.

I disagree with this assertion having just spent a lot of time dealing

[2016-06-15 16:49] topaxi commented on #4310
I have several "toy" ember apps where I don't write tests, I just leave them empty. The generated tests pass by default so they don't really disturb me in any way.

[2016-06-15 20:08] RyanNerd commented on #5249
NPM should be renamed PITA. Got bit with this crap today. For speeds sake I ended up using the sudo work-around. But would have loved to know about this in advance.

[2016-06-16 17:41] GCheung55 opened #5989 "Add flag to determine if addon is installed to devDependencies or dependencies"
npm allows the developer to determine whether to save a dependency in package.json under devDependencies or dependencies.

The difference between the two is that dependencies are required to run, while devDependencies are required to develop.

Examples of dependencies required to run: ember-cli, ember-resolver, and ember-core.
Examples of devDependencies required to develop: ember-cli, ember-resol

[2016-06-16 18:10] #5989 closed

[2016-06-16 18:11] stefanpenner commented on #5989
Hello, please be sure to read the [CONTRIBUTING.md]https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md() (the big yellow banner you see when opening this issue). It outlines how to request new features [here](https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md#requesting-a-feature)

[2016-06-16 18:55] GCheung55 commented on #5989
Sorry about that, I was misinformed that this was the right place to request a feature.

I've filed a [ticket in the RFCS](https://github.com/ember-cli/rfcs/issues/56).

[2016-06-16 21:12] nathanhammond opened #5990 "`this.import` may have bugs."
Not all `app`s are guaranteed to have `.app`: https://github.com/ember-cli/ember-cli/blob/master/lib/models/addon.js#L422-L428

We may instead need to snag `.parent`: https://github.com/machty/ember-maybe-import-regenerator/blob/master/index.js#L38-L50

/cc @machty @rwjblue @zackthehuman

[2016-06-16 21:37] rwjblue commented on #5990
Thanks for recording this issue @nathanhammond.

[2016-06-16 21:54] zackthehuman commented on #5990
Indeed; this is a problem I have commonly run in to while trying to get the app's options via `this.app.options`, which sometimes bombs. Resolving by walking the parents seems like the most reliable thing to do.

[2016-06-16 22:38] celicoo commented on #5973
Same issue here.

[code]

[2016-06-16 22:59] #5973 closed

[2016-06-16 23:00] stefanpenner commented on #5973
Deprecations are enabled by default, if you have issues please follow the deprecations instruction (either updating the addon in question, or fixing the addon in question).

[2016-06-17 15:05] Serabe commented on #5973
@stefanpenner is there any change to reconsider this until ember-cli@2.7.0 or ember-cli@2.6.2? Currently a fresh installation of ember-cli@2.6.1 shows three deprecation warnings all of them coming from files in `ember-cli/lib/models`
![2016-06-17 at 17 02](https://cloud.githubusercontent.com/assets/36221/16154995/9ff02d78-34ad-11e6-93f6-b33b5072c37f.png)

[2016-06-17 15:38] pinfieldharm opened #5993 "Deprecation warnings for new project"
I just created a new ember 2.6.0 app and, straight out of the box and with all default settings, every invocation of an ember command results in three deprecation warnings. You can see these in the output from ember version --verbose, below.

Steps to replicate (with ember 2.6.0 installed):
1. ember new testproj
2. cd testproj
3. ember version

---

Output from ember version --verbose:
[code]

[2016-06-17 15:39] pinfieldharm commented on #5993
Related issue in emberjs project: https://github.com/emberjs/ember.js/issues/13676

[2016-06-17 15:46] stefanpenner commented on #5973
@Serabe unfortunately do to how those add-on are wired up, that is the best stack trace we can give.

[2016-06-17 15:49] stefanpenner commented on #5973
the stack trace helps identify how the add-on was instantiated (either in ember-cli, or standalone), but the deprecation also clearly states which dependency needs fixed.

* ember-cli-dependency-checker (pending release)
* ember-cli-quint (already fixed)
* ember-cli-release (I'm assuming release is ember-cli-release)

[2016-06-17 15:50] #5993 closed

[2016-06-17 15:51] stefanpenner commented on #5993
These are upstream dependencies that need to be addressed, the deprecations explain which one.

[2016-06-18 20:40] #5906 closed

[2016-06-18 20:50] mike-north opened #5998 "Default addon blueprint doesn't catch node 0.x breakage in CI"
A change introduced in #5679 set the default node version for Travis-CI to v4. This is probably fine for apps, but in the case of addons, it's very easy for CI to indicate everything is fine, despite the existence of things incompatible with node 0.10 or 0.12.

Per the Node LTS schedule, we need to provide full support for node 0.10 and 0.12 until December 2016 and April 2017, respectively.
### TO

[2016-06-19 11:21] Serabe commented on #5973
@stefanpenner: I see the point on [this comment](https://github.com/emberjs/ember.js/issues/13676#issuecomment-226989068). IMHO, a clean installation of ember-cli should not be raising any kind of deprecation. If ember-cli chooses to include an addon by default, I think this issue tracker would need to address those addons not raising any deprecation.

As an example, currently only `ember-cli-rele

[2016-06-19 17:09] nathanhammond commented on #5973
@Serabe Your proposed solution isn't unreasonable. It's a time and energy thing. [Please see my response on that thread.](https://github.com/emberjs/ember.js/issues/13676#issuecomment-227008372)

[2016-06-19 18:55] rwjblue commented on #5973
In this case, we enabled the deprecations after 2.6 was already released out of "self defense" (there were a number of issues reported that the deprecation was intended to help with and addon authors had no clue they needed to take action).

I think in the future that we should try to land deprecations "on by default" during the beta period, so that addon authors at least have a chance to fix the

[2016-06-19 21:07] BryanCrotaz opened #6000 "ember test --silent isn't!"
I remember working on this a couple of years ago and fixing testem to have a report-file command param so that console output didn't pollute the test output file. Now I can't find that feature - has it been removed again?

Here we go...

[code]

[2016-06-19 21:09] BryanCrotaz commented on #6000
Doh. Why do I have the brainwave 10 seconds after posting an issue instead of in the last 2 hours of fighting... output to stdout is clean. Argh.

[2016-06-19 21:09] #6000 closed

[2016-06-20 17:30] twokul commented on #5946
[code]

[2016-06-20 17:38] rwjblue commented on #5946
I believe that this should mostly do the trick:

* Update [this](https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L201) to check `existsSync(this._resolveLocal('tests'))` and if not then use `null`
* Update this conditional in [EmberApp.prototype.toArray](https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L1610) to be `if (this.tests && this.tr

[2016-06-20 19:25] marcusjwhelan commented on #3385
@20v100 You should try cloud9.io or c9.io. It is developing fast and I have been able to make many apps on its environment with ease.

[2016-06-20 21:43] jtferns opened #6006 "Ember 2.6+ Quick Start Guide instructions reference non-existent application.hbs template"
The [Create New Application](https://guides.emberjs.com/v2.6.0/getting-started/quick-start/#toc_create-a-new-application) section references manipulating the application template, which is no longer created by default.

I'm guessing this is due to the introduction of the `ember-welcome-page` addon in Ember 2.6+.

---

Output from ember version --verbose:
[code]

[2016-06-20 23:28] stefanpenner commented on #6006
https://github.com/emberjs/guides is likely the appropriate place for this issue (i know its hard to find where these issues go)

[2016-06-20 23:28] #6006 closed

[2016-06-21 06:52] stefanpenner opened #6009 "sluggish startup times"
[code]
using:  https://www.npmjs.com/package/time-require

[2016-06-21 07:01] stefanpenner commented on #6009
to biggest offenders are

- [ ] request (likely from leek) 87  request (src/ember-cli/n...dules/request/index.js)  172ms  ▇▇▇▇▇▇▇▇ 16%  cc @twokul
- [ ] ember-try cc @kategengler https://github.com/ember-cli/ember-try/issues/74

[2016-06-21 16:03] rwjblue commented on #6009
ember-try was updated in https://github.com/ember-cli/ember-try/issues/75, and that was released in v0.2.3.

[2016-06-21 16:30] stefanpenner commented on #6009
this was seems to not show up all the time..

[2016-06-21 16:31] stefanpenner commented on #6009
updated:

[code]

[2016-06-21 21:11] aciccarello commented on #5163
Did a hangout/rfc ever get setup?

[2016-06-21 21:18] aciccarello commented on #5163
Also related: #5451

[2016-06-21 21:23] stefanpenner commented on #6009
- [ ] https://github.com/ember-cli/ember-cli-qunit/issues/122
- [ ] https://github.com/ef4/ember-browserify/issues/87
- [ ] https://github.com/ember-cli/ember-cli/pull/6012

[2016-06-22 02:06] soynog opened #6013 "Slow Incremental Builds for Ember App on Linux"
Hi, I'm getting very slow (20-40s) refresh times on my relatively simple Ember app. It seems like a similar issue to #538 but that seems to have been resolved a while back, and was for a much older version. I've tried cleaning out my tmp folder, and that hasn't seemed to have much of an effect. I've also tried going through the tips for trouble-shooting slow builds, with no luck.

Here's an exampl

[2016-06-22 02:39] stefanpenner commented on #6013
please provide a reproduction, and i'll gladly debug it for you.

[2016-06-22 02:39] stefanpenner commented on #6013
do you actually change both a has and a scss file at the exact same time?

[2016-06-22 02:40] stefanpenner commented on #6013
my guess is that you have a very large number of files getting pulled into the build. With a reproduction I can likely identify this. But how many files are in `bower_components/*`

[2016-06-22 02:42] stefanpenner commented on #6013
is it https://github.com/soynog/oto-client ?

[2016-06-22 02:59] stefanpenner commented on #6013
if it is, it looks like your favicon add-on is using an old/broken/slow version of broccoli-replace

[2016-06-22 03:03] #6013 closed

[2016-06-22 03:10] BrianSipple commented on #5522
I’ve also just discovered the same behavior as @topaxi did with a plain CSS build — but in this case, while serving styles from an addon dummy app [add-on dummy app](https://github.com/BrianSipple/ember-a11y-testing/tree/ff2610ef2661ca243ec383d411402128eed59e39/tests/dummy/app).

Importing stylesheets goes off without a hitch on the initial build, but then when I make a change to one of the import

[2016-06-22 03:48] stefanpenner commented on #6013
i think the root cause is fixed by https://github.com/davewasmer/broccoli-favicon/pull/6

[2016-06-22 11:21] maxkoryukov opened #6016 "uninstalling addons cause an error with ember-try-config"
Hello!

Preparation:
1. install ember `npm install ember-cli`
2. start a new project: `ember new ember-demo`

Now, lets try to remove any plugin (I have tried to remove `ember-cli-jshint` and `ember-welcome-page`) and we will get broken ember project, any call to `ember` utility will cause an error:

[code]

---

Here is my environment:

[code]

**PREVIOUS PROBLEM**

Previously, I wanted to use **

[2016-06-22 11:55] rwjblue commented on #6016
Some recent changes in ember-try make it not require ember-try-config eagerly, so I think this particular error should go away (assuming ember-try is as 0.2.4ish). But it seems really odd to me that npm uninstall would remove packages that are still required...

[2016-06-22 15:36] soynog commented on #6013
Lots of activity in the small hours last night. Thank you for your quick response! I'll look into the favicon issue, hopefully that should solve it.

Thanks!

[2016-06-22 15:52] soynog commented on #6013
I uninstalled ember-cli-favicon and now I'm getting 600ms builds. My life just improved dramatically. Amazing, thank you so much!

[2016-06-22 16:10] stefanpenner commented on #6013
@soynog no problem, I hate to see people have slow builds (there are some scenarios that still blow, but slowly working them out)

[2016-06-23 18:06] nbrookie commented on #6016
I encountered this same issue when trying to install `ember-google-charts` to a fresh ember project. I opened an issue with `ember-try` here https://github.com/ember-cli/ember-try/issues/77 and with ember-google-charts here https://github.com/sir-dunxalot/ember-google-charts/issues/22

Not sure who this issue belongs to, but hopefully some more context will help.

[2016-06-23 22:20] rvermillion commented on #4001
I know this is closed, but this issue still effects 2.6.2 and many of the ember-cli-coffeescript blueprints are broken for me because of the second lookupBlueprint with no project.

Here's a simple patch to lib/models/blueprint.js that appears to fix the issue for me.  Basically, it adds a new **disallowPaths** list to the options passed to Blueprint.lookup.  Then lookupBlueprint adds it's own pat

[2016-06-23 22:24] kimroen commented on #4001
Just to avoid back and forth, I wanted to shoot in here that a lot of the blueprints in ember-cli-coffeescript are broken in ember-cli 2.6 and up, independently of this particular problem.

[2016-06-23 22:29] rvermillion commented on #4001
@kimroen, yes, I've noticed that some are broken.  But with this fix I can at least use the ones that do work and start to see what would need to be changed in the blueprints to make the broken ones work.  Better than just failing on **ember g**.

[2016-06-24 13:45] leo opened #6020 "Automatically fill repository field"
When generating a new `package.json` using `npm init`, the "repository" field automatically gets filled if the destination directory is a git repository and has a remote configured.

However, when runing `ember init` within a repo's directory, the "repository" field currently simply stays empty. Wouldn't it be great if ember-cli did the same thing?

[code]

[2016-06-24 13:51] rwjblue commented on #6020
Indeed.  We generally like to discuss feature additions in the ember-cli/rfcs repo though, would you mind transferring this over there?

[2016-06-24 13:52] leo commented on #6020
Done! https://github.com/ember-cli/rfcs/issues/58

[2016-06-24 13:52] #6020 closed

[2016-06-24 14:48] knownasilya commented on #5015
Looks like `broccoli-babel-transpiler` is holding up `ember-cli-babel` (and `emberjs-build`), which is holding up `ember-cli-htmlbars-inline-precompile`.

[2016-06-24 14:56] Turbo87 commented on #5015
@knownasilya https://github.com/babel/broccoli-babel-transpiler/pull/70#issuecomment-223740887

[2016-06-24 14:58] Turbo87 commented on #5015
tl;dr I wasn't that familiar with the code when I started and wanted to make sure the Babel 6 port actually worked before releasing this as an official `v6.0.0`. Since then I've worked with it a little and haven't found any major issues, so we could release it officially soon.

[2016-06-24 16:56] nucleartide commented on #4310
I'd be in favor of a `--skip-test` option, specifically for the case when it's early in the dev process and you're just prototyping component ideas, instead of writing production quality code. For example, it's often the case that you end up changing a component's template, which will break the default generated component test:

[code]

All of a sudden you have a bunch of failing tests that you di

[2016-06-24 17:09] stefanpenner commented on #4310
this should be moved over to the RFC repo, as this does not appear to be an issue. But an interesting feature to explore and fully flesh out.

[2016-06-24 17:09] #4310 closed

[2016-06-24 17:10] stefanpenner commented on #5015
@knownasilya its mostly me dragging my heels on reviewing @Turbo87 wonderful PR's

[2016-06-25 00:35] webark commented on #2959
@pzuraq any luck with this..?

[2016-06-25 00:43] pzuraq commented on #2959
@webark If I remember correctly I had a solution working, but the core issue I came up against was if you had multiple style files with the same name and different preprocessors (e.g. `app.scss` and `app.styl`). The respective broccoli plugins would both produce an `app.css` which would cause a conflict and throw an error, so this kind of became a question of what to do in that scenario.

A lot ha

[2016-06-25 01:07] knownasilya commented on #2959
Postcss might be a good option, since it has plugins for sass and less. Not sure if those work together though.

[2016-06-26 18:01] scryba opened #6022 "Error Installing ember-cli@2.7.0-beta.4 on windows 10"
Below is the process on command prompt in Administrator mode.

[code]

[2016-06-26 18:14] mcshakes opened #6023 ""Installing packages for tooling via npm" just hangs there"
To recreate:
---
Simply type `ember new app-name` in the terminal and it always stalls on npm

The output:
[code]
And it just hangs there for longer than I could wait. Let me know if you need more info.

Output from ember version --verbose:
[code]
Some additional info:

[code]

[2016-06-26 18:30] mcshakes commented on #6023
I also got the same problem running this:

`ember install ember-data@2.6.1`

[2016-06-26 22:10] Turbo87 commented on #6023
did you try to manually npm install? maybe npm is just being really slow for you.

[2016-06-26 22:13] Turbo87 commented on #6022
that unfortunately seems more like an npm issue. I don't think there is much we can do about this at this moment aside from retrying once or twice.

[2016-06-27 01:38] mcshakes commented on #6023
npm is already installed:

[code]
And it shouldn't be this slow right? (10+) minutes

[2016-06-27 05:42] Turbo87 commented on #6023
try  `ember new app-name --skip-npm` then go into the folder and run `npm install` there to see what's taking so long.

[2016-06-27 11:47] nathanhammond commented on #6022
This seems like it may be a `PATH` issue or a node/npm install issue. Can you please try uninstalling and reinstalling node/npm itself? It's unlikely we're going to be able to help you with this as it's probably specific to your computer and environment.

I'm going to close this as an Ember CLI bug, but if you have more information please keep commenting here; we'll still be glad to help you trace

[2016-06-27 11:47] #6022 closed

[2016-06-27 18:42] stefanpenner commented on #6023
It may take time, especially \w slow network or drive especially if something is watching the directory (like your editor, spotlight etc.etc.) and NPM itself isn't very quick.

this won't make a difference, as `ember new/install` uses the `npm` we bundle with ember-cli.

[2016-06-28 02:42] mcshakes commented on #6023
@stefanpenner Added some more info to original post.

@Turbo87 Your suggestion seemed to work (skipping npm). Installing npm within the folder gave this output.

[code]
First four took the longest and after that, it seemed to install just fine. I got the "Welcome to Ember" message when running `ember serve`. Anything else I should try/keep an eye out for?

[2016-06-28 03:16] stefanpenner commented on #6023
Sounds like an npm thing... Tricky for us to dig into this without a reproduction.

[2016-06-28 15:44] tavosansal opened #6026 "Route blueprint with --reset-namespace flag does not generate correct file structure"
When trying to generate a route like so: `ember g route parent/child --reset-namespace`, ember-cli is using the default file structure which puts the route and template file for `child` inside the folder for `parent`. This causes child route to not be found when running the application. If I take the files generated for `child` out of their corresponding `parent` folder then everything works as ex

[2016-06-28 16:57] stefanpenner commented on #6026
relevant repo: https://github.com/ember-cli/ember-router-generator

[2016-06-28 17:24] tavosansal commented on #6026
Moved to: https://github.com/ember-cli/ember-router-generator/issues/25

[2016-06-29 02:38] blimmer commented on #5481
Any updates on this or a workaround?

https://github.com/offirgolan/ember-cp-validations/issues/233 shows the symptoms of this bug.

[2016-06-29 15:26] abuiles commented on #6026
@tavosansal @stefanpenner following my comment on the router-generator. The issue is not in `router.js` but in the generated blueprints for `route`, `template` and `test`.

[code]
The output should have been:

[code]

cc @trabus

[2016-06-30 15:31] mattbearman commented on #5182
@jerel I'm having the **exact** same issue, even my `func.toString()` output is the same. Did you ever figure this out? Really don't want to downgrade to 1.13.8 (I'm currently on 1.13.12)

[2016-06-30 16:16] jerel commented on #5182
@mattbearman I just checked and the app that had caused this error is still on CLI 1.13.8, so I guess I never did solve it.

[2016-06-30 16:18] mattbearman commented on #5182
Balls, really need to get this working in IE8. I'm currently stepping through the code in debugger, but not found the cause of the error yet. Thanks for the quick response, I'll update this issue if I ever figure it out.

[2016-06-30 16:35] mattbearman commented on #5182
@jerel so I took a stab in the dark as I'd already faced issues with the ember-i18n addon and IE8, so I removed if from my package.json and low and behold no more error.

The app get's much further through the boot process, until of course I get `Could not find module ember-i18n/services/i18n`

[2016-06-30 18:32] kellyselden opened #6031 "Port ember-new-output scripts to /dev/"
Tracker for me to get this done. The source is https://gist.github.com/nathanhammond/e0a55b4d0328b45b8ef5. It may need some massaging for our release channels.

[2016-06-30 20:10] jerel commented on #5182
@mattbearman I do. And I'm running a fork which has IE8 fixes in it. You can add it to your package.json with this: `"ember-i18n": "jerel/ember-i18n#bugfix/ie8"`. If I remember right my PR was either rejected or changed significantly before merge so I just kept using the fork.

[2016-06-30 20:59] ankeshdave opened #6032 "using Ember --proxy behind corporate firewall"
I am developing an Emberjs Application behind corporate firewall (NTML Proxy). I have configured proxy settings (using **Cntlm**) for all devtools.

Things working behind firewall through Cntlm (http://127.0.0.1:3128)

-     Git
-     Npm
-     Bower

But, when ever i proxy request to my cloud api (deployed on Azure) using
[code]
I am unable to do api request from the served website. If i connect

[2016-07-01 00:23] ajgordo commented on #5602
Running under ember-cli 2.4+ we are still seeing this issue. I have confirmed that portfinder 1.0.3 is being used, and that the changes made with 2e22f95d831428b5cf6ce63e8681533a02daa034 commit of portfinder is definitely in there.
The workaround of updating `/node_modules/ember-cli/node_modules/portfinder/lib/portfinder.js` does fix this so it seems perhaps to be related?
Any thoughts?

[2016-07-01 00:31] eriktrom commented on #5602
@ajgordo - can you run this:

[code]

My guess is that the interface its trying to start on is `::0` or `::2` which will happen if you run from a vm like parallels.

See the discussion at the bottom (closed issue) https://github.com/indexzero/node-portfinder/issues/21 which became an open issue on portfinder https://github.com/indexzero/node-portfinder/issues/32

I need to add some more interfaces

[2016-07-01 04:12] #5946 closed

[2016-07-01 04:39] nathanhammond commented on #6026
@abuiles What is the behavior for `reset-namespace` inside of `ember-router-generator`? How does it select which segment gets the `resetNamespace` arg? Always the leaf?

[2016-07-01 04:41] nathanhammond commented on #6026
@tavosansal Thank you for the excellent bug report. 😄 It makes it much easier for us to track down what is going on.

[2016-07-01 04:50] nathanhammond commented on #6032
@ankeshdave This likely has something to do with how we're configuring the npm package `http-proxy`. [Our code for the proxy is here.](https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/server/middleware/proxy-server/index.js) Is this something you can dig into since you have the perfect test environment? We're happy to help you land a PR to make sure we properly support Cntlm. 😄

[2016-07-01 04:59] nathanhammond commented on #6023
@mcshakes can you still reproduce this behavior on your machine? If so, and since you're the only reporter of this, it could be a busted global `ember-cli` install. Can you remove your global ember-cli copy, clear your npm cache, reinstall, and then try again?

It's unfortunately very unlikely that we're going to be able to reproduce this on our own boxes which means you may be on your own for tro

[2016-07-01 05:03] nathanhammond commented on #6023
Actually, in light of that, I'm going to close this issue. If you find a smoking gun _please feel encouraged to reopen this issue_ and we'll dive back in. Also, we're still notified of responses so closing this issue doesn't mean that we can't continue the conversation here; it just means that it's not something we're expecting to be able to address.

[2016-07-01 05:03] #6023 closed

[2016-07-01 05:08] nathanhammond commented on #4001
@kimroen @rvermillion Would one of you be willing to open a PR to address this issue? It seems like something legitimately useful to address if we can.

@trabus Can you be on point to review this?

[2016-07-01 05:18] nathanhammond commented on #6016
@rwjblue If I had to guess this is a side-effect of the all-top-level architecture of `npm`. Energy for tracking down npm issues: low. 😞

[2016-07-01 07:43] dustinfarris commented on #4879
Also getting this on latest ember-cli 2.6.2

[2016-07-01 07:45] dustinfarris commented on #4879
I think the test is trying to get users to test serialized records which would mean dragging in a model.  But out of the box this is creating an "application" model which likely does not exist so the test blows up.

[2016-07-01 14:41] stefanpenner commented on #4879
@dustinfarris if you can put together a reproduction, feel free to open a new issue and someone can try and help debug it for you. Without a reproduction it will be tricky to help

[2016-07-01 15:24] cafreeman opened #6035 "Generating a blueprint does not create `files` directory"
Output from ember version --verbose:

[code]

---

When using ember-cli to generate a new blueprint, it doesn't appear to be creating the `files` directory.

For example, running the command `ember g blueprint foo` creates the following files:

[code]

According to the docs, the same command should generate this output:

[code]

The relevant portion of the docs can be found [here](https://ember-cl

[2016-07-01 15:40] Turbo87 commented on #6031
the `git clone` needs to be suffixed with `--branch stable`, but it might make sense to use a shell parameter here instead of hardcoding it.

[2016-07-01 16:25] stefanpenner commented on #6035
Looks like non-toplevel `files` is incorrectly getting filtered out

[2016-07-01 18:18] Turbo87 commented on #6035
@stefanpenner I don't think that's the problem here. I saw some code a while ago that ignored `.gitkeep` files if what we're generating is not an app or addon. I suspect that since the `.gitkeep` file is ignored/not generated the whole folder won't be created.

[2016-07-01 22:16] nathanhammond commented on #6026
[Changes will be made here.](https://github.com/ember-cli/ember-cli-legacy-blueprints/tree/master/blueprints/route) We can track it here as it is a dependency we control.

[2016-07-02 00:25] nathanhammond commented on #4879
@dustinfarris @stefanpenner Reproduction is here: https://github.com/leondmello/embercli_issue_4879

This is going to be an Ember Data issue, I believe, since they own those blueprints.

[2016-07-02 00:54] mcshakes commented on #6023
@nathanhammond No worries. Yes, I can still reproduce every time I `ember new app-name`. I'll try redoing a global ember-cli install and go from there. So far, skipping npm and running `npm install` within the folder fixes the problem. And, no issues while working on the app.

Thanks anyway. I'll update this issue for posterity if I find anything else after the global reinstall.

[2016-07-02 02:11] dustinfarris commented on #4879
@nathanhammond @stefanpenner agreed this is an issue with the blueprint, nothing more.

[2016-07-02 03:00] nathanhammond commented on #4879
Actually, I think the issue is going to be here: https://github.com/switchfly/ember-test-helpers/blob/master/lib/ember-test-helpers/test-module-for-model.js

This is making assumptions about what does and does not exist on the container and needs to be a bit smarter. @dustinfarris Would you be willing to investigate it further now that we've traced the issue to a specific 57 lines of code?

I'm go

[2016-07-02 03:06] nathanhammond commented on #6023
This is a really strange story, so I'm really hoping that it's just some weirdly broken npm install. Good luck, looking forward to hearing how the reinstall turns out!

[2016-07-03 18:10] jrjohnson commented on #4079
Spent a lot of time on this today and it turns out you can invert the filter by prefixing it with !  so `--filter='!acceptance'` will run everything else.

[2016-07-04 08:27] mike-north opened #6037 "Generating in-repo-addon and destroying leaves traces"
### To Reproduce

Run the following

[code]
#### Expected Result

A clean git state, with no staged changes
#### What I'm seeing instead

The change made to `package.json` in `.ember-addon.paths[]` remains

[code]

---

Output from ember version --verbose:

[code]

[2016-07-04 10:08] Turbo87 commented on #6037
@mike-north https://github.com/ember-cli/ember-cli/blob/master/blueprints/in-repo-addon/index.js needs to be adjusted to symmetrically remove the in-repo-addon path when it's removed again

[2016-07-05 10:08] ziali088 commented on #5040
I've ran into this issue when building my application in production mode, the contents of `dist/index.html` show that the sri hashes were generated for all the javascript/css files, eg

`<script src="assets/vendor-9d6efb5c3b35b8a645637f53779d1d7c.js" integrity="sha256-EtU1Rm2XQeNj0QMonA9FMqK26HZYnKb4TkyZfvSWQ= sha512    -C40xcfgWFRIEi0RbQhA/2WMo6ripG2fJksLw9noG5+khSL+a8nWVPwOKKmBWdGmvOXY99HecZvpu/

[2016-07-05 20:52] nathanhammond commented on #5040
@ziali088 I don't think that you're talking about the same issue. If you still believe what you're encountering is a bug open a new issue and explain your problem from the beginning (including expected behavior and actual results). I suspect however that you're not triggering a bug and you'd be better served by dropping by [#-ember-cli](https://embercommunity.slack.com/archives/-ember-cli).

[2016-07-06 00:06] larryschirmer commented on #6023
I'm getting the same issue described here. 'ember new project-name' returns:
Could not find watchman; falling back to nodewatcher
Installing app
    create (several things created)
Successfully initialized git.
.: Installing packages for tooling via npm

And that's where it sits for me. I just installed ember-cli@2.6 and was working myself through the getting started page. System info:
ember-cli:

[2016-07-06 02:21] nathanhammond commented on #6023
@larryschirmer Can you try a full reinstall of `node` and an `npm cache clear`?

[2016-07-06 07:06] tracyhyq commented on #5820
what's the meaning?

[2016-07-06 07:09] tracyhyq commented on #5818
I have the same problem, I have reinstalled node, ember-cli, npm, node-symlink-or-copy, but the problem is not resolved.
Now I'm just out of ideas, can someone save me ?

[2016-07-06 09:58] boris-petrov opened #6040 "Revision fingerprint checksum only matches exact filenames"
If you have a file named `asd.js` and you use it inside an HTML file like so: `<script src="asd.js?some_query=some_value"></script>`, the name won't be fingerprinted inside the output HTML, but the file itself will be and this will blow up with a 404. This is probably not an issue in `ember-cli` but I'm not sure what you're using underneath so you could open a new issue in the relevant place.

Out

[2016-07-06 11:23] bcardarella opened #6041 "Disable the watcher?"
I went through the source and there doesn't seem to be any option to disable the watcher. In fact, the server will throw an error if an unsupported flag is given: https://github.com/ember-cli/ember-cli/blob/master/lib/models/watcher.js#L67-L69

### Why do I want to disable the watcher?

When running `ember fastboot` on a production box one strategy for deploying a new version of your app could be

[2016-07-06 13:04] xcambar opened #6042 "Nested Addons - `app.import` is undefined"
Following up on  #4616, it occurs that every addon developer that wants to nest addons faces this code snippet in their hooks: https://github.com/rwjblue/ember-cli-pretender/commit/33e5794f5aef545f00995435d08cb471e79a3bae#diff-168726dbe96b3ce427e7fedce31bb0bcR10, copied/pasted here:

[code]

Would that be an acceptable PR to move this snippet before the `included` hook, so addon developers don't h

[2016-07-06 13:16] rwjblue commented on #6042
We added support for `this.import` in each addon to avoid this issue, but there is an issue in https://github.com/ember-cli/ember-cli/issues/5990 that needs to be corrected.

Using `this.import` (instead of just providing access to the top level app instance) allows us to do more intelligent things (like track `.import`'s by addon).

[2016-07-06 13:29] nathanhammond commented on #6042
I'm closing this issue as a duplicate. @xcambar If you'd like to open a PR to port some of the code that @rwjblue wrote in the linked issue into ember-cli core and write a few tests we'd be eternally grateful. This is the only issue blocking our 2.7 release.

[2016-07-06 13:29] #6042 closed

[2016-07-06 13:32] nathanhammond commented on #5820
@tracyhyq We updated a dependency that fixed this underlying issue. `npm ls node-symlink-or-copy` in your application should tell you if you're using the updated and fixed version.

[2016-07-06 13:34] nathanhammond commented on #5818
@tracyhyq See my comment on your other issue. Let me know what version you're running, and make sure you reinstall the full set again *without* admin privileges. (If you're on Windows I'm going to have a much more difficult time helping you, unfortunately.)

[2016-07-06 13:40] nathanhammond commented on #6040
You likely have an issue with your asset path. Files you include in your public directory end up in `/assets/(...)` If you're adding arbitrary JavaScript, however, you probably want to follow the directions here: https://ember-cli.com/user-guide/#javascript-assets

I'm closing this issue as I don't believe it to be a bug. If you believe you're still running into a bug please reopen the issue. :smi

[2016-07-06 13:40] #6040 closed

[2016-07-06 14:02] nathanhammond commented on #6041
For those of you following along at home I _can't recommend_ running your prod setup this way. Now, with that warning out of the way...

---

@bcardarella I think you can accomplish this with @ebryn's [ember-autoserve](https://github.com/ebryn/ember-autoserve).

---

@bcardarella I'm closing on the assumption that the addon meets your goals. If you actually believe that we should have a way to dis

[2016-07-06 14:02] #6041 closed

[2016-07-06 14:31] boris-petrov commented on #6040
@nathanhammond - This is not about files imported with `app.import`. Let me give a little bit more details.

In my ember's `public` directory I have a static HTML file (something like `ember-app/public/some-file.html`) and a static JS file (something like `ember-app/public/asd.js`). In the HTML file there is a line like the following: `<script src="asd.js?some_query=some_value"></script>`. Normall

[2016-07-06 15:07] nathanhammond commented on #6040
I appreciate the additional details. Here's the process it's going through:

1. https://github.com/rickharrison/broccoli-asset-rev => generate an asset map.
2. https://github.com/rickharrison/broccoli-asset-rewrite => parse HTML/CSS/JS files for assets in the asset map and rewrite them.

My suspicion is that `broccoli-asset-rewrite` isn't succeeding at matching the asset name with your additional

[2016-07-06 15:27] floriandotorg opened #6044 "2 files 1 hash"
Hi Ember Team :-)

thanks for your amazing work.

I've encountered a bug with fingerprints. It's possible to create two different files with same fingerprint.
This can cause bugs since the cache is not busted.
This is especially bad because SRI checks will fail and the whole applications refuses to load.

I attached an example project: [example.zip](https://github.com/ember-cli/ember-cli/files/350

[2016-07-06 15:41] boris-petrov commented on #6040
You are correct, we narrowed the problem down to `broccoli-asset-rewrite` and found the issue. We'll create a pull-request in their project. I hope you can add the new version (if they release one) to ember-cli. :) Thanks!

For the side note - this is not our code, it is third-party code and we don't want to maintain a fork of it, so we just put it as it is. :)

[2016-07-06 15:48] nathanhammond commented on #6044
You're running into this issue: https://github.com/rickharrison/broccoli-asset-rev/issues/29

The correct solution is to build everything as a dependency tree and work from the leaf to the root nodes but that has a few gotchas (circular dependencies will ruin your day) and is a bit of work. Let me know if you'd like guidance or help taking it on. Nobody has decided to take it on since it was first

[2016-07-06 15:48] #6044 closed

[2016-07-06 15:54] nathanhammond commented on #6040
Once it's up please link that PR back to this thread so people can follow along. Thanks for your research and efforts! (That'll also help us make sure we pull it in once it lands.)

[2016-07-06 19:44] boris-petrov commented on #6040
The pull-request is this one:
https://github.com/rickharrison/broccoli-asset-rewrite/pull/40
I hope it is merged soon! Thanks!

[2016-07-06 20:42] larryschirmer commented on #6023
Ok, here is what I did:
*Once again, for debian jessie running on a raspberry pi 3*

**1. Remove Directories**
`sudo rm -r /usr/local/lib/node_modules`
`sudo rm -r /usr/local/include/node`
`sudo rm -r /usr/local/bin` *remove all of the modules here, I only had three but I suppose it's possible to have had more*
`sudo rm -r /usr/lib/node_modules`

**2. Uninstall & Reinstall Node**
`sudo apt-get --p

[2016-07-06 23:31] nathanhammond commented on #6023
@larryschirmer Thank you for taking the time to review and explain your steps. Your attention to detail makes it possible for me to dive in and help.

One of the things that we're careful about is to *not* install anything using `sudo`. `node` and `npm` should be run at user-level permissions, as should `ember`. I imagine that it's hanging because `ember` uses its own bundled `npm` which is being

[2016-07-07 01:42] tracyhyq commented on #5818
@nathanhammond Thank you very much, I resloved the problem, Change another computer.  It's strange.

[2016-07-07 03:27] larryschirmer commented on #6023
I appreciate your helping me with this. I see that my newness to Linux is showing. I had thought that pi@raspberry with sudo = root user (in terms of privileges), but now it makes sense to me that these are different things. I adapted my scripts, taking out `sudo` and actually switching to root user. I still had similar behavior. I tried it twice each for a half hour, double checking things before

[2016-07-07 09:51] nathanhammond commented on #6023
The trick is that you actually want to run `node` and `npm` as a normal user, not a superuser (either as `root` or `sudo`). You don't need that level of privileges in order to run `node`. In almost all cases you don't want to be a superuser.

As to the time of install that's simply because of the performance of the Raspberry Pi combined with `npm` being terribly resource intensive. That's not an E

[2016-07-07 15:28] Turbo87 commented on #5990
fixed by #6043

[2016-07-07 15:28] #5990 closed

[2016-07-07 18:25] abel406 opened #6047 "fetchMetadata: sill mapToRegistry uri https://registry.npmjs.org taking to long at install"
Thank you for taking the time to open an issue!

For bug reports please include the following section in your issue details.
If you include instructions on how to reproduce the bug or a failing test case
it will make it easier for us to track down the issue you're having.

---
## **This delay ins stopping angular-cli from installing.**

It keeps running and running at this step

Output from ember

[2016-07-08 03:37] henryzp commented on #2683
+1, ditched sublime thx

[2016-07-08 04:54] larryschirmer commented on #6023
@nathanhammond I originally thought I *needed* `sudo` or `root` access because npm would always give me an `EACCES` error. A little casual `sudo` always did the trick. I just thought that was what everyone did.

Your last comment really got me thinking, there must be something wrong with my permissions. Good thing there is a great article on npm's website called [Fixing npm permissions](https://do

[2016-07-08 14:40] efx opened #6049 "invalid JS included via vendor.js blows up `ember test`"
A dependency in my ember-cli project contained invalid JavaScript. When I ran `ember test`, the test process did not start properly and then a number of syntax errors were printed to my terminal. (The test command is just launching phantom)
Here is a repo that demonstrates the issue:
https://github.com/efx/poc-bug
I think it would be useful to describe the error in a more helpful way.
Shouldn't  [

[2016-07-08 15:56] nathanhammond commented on #6049
@efx Unfortunately what you're seeing is expected behavior. You attempted to run your tests and the first thing that it spits out is:

[code]

... which successfully identifies what the problem is. In this scenario `ember test` works perfectly, and the child components do as well:
- Phantom throws an error when it encounters something it can't handle.
- Testem captures the error and logs it.
- Emb

[2016-07-08 15:56] #6049 closed

[2016-07-08 16:02] nathanhammond commented on #6023
I recommend getting the permissions correct and then starting over from scratch with no `sudo` the entire way. I'm not sure about the default permissions model on a Pi linux install, but this looks incorrect:
`drwxr-xr-x 2 pi root`

The output should probably match this:
[code]

[2016-07-08 16:05] efx commented on #6049
Yes, this problem seemed more fuzzy and wasn't sure where to put it.
In the above testcase, the stack trace is accurate but in my larger project the stack trace was entirely misleading. (sourcemap was off, but  that is a seperate issue).
I'll take the RFC route, thanks for suggesting that.

[2016-07-08 16:30] nathanhammond commented on #6047
This is not an Ember CLI issue and is likely an issue with npm and your system setup. I'm closing this. If you can provide more information we may be able to help you track down the problem.

[2016-07-08 16:30] #6047 closed

[2016-07-08 18:59] mdentremont commented on #5539
Created https://github.com/chjj/marked/pull/768 to resolve the issue in marked

[2016-07-08 22:36] nathanhammond commented on #5539
Closing this issue as I believe that all open deprecation alerts are in Node projects outside of our sphere of influence. If new ones crop up please try and track down where they are in the tree and file issues with that repository maintainer:

`npm ls package-name-here`

[2016-07-08 22:36] #5539 closed

[2016-07-08 22:38] nathanhammond commented on #5539
@mdentremont Thank you for opening that PR to get the upstream package fixed! You'll likely have to walk it up the dependency tree bumping versions until it makes it back to us.

[2016-07-09 02:38] EQuimper opened #6051 "Error after create a fresh app"
I try to create a brand new app. I did the `ember new myapp` and cd into the folder. Inside I try the `ember s` and this is what I got

[code]
---

Output from ember version --verbose:
[code]

[2016-07-09 03:09] nathanhammond commented on #6051
This looks like a broken installation (not your fault, likely some weird transient error). If this were an actual bug we'd have had people beating down our doors letting us know for over a month. Can you try removing things and starting over?

https://ember-community-slackin.herokuapp.com/

I'm closing this bug, please find us on Slack in the #-ember-cli channel for additional help!

[2016-07-09 03:09] #6051 closed

[2016-07-09 05:16] eriktrom commented on #5602
There does seem to be a regression somewhere - I'm pairing with someone tonight and they had the same issue. I will take a look at what the deal is. Thanks @ajgordo for reporting the issue.

[2016-07-09 14:08] eriktrom commented on #5602
@ajgordo - can you test out https://github.com/indexzero/node-portfinder/pull/33 - it should fix the issue

Will make pr for portfinder bump upon confirmation.

Thanks again @ajgordo for finding this. MacOS seems to have changed the interfaces you can bind to substantially in a recent update. :shrugs:

[2016-07-09 16:53] nathanhammond commented on #5389
@rwjblue Can't turn it on for `test-support.js` since both Ember and QUnit do things where they assume that `this` is set inside of an IIFE. Not a problem in this case as no user code ends up inside of `test-support.js`.

@janmisek Thanks for reporting, sorry to take so long on addressing. 😄

[2016-07-09 18:25] munsellj commented on #5415
Also ran into this and the issue in my case was that I had added loading of 3rd party libraries(Mapbox and Stripe in my case) from their CDN hosting to my `tests/index.html`.  I was already not using _ember-cli-content-security-policy_ in this app so that was not an issue.  Removing load of the 3rd party libraries fixed the issue.

[2016-07-09 19:41] kgish commented on #1186
Indeed, I am experiencing the same problem. The `tmp` directory is growing out of control with all kinds of stuff and is NOT being cleaned. Sometimes I clean it manually using `rm` and it takes forever (many minutes) to finish.

There must be someway to fix this.

[2016-07-09 19:57] kgish opened #6053 "tmp directory growing out of control"
The tmp directory is growing out of control with all kinds of stuff and is NOT being cleaned. Sometimes I clean it manually using rm and it takes forever (many minutes) to finish. There must be someway to fix this. I am using ubuntu 14.04 by the way.

[code]

After deleting the `tmp` directory contents (and waiting forever) I rerun the server:
[code]
While this is running the `tmp` dir gets filled

[2016-07-09 20:52] rwjblue commented on #6053
Thank you for steps to reproduce. We will try to replicate your findings and see what we need to do to fix it.

[2016-07-09 22:15] #5389 closed

[2016-07-09 22:15] tjni opened #6054 "Separating JS and CSS Addon Trees?"
Inside lib/broccoli/ember-app.js, the same addon tree is used as the starting point for both the CSS and the JS concat steps:

[code]

What do folks think about providing separate hooks for compiled JS and compiled CSS in the addon model?

The build I'm working with includes enough JS files so that just filtering the CSS files by extension takes over 200ms, so this could be a performance micro-opt

[2016-07-10 00:18] nathanhammond commented on #6054
Hey @tjni! Splitting the trees isn't necessarily a bad idea but I suspect you'd just be shifting the cost of that filtering to the creation of the second tree. I doubt that there is such thing as a free lunch in that regard and I'm pretty sure that we'd see effectively zero change in overall time. Do you agree?

This area of the build is something that we'd like to see less hard-coded and more plu

[2016-07-10 00:18] #6054 closed

[2016-07-10 02:48] tjni commented on #6054
I actually believe we'll see improvement in this case, because the filtering in the code snippet above is only needed because the script and style trees for each addon are merged:

[code]

While this can be implemented via an appropriate extension mechanism, this is targeted toward the regular, conventional build process.

I'll see if I can come up with an example demonstrating this in practice, a

[2016-07-10 07:09] Turbo87 commented on #6053
@kgish is that issue still present with Ember CLI v2.6.x?

[2016-07-10 07:19] nathanhammond commented on #6053
@Turbo87 makes a good point, looking at the the version string: `1.13.13`. This was definitely an issue in older Ember CLI versions but I believe we've addressed it in the most recent versions. Can please upgrade and confirm?

@kgish I'm going to close this issue as "probably fixed by an Ember CLI upgrade." If you discover that it is not addressed with an Ember CLI upgrade _please feel encouraged

[2016-07-10 07:19] #6053 closed

[2016-07-10 07:29] nathanhammond commented on #6054
@tjni The other thing to note is that `treeForAddon` is frequently a place people hook for functionality and needs to maintain API compatibility. This is going to be a tremendous forcing function on what you're able to accomplish with maintaining two separate trees since the `return` value of this function needs to be maintained. Alternatively any change would need to be inserted as a deprecation

[2016-07-10 10:04] kgish commented on #6053
Indeed, seems to be fixed in later versions, thanks. Time to upgrade ...

[2016-07-12 09:22] frunjik opened #6058 ""DEPRECATION: ember-try is now included with ember-cli. Including it in your package.json is unnecssary" after generating a new (empty) addon"
To reproduce:

[code]

produces:

DEPRECATION: ember-try is now included with ember-cli. Including it in your package.json is unnecssary.
ember-cli: 2.5.0
http_parser: 2.5.0
node: 4.2.1
v8: 4.5.103.35
uv: 1.7.5
zlib: 1.2.8
ares: 1.10.1-DEV
icu: 56.1
modules: 46
openssl: 1.0.2d
os: win32 x64

Output from ember version --verbose:

[code]

[2016-07-12 10:01] Turbo87 commented on #6058
@frunjik thanks for reporting this! do you see the same deprecation notice with Ember CLI 2.6?

[2016-07-12 15:09] frunjik commented on #6058
I don't know ...
I'm (still) not totally comfortable with updating ember (cli) ...
Can i just up my version of ember-cli in package.json and run npm update to try ?

[2016-07-12 15:34] Turbo87 commented on #6058
so `ember-cli` includes `ember-try` starting from v2.6.0 and `ember-cli` below v2.6.0 adds `ember-try` to your `package.json` with a version specifier of `^0.2.2`, which means `>= 0.2.2, < 0.3.0`.

`ember-try` introduced the deprecation message you're seeing in v0.2.3, but it seems that it's not checking what `ember-cli` version you're actually running. this deprecation message obviously only make

[2016-07-12 17:35] rickharrison commented on #6040
This is now published as `broccoli-asset-rewrite@1.0.14`

[2016-07-12 21:41] hjdivad commented on #5297
trolled by commit message; still waiting on #5969

[2016-07-12 21:44] hjdivad commented on #5297
nevermind, @stefanpenner corrected me, npm will get the right dependencies which *are* released.

[2016-07-12 21:44] #5297 closed

[2016-07-12 21:47] stefanpenner commented on #5297
should be fixed with broccoli-persistent-filter v1.2.6, broccoli-merge-tree v1.1.2, broccoli-funnel 1.0.3 as tree-sync 1.1.2  and fs-tree-diff 0.5.0 which all have been released, but some applications may require dependency updates.

[2016-07-13 00:34] apkiernan commented on #6037
Hi all,

I was looking into fixing this, and I had a question: following the steps above to reproduce, in addition to a change to `package.json`, the `lib/` directory is remaining with a `.jshintrc` and an empty `efgh` directory.

Should these also be cleaned up in addition to cleaning `package.json`?

Thanks!

[2016-07-13 00:54] hjdivad commented on #5297
also walk-sync 0.2.7

[2016-07-13 01:32] les2 commented on #3894
I feel like you are guaranteed to get this problem if you include an external link (e.g., fonts from googleapis) in your CSS file.

Wish there was a way to make this just work for ember users. This was relatively difficult to debug. :(

[2016-07-13 02:28] nathanhammond commented on #6037
@apkiernan As long as they're not being used for other things, yes, those should be removed. If, however there are residual files the directory should not be removed. `.jshintrc` should not be removed unless the entire lib folder is empty as it could apply to things which are not in-repo-addons.

[2016-07-13 05:35] #6031 closed

[2016-07-13 06:48] Turbo87 commented on #6009
@stefanpenner if we require the dependencies on demand how will this work with ES6 modules if we would switch at some point? My understanding is that import statements must be at the top level, correct?

[2016-07-13 06:57] nathanhammond commented on #6009
@Turbo87 Hopefully `node` fixes its slow module import time by the time that happens? Otherwise this will troll large projects tremendously.

[2016-07-13 07:33] PradeepJaiswar opened #6063 "Could not find module ember-metal/streams/utils"
Trying to run ember addon for ember engine. "ember s" working proper and app is getting build proper.

On the browser getting blank screen with console  error saying " ember.debug.js:58Uncaught Error: Could not find module ember-metal/streams/utils "

Got stuck in this. Any advice would help

Using ember canary. Here is my bower.json file
{
  "name": "ember-engine-addon-demo",
  "dependencies": {

[2016-07-13 07:47] nathanhammond commented on #6063
This is not an Ember CLI bug. One of your addons that you have installed is using private Ember API. If you'd expanded that stack trace I might have been able to tell you which one. 😛 I'm closing this issue but you can still reply with your package.json and that stack trace and somebody will likely be able to identify which addon you're using needs updating.

[2016-07-13 07:47] #6063 closed

[2016-07-13 07:54] PradeepJaiswar commented on #6063
Ohh Sorry for that ! got stuck here.

---
Here is stack track. If you can here
[code]

---

My Package.json file looks like this
[code]

[2016-07-13 12:18] joankaradimov commented on #6040
Thanks for the release!

[2016-07-13 13:37] ankeshdave commented on #6032
@nathanhammond  I have asked a question on the `http-proxy` repo on options , I'll connect with you after getting a response, I personally can't figure out how to specify N/W proxy or make the middleware pick up system proxy (Directly or through Env variable).

[2016-07-13 15:28] stefanpenner commented on #6009
There will be a way to also require lazily/on-demand, it has not yet been fleshed out though.

[2016-07-13 15:36] stefanpenner commented on #6063
@PradeepJaiswar  we will need a reproduction to debug this. Please provide a slimmed down ember app (Without sharing any company secrets etc) or share an app the demonstrates this problem privately.

[2016-07-13 15:43] twokul commented on #6009
we could load some of the other deps lazily:
+ in `lib/cli/index.js` ([`commands` and `tasks`](https://github.com/ember-cli/ember-cli/blob/master/lib/cli/index.js#L6-L9) could be loaded lazily)
+ in `lib/cli/cli.js` ([`PlatformChecker` and `InstallationChecker`](https://github.com/ember-cli/ember-cli/blob/master/lib/cli/cli.js#L8-L9) could be loaded lazily)
+ in `lib/models/project.js` ([`AddonDis

[2016-07-13 15:45] stefanpenner commented on #6009
i think its fine for us to be mindful about require ordering and timing to ensuring it is pay as you go when possible.

[2016-07-13 17:12] ankeshdave opened #6066 "How to generate proper ES6 -> ES5 sourcemaps in final output file."
I am trying to setup a dev environment for my team.
I am trying to debug `ember-cli application` using `Visual Studio Code` (Using Chrome debugging protocol)
The [Microsoft/vscode-chrome-debug](https://github.com/Microsoft/vscode-chrome-debug/) is able to connect to chrome tab(running the application) and its able to read the sourcemaps and i am able to setup breakpoints in actual source (`/app/`

[2016-07-13 17:55] nathanhammond commented on #6066
@ankeshdave Have you been able to step through your source maps correctly inside of the Chrome inspector? I'd like to make sure that this is an issue with our generated source maps and not just inside of VS Code.

[2016-07-13 17:58] nathanhammond commented on #6066
Also, it'd be easier for us to debug this if you used `ember new my-demo-app` so that we could identify exactly what changed in your version.

[2016-07-13 18:01] Turbo87 commented on #6066
@nathanhammond I think the issue is simply that we don't use sourcemaps at the moment due to performance reasons. From what I understand that is basically the reason why we are working on [fast-source-map](https://github.com/krisselden/fast-source-map/), to improve the performance impact and enable us to use sourcemaps.

[2016-07-13 18:16] nathanhammond commented on #6063
You're using an older version of Ember CLI in that application. Try re-initing and upgrading all of your dependencies and I bet this will magically go away.

[2016-07-13 19:57] ankeshdave commented on #6066
@nathanhammond
The source displayed in chrome is `similar` but not same as of the actual `ES6 File`. Hence I believe the transpiled file (from ES6--> ES5)has a different sourceMap.

Also i did not get your comment about the `Tommster Commit`. As for the change in the demo project ([My Repo](https://github.com/ankeshdave/vsc-debug-embercli-repo))

1. removed the `getting-started` node module from `

[2016-07-13 20:00] stefanpenner commented on #6066
@ankeshdave as mentioned above, we basically explicitly disable those very granular source-maps for performance reasons. We hope to enable them in the future, but the hit was sufficiently high that we decided not to subject our community to it yet. Although we do have WIP to attempt to address.

[2016-07-14 06:16] PradeepJaiswar commented on #6063
@stefanpenner Sorry bro forgot to post my github repo link. Here it is https://github.com/PradeepJaiswar/ember-engine-addon-demo.

It used to work at time i initially created it for prototyping. Now my company need to be implemented in real project.

@nathanhammond  will do that right now.

Thanks for your replies guys, appreciate it

[2016-07-14 07:26] PradeepJaiswar commented on #6063
@nathanhammond it worked :)

[2016-07-14 10:44] dilipkosuri commented on #616
Try:
 `npm install cookie-signature`
If you see error regarding the permission then use the below command:
`sudo npm install cookie-signature`

[2016-07-14 16:10] stefanpenner commented on #6063
awesome thanks!

[2016-07-14 21:32] ryanolsonx commented on #5884
I'm interested in taking a swing at this one 😁

[2016-07-14 21:33] stefanpenner commented on #5884
this should be an RFC

[2016-07-14 22:37] stefanpenner opened #6078 "live-reload fails \w IP-v6 href"
visiting `http://[::1]:4200` loads, but it appears the livereload URL becomes malformed.

[code]

[2016-07-15 03:16] nathanhammond commented on #5884
@ryanolsonx We'd absolutely love your help on this! I'm not particularly familiar with this area of the codebase,

[2016-07-15 15:45] twokul opened #6079 "Possible bug with `ember g` with `--integration` flag"
related: https://github.com/ember-cli/ember-cli-legacy-blueprints/pull/37

environment:
- ember-cli: v2.4.2...v2.6.3
- Windows/AppVeyor with Node 5

from @Turbo87

[code]

I have just tested ember g helper-test foo/bar-baz --integration on Ember CLI 2.6.2 and indeed there seems to be a problem:

[code]

[2016-07-15 15:50] mnannola commented on #5602
@eriktrom
I am seeing this issue with ember-cli 2.4.3 and portfinder 1.0.4.  This is on a new ember addon.  OsX 10.11.5.

    Error: listen EADDRNOTAVAIL
        at exports._errnoException (util.js:746:11)
        at Server._listen2 (net.js:1112:19)
        at listen (net.js:1155:10)
        at net.js:1253:9
        at dns.js:85:18
        at process._tickCallback (node.js:355:11)

The problem I t

[2016-07-15 19:44] eriktrom commented on #5602
@mnannola - thanks for reporting the issue - I'm not sure of the exact answer at the moment, it'll hopefully come to me, this interface stuff is all a bit odd. I'll debug this weekend.

In the meantime do you mind giving me two pieces of information (you can put it in a gist, the output may be long):

1.  `netstat -an | grep THE_PORT_IT_TRIED_TO_START_ON`
2. open up a node console and run: `os.net

[2016-07-15 20:11] mnannola commented on #5602
@eriktrom
1.  Running that command with a port of 4200 does not bring back anything.  I also tried starting the ember server on different ports that I know are free, and would receive the same error.  It doesn't seem to matter which port I choose.
2. [os.networkInterface gist](https://gist.github.com/mnannola/d836949faa3c3b4794b46078a5701705)
Node: v0.12.0

I am also using nvm 0.23.3 to manage my

[2016-07-15 20:17] eriktrom commented on #5602
@mnannola - hmm - `netmask: '255.255.254.0',` - portfinder is not looking for this - it looks for `netmask: '255.255.255.0'`. Also `fe80::1` does not bind on my machine. So technically there are 2 differences. The fact that the netmask is different or that the port is un-bindable (the inverse problem basically of what you see) both become hard to catch without `err.address`.

I'll figure it out :)

[2016-07-15 20:46] stefanpenner commented on #5602
@eriktrom looks like some co-workers have also run into this. I'm currently a-bit busy to dig in though...

[2016-07-15 20:56] twokul opened #6083 "`ember s` fails with `EADDRNOTAVAIL` after updating to `port-finder@1.0.4`"

[2016-07-15 20:57] eriktrom commented on #5602
@stefanpenner - I have to figure out what to do about the lack of `err.address` - currently the options I have in my head are:

a) (cheap hack, likely to break again) - add another netmask to the list, like `255.255.254.0`
b) if there is no `err.address` dont provide portfinder functionality, basically throw and say put in a host manually
c) roll back and think about this all a bit more, but lose

[2016-07-15 21:02] stefanpenner commented on #5602
lets track this in a fresh issue https://github.com/ember-cli/ember-cli/issues/6083 it looks like the original issue isn't quite correct.

@eriktrom mind transfering over what you to feel to be the most important bits from here?

[2016-07-15 21:02] #5602 closed

[2016-07-15 21:13] eriktrom commented on #6083
Bringing over relevant information from issue #5602 to this issue (consolidating whats relevant)

- In portfinder 1.0.3 there we're 2 issues
  1. Starting in a recent version of MacOS the interfaces that will bind when starting a node server grew dramatically. To solve this portfinder 1.0.4 uses the built in node method `os.networkInterfaces()`, loops through the hosts found and (semi-smartly) fil

[2016-07-15 22:04] nathanhammond commented on #6083
/cc @LisaManresa

[2016-07-16 03:02] stefanpenner commented on #6083
@eriktrom we may need to revert the recent portfinder release as we debug (unless a fix in near)

[2016-07-16 03:47] jamesarosen commented on #4461
Related to #5016

[2016-07-16 03:54] eriktrom commented on #6083
I'd prefer if we revert.

The fix may have to degrade gracefully b/c I haven't thought of a fool proof way to handle this completely yet. (Although I've only debugged in my head so far really, but in the end the solution will have to take into account all possibilities without having a full way to test them so...).

It also takes the pressure off fixing it this weekend.

I can revert tomorrow. Als

[2016-07-16 03:56] eriktrom commented on #6083
Actually I need to revert portfinder itself b/c this will affect circle CI too.  I'll do it tonight.

[2016-07-16 04:02] stefanpenner commented on #6083
awesome thanks, really appreciate you owning this so well. It is a tricky but important part of our ecosystem, I am glad it is in good hands.

[2016-07-16 04:03] tehviking commented on #6083
Thanks for the quick response on this. Question: people that are prepping for Emberitas tomorrow are running into this tonight. Should we worry/prep a workaround?

[2016-07-16 04:27] eriktrom commented on #6083
@stefanpenner - no problem - I think the next bump that tries to handle this should be a major release for portfinder and we'll just have to be careful to try to get some feedback from more people before letting all the way out the door.

https://github.com/ember-cli/ember-cli/pull/6084 reverts this issue

[2016-07-16 04:30] eriktrom commented on #6083
Stef can u answer this. Did the last portfinder go out in a full release or just on master. What would be the plan for tonight to remedy this for their use tomorrow.

[2016-07-16 04:47] tehviking commented on #6083
it doesn't look like 1.0.4 made it even into beta. I'm not with the students who got this error, but it's possible they followed some bad instructions and got ember-cli master (???). Will look into it.

[2016-07-16 05:03] eriktrom commented on #6083
@tehviking - i believe the answer lies with the `^1.0.4` which is why next time I'll bump to a major version.

When installing ember-cli previous to an hour or so ago portfinder 1.0.4 would have been installed. Now 1.0.5 will be installed.

I think the best answer for the students is to re-install ember-cli globally.

[2016-07-16 05:08] jamesarosen commented on #4461
RFC: ember-cli/rfcs#60

[2016-07-16 05:08] jamesarosen commented on #5016
RFC: ember-cli/rfcs#60

[2016-07-16 05:15] eriktrom commented on #6083
Also make sure to run 'npm cache clean' before running npm install ember-cli otherwise it will likely install a cached version of portfinder.

[2016-07-16 05:36] stefanpenner commented on #6083
Sure, I believe a `nom` (`npm cache clear; rm -rf node_modules; npm install`) should fix any currently broken setups and future downloaders should be without error, as @eriktrom has just released v1.0.5 which reverts the issue.

[2016-07-16 05:40] stefanpenner commented on #6083
I'm not sure that is necessary or even that valuable, as then we will still discover the issue when we bump the major version. Instead maybe a beta version should be released, we will attempt a wide variety of setups, and when we deem it to be good we can release it as stable.

It may also be a good idea to add https://github.com/visionmedia/debug to portfinder, and instrument it so that `DEBUG=po

[2016-07-16 05:57] eriktrom commented on #6083
To be safe, b/c ember-cli is a command line utility, perhaps:

`npm cache clear && rm -rf ./node_modules && npm install ember-cli -g && npm install`

That's a mouthful. I believe only the global version is looked up, but better safe than sorry in a classroom

cc @tehviking - fyi for tomorrow

[2016-07-16 05:58] eriktrom commented on #6083
@stefanpenner

Both of our suggestions for the next release are relevant. Thanks for the feedback. We'll work through it next week.

[2016-07-16 06:03] stefanpenner commented on #6083
the part that runs port finder will only be the project local installation (unless npm link'd), but the above command won't hurt at all.

Awesome, keep me in the loop. I'll gladly test (and get other co-workers to test as well). Very much appreciate all your help here!

[2016-07-16 11:32] ro0gr opened #6087 "addon-install task ignores `--skip-npm` and `--skip-bower`"
When I run `ember i some-addon --skip-npm` I just want to update package.json, bower.json and run generator excluding the `npm install` step.
Currently I need to manually interrupt the process right after the _"Installing packages for tooling via npm"_ message appears.

Are the any objections to add support of  `--skip-npm` and `--skip-bower` switches for `addon-install` task?

[2016-07-16 11:38] ro0gr commented on #6087
I need to skip npm step to avoid `npm@2` installation process atop my `node_modules/` installed with `npm@3`

[2016-07-16 11:50] ro0gr commented on #6087
Ah, now I see.. if we skip `npm install` it doesn't update `package.json` cause it handled via npm client

[2016-07-16 11:50] #6087 closed

[2016-07-16 21:54] michielboekhoff opened #6088 "Controller property empty, despite if helper."
Hello everyone,

Currently I am working on an application with Ember.js and ember-simple-auth. In my login.js controller, I handle an error in the authentication by setting an attribute `errorMessage` like so:

[code]

This is then used in my template login.hbs using an #if helper:

[code]

Without the first `{{errorMessage}}` the `{{errorMessage}}` within the `<p>` tags does not work. Alternative

[2016-07-16 22:24] nathanhammond commented on #6088
Hey @michielboekhoff! This has nothing to do with Ember CLI if there is something wrong here it would be an Ember or SimpleAuth issue. I recommend you stop by the [Ember Community](http://emberjs.com/community/) slack in the #help channel to try and diagnose what's going on.

Closing this issue, hoping that you get it sorted out via Slack!

[2016-07-16 22:24] #6088 closed

[2016-07-16 22:25] nathanhammond commented on #6088
Also, having a reduced demo repository is always a good idea. It'll make it super-easy for somebody to help check out your issue.

[2016-07-17 02:46] typeoneerror opened #6089 "xfwd option addition breaks --proxy"
I recently went back to an ember-cli 2.5.1 project and proxying to my local dev server was no longer working (I am proxying to "subdomain.site.dev:3000" instead of default "localhost:3000".

If I poke into the proxy-server and change `xfwd` to `false` it fixes my issue. It looks like a [recent commit adds](https://github.com/ember-cli/ember-cli/commit/b971463cfa5e179b0f241826c28bd96b95a8c482) the

[2016-07-17 02:48] stefanpenner commented on #6089
https://github.com/ember-cli/ember-cli/pull/5986

[2016-07-17 02:49] #6089 closed

[2016-07-17 02:50] typeoneerror commented on #6089
@stefanpenner yeah, saw that, that's great. should I just create my own proxy-server with `ember g proxy-server` until I'm ready for 2.8? I can't upgrade to master at the moment.

[2016-07-17 03:23] trabus commented on #6079
This is due to the current tagged version (v0.1.1) used by ember-cli [not having integration test support yet](https://github.com/ember-cli/ember-cli-legacy-blueprints/blob/v0.1.1/blueprints/helper-test/index.js#L6). We haven't cut a release since April, and the changes to support helper-test integration tests were added after that release.

After testing locally (linking `ember-cli-legacy-bluepri

[2016-07-17 03:25] stefanpenner commented on #6089
@typeoneerror yup that should be a good interim solution.

[2016-07-17 04:07] nathanhammond commented on #6079
@trabus Let's do it!

[2016-07-17 11:58] michielboekhoff commented on #6088
@nathanhammond Thank you. It was late and I had both ember-cli and ember.js open, and I picked the wrong one. Thank you!

[2016-07-17 21:49] eriktrom commented on #6083
I found an older laptop when a buddy came over this weekend. Pasting a gist link for later debugging. The `os.networkInterfaces()`, mac os version and the netmask within /etc/hosts are contained in the gist.

More of a note to self, but we'll need a decent pool of these to help make decisions later, so starting that process.

https://gist.github.com/eriktrom/88e28ad0bfa80b37ed6caecb743bf2ef

[2016-07-18 09:34] lancedikson commented on #5333
@stefanpenner, is there any plan or roadmap where we can see formalization process of pods? :)

[2016-07-18 09:59] topaxi commented on #5333
@lancedikson https://github.com/emberjs/rfcs/pull/143

[2016-07-19 01:56] chyxion opened #6091 "How to compile public es6 sources"
I have a JavaScript source file in folder public/assets/js/app-preview.js, it uses es6 syntax, the app works on debug mode, but when I try to build a production package, it failed because of es6 syntax error.
My question is how could I compile public es6 JavaScript by ember-cli, thanks for reply.

[2016-07-19 02:37] stefanpenner commented on #6091
as per the [contributing guidelines](https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md) (the yellow banner displayed above the issue form links to this) questions are to be directed to stackoverflow or discourse.

[2016-07-19 02:37] #6091 closed

[2016-07-19 15:01] ryanolsonx commented on #5884
@nathanhammond Perfect. Thanks for the long reply on this! It really helps.  I'll investigate and figure out what the change will be.  After that, I'll figure out the Ember CLI RFC process and work on getting one open. 😁

[2016-07-19 17:42] maxkwallace commented on #4310
As a workaround, if you want to prevent automatic test generation, you can override e.g. the default `component-test` blueprint, following the instructions at https://ember-cli.com/extending/. Unfortunately, this also makes it impossible (AFAIK) for anyone to generate that kind of test without first deleting your override blueprint. It might also be possible (quite a hack-- I haven't tried it) to

[2016-07-19 17:53] ryanolsonx commented on #5884
So if I'm understanding this correctly, we could simply remove:
- https://github.com/ember-cli/ember-cli/blob/87154e7975c6be13375bb7fed977a9f63ddccb19/lib/commands/destroy.js#L40-L44

And push the responsibility to the add-on (using add-on hooks) to throw an error if an entity name is required for destroy?

Is this correct?

[2016-07-19 17:56] mitchlloyd commented on #4310
@maxkwallace just to echo the need to separate this functionality from testing practices: I use an outside-in TDD approach and these generated tests do not fit my workflow. See earlier comments about using integration tests for adapters, serializers and models. Also when I work on large code bases with many developers, high levels of test coverage is critical.

I'm not planning to open an RFC for

[2016-07-19 18:09] hhff commented on #3894
thanks so much @wagenet - your example worked perfectly!

[2016-07-19 18:16] nathanhammond commented on #5884
@ryanolsonx I think so? @rwjblue would have to confirm.

[2016-07-19 19:03] ryanolsonx commented on #5884
Something to really consider here is how we destroy the add-on.  It seems that our default destroy command is able to reverse the blueprint properly.. but it doesn't remove the npm module that gets installed and added to package.json.  Should that be something we add along with this change?

[2016-07-19 19:26] nathanhammond commented on #5884
If you need to modify `package.json` it would go inside the [blueprint itself](https://github.com/ember-cli/ember-cli/blob/master/blueprints/addon/index.js). [Similarly to the way it is done here.](https://github.com/ember-cli/ember-cli-legacy-blueprints/blob/master/blueprints/route/index.js)

[2016-07-19 22:13] ryanolsonx commented on #5884
@nathanhammond That's what I was thinking too. An add-on could easily hook into afterUninstall to clean itself up (nom module-wise) using removePackageFromProject.

[2016-07-20 02:45] eriktrom commented on #6083
# Timeline, plan for action and dispersion of knowledge update

## Timeline

@stefanpenner - a wise man once told me 'only commit to what you have time for' :)

I leave town on the 31st for a week and have a ton to do before then. And as we both know leaving town after updating portfinder is like leaving your 18 year old son home with your Porche and liquor cabinet - how much could go wrong? LOL.

[2016-07-20 10:24] eriktrom commented on #6083
actually - easier way to explain logic of above poorly written solution is: "Filter out bad hosts(for all interfaces) before we begin checking ports. This can be done by trying each host out for whether it throws EADDRNOTAVAIL before continuing on, placing what we know is bindable in the defaultHosts array."

This would be a relatively simple edit to the commit that was reverted on friday.

I can

[2016-07-20 13:46] stefanpenner commented on #6083
@eriktrom the strategy sounds good, and ya we should likely wait until you return to release it. Although if a solution lands as a PR before some of us can test.

[2016-07-20 17:17] twokul opened #6093 "Should likely change `merge` to `assign`"
https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/tests/helpers/start-app.js#L8-L9

[2016-07-22 03:50] mike-north commented on #6093
I think we ended up flip-flopping on this at some point in the past. Probably worth reviewing the conversation about deprecating merge in favor of assign.

See: https://github.com/ember-cli/ember-cli/pull/5803

[2016-07-22 15:18] holtalanm opened #6099 "ember test; Building; Hangup;"
Exact output from running "ember test":
[code]
Project builds fine, but right after, all it says is "Hangup" and that is all. No stack trace, nothing.

Running: Ember: 2.6.3
Node: 6.2.2
Phantomjs: 2.1.1
Ubuntu: 14.04 (crouton)

I honestly have no idea what the heck is going on since there is literally no more information given to me when I try to run "ember test". If I run "ember server" it runs w

[2016-07-22 15:39] marsinvasion opened #6100 "ember doesn't include rootURL in route mapping"
Ember doesn't seem to recognize the rootURL in routes. It works if I manually put the path in the route though.
[code]
--
environment.js
[code]

ember build --environment=development

If I go to localhost:8080/foo/login, I get

ember.debug.js:4932 Uncaught UnrecognizedURLError: /foo/login

--

However if I manually put in router.map
[code]
 it works

On the browser when I debug into the configEnvi

[2016-07-22 17:23] stefanpenner commented on #6099
Most likely an issue with phantomjs and testem (in your setup).

Something verbose (so share via gist) would be to run the same thing but with `DEBUG=* ember test` it may hint at something.

[2016-07-22 17:25] stefanpenner commented on #6093
@mike-north I'm in pins and needles waiting for the rest of this sentence

[2016-07-22 18:03] holtalanm commented on #6099
Ran DEBUG=* ember test.  You are correct in the statement that it is verbose :)

https://gist.github.com/holtalanm/241e500e04cf645f11319d123ff55bbe

[2016-07-22 18:03] holtalanm commented on #6099
accidentally closed and commented instead of just commenting.  my bad.

[2016-07-22 18:16] stefanpenner commented on #6099
the file in question does not appear to contain the word `hangup`

[2016-07-22 18:18] aholtventuretech commented on #6099
you know what, I think i screwed up the pipe for directing the output to file.  one minute.

[2016-07-22 18:19] holtalanm commented on #6099
I think I screwed up the pipe for directing the output to file. one minute.   I'll update the gist.

[2016-07-22 18:31] stefanpenner commented on #6099
ya, unfortunately that logging is insufficient likely something in testem or phantom is dying :S

[2016-07-22 18:31] stefanpenner commented on #6099
@johanneswuerbach do you have any quick thoughts on this?

[2016-07-22 20:58] #6100 closed

[2016-07-22 23:17] nathanhammond commented on #6093
Hokay, I'm closing this as we've un-deprecated `merge` and this can cause trouble. Seems like a 3.0 time period change.

[2016-07-22 23:17] #6093 closed

[2016-07-23 00:08] jesseditson opened #6101 "ember delete leaves folder artifacts when using pods"
This is a small nitpick, but I'd like the `ember delete` command to rmdir the folders created by `ember generate` when removing a path that is now obsolete.

Example, when `usePods` is true:
[code]

[2016-07-23 02:39] nathanhammond commented on #6101
Hey @jesseditson!

We're moving toward a future [module unification](https://github.com/emberjs/rfcs/pull/143) story and aren't investing a ton of energy into the pods portion of Ember CLI. As this is a benign issue that will change in a forthcoming release it's below the radar of something we're going to invest our energy in. However, if you're interested in opening a PR I would be glad to review

[2016-07-23 02:39] #6101 closed

[2016-07-23 02:41] jesseditson commented on #6101
Fantastic, I'll read up on the RFC! Thanks for pointing me in the right direction!

[2016-07-23 22:39] lbdm44 commented on #6099
For another datapoint, I am also seeing this same behavior when running `ember test`

[code]

[2016-07-24 13:44] mike-north commented on #6099
@holtalanm - any chance you're using fastboot? I have to ask because a release was cut which introduced a very similar sounding problem 1 day before you opened this ticket

[2016-07-24 17:58] mtheoryx commented on #4814
@zoltan-nz I ran into this just today. Here is my env and how I am able to reproduce (→: is my prompt):

[code]

[code]

[code]

Nice output from the install process (warnings about minimatch 2.0.10)...

[code]

So, let's run `ember update`?

[code]

After this runs, I get the following output after what looks like several successful dependency installs:

[code]

[2016-07-24 19:08] nathanhammond commented on #4814
@mtheoryx You're running the Ember CLI version per the project directory here:

[code]

That is the expected (and expectedly wrong) output for a 0.2.7 Ember CLI install. We fixed this bug in later releases. Keeping this issue closed. Thank you for the detailed description so that I could identify what was happening without us having to go back and forth!

(Update your Ember CLI dep inside of the p

[2016-07-24 19:11] mtheoryx commented on #4814
How would I update that? This was ember cli installed globally. How would I fix this with a global npm install of ember-cli?

I've tried npm cache clean, as well as bower cache clean. I'm not sure what is "sticking around" in my system that causes such a down-rev version of ember-cli to get installed.

[2016-07-24 19:43] zoltan-nz commented on #4814
Hi @mtheoryx! Update version numbers in `package.json` and `bower.json`. Of course, test your project with the new versions. You can follow these steps: http://yoember.com/emberjs/how-to-keep-your-ember-js-project-up-to-date/

[2016-07-25 00:18] jasonmit commented on #6099
Confirmed as a bug in fastboot, lets use https://github.com/ember-fastboot/ember-cli-fastboot/issues/232 for tracking.

A PR is opened that should fix the issue: https://github.com/ember-fastboot/ember-cli-fastboot/pull/233

[2016-07-25 11:22] mtheoryx commented on #4814
Thanks a bunch @zoltan-nz! Turns out it was npm trolling me with a very old version of ember-cli that wasn't removed after uninstall and npm cache clean. I got it all working now, cheers!

[2016-07-25 14:21] holtalanm commented on #6099
Yes, I had the fastboot addon installed in my project.  Had no idea it would affect running the tests though.  Interesting.  I'm currently not even using it due to compatibility between fastboot at simple-auth, so I'll just remove it.   Good to know.  Thanks guys!

[2016-07-26 04:31] hckhanh opened #6108 "Cannot install Ember CLI v2.7.0"
I cannot install Ember CLI v2.7 by following quick start on [emberjs.com](https://guides.emberjs.com/v2.7.0/getting-started/quick-start/).

[code]

[2016-07-26 04:53] twokul commented on #6108
@hckhanh Ember CLI 2.7.0 release is going out today, stay tuned.

[2016-07-26 06:33] twokul commented on #6108
Ember CLI 2.7.0 was released https://github.com/ember-cli/ember-cli/releases/tag/v2.7.0

[2016-07-26 06:33] #6108 closed

[2016-07-26 16:37] jnfingerle opened #6109 ""ember new" installs npm-packages in app directory (node 6.3.1, Windows)"
When creating a new ember app, the packages that are supposed to go into node_modules end up in the app's main directory. This is under Windows, node 6.3.1, ember-cli 2.6.3 and ember-cli 2.7.0.

[code]

... reproduced with:

[code]

[2016-07-26 17:14] nathanhammond commented on #6109
@jnfingerle I can't reproduce this on a Mac. Without corroborating reports for the entire lifecycle of 2.6 I have to assume that this is an issue which is unique to your machine. As a workaround you can do this:

[code]

I'm closing this issue, but if you discover why it is failing let us know!

[2016-07-26 17:14] #6109 closed

[2016-07-26 17:42] kellyselden commented on #6109
just tried on windows ember cli 2.7.0, could not reproduce.

[2016-07-26 18:07] nathanhammond commented on #6099
As this is an addon-only bug I'm going to close it here.

[2016-07-26 18:07] #6099 closed

[2016-07-26 19:21] jnfingerle commented on #6109
@kellyselden Did you use the same node.js as I did? If not, would it be possible for you to try to reproduce it on node 6.3.1?

[2016-07-26 19:30] kellyselden commented on #6109
@jnfingerle yes, node 6.3.1, npm 3.10.3

[2016-07-26 20:15] rfbarber opened #6110 "ember addon test-addon -> EACCES: permission denied, open ...package.json"
I receive the following error when attempting to create a new addon:

[code]

package.json does not exist in the blueprints/addon/files directory:

[code]

---

Output from ember version --verbose:

[code]

[2016-07-26 21:14] stefanpenner commented on #6110
This is a long running issue, yes we should fix.

On the flip side, /usr/local/lib/node_modules should most likely be writable by your current user, rather then root.

[2016-07-27 10:28] jnfingerle commented on #6109
Ok, I've re-installed everything, and now it works as expected. Thanks for your help.

[2016-07-27 17:52] duro commented on #3894
@wagenet and @hhff I am attempting this approach but getting:

[code]

Here is my phantom-runner.js

[code]

And my `testem.js`:

[code]

Before trying this approach, I was at least getting the tests to run about 50% of the time. So I know my tests run. Any idea what I am doing wrong?

[2016-07-27 18:28] sheriffderek opened #6115 "Amend watchman error to proper informational URL /user-guide/#watchman"
https://ember-cli.com/#watchman does not link to anything particular to watchman.

I believe that this error should have this url:  https://ember-cli.com/user-guide/#watchman

There are a few error messages in this vein, with slightly different wording - I think...

The particular error that caught my attention was displayed when serving an app in nitrous.io

---

[code]

[2016-07-27 18:46] sheriffderek commented on #6115
#4428 already grabbed this.

[2016-07-27 18:46] #6115 closed

[2016-07-28 04:21] wagenet commented on #3894
@duro I haven't seen an error like that before. Sorry.

[2016-07-28 06:15] nathanhammond commented on #3894
@duro please stop by #-ember-cli in the Ember Community Slack. This likely needs back and forth discussion to help you diagnose. 😄 It may or may not be a bug but there is definitely more investigation required.

[2016-07-28 08:43] deepan83 opened #6116 "Unknown blueprint: route"
ember g route post

fails with the following,

installing route
Unknown blueprint: route

Also fails for components but works for models and mixins from a quick test

---

Output from ember version --verbose:
[code]

[2016-07-28 15:26] locks opened #6117 "`ember new` errors if git is not installed"
According to a [bug report on the Guides repository](https://github.com/emberjs/guides/issues/1579#issuecomment-235924338), Ember CLI is erroring and reverting the application generation if the user does not have `git` in the system.

Platform: Windows

[2016-07-28 16:29] Alonski commented on #6023
Hey,
Also getting this.
Just updated Windows 8.1 -> Windows 10.
Everything worked for me in 8.1
Now also getting Installing packages for tooling via npm.

What else would you like me to submit?

[2016-07-28 16:32] rwjblue commented on #6117
https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/git-init.js#L42-L48 is intended to prevent issues here

[2016-07-28 16:35] kellyselden commented on #6117
If anyone wants to dig into this, comment out these lines
https://github.com/ember-cli/ember-cli/blob/master/dev/windows/install.ps1#L11-L15
then `cd dev/windows` and `vagrant up`

p.s. you need vagrant and virtualbox

[2016-07-28 20:31] rwjblue opened #6118 "`ember asset-sizes` should include relative path"
For example, when using `ember-cli-fastboot` there are multiple files starting with `vendor` you don't know which is in `fastboot/vendor` vs `dist/assets/vendor`.

I believe that this https://github.com/ember-cli/ember-cli/blob/master/lib/models/asset-size-printer.js#L50-L55 needs to be changed to add the relative path to the `name` (or add another property for it).

Example output:

[code]

[2016-07-28 20:32] rwjblue commented on #6118
@kiwiupover - You recently tackled some changes in the asset size printer, you think you may have some time to take a look at this?

[2016-07-28 22:29] nathanhammond commented on #6116
@deepan83 It is very unlikely that this is broken otherwise we would have hundreds of bug reports by now. As a result I suspect that you have a broken npm installation and this issue is specific to your machine. Please try resetting all of your node and npm setup and start over with a brand new project.

I'm closing this issue as likely not a bug but _please feel encouraged to reopen it_ if upon f

[2016-07-28 22:29] #6116 closed

[2016-07-28 22:48] chriscareycode opened #6122 "Uncaught TypeError: Cannot use 'in' operator to search for 'myQueryParam' in undefined"
I had been running EmberJS 2.7.0 with EmberCLI 2.5.0 for a couple weeks without issue. Upgraded to Ember CLI 2.7.0 today and now on about half of my routes which use queryParams, I see the error in the console:

Uncaught TypeError: Cannot use 'in' operator to search for 'myQueryParam' in undefined

Where queryParam: ['myQueryParam']

I tried recreating in a new Ember app with no luck yet. Will kee

[2016-07-28 22:55] stefanpenner commented on #6122
ember-cli wouldn't directly affect this. Most likely some dependency changed. If you are quite sure it is ember-cli, then as per the contributing.md issues section https://github.com/ember-cli/ember-cli/blob/master/CONTRIBUTING.md#issues please share a reproduction.

[2016-07-29 00:00] nathanhammond commented on #6122
Hey @chriscareycode! This is almost guaranteed to be the result of running a new `npm install` in your application and not actually an Ember CLI bug. You've probably picked up a new dependency which conflicts with your current setup.

I'm closing this issue as likely not an Ember CLI bug but _please feel encouraged to reopen it_ if upon further investigation on your side you discover that it may i

[2016-07-29 00:00] #6122 closed

[2016-07-29 02:14] nathanhammond opened #6123 "Broken CI because of dep change."
ember-cli-fastclick no longer installs a bower package: https://github.com/ember-mobile/ember-cli-fastclick/commit/8412f86b4d2fb48b7cec3cebd180b0b60d53e1e8

Fix: https://github.com/ember-cli/ember-cli/blob/e29e6c153aa8e03dc6f117e912413aeaf3b843df/tests/acceptance/install-test-slow.js#L62

[2016-07-29 08:55] cstengel88 commented on #2683
If you´re using sublime text don´t include the hole ember project the issue should be gone if you leave out the "tmp" and "dist" folder, seems to be a problem with the amount of changes in those folders while starting the server.

[2016-07-29 16:04] #6123 closed

[2016-07-29 17:29] wayneiny opened #6130 "LocationType hash refreshing to root URL"
Hi I set my locationType in config/environment.js to hash.

Now it won't produce a 404 when I refresh on a non-index route. However, when I refresh, it always directs me to root URL.

Is that the intended design? Thanks in advance.

[2016-07-29 23:39] nathanhammond commented on #6130
@wayneiny Can you please provide a repository for this issue? I'm not entirely sure what you're trying to explain. If you can provide a repository and a set of instructions on how to reproduce _exactly_ what you're experiencing we will be able to tell you whether or not that is expected behavior.

I'm closing this issue as likely not a bug but _please feel encouraged to reopen it_ once you have th

[2016-07-29 23:39] #6130 closed

[2016-08-01 20:41] musaffa opened #6137 "A 9-10 minute first load time (not build, this is require / fs read time)"
## Setup

Output from ember version --verbose:
[code]

## Time required

I've created a vanilla ember app with with `ember new` command, cd into the directory and run the ember server.

Here's the output with `time-require` enabled:

[code]

If I restart the server then I get the the following result:

[code]

This gives a satisfactory result.

But If I reboot the computer and then run this server

[2016-08-01 20:50] Turbo87 commented on #6137
this seems somewhat related to https://github.com/ember-cli/ember-cli/issues/6009, but the times you're seeing are waaaaay worse so I guess there is probably something else going on. do you have access to another machine to see if it's related to your setup or if it's a general problem?

[2016-08-01 20:58] musaffa commented on #6137
It looks like a general problem. I've tested this in my brother's laptop on Ubuntu 14.04. The problem also persists if I try this with `node 4.4.7`.

[2016-08-01 21:17] stefanpenner commented on #6137
80019ms is 1.3 minutes, not 8 or 9 minutes.

[2016-08-01 21:19] musaffa commented on #6137
I takes 6-7 minutes before I see this in the console:
[code]

[2016-08-01 21:20] stefanpenner commented on #6137
how long does `ember version` take?

[2016-08-01 21:21] stefanpenner commented on #6137
oh sorry, I just noticed:

[code]

It is actually several minutes to require a file...

[2016-08-01 21:22] stefanpenner commented on #6137
Do you have any or all of the following?

* an encrypted drive
* running off  thumb-drive or external drive
* running off a network mount?

[2016-08-01 21:23] stefanpenner commented on #6137
@Turbo87 I wonder if we should try doing a `rollup` of babel...

[2016-08-01 21:26] stefanpenner commented on #6137
`/media/musaffa` suggests this is some sort of foreign mount.

[2016-08-01 21:26] stefanpenner commented on #6137
Can you share more details of your setup?

[2016-08-01 21:27] hjdivad commented on #6137
@musaffa what does `/etc/fstab` look like?

[2016-08-01 21:29] musaffa commented on #6137
1. an encrypted drive
    2. running off thumb-drive or external drive
    3. running off a network mount?

No

[2016-08-01 21:30] musaffa commented on #6137
Output of `/etc/fstab`:

[code]

My project resides on `/media/musaffa/workshop`.

[2016-08-01 21:31] stefanpenner commented on #6137
side note: @musaffa this is a really great issue report, thank you :)

[2016-08-01 21:33] stefanpenner commented on #6137
Can you confirm, it appears you are mounting drives from a windows partition using NTFS-3G via fuse?

[2016-08-01 21:36] musaffa commented on #6137
I've mounted with [NTFS configuration tool](https://apps.ubuntu.com/cat/applications/quantal/ntfs-config/) with permanent read and write access.

[2016-08-01 21:36] musaffa commented on #6137
But I can try this setup on my `ext4` drive.

[2016-08-01 21:37] hjdivad commented on #6137
@musaffa that would be great.  Our current hypothesis is that this cost is coming from ntfs-3g; it would be helpful to confirm or eliminate this hypothesis.

[2016-08-01 21:39] stefanpenner commented on #6137
To prevent any confusion, @hjdivad are actually pairing right now.

[2016-08-01 21:41] musaffa commented on #6137
It may take 10-20 mintues. Please wait.

[2016-08-01 21:41] hjdivad commented on #6137
thanks @musaffa

[2016-08-01 21:44] kyrsten commented on #2226
I had this same problem, the solution from @strukturedkaos fixed it for me.

osx: 10.10
ember-cli: 2.4.3
node: 0.12.7
npm: 2.15.6
sublime: build 2221

[2016-08-01 22:15] musaffa commented on #6137
Yay! Build has become much faster in `ext4` filesystem. Here the output with `time-require`:
[code]

[2016-08-01 22:22] stefanpenner commented on #6137
@musaffa mystery solved. I don't believe we can do much to improve the performance os NTFS-3g. We have on-going efforts to reduce the number of dependencies, and their cost to us. But having a slow on-first-use filesystem will unfortunately pwn us.

[2016-08-01 22:23] stefanpenner commented on #6137
@musaffa thank you for an excellent bug report, if you have any ideas on how else we can improve this we are all ears. Otherwise I suspect we must close this one.

[2016-08-01 22:25] musaffa commented on #6137
I'm switching all my projects to `ext4` filesystem.

Thank you guys. You're awesome. :heart:

[2016-08-01 22:27] stefanpenner commented on #6137
@musaffa <

[2016-08-01 22:34] musaffa commented on #6137
Update on the issue upon migrating from mounted ntfs drive to ext4 filesystem:

Initial file requirement time: 48 seconds
Initial build time: 13 seconds
----------------------------------------------------
Total : ~ 1 minute

[2016-08-01 22:37] kellyselden commented on #6137
@locks This might be an issue you want to be aware of too.

[2016-08-01 22:39] stefanpenner commented on #6137
This is still pretty high, might be hardware related? or.. Can you share your project (privately if you can't oss it)

[2016-08-01 22:39] stefanpenner commented on #6137
I'm still curious whats taking those last 48 seconds...

[2016-08-01 22:41] stefanpenner commented on #6137
Are you on SSD or HDD or USB stick or external drive of some kind?

[2016-08-01 22:45] musaffa commented on #6137
HDD

[2016-08-01 22:47] musaffa commented on #6137
This setup is just a vanilla ember app created with ember new command.

[2016-08-01 22:50] stefanpenner commented on #6137
@musaffa ah ok. Unfortunately, then I am somewhat unsure what we can do. Is the second load much better?

- s

[2016-08-01 22:56] musaffa commented on #6137
Yes much better.

[2016-08-01 23:48] musaffa commented on #6137
@stefanpenner A further investigation with two vanilla ember apps.

### Scenario 1: Project creation
- create app-1
- create app-2
[code]
### Scenario 2: First reboot
- Run app-1 first then app-2
[code]
### Scenario 3: Second reboot
- Run app-2 first then app-1
[code]
### Observations
- Initial load time after project creation is quite fast
- Initial load time becomes slower after reboot
- After r

[2016-08-02 13:43] luizkowalski opened #6140 "Following the getting started throws error"
`ember version --verbose`

[code]

I just created an app and when run `ember s` I get the following

[code]

[2016-08-02 14:00] stefanpenner commented on #6140
babel is not backwards compatible with its .babelrc, and it seems for some reason the global RC file affects dependencies builds. Which sounds like a second babel bug.

Given:

[code]

I suspect removing that file will resolve the error.

Babel falling back to these global rc files, will result in potentially unexpected build outputs, or in cases such as these prevents builds from completing at al

[2016-08-02 14:01] stefanpenner commented on #6140
This should most likely also be raised to the babel folks, as it results in babel being a poor citizen when used within a dependency at build time.

cc @hzoo

[2016-08-02 14:23] stefanpenner commented on #6137
@musaffa so it seems something needs to be "warmed" up first? Maybe some power-savings mode or... Anyways, that's annoying...

I'm not to sure what we can do short term. Long term we have hopes of removing more dependencies, and bundling the costly ones. Which may help some.

[2016-08-03 08:30] luizkowalski commented on #6140
you were right, deleted that file and worked
Thanks!

[2016-08-03 10:38] vlascik commented on #1634
@erkie: did you manage to make it work somehow? it would help a lot in the meantime

[2016-08-03 11:57] musaffa commented on #6137
How do u plan to rollup Babel when 100% support for es6 has not yet been landed in node and browsers?

[2016-08-03 14:49] stefanpenner commented on #6137
@musaffa rollup is tool, to combine multiple dependencies into single files. In theory this may reduce extra disk IO and reduce as much random IO.

Im not sure there is much directly actionable at the moment. We have on-going plans to reduce the weight of the project, but even doing what I imagine, I am unsure if it would address the issue of a slow spin-up time described here.

@musaffa do you ha

[2016-08-03 15:02] stefanpenner commented on #6140
I'm going to keep this open, because I believe this to be part of a larger babel interopt issue.

[2016-08-03 16:02] erkie commented on #1634
@vlascik sorry, nope. I gave up.

[2016-08-03 17:36] rwwagner90 opened #6146 "Make blueprints use destructuring"
I was talking with @alexlafroscia about blueprints generating something like:

[code]

This way you don't use `Ember.Component` directly.

The same would be true for `Ember.Route`, `Ember.Controller`, etc.

We wanted to get your thoughts on this proposal and see if you would be open to some PRs to implement it, if you like the idea.

Please let me know your thoughts.

[2016-08-03 17:41] alexlafroscia commented on #6146
I personally like this, and it's been the "recommended" approach for a while now.

I do know that a lot of the modules (like `Component`) have a place we can import the class directly from.  Maybe we should just straight to that?  I think it's something like

[code]

The destructuring was always recommended to make the transition to that syntax easier, but maybe we're in a place where we can just

[2016-08-03 17:43] alexlafroscia commented on #6146
Seems like #6114 is closely related

[2016-08-03 17:46] rwwagner90 commented on #6146
Ping @toddlittle

[2016-08-03 17:46] rwwagner90 commented on #6146
@alexlafroscia I would be fine with importing directly, versus destructuring. Is that really importable or just from ember-cli-shims though?

[2016-08-03 17:56] alexlafroscia commented on #6146
It might be from a shim repo; all I know is that I've seen that in an app before, but it could (and likely is) an addon that's enabling that right now.

[2016-08-03 18:01] stefanpenner opened #6147 "reduce bite-size/file-count of ember-cli and its dep."
# why does this matter?

npm installs are dominate by:
- download times
- local IO moving/copying etc files around

By reducing this overhead, we help reduce both on-disk bytes, number on files, and improve install times. Etc.

It is also the case that many of our dependencies publish accidental files, or include extra dependencies. At scale, the cost becomes non-trivial

This will likely be a lon

[2016-08-03 18:01] stefanpenner commented on #6147
Will update with more details and action items.

[2016-08-03 18:12] musaffa commented on #6137
@stefanpenner We can do partial transpilation. For partial transpilation, we can utilize babel's `preset` feature to cherry pick only those features which are not yet been supported in a node version. There's some presets already available:

node 4: [babel-preset-es2015-node4](https://github.com/jbach/babel-preset-es2015-node4)
node 5: [babel-preset-es2015-node5](https://github.com/alekseykulikov/

[2016-08-03 20:46] stefanpenner commented on #6137
@musaffa that doesn't sounds like it would solve the issue, as the issue here isn't transpilation at all (that all actually seems to run fine) but rather merely requiring files of your HD.

[2016-08-03 20:51] musaffa commented on #6137
Doesn't less transpilation mean less IO operations during a build?

[2016-08-03 20:53] stefanpenner commented on #6137
@musaffa not really, the issue is merely requiring the code to run the the CLI, not the build itself. That is with the exception of the disk cache.

I think we can continue to reduce the "weight" of a dep tree, but rolling it up or similar, but it'll be tricky to mitigate entirely.

[2016-08-03 22:40] musaffa commented on #6137
@stefanpenner I wonder whether the reboot issues as shown the above scenarios are just ubuntu ext4 specific. Does it happen in OS X too?

[2016-08-03 22:54] stefanpenner commented on #6137
@musaffa my linx box is much faster then OSX (and even when testing in a linux vm on OSX). Linux typically seems much faster.

One guess is maybe power savings mode causing HDD spin-down would explain the slow first reads, but fast subsequent. Or maybe something else I am unaware of on your setup.

[2016-08-04 00:13] musaffa commented on #6137
@stefanpenner I've just noticed that although moving from ntfs to ext4 have certainly made the load time faster but the behaviour hasn't changed at all. For example, `ember-cli-build.js` required 2 mintues in ntfs and now it takes 19s in ext4. All the files which required longer load times in ntfs also now requires longer load time, albeit faster, in ex4. The pattern remains the same.

I believe i

[2016-08-04 00:23] stefanpenner commented on #6137
@musaffa I am genuinely curious, and if it turns out there is something we can do to mitigate (or plan to mitigate) or at the very least document so future users can also benefit, I would love us too.

Thank you for helping dig into this further :)

[2016-08-04 00:29] stefanpenner commented on #6137
In parallel https://github.com/ember-cli/ember-cli/issues/6147 I am doing an audit and opening issues, so we can reduce the overall filecount of a typical ember-cli install.

[2016-08-04 00:35] stefanpenner opened #6149 "This project appears to introduce 27247 files via itself and its deps"
[PLAN OF ATTACK](https://github.com/ember-cli/ember-cli/issues/6147#issuecomment-237439212)

big offenders:
--------------

- [ ] bower    5021 we are on an old version... we should likely  (extract as addon, update, fork our own subset)??
- [ ] broccoli-babel-transpiler 3725 https://github.com/babel/broccoli-babel-transpiler/issues/90
- [ ] npm 4230 (we are still on an old version, we should like

[2016-08-04 02:38] musaffa commented on #6147
[Flamegraph](http://www.brendangregg.com/flamegraphs.html) is an interesting tool for performance instrumentation. Sam Saffron has been using flamegraph to pin point the bottlenecks of discourse rails server. He has a [blog post](https://samsaffron.com/archive/2013/03/19/flame-graphs-in-ruby-miniprofiler) about performance instrumentation with flamegraph.

Nodejs has some implemenations of flamegr

[2016-08-04 02:41] TheLarkInn commented on #6149
Interestingly enough I know this may not be the best place to slip in a suggestion for a different build system, but u believe compared to the broccoli stuff y'all have here, maybe the exploration of webpack as a bundler is worth the conversation. We did the same with the angular-cli, and a lot of _modules_ were shed off the list pretty quickly thanks to all the out of the box tools in Webpack.

[2016-08-04 02:52] stefanpenner commented on #6149
Plan of attack: -> divide and conquer

If you are interested in helping

1. pick anything in the list that appears to have wasteful files
2. mark a comment here or in the associated issue saying you are working on addressing
3. Submit a PR
4. Once merged / released, report back here in a comment and we can "complete the task"

Note: some of the above dependencies are not a problem, they are includ

[2016-08-04 02:54] stefanpenner commented on #6149
The main issue: https://github.com/ember-cli/ember-cli/issues/6147

[2016-08-04 02:57] stefanpenner commented on #6147
@musaffa yup a good tool, luckily this issue is specifically to remove extra bytes/files we download. So we can likely get away with just reduces the size and count of files downloaded

[2016-08-04 02:58] stefanpenner commented on #6147
# Plan of attack: -> divide and conquer

If you are interested in helping

1. pick anything in the list that appears to have wasteful files
2. mark a comment here or in the associated issue saying you are working on addressing
3. Submit a PR
4. Once merged / released, report back here in a comment and we can "complete the task"

Note: some of the above dependencies are not a problem, they are incl

[2016-08-04 02:58] musaffa commented on #6009
In my setup (ember 2.7, node 6.3.1), `ember v` takes 4.9s after a computer reboot and 500-600ms on the same subsequence command after the first command has been executed. It takes significantly less time than `ember s`.

A signification amount of bottlenecks may also be found doing the same test with `ember s`. To eliminate the hypothesis of ember "has already warmed up", `ember s` should be the f

[2016-08-04 03:03] musaffa commented on #6147
I'm removing that comment to a more related topic.

[2016-08-04 03:04] musaffa commented on #6009
[Flamegraph](http://www.brendangregg.com/flamegraphs.html) is an interesting tool for performance instrumentation. Sam Saffron has been using flamegraph to pin point the bottlenecks of discourse rails server. He wrote a [blog post](https://samsaffron.com/archive/2013/03/19/flame-graphs-in-ruby-miniprofiler) about performance instrumentation and finding bottlenecks with flamegraph.

Nodejs has some

[2016-08-04 03:11] stefanpenner commented on #6009
@musaffa yup! This issue outlines some things that should help many scenarios for you, as it goes to make sure we don't eagerly require too much. This should help.

[2016-08-04 03:15] stefanpenner commented on #6149
@TheLarkInn thank you for the offer, but we will continue to use and improve our existing tool chain.

[2016-08-04 03:28] TheLarkInn commented on #6149
No problem just wanted to make sure you guys know that we are more than happy to help give our time if it a decision you make in the future. Keep up the good work!!!

[2016-08-04 03:46] stefanpenner opened #6150 "build spinner?"
i swear we had a build spinner, but it seems to have vanished?

[2016-08-04 05:44] Turbo87 commented on #6150
What version are you talking about? It's definitely still visible in the latest stable release.

[2016-08-04 05:46] stefanpenner commented on #6150
@Turbo87 all master and 2.7, but it could be my shell. Will close and investigate.

[2016-08-04 05:46] #6150 closed

[2016-08-04 05:47] Turbo87 commented on #6146
This is indeed exactly what #6114  is about and the comments on this PR also apply to this issue.

[2016-08-04 05:52] stefanpenner commented on #6146
https://github.com/ember-cli/ember-cli/pull/6114#issuecomment-237310075

[2016-08-04 05:52] #6146 closed

[2016-08-04 08:01] Turbo87 commented on #6149
https://github.com/ember-cli/ember-cli-legacy-blueprints/issues/42 should reduce the dependency impact of ember-cli-legacy-blueprints

[2016-08-04 10:25] ctjhoa commented on #5937
https://github.com/topaxi/ember-cli-hbs-minifier

[2016-08-04 12:11] rwwagner90 commented on #6149
How close are we to being able to nuke bower altogether?

[2016-08-04 13:14] rtablada commented on #6149
@rwwagner90 due to addons I would say at least a full major version of saying that bower use is deprecated and warn.

[2016-08-04 13:30] Bockit commented on #6147
Just making sure I understand the intent here. If I were to add the `files` property to loader.js and tell it to only include the files below, would that be what we're looking for? Right now everything else isn't needed by a loader.js install afaict.

[code]

(package.json, README.md and LICENSE.md get included by default)

If so, I'll make a PR pronto, and then take a look at some others

[2016-08-04 13:39] stefanpenner commented on #6149
@rwwagner90

https://github.com/ember-cli/ember-cli/pull/5921 + https://github.com/emberjs/ember.js/pull/13022 + backwards compat in ember-cli if the ember-core npm module was not provided

But remember, we will have to re-install the optional bower dependency for a long time, as many addons need it. Which leads me to believe we must do both (improve our version of bower, and remove it from the de

[2016-08-04 14:02] Turbo87 commented on #6149
the following are somewhat related to this issue but don't look like they will be resolved any time soon... 😞

- https://github.com/substack/node-mkdirp/pull/101
- https://github.com/substack/minimist/pull/95

[2016-08-04 14:06] Benjy1979GitHub commented on #3910
If you have changed base url, there is something funny going on with the CSS image-paths like if you have background:url("");
It is possible that you want to ship the app out to different subdirectories
 ENV.baseURL = '/impey';
 ENV.baseURL = '/roomviewer';

I find that the css paths are impossible to get right for both. Either one is broken or the other is.
I don't want to have to write the baseU

[2016-08-04 14:54] stefanpenner commented on #6149
@Turbo87 ya..

[2016-08-04 14:56] stefanpenner commented on #6147
@Bockit sounds very reasonable.

[2016-08-04 16:53] chrism commented on #6147
PR submitted for: ember-welcome-page 2288 ember-cli/ember-welcome-page#33

[2016-08-04 17:01] listochkin commented on #6147
@stefanpenner could we check whether a user has a globally installed Bower during the installation of Ember CLI and use that instead of relying on a local one? I can imagine it looking like this for a new Ember CLI user:

[code]

or

[code]
We could also check for bower version before running Bower-related tasks. Migration would involve switching from running Bower programmatically to calling it a

[2016-08-04 17:16] stefanpenner commented on #6147
@listochkin originally we did this, the problem was the number of broken/buggy in incompatible bower versions was so high, we made the call to provide a curated bundle instead.

[2016-08-04 17:39] listochkin commented on #6147
@stefanpenner could we have it _hidden_ somewhere in the global installation of Ember-CLI then? This way we could still curate it without copying it into each project.

[2016-08-04 18:12] stefanpenner commented on #6147
@listochkin this is also an interesting solution, I am in-favor. Although it would require someone to commit to it

[2016-08-04 18:20] Turbo87 commented on #6147
we've dealt with people in the past though that don't install ember-cli globally and only rely on the per-project installation...

[2016-08-04 22:32] alexlafroscia commented on #6147
I'll look at `ember-ajax` and see if we can clean anything up there.

[2016-08-04 23:32] cibernox commented on #6147
@stefanpenner I've created a PR for `ember-cli-app-version`: https://github.com/EmberSherpa/ember-cli-app-version/pull/28

[2016-08-04 23:45] cibernox commented on #6147
And for `ember-cli-jshint`: https://github.com/ember-cli/ember-cli-jshint/pull/10

[2016-08-05 00:33] alexlafroscia commented on #6147
I wonder if we should consider making the change that @cibernox just made for `ember-cli-app-version` the default for new addons 🤔

[2016-08-05 01:15] dguettler commented on #6149
@stefanpenner "Remove unused dependencies #15" was in regards to `yam`

[2016-08-05 01:47] locks commented on #6149
I have verified [ember-cli-is-package-missing](https://github.com/ember-cli/ember-cli-is-package-missing/blob/master/package.json#L6-L8).

[2016-08-05 02:47] dguettler commented on #6149
@stefanpenner ^ are couple more package updates

[2016-08-05 03:05] alexlafroscia commented on #6147
@stefanpenner Does every addon need the dependency on `ember-cli-babel`?  Seems like that should be a `devDependency` but I don't want to go and remove it

[2016-08-05 03:40] stefanpenner commented on #6147
@alexdiliberto if they have babel to transform they should bring along their own babel. And if all the babels are the same, dedupe should handle.

[2016-08-05 06:08] kratiahuja commented on #6147
@stefanpenner : PR for loader.js https://github.com/ember-cli/loader.js/pull/93

[2016-08-05 09:06] locks commented on #6147
What to do about this?
https://github.com/ember-cli/ember-cli/blob/5d31cb49fc6d3105876bc6559d8c22b3afd9b23d/package.json#L68
https://github.com/ember-cli/ember-cli/blob/5d31cb49fc6d3105876bc6559d8c22b3afd9b23d/package.json#L91
https://github.com/ember-cli/ember-cli/blob/5d31cb49fc6d3105876bc6559d8c22b3afd9b23d/package.json#L93

[2016-08-05 11:03] ehaberev opened #6156 "Most `ember` commands are not working on Windows after `symlink-or-copy` v1.1.5 release was published on npm"
[`symlink-or-copy` v1.1.5](https://github.com/broccolijs/node-symlink-or-copy/releases/tag/v1.1.5) was released about 7 hours ago. After publishing this release on npm most `ember` commands (for example `ember build` or `ember install`) fails on Windows for new ember applications (after `ember init` or `ember new`) with error:
[code]

There is an [corresponding issue](https://github.com/broccolijs

[2016-08-05 11:16] Baukereg commented on #6156
Same problem here as well.

[code]

[2016-08-05 11:27] herom commented on #6156
Same here!

Output of `ember version --verbose`:

[code]

[2016-08-05 12:49] globsecure commented on #6156
+1

`E:\Globsecure\superSite>ember version
EEXIST: file already exists, mkdir 'E:\Globsecure\superSite\tmp'
Error: EEXIST: file already exists, mkdir 'E:\Globsecure\superSite\tmp'
    at Error (native)
    at Object.fs.mkdirSync (fs.js:799:18)
    at testCanSymlink (E:\Globsecure\superSite\node_modules\ember-cli\node_modules\symlink-or-copy\index.js:18:6)
    at Object.<anonymous> (E:\Globsecure\s

[2016-08-05 13:01] Vazgen7788 commented on #6156
[code]

OS Windows 10

[2016-08-05 14:42] Baukereg commented on #6156
[Workaround](https://github.com/broccolijs/node-symlink-or-copy/issues/26)

Run ```npm install symlink-or-copy@1.1.3``` in your project folder or in _\node_modules\ember-cli_.

[2016-08-05 15:06] stefanpenner commented on #6156
I'll never to 1.1.3. So we can restore functionality to our users.

[2016-08-05 15:11] stefanpenner commented on #6156
waiting for windows CI: https://github.com/broccolijs/node-symlink-or-copy/pull/27

[2016-08-05 15:23] Turbo87 commented on #6156
the problematic PR in symlink-or-copy was reverted and v1.1.6 was released which should fix things for now. we are investigating what went wrong here. closing this issue as the main problem has been solved.

[2016-08-05 15:23] #6156 closed

[2016-08-05 15:23] stefanpenner commented on #6156
fixed: https://github.com/broccolijs/node-symlink-or-copy/pull/27 reverting another fix that introduced the issue. We will investigate and figure out whatsup.

[2016-08-05 15:24] stefanpenner commented on #6156
tracking restoring the fix that cause this bug -> https://github.com/broccolijs/node-symlink-or-copy/issues/28

[2016-08-05 16:12] stefanpenner commented on #6147
@locks we should

1. drop lodash
2. keep lodash.template (is only loaded on-demand)
3. keep lodash-subset (is loaded eagerly)

[2016-08-05 16:43] apkiernan commented on #6037
With #6132 is this all set, or would you still want the folder cleanup looked at?

[2016-08-05 19:01] dguettler commented on #6149
dominictarr/through#44 was rejected by the author, he includes all files by his policy

[2016-08-05 19:02] chris-pauley commented on #1634
@vlascik we're using that method for an app using 2.5 and it works pretty well. The only caveat is we had to add an option to the EmberApp constructor in ember-cli-build to include helpers. Also we had to make sure to include Broccoli Funnel for the solution posted by @erkie

The helper option looks like this:
[code]

[2016-08-05 19:56] dguettler commented on #6149
Verified [ora](https://github.com/sindresorhus/ora/blob/master/package.json#L18-L20)

[2016-08-06 09:13] mike-north commented on #6037
@apkiernan my thinking is that a clean git state is the "definition of done" here (if you had no changed files, `ember g *` and `ember d *` should leave you with no changed files).

[2016-08-06 12:24] jonkoops commented on #6147
It might be an idea to remove .npmignore entirely from the `addon` generator in Ember CLI and replace it with the whitelist in the `files` key. That way most add-ons should get the behaviour we want out of the box.

[2016-08-06 16:36] musaffa commented on #6116
@deepan83 The issue is probably related to ember-cli-emblem. See https://github.com/Vestorly/ember-cli-emblem/issues/41

[2016-08-06 22:28] bmeurant commented on #6149
created a PR for testem & lodash testem/testem#950. Other testem deps are still to verify

[2016-08-07 00:23] dguettler commented on #6149
@stefanpenner when you get a chance can you update the checklist with open PRs

[2016-08-07 18:40] eriktrom commented on #6149
portfinder has been bumped, it can be checked off

Thanks @dguettler for the work of updating all these repos 💯

[2016-08-08 00:00] nathanhammond commented on #6137
@stefanpenner That the second app being run is always faster is likely because @musaffa is triggering a `broccoli-persistent-cache` hash collision since they're both vanilla Ember applications.

The reboot is clearing the discard of the persistent cache so the first one run takes 1 minute 45 seconds.

At this point I'm closing this issue as "no longer actionable" and focus should switch to #6147.

[2016-08-08 00:00] #6137 closed

[2016-08-08 00:58] nathanhammond commented on #5889
The problem here is that we don't roll up `.bowerrc` files into our programmatic invocation of `bower`. This is definitely a bug if anybody would like to take a crack at bringing it home in #5892.

[2016-08-08 01:03] nathanhammond commented on #2551
My initial research into this implies that sheer header overhead limits the value of splitting to probably 10-20 assets _maximum_. We'll instead need to leverage service workers and build tricks to achieve more granular caching: https://twitter.com/nathanhammond/status/761749168566120449

[2016-08-08 01:28] nathanhammond commented on #4933
@Turbo87 Is this addressed by the cleanup that you did?

[2016-08-08 01:50] nathanhammond commented on #5406
Pods are no longer receiving maintenance as we move toward the Module Unification plan: https://github.com/emberjs/rfcs/pull/143

We don't intend to address this issue.

[2016-08-08 01:50] #5406 closed

[2016-08-08 02:06] nathanhammond commented on #5923
@stefanpenner ping

[2016-08-08 02:07] nathanhammond commented on #5015
@stefanpenner ping

[2016-08-08 02:13] nathanhammond commented on #3938
Closing as the entire ecosystem has changed since 2015-04-21. If a new issue is reported with detailed instructions we'll be happy to take a look!

[2016-08-08 02:13] #3938 closed

[2016-08-08 06:58] Turbo87 commented on #4933
@nathanhammond no idea TBH

[2016-08-08 13:29] tim-evans commented on #5406
Thanks for the update. If pods aren't receiving maintenance, is there a rough road map available for modules?

I'm uneasy about support, due to my experience of having to maintain old software longer than expected. I would like to jump on the modules bandwagon, but feel like the projects I work on are in an in-between place with pods.

Cheers!

[2016-08-08 15:10] stefanpenner commented on #6137
No please read the backlog, it isn't related to persistent-cache. It is merely any disc access.

[2016-08-08 15:14] stefanpenner commented on #5923
is this still reproducible @offirgolan

[2016-08-08 19:46] nathanhammond commented on #4933
@lukemelia Can you confirm if this issue still exists?

[2016-08-08 19:50] nathanhammond commented on #6137
@stefanpenner This is the part which I feel like is definitely explained by a broccoli-persistent-cache collision:

---

First reboot, **run app-1 first then app-2**:
- Time taken for app-1: initial load time 1 minute 45s, initial build time 20s
- Time taken for app-2: initial load time 20s, initial build time 15s

Second reboot, **run app-2 first then app-1**:
- Time taken for app-2: initial load

[2016-08-08 20:05] nathanhammond commented on #5406
@tim-evans I'm pulling together the roadmap for our module unification build efforts very soon. We've begun discussion of the efforts in our Ember CLI core team meetings ([July 28](https://github.com/emberjs/core-notes/blob/master/ember-cli/2016-07/july-28.md), [August 4](https://github.com/emberjs/core-notes/blob/master/ember-cli/2016-08/august-04.md)). Further, the work being done for the Ember

[2016-08-08 21:13] marinatedpork commented on #2683
@cstengel88 How do you tell sublime to leave out certain directories for a project?

[2016-08-08 22:36] offirgolan commented on #5923
@stefanpenner after upgrading our app to Ember 2.6 as well as upgrading ember-cli-htmlbars and ember-cli-htmlbars-inline-precompile to their latest versions, my issue was resolved. If you would like, I can create a dummy app and see if I can replicate the issue I found in Ember 2.5 with the above versions.

[2016-08-09 01:10] stefanpenner commented on #5923
meh, its ok. I'm very pressed on time, if someone else hits we can investigate again.

thanks :)

[2016-08-09 01:10] #5923 closed

[2016-08-09 08:13] cstengel88 commented on #2683
@marinatedpork you can simply select which subfolders you want with file->open

[2016-08-09 17:08] chriscareycode commented on #6122
My apologies for the bad bug report. Issue seems to be with EmberJS and not EmberCLI at all. Thank you for your help. https://github.com/emberjs/ember.js/issues/14010

[2016-08-09 18:49] tim-evans commented on #5406
Understood! I simply wanted to express that it makes me anxious. Anyways 👍

Excited to see this get in!

[2016-08-09 18:49] tim-evans commented on #5406
Understood! I simply wanted to express that it makes me anxious. Anyways 👍

Excited to see this get in!

[2016-08-10 01:40] alobaidizt commented on #6147
@stefanpenner PR for `ember-cli-sri` [jonathanKingston/ember-cli-sri](https://github.com/jonathanKingston/ember-cli-sri/pull/27) 🎆

[2016-08-10 10:22] amk221 commented on #3760
Me too, I'd like to be able to compile the usual vendor.js, but separately load a large charting library, but retain the benefits that ember-cli gives you, like minification etc

[2016-08-10 15:41] djsegal commented on #3760
The only way I've been able to do it is through the method described in this blog post:

+ https://karl-sjogren.com/ember/javascript/2015/08/05/lazy-loading-extra-scripts-in-ember.html

[2016-08-10 16:24] amk221 commented on #3760
That blog post is about loading extra scripts, but this issue is about compiling extra assets.
I managed to load the scripts [like so](https://gist.github.com/amk221/124fbd22cf0daf820c654c3dc8ef1587), but they are not going to be minified or anything

[2016-08-10 18:06] wycats opened #6168 "Ember CLI prints stack trace on fresh clone (with no node_modules)"
Running `ember s` on a freshly cloned repo, before running npm install, produces:

[code]

I think, it should print a nicer error, instructing the user to run `npm install`.

[2016-08-10 18:13] rwjblue commented on #6168
Hmm. If no node_modules is present (like when you freshly clone) we do emit a much more friendly error. Was your node_modules partially populated? Can you provide specific steps to reproduce?

[2016-08-10 18:18] vmalloc opened #6169 "`ember test --server` stopped working"
I have a project in which ember test used to work prior to the latest ember-cli release, and now it stopped working
---

Output from ember version --verbose:
[code]

I get this:
[code]

To reproduce, clone https://github.com/getslash/backslash, branch *develop*, and run ember from inside the `webapp` subdirectory of the project...

[2016-08-10 18:35] sohara opened #6170 "Cannot seem to get Ember CLI to Babelify browserified npm dependency"
We are using Ember CLI along with Ember Browserify to manage a number of our client-side dependencies. In one of our new packages the author elected to write some modules using ES2015 features/syntax. The package is also used server-side in a Node 4.x environment and this works without issue.

I realize this issue maybe be more appropriate to the ember-browserify project but I'm opening it here be

[2016-08-10 19:59] nathanhammond commented on #6169
Hey @vmalloc! You just need to re-init on top of your current project directory. [This is an incomplete accounting of the changes you needed to make.](https://github.com/getslash/backslash/commit/73dc211ca3de5ffe446a5e6e3a8c7e072ffa2c2f)

I'm closing this issue as likely not a bug but _please feel encouraged to reopen it_ if upon further investigation on your side you discover that it may in fact

[2016-08-10 19:59] #6169 closed

[2016-08-10 20:24] stefanpenner commented on #6170
cc @nathanhammond

[2016-08-10 21:12] nathanhammond commented on #6170
@sohara Without direct review of the code in question my intuition on this is that ember-browserify is adding its asset into the build external to the Ember CLI step which does our rewriting of `const` and `let`. In that case `ember-browserify` should be the addon responsible for doing something reasonable for transpilation of the Node module.

I'd call this an ember-browserify issue because if th

[2016-08-10 21:12] #6170 closed

[2016-08-10 21:17] sohara commented on #6170
Thanks @nathanhammond. I'll open this against ember-browserify.

[2016-08-10 21:58] nucleartide commented on #6170
I ran into this exact problem today. Don't want to knock ember-browserify, but IMO it makes a lot more sense to me to just run browserify via the command line. So I wrote a shell script to wrap my app's node modules: https://gist.github.com/nucleartide/12d9fe7d7a7ce8477ddaaba0b27ce481

This also fixes the problems with ember-browserify [not playing nice with addons][1]. Hopefully this helps!

[1]:

[2016-08-10 22:12] sohara commented on #6170
@nucleartide Based on your gist, I don't understand your use case. We use dependencies like lodash via ember-browserify without issue (their dist builds are es5). The only encountered this issue when we tried to import and npm module that had new ES syntax/features.

[2016-08-10 22:18] nucleartide commented on #6170
@sohara Yes, perhaps Lodash is a bad example. I'm using the script on a node module ([joi][1]) that uses ES6 classes in its codebase as well as in its dependencies. Of course, if the module provides a "dist" build that is all ES5, then you don't need to bother.

[1]: https://github.com/hapijs/joi

[2016-08-10 22:29] sohara commented on #6170
@nucleartide I see. Thanks. We can certainly manually transpile the code but we're hoping for a solution that hooks in more seamlessly with our build chain.

[2016-08-11 11:48] luxferresum opened #6172 "`validateAssetPath` should not throw error"
Hello

It seems like the feature was added to print the File sizes of the assets in a recent update.
We use an internal addin to postprocess the output in the `postBuild` hook to bundle everything into a single file for deployment. We do this in production builds only.

This change now makes ember throwing errors, which is a bit ugly.

Is there a reason that ember-cli throws the error and not just

[2016-08-11 11:58] Turbo87 commented on #6172
@luxferresum can you be a bit more specific when and why the function started throwing errors? how can we reproduce it?

[2016-08-11 12:00] Turbo87 commented on #6168
closing this as a duplicate of https://github.com/ember-cli/ember-cli/issues/5711

[2016-08-11 12:00] #6168 closed

[2016-08-11 13:05] mydea opened #6173 "Get ember-cli to work on Bash on Ubuntu for Windows"
I have tried to get my projects to run in Ubuntu Bash for Windows, but I'm running into some problems there. I saw similar things reported here: https://github.com/ember-cli/ember-cli/pull/6098#issuecomment-235137541 but I'm not sure in how far this is being tracked on its own?

My System:

- Bash on Ubuntu on Windows 10
- ember-cli: 2.8.0-beta.2
- node: 4.4.7
- os: linux x64

## Case 1: New App

[2016-08-11 23:34] ob7 commented on #5857
Anyone know how to get ember server to stop throwing the broccoli
Error: ENOENT: no such file or directory, unlink '/home/user/Ember Site/tmp/funnel-output_path-1wVDODbA.tmp/styles/.#app.scss'

everytime a file is deleted?

My text editor makes a swap file whenever the file is being edited, ember server picks up that there is a new file... then as soon as I'm done editing it and its saved, the swa

[2016-08-12 07:10] RyanNerd commented on #6110
I got bit by this recently. Here's a [guide to fixing permissions](https://docs.npmjs.com/getting-started/fixing-npm-permissions) that helped me.

[2016-08-12 07:24] RyanNerd opened #6175 "ember-cli-htmlbars throwing Deprecation notice in 2.7.0"
When running `ember s` under ember 2.7.0
[code]

---

Output from ember version --verbose:
[code]

[2016-08-12 09:03] Turbo87 commented on #6175
can you check with `npm ls ember-cli-htmlbars` which version you are using and what dependencies are using it?

[2016-08-12 09:04] Turbo87 commented on #6173
/cc @wycats

[2016-08-12 09:48] luxferresum commented on #6172
I'm talking about [this](https://github.com/ember-cli/ember-cli/blob/master/lib/models/asset-size-printer.js#L72) message.

To reproduce you just need a simple postBuild hook like this:

    postBuild(options) {
      // in reality here I would read all files and process them for deployment
      rimraf.sync(options.directory+'**/*');
      fs.writeFileSync(path.join(options.directory, 'deployfile

[2016-08-12 10:03] Turbo87 commented on #6172
@kiwiupover any comments on this?

[2016-08-12 14:32] stefanpenner commented on #5857
@rwjblue you also use emacs, which I believe does similar things.

[2016-08-12 16:23] RyanNerd commented on #6175
ᐅ npm ls ember-cli-htmlbars
rxtrax-n@0.0.0 /home/ryan/RxTrax/rxtrax-n
├─┬ ember-aupac-typeahead@2.0.2
│ └── ember-cli-htmlbars@0.7.6
└── ember-cli-htmlbars@1.0.11

[2016-08-12 16:40] RyanNerd commented on #6175
Looks like  ember-aupac-typeahead@2.0.2 is the culprit. Please mark this issue as closed. Thanks again for your help.

[2016-08-12 16:41] #6175 closed

[2016-08-12 19:28] stefanpenner commented on #6173
this is fixed on beta

[2016-08-12 19:28] #6173 closed

[2016-08-12 19:29] stefanpenner commented on #6173
specifically: https://github.com/ember-cli/ember-cli/pull/6097

[2016-08-12 19:29] stefanpenner commented on #6173
then https://github.com/ember-cli/ember-cli/pull/6096 will make us autodetect the right thing by default.

[2016-08-13 07:30] rajzshkr commented on #3661
I installed **ember-cli-htmlbars** as npm dependencies, earlier it is installed as dev-dependencies, My issue got resolved.

[2016-08-13 19:54] olivierlacan commented on #2407
I was surprised by finding content-for statements all over the application.html with no obvious calls to populate these hooks anywhere, and no files that they seemed to pull from.

It makes it quick difficult to understand how they should be used, and the current documentation is [far from helpful on the subject](https://ember-cli.com/user-guide/#appindexhtml):

Worse, a quick search for `ember co

[2016-08-14 18:29] KishoreVignesh commented on #6023
I thought i had the same error, but then after reading all the comments. Its over now. wait for little longer guys

[2016-08-15 14:27] kanongil opened #6178 "New "rootURL" option is incompatible with Cordova"
Before the `rootURL` option was introduced (#5792), it was possible to create compiled build products that could be deployed to any base URL. Unfortunately, the `rootURL` option ties the build output to a specific base path by resolving resources absolutely, which makes it incompatible with apps that rely on this specific deploy mechanism.

This failure can be demonstrated by directly opening the

[2016-08-15 14:55] rwjblue commented on #6178
If all you need/want is for things to be referenced relative to the `index.html`, you do not need to use `{{rootURL}}` in your `index.html` at all.

Another option is to set `rootURL` in `config/environment.js` ([around here](https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/config/environment.js#L7)) to `''` which would mean the generated asset paths in `index.html` after `{

[2016-08-15 15:00] kanongil commented on #6178
The first option is not ideal, and I would have to remember not to include `{{rootURL}}` each time I do `ember-cli init` on updates. It is already suggested by `ember-cordova` as an extra install step.

The second option would be preferred but doesn't actually work, as the rootURL seems to be sanitized to `'/'`.

[2016-08-15 15:22] rwjblue commented on #6178
In either case you have to make sure to not override your customizations when running `ember init`.

I guess this makes sense (we are ensuring that we have a valid value that ends with a `/`), but we may need to consider allowing `''`.

@Turbo87 / @nathanhammond - Thoughts?

[2016-08-15 15:54] kanongil commented on #6178
True, but the fewer customizations the better.

A more compelling argument, is that we would actually like the `rootURL` functionality for web deployments off the same codebase, which is not compatible with removing `{{rootURL}}` from index.html.

[2016-08-15 16:04] rwjblue commented on #6178
Yep, totally makes sense.

[2016-08-15 16:09] Turbo87 commented on #6178
@kanongil I like the idea of passing am empty string. Could you check if that would break any of the other use cases for the rootURL?

[2016-08-15 16:54] rwjblue commented on #6178
Right now, we use `rootURL` for appending in `index.html` and deciding where to serve assets.

I suspect that we need to change [this line](https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L1764) to avoid using `cleanBaseURL`, and since the serving related code will still do this it should continue to assume `/` is the right location to serve from while running `ember s

[2016-08-16 01:01] ml3ha opened #6179 "BroccoliMergeTrees failed when creating a nested route"
Hi, I'm creating my own Ember application and ran into this issue when I tried to create a new route.

Basically I had an admin route and wanted to create a nested `add` route that routed to `admin/add`. I have a bunch of other routes but this was my first nested route. When I generated the admin route and reloaded localhost, the route was working and the page still loaded. I didn't see my termina

[2016-08-16 01:25] stefanpenner commented on #6179
this isn't a known bug, can you reproduce repo that demonstrates this issue reproducibly?

[2016-08-16 01:42] ml3ha commented on #6179
@stefanpenner I assume this means you want the link to the repo.

https://github.com/ml3ha/ember-website

I just pushed the most recent changes, which includes the error above.

[2016-08-16 01:48] ml3ha commented on #6179
When I restart my ember server I get this:

[code]

[2016-08-16 01:55] trianglegrrl commented on #1186
Just stumbled on this myself. It happens using at least ember-cli 2.5.1,  2.6.2, and 2.7.0.

[2016-08-16 02:42] eriktrom commented on #6083
Just FYI on progress: https://github.com/indexzero/node-portfinder/pull/37

I've given the simple edit a go - it freezes travis - I will spin up an ubuntu box with the hope of finding the issue.

Anyone is free to review, comment, etc - explanation given in PR.

One thought/question: Can't the operating system tell us what host addresses are bindable?. Or better said, why does `os.networkInterface

[2016-08-16 02:43] stefanpenner commented on #1186
It is most likely one of the plugins you have installed, or maybe hit some threshold that prevents the cleanup from happening before the process exists.

Please share a reproduction (as basic apps do work correctly), once you have the isolated reproduction open a new issue and we can debug

[2016-08-16 02:44] stefanpenner commented on #6083
i wish i had a good answer for you :(

[2016-08-16 03:10] ml3ha commented on #6179
Hey, so I recloned the entire repository and npm installed and bower installed, and the issue resolved by itself.

[2016-08-16 03:10] #6179 closed

[2016-08-16 06:53] nathanhammond commented on #6178
Restating for understanding.

With [`cleanBaseURL`](https://github.com/ember-cli/clean-base-url/blob/master/index.js) it means that you would have to specify the protocol as part of the `rootURL`. You're saying that, at build time, you don't know what that full path will be. You were previously relying on the full relative handling of URLs generated in `index.html` and an unspecified `baseURL` to

[2016-08-16 06:57] Turbo87 commented on #6178
for completeness:

Option 5: Introduce a `emptyRootURL` flag or something like that

[2016-08-16 07:11] nathanhammond commented on #2407
@olivierlacan Our current documentation can be found inline and extracted here: https://ember-cli.com/api/classes/EmberApp.html#method_contentFor

We would be glad to help you land a PR to improve the documentation in ways you think are useful!

Note that this is a hook which is only implemented by addons. It's not intended to be used by the application itself. The application itself can simply mo

[2016-08-16 07:45] eriktrom commented on #6083
Okay - finally I believe this works as expected - although I've said that one before 👍 This time though I'm 99% sure. Really. :)

To test (assumes ember-cli is `npm link`ed to your project):

Inside ember-cli:

`npm i --save portfiner@1.0.7-beta.0`

Inside your project, open 2 terminal windows and run the following in each:

`ember serve -p 0`

**Expected Output:**

Terminal 1:

Serving on https:/

[2016-08-16 08:43] kanongil commented on #6178
If an empty string is unlikely to cause issues, it it definitely the way to go.

I tried `rootURL = false`, which seems to work but is less obvious.

I will look into creating a PR.

[2016-08-16 12:03] dimul opened #6181 "HELP: ember generate component and ember generate route give errors"
### Explain
Project is written with coffeescript.
**ember-cli-coffeescript** addon is of latest version
Things started to happen after update from 2.5 to 2.7

In 2.5 everything works after update now I have this:

`ember g -h` and `ember generate route ...`
produce this error
`Cannot find module 'ember-cli/blueprints/route-addon'`

Running `ember generate component ...`
Produce this error
`Unknown

[2016-08-16 15:11] stefanpenner commented on #6083
only tested on OSX, I can test windows 10 tonight

[2016-08-16 15:12] eriktrom commented on #6083
awesome man thanks :)

[2016-08-16 15:20] nathanhammond commented on #6083
@eriktrom Works for me as well on OS X. However, because I'm a jerk, I checked to see if it is susceptible to race conditions:

![screen shot 2016-08-16 at 8 18 42 am](https://cloud.githubusercontent.com/assets/20542/17704524/1f84228c-638a-11e6-9bde-71a2732d76b5.png)

![screen shot 2016-08-16 at 8 18 46 am](https://cloud.githubusercontent.com/assets/20542/17704529/251b2bfa-638a-11e6-9aee-6e63cdd8a

[2016-08-16 15:25] eriktrom commented on #6083
@nathanhammond - yes that is possible - although its quite hard to do, so I'm impressed :)

The reason is that portfinder only looks for what 'may be open' by the time the real express server starts. If that is no longer the case later in the serve command, the error you show is what I have also been able to get (by doing the same sort of thing)

In reality, I don't think its a huge issue but we c

[2016-08-16 15:37] nathanhammond commented on #6083
@eriktrom I'm incredibly grateful for all of your work on this. I'm strongly in favor of releasing this as-is. There's no particular reason in this scenario to prevent port race conditions as you have to _try_ to trigger this behavior.

Just to confirm: if we were to decide to solve this we would address it in portfinder, correct?

[2016-08-16 15:43] eriktrom commented on #6083
Actually - its tricky - portfinder only says 'hey, these ports are open for you express' - then portfinder shuts down the servers it used to test the ports, then later(not too long, but a bit later) in the serve command we actually use the ports it told us were open and boot express. The time gap there does exist - to solve it we'd have to probably catch the express error and recurse through the s

[2016-08-16 15:49] #6178 closed

[2016-08-16 16:24] stefanpenner commented on #6083
basically, portFinder is best effort. If we want to solve this, express and friends would need to basically use portFinder directly.

I am fine with the current state.

@eriktrom if we release this, we may want to do the following:

1. release as a semver breaking change
2. put into ember-cli canary / beta
3. let our users gradually use, and we can then slowly learn of any issues.

The alternative

[2016-08-16 19:18] #6083 closed

[2016-08-16 21:02] givanse commented on #3529
The snippet from https://github.com/ember-cli/ember-cli/issues/3529#issuecomment-165030263 results in `Unexpected token`

[2016-08-16 21:05] ctataryn opened #6184 "ENOENT problem with spin.js"
Having an issue with ember-cli on Win7, when I try to either `build` or `serve` I recieve the following error:

[code]

Output from ember version --verbose:
[code]

[2016-08-16 21:43] ctataryn commented on #6184
Hmmm, appears to be a problem with an in-house addon that our project depends on. It's possible the in-house addon's blue print doesn't declare the `spin.js` dependency (which is really a transitive dependency of `ember-spin-spinner`). I'll report back.

[2016-08-17 03:07] nathanhammond commented on #6184
That's a `.import` failure. Can you update to Ember CLI 2.7 and change the `spin.js` import to use `this.import` instead? Is it a nested addon? I _strongly_ suspect that this is not an issue in Ember CLI (having seen the exact stack trace a thousand times by now).

So, with that, I'm closing this issue as likely not a bug but _please feel encouraged to reopen it_ if upon further investigation on y

[2016-08-17 03:07] #6184 closed

[2016-08-17 03:13] nathanhammond commented on #6181
This is not an Ember CLI issue. The blueprints you're looking for are provided by ember-cli-coffeescript and apparently that addon has not been updated to be compatible.

I cannot recommend that you use CoffeeScript in an Ember project as that is not a default supported path. You will continue to encounter issues like this which we won't attempt to solve. You'll have to take on the task of support

[2016-08-17 03:13] #6181 closed

[2016-08-17 06:04] GCheung55 commented on #4211
Is there an update around this?

[2016-08-17 09:53] datasc123 opened #6185 "outputPaths always send the app css : Asset compilation #4948"
I want to use custom themed css files instead of app.scss, I did this in ember-cli-build.js:

[code]

@dukex : Did you get any workaround to fix this?

[2016-08-17 12:10] tgandee79 opened #6187 "UI.prompt method doesn't show up in documentation."
![image](https://cloud.githubusercontent.com/assets/1489134/17735704/bd6b3158-6451-11e6-8aec-6c45e3a782fa.png)

Looks like the `prompt` method documentation comments were copied from the `writeLevelVisible`.

[2016-08-17 13:45] mschinis commented on #5415
changing
[code]
to
[code]

worked fine for me.

[2016-08-17 13:53] rwjblue commented on #5415
Hmm. I suspect that you have a custom `rootURL`, and that you are being bitten by https://github.com/ember-cli/ember-cli/pull/6189.

[2016-08-17 14:45] #6187 closed

[2016-08-17 14:48] RyanNerd opened #6190 "Deprecation warnings should output more details as to what library/package is the cause"
Enhancement request:

When starting `ember s` deprecation notices are listed. But there isn't much information as to what module is causing the warning. For example:

DEPRECATION: `ember-cli/lib/errors/silent.js` is deprecated, use `silent-error` instead

There is no indicator as to what component/addon/library is using `silent.js`. I `greped` my directory and you wouldn't believe how many instanc

[2016-08-17 15:03] nathanhammond commented on #6190
@RyanNerd Unfortunately that deprecation is coming from something that is (by rule) out of date. I'm not sure if we have a useful reference to the calling object to provide a better error message.

@stefanpenner Can you confirm/deny if we can do better with the `silent-error` deprecation warning?

[2016-08-17 15:09] nathanhammond commented on #6185
Hey @datasc123! This looks like you're trying to work through a problem. It's not really an Ember CLI issue. My recommendation is that you have your "normal-theme" be the content which appears in the "app" slot. Further, this is a configuration that you need to work out within `broccoli-sass` as that addon is (likely) who is responsible for the `scss` property on `outputPaths`.

I'm closing this i

[2016-08-17 15:09] #6185 closed

[2016-08-17 15:10] rwjblue commented on #6190
@nathanhammond - We could include a stack [here](https://github.com/ember-cli/ember-cli/blob/master/lib/errors/silent.js#L8).

[2016-08-17 15:17] mschinis commented on #5415
yeah that's what I think as well. Must have missed that change when I ran `ember init` to update my project.
I just realised though that this is an old ticket, and everyone else above probably had a different issue.

[2016-08-17 15:49] stefanpenner commented on #6190
@rwjblue we could include the entire stack, or maybe we could try only the previews 2 frames or something?

[2016-08-17 16:00] stefanpenner commented on #4211
@GCheung55 its being revisited as part of the `lazy` engine story.

@nathanhammond is someone to follow on this, he is leading that effort.

[2016-08-17 17:26] bantic opened #6191 "livereload is triggered even when `livereloadFilterPatterns` matches changed file (when multiple files change)"
The `liveReloadFilterPatterns` project option allows one to specify an array of regex patterns that, if any match the file that initiated a rebuild, will prevent ember-cli from notifying livereload of the changed files. This happens in the [`shouldTriggerReload` method of tasks/livereload-server.js](https://github.com/ember-cli/ember-cli/blob/93d2994817dc46cddda9eaf952ce48c6047f5054/lib/tasks/serv

[2016-08-17 17:29] nathanhammond commented on #6190
@RyanNerd Would you be willing to open a PR to add the stack trace to the file that @rwjblue pointed to?

[2016-08-17 17:48] bantic opened #6192 "livereload suggestion: filter on post-build changed files to determine whether to livereload"
(If this would be better as an RFC I'd be happy to close the issue and write it up as an RFC)

I have a use case where I'm using an addon to generate an amp-index.html HTML file (for AMP) as part of the `ember build` process, and am running into the small problem that ember-cli includes this amp-index.html in its list of changed files that gets sent to the livereload client. This HTML file gets re

[2016-08-17 19:35] ctataryn commented on #6184
More context: I'm building our Ember UI from a Jenkins job. Our usual build goes something like this:

[code]
We have an in-house addon that depends on `ember-spin-spinner`.  The app we are building uses that in-house addon and includes it as dependency in `package.json` by specifying the url of where it lives in our git repo.

The problem is, ember doesn't resolve the bower dependencies. For inst

[2016-08-17 20:57] nathanhammond commented on #6184
Nested addons are not allowed to install bower components for themselves. The nested addon should have a blueprint matching its own name which invokes `addBowerPackageToProject` which installs it in the host application, not into the addon's scope.

This is intentional as most libraries installed via bower are globals code and that could easily end up clobbering things if included multiple times.

[2016-08-17 23:55] snuggs commented on #4211
@stefanpenner thanks for the update! And the recommendation.I believe i met @nathanhammond @ GORUCO in the taxi with @lukemelia. Is this the same person?

[2016-08-18 01:21] stefanpenner commented on #6184
This doesn't seem right (and it does feel bad) but in the world of bower, this is more or less what needs to happen today. :(

@nathanhammond's recommendation for using a blueprint is how addon installations can ghetto hack install there bower dependencies in the project they are installed in. Again although not ideal, in the world of bower that is what we got.

Let me know if the above doesn't mi

[2016-08-18 01:25] stefanpenner commented on #6192
So to be sure I understand, `amp-index.html` legitimately gets re-built on most builds, which taints the live-reload list?

If so, yes being able to blacklist seems like a good idea. The open questions are, how to implement, what is the API, how do we document it etc.etc. For that (as your mentioned) an RFC would be best. Don't hesitate to include a PR to ember-cli alongside your RFC (as that may

[2016-08-18 01:28] stefanpenner commented on #6191
yup seems funky:
https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/server/livereload-server.js#L157 likely pants to pass in `files` as well, so here
https://github.com/ember-cli/ember-cli/blob/master/lib/tasks/server/livereload-server.js#L127-L129 we can do the correct thing.

[2016-08-18 08:23] nathanhammond commented on #4211
@snuggs One and the same!

My thoughts on rollup aren't fully-formed yet, but it's clearly doing some neat things and we're using it in multiple places in the Ember ecosystem.

[2016-08-18 14:48] ctataryn commented on #6184
Thanks, I guess `ember g` is the way to go. I won't add it to my build, but I'll expect devs to do it before they commit.

[2016-08-18 14:51] bantic commented on #6192
👍 Great, I'll take a stab at an RFC later this week.

[2016-08-18 14:57] bantic commented on #6191
Yeah, except the `filePath` is the path to the file before ember-cli builds it, and `files` is the list of resulting changed files after the build finishes.
So for example if the `app.css` has an `@import "other.css"` line and someone modifies `other.css`, then `filePath` would be the path to `other.css` and `files` would include `app.css` (but probably not `other.css` since it probably isn't in t

[2016-08-18 15:36] stefanpenner commented on #6184
@ctataryn it is on our radar to make this less crappy. Turns out fixing package managers is lots of work :P

[2016-08-18 15:57] knownasilya commented on #6147
[code]

This might help a little, used https://github.com/nolanlawson/slow-deps

[2016-08-18 18:02] RyanNerd commented on #6190
@nathanhammond Things got busy for me. I will create a PR on Saturday. Thanks for your attention to this enhancement request.

[2016-08-18 18:53] jonkoops commented on #6147
@knownasilya I would like to stress again that adding an .npmignore is not needed when using the files whitelist in package.json. Not to mention a lot more future proof.

[2016-08-18 19:02] knownasilya commented on #6147
Yeah, @Turbo87 reminded me promptly 👍

[2016-08-18 23:27] Schnodderbalken opened #6197 "Error: ENOENT, no such file or directory"
I suddenly got this error:
[code]

I already read [issue 5857 ](https://github.com/ember-cli/ember-cli/issues/5857) and [issue 5297](https://github.com/ember-cli/ember-cli/issues/5297) and did `rm -rf node_modules`, `npm cache clear` and `npm install` but the problem persists. I already have the newest version of broccoli-merge-trees (1.1.4). Does anyone have a clue how I can make my ember app sta

[2016-08-18 23:31] stefanpenner commented on #6197
Can you provide a reproduction?

[2016-08-18 23:32] Schnodderbalken commented on #6197
Ah interesting! I found the cause of the problem: in the `public` directory I had a symlink because I serve static files there that lie in another directory. When I delete the directory the link points at the error occurs. So either removing the link or making it not point to an empty directory fixes it.

[2016-08-19 01:49] nathanhammond commented on #6197
@stefanpenner Is this something you wish to address?

[2016-08-19 02:05] #6197 closed

[2016-08-19 11:59] mike-north commented on #5015
AFAIK [this is blocking general use, or some use of WeakMap](https://github.com/levanto-financial/ember-lodash/pull/22#issuecomment-240839464) in apps that target browsers which would need a polyfill.

[2016-08-19 14:24] stefanpenner commented on #5015
@mike-north weak-map comes from core-js, it can be included independently of a babel 6 upgrade.

[2016-08-19 16:50] XaserAcheron commented on #5090
It's still a problem for actual Windows users. D:

Could we get a re-open for discussion? This issue makes it virtually impossible to use `ember init` for upgrading existing projects on Windows.

[2016-08-19 21:37] jrburke commented on #5953
I hit this in my ember app today too. I am wondering if I can fix this in userspace.

Perhaps I could create an addon that for particular file paths or module IDs it could use some sort of ember build API to get a chance to process the text or AST of the file before it gets combined, the addon could do selective changes to get it to work.

I am still new to the ember build system, so if anyone has

[2016-08-19 21:43] ef4 commented on #5953
@jrburke we now have both [an RFC](https://github.com/ember-cli/rfcs/pull/55) and [a PR](https://github.com/ember-cli/ember-cli/pull/5976) that are pretty far along toward solving this.

[2016-08-20 16:31] mariogintili opened #6199 "Asset host not being prepended across the tags to assets in the app?"
[I'm following this article](http://emberjs.com/blog/2016/04/28/baseURL.html#toc_how-to-use-a-cdn)

And my ember-cli-build looks like this:

[code]

as the article suggests - shouldn't my tags that look something like this

[code]

look like something like this? after I build a production distribution

[code]

Wether I use an absolute or relative path, the end output is the same

[code]

P.S both

[2016-08-20 17:22] nathanhammond commented on #6199
Please stop by [#-ember-cli](https://embercommunity.slack.com/messages/-ember-cli/) in the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) and seek help from the wonderful people in our community.

This is likely a configuration problem with your app. Can you try it in a simple `ember new` application and test to see if it works? If that fails you can publish it to GitHub i

[2016-08-20 17:22] #6199 closed

[2016-08-20 18:37] mariogintili commented on #6199
@nathanhammond I think deferring someone to slack + replying with a template doesn't really motivate people to open an further issues if they come across things.

Then again its your project and your policy 👍

[2016-08-20 21:16] nathanhammond commented on #6199
@mariogintili You have:

- Dismissed my investigation into your filed issue (which included setting up my own quick passing test) on a Saturday morning.
- Not shown up in Slack where I've been all day available to help in a synchronous manner.
- Not included the output of `ember version --verbose`.
- Not included a full reproduction.

Your filed issue is counter to my experience. The vast majority

[2016-08-21 08:22] mariogintili commented on #6199
@nathanhammond

Wasn't specified on the previous comment

A bit of a grey line between what goes on Slack and what goes here(?) Conversations happen in both...

The top of the issue has a link to an upgrade guide, in case it wasn't clear I'm upgrading to 2.7.0

[code]

I understand you want a full reproduction - but how is the information provided not enough? Or at least, how is it not reflective

[2016-08-21 14:04] mariogintili commented on #6199
found the issue now @nathanhammond - could you please link me to the repo where you host the ember-cli website? I would like to suggest a copy change on the asset compilation segment

[2016-08-21 14:15] rwjblue commented on #6199
@mariogintili - https://github.com/ember-cli/ember-cli.github.io

[2016-08-21 16:56] nathanhammond commented on #6199
Hokay, appreciate the context and reproduction. 😄 I prefer Slack in this scenario because I can ask about each of the things which turn out to be important as we discover that they're important instead of 1-4 hours apart.

The story so far:
- `broccoli-asset-rev` only prepends assets which it knows about.
- In order for `broccoli-asset-rev` to know about an asset it must appear in the output direc

[2016-08-22 08:35] anehx opened #6200 "Tests in firefox failing"
Output from `ember version --verbose`:
[code]

I have problems testing my ember app in firefox. I could manage to reproduce the issue creating a fresh ember app with the current beta version (stable results in the same error).

Steps to reproduce:

- `ember new test-app`
- `cd test-app`
- `ember generate route foo`
- Change `testem.js` to:
[code]
- Remove `ember-cli-jshint` in `package.json`
- `em

[2016-08-22 17:43] nathanhammond commented on #6200
@anehx [This test works for me](https://github.com/nathanhammond/issue-6200) following your instructions precisely. Can you try using that to reproduce?

I'm closing this issue as likely not a bug. In the mean time we will still continue to receive notifications from any followup comments on this issue; being closed doesn't mean that we're ignoring the thread.

Please stop by [#-ember-cli](https:/

[2016-08-22 17:43] #6200 closed

[2016-08-22 23:34] thomblake commented on #3589
@stefanpenner Is killing bower still a thing that's going to happen? Is there a relevant issue to follow?

[2016-08-23 00:43] stefanpenner commented on #3589
yes, https://github.com/ember-cli/ember-cli/issues/4546

[2016-08-23 15:39] Ikariusrb opened #6201 "Ember builds failing with default VIM configuration"
I was firing up my first ember project, and started running into build errors while running "ember serve"  which looked like this:
`EEXIST: file already exists, symlink '/home/myuser/devel/myproject/app/templates/distributors/.edit.hbs.swp' -> '/home/myuser/devel/myproject/tmp/broccoli_merge_trees-output_path-dP7TSmNs.tmpjmyproject/templates/distributors/.edit.hbs.swp'`

After digging around and f

[2016-08-23 20:58] thomblake commented on #4546
Is this something that could use more hands? PagerDuty's front-end team may be able to help.

[2016-08-23 21:22] juggy opened #6202 "Proxying a subdomain does not work anymore"
My backend runs at `http://demo.local.host:3000` (which is a loop back defiened in `/etc/hotsts`) as the application is relying on subdomains for the accounts/tenants.

`ember server --proxy http://demo.local.host:3000`

I recently tried to upgrade from 1.13.15 to 2.4.3 and the proxying feature mysteriously stopped working. I tracked it down to this commit https://github.com/ember-cli/ember-cli/co

[2016-08-23 21:31] stefanpenner commented on #6201
can you also provide a stacktrace

[2016-08-23 21:39] stefanpenner commented on #6201
I was under the impression we already documented this https://ember-cli.com/user-guide/#editors but it appears we have not. As a vim user myself, I did notice this early and obviously changed my config to address. I believe there was a reason we didn't fix this, but I don't recall exactly what that might be....

Anyways, if you have a few moments, do you mind submitting a docfix to https://github.

[2016-08-24 03:16] trentmwillis commented on #4546
As an update, ember-cli-test-loader and ember-qunit-notifications should be finished now

[2016-08-24 04:42] nathanhammond commented on #4546
@thomblake https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/bower.json

We're startlingly close to being able to survive without bower on initial build. You already found the [`ember-core` PR](https://github.com/emberjs/ember.js/pull/13022) ... if you can test that in your application that'd be fantastic.

[2016-08-24 04:48] nathanhammond commented on #6202
@juggy We're not going to try supporting an older version of Ember CLI; we'll need you to try and update to the latest version of Ember CLI. Based upon conversation in Slack between you and @Turbo87 I _believe_ that you've heard that we think this is fixed on the master branch?

Can you incrementally upgrade to the last release before the one that includes that change and then try to jump to the m

[2016-08-24 04:48] #6202 closed

[2016-08-24 08:47] andrewjdavison commented on #5422
Has anyone encountered this recently? I have a vanila, css "@import" in app.css which isn't working. When I manually copy the styles into app.css it works.

I don't use ember-component-css, so it could be something in the latest build (I upgraded to the (b)leading edge last night....

Thanks

Andy

[2016-08-24 09:04] imkikus commented on #5217
@adam-knights Is this issue resolved? If so, what is the fix for this?

[2016-08-24 09:19] adam-knights commented on #5217
@imkikus I've seen no mention of a fix

[2016-08-24 09:30] imkikus commented on #5217
@adam-knights you mean to say its still pending?

[2016-08-24 09:35] adam-knights commented on #5217
@imkikus correct - i havent tested the latest versions, but i've seen no release note to suggest this would have been fixed. I guess the workaround is to live with the empty controller file - i imagine this issue is very low priority as we are the only two people to have reported it in 9 months.

[2016-08-24 09:41] imkikus commented on #5217
@adam-knights :+1: I'am using ember-cli `v2.6.0`

[2016-08-24 16:59] nathanhammond commented on #5422
@andrewjdavison can you open a new issue and include a reproduction of the behavior that you're encountering?

[2016-08-24 17:08] nathanhammond commented on #5217
Hey @adam-knights and @imkikus!

1. `needs: ['controller:application']` will not work without actually having an application controller predefined.
2. `let controller = route.controllerFor('application');` doesn't, to my knowledge, automatically set up a controller for you.
3. `let rightHandWidgets = this.controllerFor('application').get('rightSidebarWidgets');` is not very well set up for unit te

[2016-08-24 17:08] #5217 closed

[2016-08-25 13:44] mariogintili commented on #6199
Thanks all for the clarification - I will submit a small amendment to the ember-cli docs after I recover from a small disease I got 😄

[2016-08-25 17:03] alidcastano commented on #2674
@stefanpenner Just started using ember, getting startd with the quickstart tutorial. Two steps in, in the define a route step, I ran into this same problem (and I am using watchman version 4.40).

When I tried to visit the template page, nothing would show, and terminal logged the following error:

[code]

I was able to resolve the path and get page to render by running `ember build` and then `emb

[2016-08-25 17:35] schickm opened #6209 "Files in "public/" getting served case-insensitively"
I noticed that anything in public/ will get served regardless of if the requested filename has the proper case.  For example, given a file stored at `public/SomeImage.png`, I can have the following template code:

[code]

Both images will be served.

It's my understanding that [urls should be case sensitive](https://www.w3.org/TR/WD-html40-970708/htmlweb.html), but I'm sure there are people that d

[2016-08-25 17:51] nathanhammond commented on #2674
@alidcastano We've not seen this issue in a long time so can you open a new issue and include your environmental information?

Alternatively, since it's likely something unique about your machine please stop by [#-ember-cli](https://embercommunity.slack.com/messages/-ember-cli/) in the [Ember Community Slack](https://ember-community-slackin.herokuapp.com/) and see if anybody in our community can h

[2016-08-25 19:56] Turbo87 commented on #6209
@schickm are you working on a case-insensitive file system?

[2016-08-25 20:05] schickm commented on #6209
:facepalm: ...  I'm definitely working on a case-insensitive file system.  Closing this ticket, sorry to bug you all.

[2016-08-25 20:05] #6209 closed

[2016-08-27 01:35] ivanvanderbyl opened #6212 "rootURL included in asset path when fingerprint.prepend is present"
Output from ember version --verbose:
[code]

NOTE: Also confirmed on `2.7.0`

My app uses a `rootURL` of `/app/` when deployed in production to `mydomain.com/app/`, however we deploy assets to a CDN `https://subdomain.cloudfront.net/`. When building the app the assets are correctly stored in `/dist/assets`, however the asset URLs in `index.html` incorrectly contain `/app/`:

[code]

According to t

[2016-08-27 01:53] nathanhammond commented on #6212
Ugh, I tested this. Gimme a bit to give you an answer on what the solution will be.

[2016-08-27 01:55] ivanvanderbyl commented on #6212
Thanks @nathanhammond, I've been digging through ember-cli and ember-asset-rev all morning trying to figure out how this works and find some less than obvious thing I'm doing wrong.

Let me know if you want a reproduction repo.

[2016-08-27 02:13] rwjblue commented on #6212
Had a long chat with @nathanhammond about this in #dev-ember-cli, and I am sure he will chime in with better details.  In the meantime, you can work around the issue you are having by:

* Specify `rootURL` of `/` for production.
* Add a `routerRootURL` property to `config/environment.js` with a value of `/app/`
* Change `app/router.js` to use `rootURL: config.routerRootURL` instead of `rootURL: co

[2016-08-27 02:15] nathanhammond commented on #6212
nathanhammond [6:56 PM]
The situation is that we replace `rootURL` by default in `index.html` ... we want that to be the default behavior as it's required for things to work with `ember serve`.

[6:57]

[6:59]
That quote was based upon direct testing of the behavior, and yet it appears to have changed.

[6:59]
Or I just can't do anything right, which is also possible.

rwjblue [6:59 PM]
haha

[6:5

[2016-08-27 02:21] nathanhammond commented on #6212
@ivanvanderbyl Can confirm that we're not going to make a change here. The recommended solution for your scenario is going to be the one that @rwjblue [proposes here](https://github.com/ember-cli/ember-cli/issues/6212#issuecomment-242889740).

I'm going to clean that up and get it into the `baseURL` blog post.

/cc @sandstrom: you were right, we do need a better pattern.

[2016-08-27 02:53] ivanvanderbyl commented on #6212
@nathanhammond thanks for the update, I'm happy with that fix.

[2016-08-27 03:06] nathanhammond commented on #6212
Not done yet!

[2016-08-27 03:12] #6212 closed

[2016-08-27 03:14] ivanvanderbyl commented on #6212
Solid work guys 😃

[2016-08-27 11:14] sandstrom commented on #6212
@nathanhammond Yea, OP's problem stems from *subtle* difference we talked about :) I still agree with your point about ease of use for the typical use-case.

Blog posts are great to highlight changes, but people rarely look in old blogposts when looking up API behaviour. Perhaps the pattern in the blogpost could be added to the docs for environment and/or the `rootURL` property.

[2016-08-27 18:24] alidcastano opened #6213 "Ember serve: "unable to resolve root" error"
I just started using ember, following the quick start instructions. However, I can't get Ember to correctly watch for changes.

Whenever I run `ember serve` I get the following error, repeated several times:

[code]
Output from ember version --verbose:
[code]

I had posted about this problem in [ a previous issue](https://github.com/ember-cli/ember-cli/issues/2674#issuecomment-242464908).

I tried

[2016-08-27 18:27] alidcastano commented on #6213
Also, incase it helps, `watchman watch-list` yields:
[code]

[2016-08-28 01:46] nathanhammond commented on #6213
@alidcastano does everything work without Watchman installed? Are you on a case sensitive file system? In your pasted stack you have both of these:

- `/Users/acastano/Sites/Projects/studbits`
- `/Users/acastano/Sites/projects/studbits`

[2016-08-28 01:54] nathanhammond commented on #5798
@orf @johanneswuerbach Has this been addressed? Or do you have a tracking issue over at the https://github.com/testem/testem repository? This isn't actionable over here on the Ember CLI side of things so rather than hold open an issue for it I'm going to close it.

[2016-08-28 01:54] #5798 closed

[2016-08-28 02:00] nathanhammond commented on #5942
Closing as we have elected not to provide additional support for pods.

[2016-08-28 02:00] #5942 closed

[2016-08-28 02:08] nathanhammond commented on #5827
With a test of 20 iterations on the most recent version I am no longer able to reproduce. I'm closing this as fixed.

[code]

[2016-08-28 02:08] #5827 closed

[2016-08-28 02:11] nathanhammond commented on #3340
https://github.com/ember-cli/ember-cli-blueprint-test-helpers

[2016-08-28 02:12] nathanhammond commented on #5716
Closing as we now have configuration for our proxy handling. Let me know if there remain issues with accomplishing this goal.

[2016-08-28 02:12] #5716 closed

[2016-08-28 02:13] nathanhammond commented on #5366
Ping @runspired.

[2016-08-28 02:25] nathanhammond commented on #5485
This isn't actionable on the Ember CLI side of things and we have tracking issues at the upstream repositories. As such I am closing this issue.

[2016-08-28 02:25] #5485 closed

[2016-08-28 02:27] nathanhammond commented on #5600
I can't reproduce this and with no activity since May I am closing the issue as resolved.

[2016-08-28 02:27] #5600 closed

[2016-08-28 02:31] nathanhammond commented on #5480
[code]

This works for me in the latest Ember CLI beta. Closing as resolved.

[2016-08-28 02:31] #5480 closed

[2016-08-28 02:36] nathanhammond commented on #5428
This is very likely going to be a https://github.com/jquery/qunit bug. As this isn't actionable on the Ember CLI side I am closing this bug.

Pinging @trentmwillis for tracking.

[2016-08-28 02:36] #5428 closed

[2016-08-28 03:51] trentmwillis commented on #5428
Somehow missed this the first time around. Will take a look when I get some time.

[2016-08-28 04:51] alidcastano commented on #6213
Without watchman there are no errors. But the site still does not automatically update; l have to manually restart the server to see changes.

I don't think I'm on a case sensitive file system. I entered the directory in all capitalized format, still same problem.

[2016-08-28 06:30] johanneswuerbach commented on #5798
@nathanhammond the should have been fixed inside testem

[2016-08-28 07:41] nathanhammond commented on #6213
@alidcastano Disk Utility, select your disk, Command-I.

![screen shot 2016-08-28 at 12 30 58 am](https://cloud.githubusercontent.com/assets/20542/18032333/b896ff3c-6cb6-11e6-96e1-ae5586c65951.png)

Things to do:
- Reboot.
- Disable file watching of the tmp directory in your text editor.

This seems to very clearly be just your machine so I'm closing this issue as it's unlikely we can do too much

[2016-08-28 07:41] #6213 closed

[2016-08-28 14:09] alidcastano commented on #6213
Not sure why but renaming the directory got it to work. Thanks for the help.

[2016-08-29 10:20] jgoclawski commented on #5480
Thanks, it's resolved for me as well (tried on 2.7.0-beta.4).

[2016-08-29 16:10] hjdivad commented on #5827
if it's actually the same issue @stefanpenner  mentioned then it would have been fixed in `fs-tree-diff@0.5.0`

[2016-08-29 17:44] phyrog opened #6215 "ember new segfaults"
Output from ember version --verbose:
[code]

Running `ember new foobar` segfaults while installing npm packages. Last lines of output:
[code]

Manually running `npm install` and `bower install` works (although it seemed to hang one time while extracting `loader.js`).

[2016-08-29 19:29] nathanhammond commented on #6215
@phyrog Congratulations! You're the first person to report this issue. Unfortunately, that likely means that it's specific to your machine.

I'm assuming that it fails consistently? Can you try to install npm at version 2.15.5 globally (the version that Ember CLI is using to handle the install) and see if that also segfaults on your machine?

[2016-08-29 19:37] phyrog commented on #6215
Also segfaults with 2.15.5. This time it also segfaults when manually running `npm install`.

[2016-08-29 20:09] nathanhammond commented on #6215
It doesn't sound like this is going to be an Ember CLI issue so I'm going to close this as it's unlikely actionable on our part. However I'm still interested in what you discover, so keep us up-to-date–being closed doesn't mean that we're ignoring the thread. 😄

[2016-08-29 20:09] #6215 closed

[2016-08-29 20:09] coreypmurphy commented on #5415
@mschinis that solution actually helped me tremendously.  I also missed that change during the ember init and was having the same issue.  Thanks for pointing that out!

[2016-08-29 20:16] phyrog commented on #6215
Well I'm probably not going into it much more, since manually installing works with npm 3.x. Though you might want to check your CI for the new Node version (as far as I can see you don't build with 6.5 yet), maybe you'll encounter it then too.

[2016-08-29 21:23] kellyselden commented on #6215
I just tried with node 6.5.0. `ember new` and `ember serve` worked fine.

[2016-08-29 21:52] sescobb27 commented on #3529
given that `RSVP` polyfill isn't here yet, how do you guys would implement something like this without `RSVP.all`? or that isn't possible right now?. thanks
[code]

[2016-08-29 21:56] thomblake commented on #4546
The ember-cli-shims link in the PR description doesn't seem correct - it links to the ember-core PR.

PagerDuty has tested ember-core and it looks good. Anything left to do?

[2016-08-30 00:36] nathanhammond commented on #4546
@thomblake Grant @stefanpenner more hours in the day? It's on our list to do. 😄 Thank you so much for testing! This gives us higher confidence in releasing it.

[2016-08-30 04:16] akarineb opened #6216 "Erro: Add-ons which contain sub-packages must have all sub-packages signed before uploading."
I'm a bit new in that environment and I'm having a hard time signing my add-on .
I'm trying to sign my add-on , I have three type 2 xpi that are packaged in a kind of xpi 32. These three xpi have been signed by jpm . The problem is that when I 'm going to sign or try to send my type 32 xpi always failed validation appears the error " Sub -package must be signed
Error: Add-ons which contain sub-pac

[2016-08-30 05:26] nathanhammond commented on #6216
This is not an Ember CLI issue, I think you need to be looking for support over at https://github.com/mozilla/addon-sdk

[2016-08-30 05:26] #6216 closed

[2016-08-30 10:27] phyrog commented on #6215
Can confirm that the bug happens on another computer of mine. Both are running Arch Linux, so it might just be a problem with the Node build there.

[2016-08-30 13:07] mariogintili commented on #6199
@nathanhammond my use case was failing because `svg` files are not enabled by default. I've added a note on [this PR](https://github.com/ember-cli/ember-cli.github.io/pull/93) to make sure people like me we'll know what to refer to when this fails 😄